<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользовательское соглашение | Jimbl</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'auth/css/main.css' %}">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One" rel="stylesheet">
    <style>
      @media (max-width: 600px) {
          h1 {
            font-size: 1.5rem;
          }
          h4{
            font-size: 1rem;
          }
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-dark border-0 fixed-top shadow" style="background: #007BFF;">
      <div class="container">
        <span class="navbar-brand mb-0 mx-auto" style="padding: 0px;" onclick="document.location.href='/'"><img src="{% static 'logo.svg' %}" width='40px' alt=""><span id='main-nav-mobile-brand-text' style="font-size: 2rem; font-family: 'Coiny', cursive;top: 6px; position: relative;"> Jimbl</span></span>
      </div>
    </nav>

    <section style="margin-top: 64px;" id="main-section">
      <div class="container">
        <div class="row" style="padding: 1rem;">
          <h1 class="font-weight-light">Лицензионное соглашение</h1>
          <p>ВНИМАНИЕ! ЕСЛИ ВЫ СОЗДАЕТЕ ПЕРСОНАЛЬНУЮ СТРАНИЦУ, ЗАХОДИТЕ НА СВОЮ ПЕРСОНАЛЬНУЮ СТРАНИЦУ ИЛИ СТРАНИЦУ ЛЮБОГО ДРУГОГО ЛИЦЕНЗИАТА В СОЦИАЛЬНОЙ СЕТИ «Jimbl», ЛИБО ЗАГРУЖАЕТЕ ИЛИ КОПИРУЕТЕ ЛЮБОЙ РАЗМЕЩЕННЫЙ В НЕЙ КОНТЕНТ, ЛИБО ИНЫМ СПОСОБОМ ИСПОЛЬЗУЕТЕ СОЦИАЛЬНУЮ СЕТЬ, ТО ЭТИМ ВЫ АКЦЕПТУЕТЕ НАСТОЯЩЕЕ ЛИЦЕНЗИОННОЕ СОГЛАШЕНИЕ И ПОДТВЕРЖДАЕТЕ СВОЕ СОГЛАСИЕ СО ВСЕМИ ЕГО УСЛОВИЯМИ БЕЗ КАКИХ-ЛИБО ОГРАНИЧЕНИЙ.
          </p>
          <p>Настоящее лицензионное соглашение (далее «Соглашение») регулирует отношения между ООО «Джимбл», именуемое в дальнейшем «Лицензиар» и Вами, Лицензиатом Социальной сети (далее «Лицензиат»), в отношении использования Социальной сети.
</p>
        </div>
        <div class="row" style="padding: 1rem;">
          <ol style="padding: 0;">
            <li class="li-title"><h4>1. Термины, используемые в настоящем Соглашении</h4>
            <ol>
              <li><p>
                 Социальная сеть – социальная сеть, известная под именем «Jimbl», размещенная на сайте в сети Интернет по адресу
                 jimbl.ru и доступная Лицензиату через сайт представляющий собой результат интеллектуальной деятельности в форме
                 программы для ЭВМ. Социальная сеть представлена в объективной форме совокупностью данных и команд, и порождаемых
                 аудиовизуальных отображений (включая входящие в ее состав графические изображения и пользовательский интерфейс),
                 (далее – данные и команды), предназначенных для функционирования ЭВМ и мобильных устройств в целях получения
                 определенного результата в виде организации функционала социальной сети. Совокупность данных и команд состоит
                 из активированных и неактивированных данных и команд.
               </p>
                 <p>
                 Социальная сеть позволяет Лицензиатам при наличии доступа во всемирную сеть Интернет создавать Персональные страницы и
                 ознакамливаться с Персональными страницами других Лицензиатов, осуществлять контекстный поиск информации о других
                 Лицензиатах, обмениваться Личными сообщениями с другими Лицензиатами, размещать, копировать и загружать фотографии и
                 иной контент, пользоваться иными функциональными возможностями Социальной сети. Права использования данных и команд
                 (активированных и неактивированных) передаются Лицензиаром Лицензиату на условиях, определенных настоящим Соглашением.
               </p>
                 <p>
                 Оперирование и обслуживание Социальной сети, включая техническое и организационное сопровождение, осуществляется исключительно
                 Лицензиаром и представляет собой его обязательство (с учетом положений статьи 5 настоящего Соглашения), обеспечивающее
                 возможность предоставления прав Лицензиату. Участие Лицензиатов в Социальной сети происходит в интерактивном (онлайн)
                 режиме посредством подключения Лицензиата через всемирную сеть Интернет. Лицензиар является обладателем необходимого
                 объема прав на Социальную сеть как программу для ЭВМ и на все составляющие ее части, взятые как в отдельности, так и
                 в совокупности, а также порождаемые ею аудиовизуальные элементы, за исключением Контента, не размещенного в Социальной
                 сети Лицензиаром, права на элементы которого могут принадлежать третьим лицам. Лицензиар вправе осуществлять
                 использование, оперирование и распространение Социальной сети на соответствующих территориях, где он обеспечивает ее
                 использование, оперирование и распространение.
               </p>
               </li>
               <li><p>
                 Лицензиар – Общество с ограниченной ответственностью «Jimbl», которое предоставляет Лицензиату право использования
                 Социальной сети на условиях неисключительной лицензии и осуществляет доведение до всеобщего сведения, распространение,
                 оперирование, обслуживание, администрирование Социальной сети. Лицензиар является Стороной настоящего Соглашения.
               </p></li>
               <li>
                 <p>
                 Лицензиат – физическое лицо, обладающее право- и дееспособностью для заключения настоящего Соглашения, являющееся
                 участником Социальной сети, которому в соответствии с настоящим Соглашением предоставляется право использовать
                 Социальную сеть на условиях настоящего Соглашения. Лицензиат является Стороной настоящего Соглашения.
                 </p>
               </li>
               <li>
                 <p>
                 Контент – размещенные в Социальной сети элементы дизайна, иллюстрации, графические изображения, фотографии,
                 скрипты, тексты, видео, музыка, звуки и другие объекты, являющиеся в том числе результатами интеллектуальной
                 деятельности, права использования которых могут принадлежать Лицензиару, Лицензиатам или иным лицам.
                 </p>
               </li>
               <li>
                 <p>
                 Приложения – размещенные в Социальной сети Лицензиаром или с его согласия третьими лицами программы для ЭВМ
                 (игры, электронные сервисы и т.д.) или их элементы, которые могут использоваться Лицензиатом в рамках Социальной
                 сети дополнительно к основным функциям Социальной сети. Участие Лицензиата в Приложениях осуществляется на условиях,
                 предусмотренных отдельными соглашениями с третьими лицами.
               </li>
               <li>
               <p>
                 Персональная страница – раздел Социальной сети, содержащий часть размещаемой в Аккаунте Лицензиата информации
                 (в том числе, по желанию Лицензиата, фотографии, сведения о друзьях, статусах, записи на стене, группах, сообществах и
                 прочее), доступный для ознакомления иным Лицензиатам. Персональная страница используется Лицензиатом в целях обмена
                 Личными сообщениями, добавления других Лицензиатов в подписки и осуществления иных действий. Доступ к Персональной странице
                 может быть ограничен Лицензиатом для других пользователей в пределах доступного функционала Социальной сети или Лицензиаром
                 согласно условиям настоящего Соглашения.
               </p>
             </li>
             <li>
               <p>
                 Аккаунт Лицензиата (Аккаунт) — учетная запись Лицензиата, создаваемая в момент регистрации в Социальной сети, позволяющая
                 Лицензиару учитывать каждого Лицензиата и предоставлять права использования Социальной сетью посредством уникального логина
                 и пароля. Логин и пароль для доступа к Аккаунту определяются Лицензиатом самостоятельно при регистрации в Социальной сети и
                 могут быть изменены им в порядке, описанном в настоящем Соглашении или разделе «Помощь» на странице Социальной сети.
               </p>
             </li>
             <li>
               <p>
                 Личные сообщения — электронные сообщения, передаваемые одним Лицензиатом другому и недоступные для ознакомления иным лицам,
                 отправка и получение которых осуществляется с использованием Персональной страницы Лицензиата.
               </p>
             </li>
             <li>
               <p>
                 Вознаграждение — плата Лицензиару за предоставление Лицензиату прав использования неактивированных данных и команд в
                 пределах, установленных настоящим Соглашением. Размер Вознаграждения определяется Лицензиаром и зависит от объема
                 неактивированнных данных и команд, право использования которых передается Лицензиату.
               </p>
               <p>
                 Правилами Социальной сети могут быть предусмотрены иные условия получения прав использования неактивированных данных и
                 команд, а также ограничения по их использованию. Лицензиат может ознакомиться с указанными правилами в соответствующих
                 разделах Социальной сети.
               </p>
             </li>
             <li>
               <p>
                 Лицензионное соглашение — текст настоящего Соглашения, заключаемого между Лицензиаром и Лицензиатом, содержащий все
                 необходимые и существенные условия лицензионного договора о предоставлении прав использования Социальной сети, в том числе
                 неактивированнных данных и команд. Неотъемлемой частью настоящего Соглашения являются также условия оплаты Вознаграждения
                 и любые иные правила использования Социальной сети, размещенные Лицензиаром на соответствующих страницах Социальной сети,
                 в том числе в разделе «Помощь», включая мобильную версию сайта и приложения.
               </p>
             </li>
            </ol>
            </li>
            <li class="li-title"><h4>2.Условия присоединения к настоящему Соглашению</h4>
            <ol>
              <li><p>
                 Перед тем как начать использование Социальной сети, Лицензиат обязан ознакомиться с настоящим Соглашением, а также со всеми
                 применимыми в Социальной сети правилами и иными документами, которые размещены в соответствующих разделах Социальной сети.
              </p></li>
              <li><p>
                 После заполнения обязательных полей и ознакомления с настоящим Соглашением Лицензиат присоединяется (принимает) настоящее
                 Соглашение, путем нажатия кнопки «Зарегистрироваться» или аналогичной, что по смыслу ст.ст. 435 и 438 Гражданского кодекса
                 РФ является принятием (акцептом) оферты Лицензиара, а равно заключением договора, порождающего у Лицензиата обязанности
                 соблюдать условия Соглашения, в том числе применимых в Социальной сети правил.
              </p></li>
              <li>
                <p>
                 Фактическое использование Социальной сети без регистрации Аккаунта, в форме и в объеме,
                 доступном без регистрации, также является акцептом настоящего Соглашения.
                </p>
              </li>
            </ol>
            </li>
            <li class="li-title"><h4>3. Предмет Соглашения Jimbl</h4>
            <ol>
              <li><p>
                По настоящему Соглашению Лицензиар предоставляет Лицензиату на условиях простой неисключительной лицензии право
                использования Социальной сети, включая права использования активированных и неактивированных данных и команд, в пределах,
                определенных настоящим Соглашением.
              </li>
            </p>
            <li>
                <p>
                  Право использования активированных данных и команд предоставляется Лицензиату бесплатно.
                </p>
              </li>
              <li>
                <p>
                  Право использования неактивированных данных и команд предоставляется Лицензиату за Вознаграждение,
                  если Лицензиаром не предусмотрен иной способ его получения.
                </p>
              </li>
            </ol>
            </li>
            <li class="li-title">
              <h4>4. Пределы использования Социальной сети</h4>
              <ol>
                <li>
                  <p>
                    Лицензиат вправе использовать Социальную сеть следующими способами:
                  </p>
                  <li>
                    <p>
                      Использовать функционал Социальной сети, в том числе, участвовать в формировании Социальной сети путем создания
                      Аккаунта и Персональной страницы и изменять содержание Социальной сети и персональные настройки Аккаунта в ходе
                      такого участия посредством размещения и обработки информации и Контента, взаимодействия с другими Лицензиатами
                      с соблюдением предусмотренных настоящим Соглашением правил;
                    </p>
                    <p>
                      Воспроизводить элементы Социальной сети в виде размещенной в ней информации и Контента для личного использования
                      посредством копирования в память своего персонального компьютера и/или мобильного устройства (скачивания). В том случае,
                      если элементы Контента являются объектом авторских прав или личными изображениями (фотографиями) других Лицензиатов или
                      третьих лиц, Лицензиат при таком их воспроизведении обязан дополнительно получать согласие таких лиц;
                    </p>
                  </li>
                </li>
                <li>
                  <p>
                    Лицензиату запрещено:
                  </p>
                  <li>
                    <p>
                      Воспроизводить, распространять, перерабатывать в коммерческих или некоммерческих целях элементы Социальной сети,
                      являющиеся объектом авторских прав Лицензиара, других Лицензиатов или третьих лиц, при отсутствии разрешения
                      соответствующих правообладателей на совершение данных действий;
                    </p>
                    <p>
                      Воспроизводить элементы дизайна или пользовательского интерфейса Социальной сети при создании сайтов или ведении любой
                      коммерческой деятельности в сети Интернет или вне ее;
                    </p>
                    <p>
                      Распространять в/вне Социальной сети в коммерческих или некоммерческих целях аудиовизуальные отображения и учетные
                      данные других Лицензиатов, присутствующие в Социальной сети, без согласия этих Лицензиатов;
                    </p>
                    <p>
                      Передавать предоставленные Лицензиату права использования Социальной сети, другим Лицензиатам или третьим лицам посредством
                      заключения сублицензионного договора или иным способом;
                    </p>
                    <p>
                      Нарушать закрепленные в настоящем Соглашении (раздел 5) правила использования Социальной сети.
                    </p>
                  </li>
                </li>
              </ol>
            <li class="li-title">
              <h4>5. Правила использования Социальной сети</h4>
              <ol>
                <li>
                  <p>
                      Для использования Социальной сети Лицензиат создает Аккаунт. Для входа в Социальную сеть Лицензиатом формируются
                      уникальные авторизационные данные – логин и пароль, которые являются конфиденциальной информацией и не подлежат
                      разглашению, за исключением случаев, предусмотренных действующим законодательством и/или настоящим Соглашением. Риск
                      осуществления мошеннических и иных неправомерных действий с Аккаунтом Лицензиата в связи с утратой пароля несет Лицензиат.
                      Лицензиату рекомендуется выбирать пароль достаточной сложности, чтобы избежать возможность его подбора третьими лицами.
                  </p>
                </li>
                <li>
                  <p>
                      Учетные данные и иные данные Лицензиата обрабатываются Лицензиаром в целях надлежащего исполнения настоящего Соглашения.
                  </p>
                </li>
                <li>
                  <p>
                    В целях исполнения Лицензионного соглашения и предоставления Лицензиату доступа к использованию функционала Социальной сети,
                    Лицензиар развивает, совершенствует, оптимизирует и внедряет новый функционал Социальной сети (включая сервисы и продукты
                    информационного, коммуникационного, рекламного, образовательного, развлекательного и иного характера), в том числе с
                    участием аффилированных лиц и/или партнеров. Для обеспечения реализации указанных целей Лицензиат соглашается и поручает
                    Лицензиару осуществлять с соблюдением применимого законодательства обработку (включая сбор, запись, систематизацию,
                    накопление, хранение, уточнение (обновление, изменение), сопоставление, извлечение, использование, обезличивание,
                    блокирование, удаление и уничтожение) учетных и иных данных Лицензиата, включая результаты автоматизированной обработки
                    таких данных, в том числе в виде целочисленных и/или текстовых значений и идентификаторов, их передачу аффилированным
                    лицам и/или партнерам во исполнение такого поручения на обработку, а также осуществлять сбор (получение) его учетных и
                    иных данных от аффилированных лиц и/или партнеров.
                  </p>
                  <p>
                    Под учетными данными понимаются сведения, которые Лицензиат предоставляет самостоятельно на этапе регистрации в Социальной сети
                    путем заполнения регистрационной формы для создания Аккаунта и Персональной страницы Лицензиата и некоторые из
                    предоставляемых в процессе ее использования. Под иными данными понимаются связанные с Лицензиатом данные, которые становятся
                    доступными Лицензиару в процессе использования Лицензиатом Социальной сети и/или сервисов аффилированных лиц и/или партнеров.
                    Такие данные могут включать в себя в том числе информацию о технических средствах (устройствах) и способах технологического
                    взаимодействия с Социальной сетью и/или сервисами аффилированных лиц и/или партнеров (в т. ч. IP-адрес хоста, вид операционной
                    системы Лицензиата, тип браузера, географическое положение, данные о провайдере и иное), об активности Лицензиата, а также
                    иные данные, получаемые указанными способами.
                  </p>
                  <p>
                    Лицензиару может быть доступна иная информация, относящаяся к Лицензиату и оставленная последним по своему усмотрению в
                    процессе использования Социальной сети, которая не обрабатывается Лицензиаром, в том числе для достижения указанных в
                    настоящем соглашении целей.
                  </p>
                  <p>
                    Обработка учетных и иных данных Лицензиата осуществляется в течение всего периода времени с момента регистрации Аккаунта
                    Лицензиата и до момента его удаления, если иное не предусмотрено действующим законодательством.
                  </p>
                  <p>
                    В целях надлежащего исполнения условий Лицензионного соглашения, Лицензиар принимает меры по обеспечению безопасности
                    Социальной сети. Для реализации указанных целей Лицензиат соглашается, что учетные и иные данные могут быть переданы
                    третьим лицам, в том числе в случаях, предусмотренных применимым законодательством, в объеме, необходимом для выявления,
                    расследования и пресечения противоправных действий.
                  </p>
                  <p>
                    Лицензиат соглашается на отражение его учетных и иных данных, а также иной информации на Персональной странице Лицензиата в
                    рамках функционала Социальной сети, а также на то, что такие данные будут считаться общедоступными, если иной режим доступа
                    к ним не был выбран Лицензиатом в пределах функционала Социальной сети. Лицензиат соглашается, что информация, включая
                    учетные и иные данные, может быть доступна другим пользователям сети Интернет с учетом существующего функционала Социальной
                    сети (который может изменяться время от времени Лицензиаром). Лицензиар может ограничивать использование третьими лицами
                    информации из Социальной сети, в том числе в коммерческих целях. Использование информации Лицензиаром определяется настоящим
                    Соглашением.
                 </li>
                 <li>
                   <p>
                     После регистрации Аккаунта Лицензиат вправе осуществлять наполнение Аккаунта, Персональной страницы и других элементов
                     Социальной сети Контентом, добавлять фотографии и иные материалы в соответствии с предоставленным функционалом и пользоваться
                     иными функциями, предоставленными Лицензиаром при использовании Социальной сети при условии соблюдения настоящего Соглашения.
                   </p>
                </li>
                <li>
                  <p>
                    Лицензиат осознает и соглашается, что размещаемые в Аккаунте Лицензиата информация и учетные данные доступны для ознакомления
                    иным Лицензиатам через Персональную страницу Лицензиата, если доступ к ним не ограничен самим Лицензиатом в пределах функциональных
                    возможностей Социальной сети.
                  </p>
                </li>
                <li>
                  <p>
                    Вход в Социальную сеть Лицензиатом, ранее зарегистрировавшим Аккаунт, осуществляется каждый раз путем прохождения процедуры
                    авторизации – введения логина и пароля Лицензиата, в результате автоматической авторизации с использованием технологии
                    cookies и иными доступными и разрешенными Лицензиаром способами.
                  </p>
                </li>
                <li>
                  <p>
                    Лицо, авторизовавшееся в Социальной сети, считается надлежащим пользователем Аккаунта, доступ к использованию и управлению
                    которого были получены в результате такой авторизации, если отсутствуют сведения, подтверждающие иное.
                  </p>
                </li>
                <li>
                  <p>
                    При использовании Лицензиатом Социальной сети может применяться технология cookies в целях автоматической авторизации
                    Лицензиата в Социальной сети, а также для сбора статистических данных, в частности о посещаемости Социальной сети.
                  </p>
                </li>
                <li>
                  <p>
                    Лицензиат вправе ограничить или запретить использование технологии cookies
                    путем применения соответствующих настроек браузера.
                  </p>
                </li>
                <li>
                  <p>
                    При невозможности совершения авторизации в связи с утратой пароля, блокировкой Аккаунта, и по иным причинам, Лицензиат
                    вправе обратиться в службу поддержки Лицензиара, либо следовать инструкциям, размещенным в разделе «Помощь» и иных
                    разделах Социальной сети. Способы восстановления доступа к Аккаунту, авторизации Лицензиата могут быть изменены,
                    отменены или дополнены Лицензиаром в одностороннем порядке.
                  </p>
                </li>
                <li>
                  <p>
                    Лицензиар предпринимает коммерчески обоснованные усилия для обеспечения функционирования Социальной сети в круглосуточном
                    режиме, однако не гарантирует отсутствие перерывов, связанных с техническими неисправностями, проведением профилактических
                    работ, а также не гарантирует полную или частичную работоспособность Приложений. Лицензиар не гарантирует, что Социальная
                    сеть или любые ее элементы будут функционировать в любое конкретное время в будущем или что они не прекратят работу.
                  </p>
                </li>
                <li>
                  <p>
                    Социальная сеть, включая все скрипты, Приложения, Контент и ее оформление, мобильной версии, предоставляются «как есть».
                    Лицензиар не предоставляет никаких гарантий того, что Социальная сеть или ее элементы могут подходить для конкретных целей
                    использования. Лицензиар не может гарантировать и не обещает никаких специфических результатов от использования Социальной
                    сети или ее элементов. Лицензиар не гарантирует соответствие размещенных в Социальной сети Контента и Приложений, в том
                    числе другими Лицензиатами, индивидуальным представлениям Лицензиата о морали и нравственности.
                  </p>
                </li>
                <li>
                  <p>
                    При использовании Социальной сети Лицензиат обязан соблюдать меры предосторожности в отношении Контента, особенно
                    Контента, размещенного другими Лицензиатами, иных материалов и информации; при переходе по размещенным в Социальной
                    сети гиперссылкам, при использовании любых файлов, в том числе программного обеспечения, во избежание негативного
                    воздействия на компьютер Лицензиата вредоносного программного обеспечения, недобросовестного доступа к Аккаунту,
                    подборки пароля и прочих негативных для Лицензиата последствий.
                  </p>
                </li>
                <li>
                  <p>
                    Лицензиат, размещая в Социальной сети Контент, предоставляет Лицензиару право использовать Контент исключительно для целей
                    функционирования Социальной сети необходимыми для этого способами, если иное не предусмотрено иными правилами использования
                    Социальной сети.
                  </p>
                </li>
                <li>
                  <p>
                    Лицензиат не вправе загружать или иным образом доводить до всеобщего сведения (размещать в Социальной сети, публиковать в
                    рамках Социальной сети) Контент и прочие результаты интеллектуальной деятельности Лицензиатов, Лицензиара и иных
                    лиц-правообладателей, при отсутствии явным образом выраженного согласия правообладателя и/или необходимого объема прав на
                    такие действия.
                  </p>
                </li>
                <li>
                  <p>
                    Воспроизведение, копирование, сбор, систематизация, хранение, передача информации с Социальной сети в коммерческих целях
                    и/или в целях извлечения базы данных Социальной сети в коммерческих или некоммерческих целях, или ее использования полностью
                    или в любой части любым способом, не допускается без согласия Лицензиара. Запрещено использование автоматизированных скриптов
                    (программ, ботов, краулеров и иных средств автоматического сбора информации) для сбора информации и (или) взаимодействия с
                    Социальной сетью без согласия Лицензиара.
                  </p>
                </li>
              </ol>
            </li>
            <li class="li-title"><h4>6. Права и обязанности Лицензиара</h4>
            <ol>
              <li>
                <p>
                    Лицензиар осуществляет текущее управление Социальной сетью, определяет ее структуру, внешний вид, разрешает или
                    ограничивает доступ Лицензиатов к Социальной сети при нарушении положений настоящего Соглашения, осуществляет иные
                    принадлежащие ему права. Лицензиат соглашается с тем, что Лицензиар вправе использовать функциональные и технические
                    возможности программных средств (аудио/видеоплеера), обеспечивающих отображение размещенного в рамках Социальной сети
                    Контента, по своему усмотрению, в том числе для целей отображения рекламы.
                </p>
              </li>
              <li>
                <p>
                    В части предоставления возможности взаимодействия между Лицензиатами, в том числе предоставления Лицензиатам возможности
                    самостоятельно совершать те или иные действия в рамках Социальной сети, Лицензиар выступает исключительно как лицо,
                    предоставившее технологическую возможность такого взаимодействия с использованием Социальной сети. Связанные с таким
                    взаимодействием передача, хранение и обеспечение доступа посредством сети Интернет и программного обеспечения Социальной
                    сети к предоставляемой Лицензиатами информации, графическим изображениям и иным материалам, осуществляются без изменения
                    таких материалов или влияния на их содержание со стороны Лицензиара.
                </p>
              </li>
              <li>
                <p>
                    Лицензиар самостоятельно решает вопросы о порядке размещения в Социальной сети рекламы,
                    участия в партнерских программах и другое.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар имеет право:
                </p>
                <ol>
                  <li>
                    <p>
                      В любое время изменять оформление и пользовательский интерфейс Социальной сети, ее содержание, содержание предоставляемых
                      функций Социальной сети, изменять или дополнять используемые скрипты, программное обеспечение, Контент Лицензиара и другие
                      объекты, используемые или хранящиеся в Социальной сети, любые Приложения и серверные приложения, с уведомлением Лицензиата
                      или без такового;
                    </p>
                  </li>
                  <li>
                    <p>
                      Удалять без каких-либо причин и без предупреждения любой Контент, в том числе Контент, который по усмотрению
                      Лицензиара нарушает и/или может нарушать законодательство Российской Федерации (применимое законодательство), положения
                      настоящего Соглашения, права других Лицензиатов или третьих лиц, причинять им вред или создавать угрозу причинения вреда
                      и/или безопасности;
                    </p>
                  </li>
                  <li>
                    <p>
                      По своему усмотрению удалять любую информацию (включая Личные сообщения Лицензиата, записи на стене Лицензиата, комментарии
                      к фотографиям Лицензиата, записям на стене, прочую информацию и иные материалы), в том числе размещаемую Лицензиатом в
                      Социальной сети в нарушение законодательства Российской Федерации (применимого законодательства) и/или положений настоящего
                      Соглашения;
                    </p>
                  </li>
                  <li>
                    <p>
                      Приостанавливать, ограничивать или прекращать доступ Лицензиата ко всем или к любому из разделов Социальной
                      сети и/или элементов Социальной сети, персональной странице, сообществам, группам Социальной сети, функциям
                      Социальной сети, включая активированные и неактивированные данные и команды, удалять создаваемые Лицензиатом
                      сообщества и группы, в любое время без объяснения причин, с предварительным уведомлением или без такового, если
                      иное прямо не предусмотрено применимым законодательством;
                    </p>
                  </li>
                  <li>
                    <p>
                      Удалить Аккаунт Лицензиата по своему усмотрению, в том числе в случае совершения Лицензиатом действий, нарушающих
                      законодательство Российской Федерации (применимое законодательство) или положения настоящего Соглашения;
                    </p>
                  </li>
                  <li>
                    <p>
                      Предоставлять Лицензиату за плату право использования неактивированных данных и команд на условиях, предусмотренных настоящим
                      Соглашением и соответствующими разделами Социальной сети и/или элементами Социальной сети, включая Приложения;
                    </p>
                  </li>
                  <li>
                    <p>
                      Осуществлять рассылку Лицензиатам от Лицензиара и/или от партнеров Лицензиара сообщений рекламно-информационного или новостного
                      характера, в том числе посредством электронной почты, sms-рассылки, рассылки с использованием функционала Социальной сети или
                      иным доступным способом;
                    </p>
                  </li>
                  <li>
                    <p>
                       В целях сбора статистических данных и идентификации Лицензиата устанавливать и сохранять информацию об IP-адресах доступа
                       Лицензиата к Социальной сети, использовать файлы технической информации (cookies), размещаемые на персональном компьютере
                       Лицензиата;
                    </p>
                  </li>
                  <li>
                    <p>
                      При использовании Социальной сети делать замечания Лицензиатам, предупреждать, уведомлять, информировать их о несоблюдении
                      Лицензиатами настоящего Соглашения. Указания Лицензиара, данные Лицензиату во время процесса использования Социальной сети,
                      обязательны для исполнения Лицензиатом;
                    </p>
                  </li>
                  <li>
                    <p>
                      Предпринимать не запрещенные законом меры для защиты собственных интеллектуальных прав в отношении Социальной сети;
                    </p>
                  </li>
                </ol>
              </li>
              <li>
                <p>
                  Лицензиар не занимается рассмотрением и разрешением споров и конфликтных ситуаций, возникающих между Лицензиатами или
                  третьими лицами, разместившими в Социальной сети Приложения с согласия Лицензиара, при использовании Лицензиатами таких
                  Приложений, однако по своему усмотрению может содействовать в разрешении возникших конфликтов. Лицензиар вправе приостановить,
                  ограничить или прекратить доступ Лицензиата к Социальной сети (действие права использования Социальной сети) в случае получения
                  от другого(-их) Лицензиата(-ов) мотивированных жалоб на некорректное или противоправное поведение данного Лицензиата
                  в Социальной сети.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар принимает на себя следующие обязательства:
                </p>
                <ol>
                  <li>
                    <p>
                      На условиях, изложенных в настоящем Соглашении, предоставить Лицензиату права использования Социальной сети, включая права
                      использования неактивированных данных и команд, в пределах, установленных настоящим Соглашением;
                    </p>
                  </li>
                  <li>
                    <p>
                      Уведомлять Лицензиата путем опубликования информации или рассылки сообщений в Социальной сети или иным доступным Лицензиару
                      способом об изменениях условий настоящего Соглашения.
                    </p>
                  </li>
                </ol>
              </li>
            </ol>
            </li>
            <li class="li-title"><h4>7. Права и обязанности Лицензиата</h4>
            <ol>
              <li><p>Лицензиат вправе:</p></li>
              <ol>
                <li>
                  <p>
                    Производить настройки Аккаунта и Персональной страницы, менять логин и пароль для доступа к Аккаунту;
                  </p>
                </li>
                <ol>
                  <li>
                    <p>
                      Размещать в Аккаунте Лицензиата информацию о себе, добавлять фотографии, статусы, записи на стене, оценивать и комментировать
                      фотографии и записи на стене других Лицензиатов;
                    </p>
                  </li>
                </ol>
                <li>
                  <p>
                    Осуществлять поиск иных Лицензиатов в сообществах Лицензиатов, а также по информации, известной Лицензиату и соответствующей
                    информации, размещаемой отыскиваемым Лицензиатом на Персональной странице;
                  </p>
                </li>
                <li>
                  <p>
                    Отправлять и получать Личные сообщения, добавлять записи на стене других Лицензиатов;
                  </p>
                </li>
                <li>
                  <p>
                    Приобретать права использования неактивированных данных и команд и осуществлять реализацию этих прав в соответствии с
                    настоящим Соглашением;
                  </p>
                </li>
                <li>
                  <p>
                    Осуществлять иные, не запрещенные законодательством Российской Федерации (применимым законодательством) или настоящим
                    Соглашением действия, связанные с использованием Социальной сети.
                  </p>
                </li>
              </ol>
              <li>
                <p>
                  Лицензиат обязан:
                </p>
              </li>
                <ol>
                  <li>
                    <p>
                      Соблюдать условия настоящего Соглашения без каких-либо ограничений;
                    </p>
                  </li>
                  <li>
                    <p>
                      В момент регистрации в Социальной сети и создании Аккаунта указывать достоверную информацию;
                    </p>
                  </li>
                  <li>
                    <p>
                      Не превышать пределов использования Социальной сети, установленных в разделе 4 настоящего Соглашения;
                    </p>
                  </li>
                  <li>
                    <p>
                      Не нарушать иным образом права интеллектуальной собственности Лицензиара в отношении Социальной сети или каких-либо ее
                      элементов, в частности, Лицензиат не имеет права копировать, транслировать, рассылать, публиковать, и иным образом
                      распространять и воспроизводить размещенные Лицензиаром в Социальной сети материалы (текстовые, графические, аудио-видео)
                      без письменного согласия Лицензиара;
                    </p>
                  </li>
                  <li>
                    <p>
                      Самостоятельно предпринимать должные меры, обеспечивающие безопасность его Аккаунта и Персональной страницы и предотвращающие
                      несанкционированный доступ к ним третьих лиц (в частности, следить за тем, чтобы пароль не сохранялся в браузере, в том
                      числе при использовании технологии cookies, при возможном использовании компьютерного устройства Лицензиата третьими лицами);
                    </p>
                  </li>
                  <li>
                    <p>
                      Выполнять указания Лицензиара, касающиеся использования Социальной сети, в частности, данные Лицензиаром Лицензиату или
                      группе Лицензиатов в Социальной сети, в центре поддержке пользователей (Лицензиатов), в новостном разделе Социальной сети.
                      В случае невыполнения Лицензиатом таких указаний Лицензиар имеет право приостановить, ограничить, прекратить
                      предоставление Лицензиату прав использования Социальной сети, включая права использования неактивированных данных и команд;
                    </p>
                  </li>
                  <li>
                    <p>
                      По требованию Лицензиара в связи с заключением и исполнением настоящего Соглашения подтвердить свои учетные данные,
                      включающие фамилию, имя, отчество, иные данные;
                    </p>
                  </li>
                  <li>
                    <p>
                      Не размещать фотографии, на которых помимо Лицензиата запечатлены другие лица, без их предварительного согласия, за исключением
                      случаев, когда в соответствии со статьей 152.1. ГК РФ или иной нормой применимого законодательства, такое согласие не требуется;
                    </p>
                  </li>
                  <li>
                    <p>
                      Уведомлять Лицензиара обо всех случаях совершения в Социальной сети в отношении Лицензиата действий, которые могут быть
                      расценены как оскорбительные, унижающие, дискредитирующие и т.п.;
                    </p>
                  </li>
                  <li>
                    <p>
                      Периодически знакомиться с содержанием настоящего Соглашения в сети Интернет по адресу <a>http://jimbl.ru/licence</a> и следить за
                      внесенными в него изменениями;
                    </p>
                  </li>
                  <li>
                    <p>
                      Соблюдать иные требования и выполнять иные обязательства, предусмотренные настоящим Соглашением и/или размещенные в
                      соответствующих разделах Социальной сети.
                    </p>
                  </li>
            </ol>
            <li>
              <p>
                Лицензиат гарантирует, что обладает всеми необходимыми полномочиями и дееспособностью для заключения настоящего Соглашения.
            </p>
          </li>
          <li><p>Лицензиату запрещается:</p></li>
          <ol>
            <li>
              <p>
                Осуществлять сбор учетных данных других Лицензиатов и/или иной информации из Социальной сети без согласия Лицензиара;
              </p>
            </li>
            <li>
              <p>
                Использовать любые автоматические или автоматизированные средства для сбора информации, размещенной в Социальной сети;
              </p>
            </li>
            <li>
              <p>
                Осуществлять пропаганду или агитацию, возбуждающую социальную, расовую, национальную или религиозную ненависть и вражду,
                пропаганду войны, социального, расового, национального, религиозного или языкового превосходства, распространять иную
                информацию, запрещенную к распространению применимым законодательством;
              </p>
            </li>
            <li>
              <p>
                Размещать в Социальной сети или передавать посредством Личных сообщений информацию ограниченного доступа
                (конфиденциальную   информацию) третьих лиц, если Лицензиат не обладает достаточными правами в силу закона или
                договора на раскрытие данной информации;
              </p>
            </li>
            <li>
              <p>
                Размещать, воспроизводить, перерабатывать, распространять, опубликовывать в Социальной сети, доводить до всеобщего сведения,
                передавать, продавать или иным способом использовать целиком или по частям Контент Лицензиара, Лицензиатов и третьих лиц,
                являющийся объектом авторских и иных исключительных прав, без их предварительного разрешения, кроме случаев, установленных
                настоящим Соглашением, действующим законодательством Российской Федерации (применимым законодательством), а также случаев,
                когда правообладатель явным образом выразил свое согласие на свободное использование собственного Контента любым лицом.
                Загружая музыку, видео или иной Контент в Социальную сеть, а также размещая Контент в Социальной сети иным образом,
                Лицензиат подтверждает, что обладает всеми необходимыми для этого правами, включая право на доведение до всеобщего сведения,
                что такое размещение не нарушает и не будет нарушать права и законные интересы правообладателей и третьих лиц, и что все
                необходимые разрешения и согласия со стороны соответствующих правообладателей и третьих лиц были в надлежащем порядке и
                явным образом для этого получены. В Социальной сети запрещается размещать Контент, если Лицензиат не имеет для этого
                необходимых прав и/или согласия правообладателя;
              </p>
            </li>
            <li>
              <p>
                Размещать в Социальной сети в открытом доступе (в записях на стене, в комментариях и/или статусах) или передавать посредством
                Личных сообщений текстовые сообщения, графические изображения или иные материалы, содержание которых является оскорбительным
                для других Лицензиатов или иных лиц или может быть расценено в качестве такового, а также сообщения, изображения и иные материалы,
                которые дискредитируют Лицензиатов или иных лиц, содержат угрозы, призывы к насилию, совершению противоправных деяний,
                антиобщественных, аморальных поступков, а также совершению любых иных действий,
                противоречащих основам правопорядка и нравственности;
              </p>
            </li>
            <li>
              <p>
                Размещать в Социальной сети сообщения, графические изображения или другие материалы (в том числе не соответствующие
                действительности), размещение которых наносит или может нанести ущерб чести, достоинству и деловой репутации гражданина или
                деловой репутации организации;
              </p>
            </li>
            <li>
              <p>
                Размещать в Социальной сети сообщения, содержащие нецензурные слова и выражения;
              </p>
            </li>
            <li>
              <p>
                Размещать в Социальной сети материалы порнографического характера с участием несовершеннолетних;
              </p>
            </li>
            <li>
              <p>
                Размещать в Социальной сети информацию, которая пропагандирует суицид, содержит описание способов суицида
                и любое подстрекательство к его совершению;
              </p>
            </li>
            <li>
              <p>
                Размещать в Социальной сети рекламу и иную информацию о наркотических и психотропных веществах, в том числе, информацию о
                распространении наркотиков, рецепты их изготовления и советы по употреблению, а также размещать информацию экстремистской
                направленности;
              </p>
            </li>
            <li>
              <p>
                Размещать в Социальной сети информацию, которая нарушает права несовершеннолетних лиц;
              </p>
            </li>
            <li>
              <p>
                Размещать в Социальной сети любую информацию противоправного характера;
              </p>
            </li>
            <li>
              <p>
                Размещать в Социальной сети персональные данные, в том числе контактные данные, других Лицензиатов или иных лиц без их
                предварительного согласия;
              </p>
            </li>
            <li>
              <p>
                Указывать при регистрации Аккаунта или вводить впоследствии заведомо ложную информацию или чужие данные;
              </p>
            </li>
            <li>
              <p>
                Размещать в Социальной сети в качестве собственной фотографии изображения других лиц без согласия таких лиц или вымышленных
                персонажей, изображения животных, предметов, абстрактные изображения, а также любые иные графические изображения, не
                являющиеся изображениями Лицензиата, размещающего данные изображения, без соответствующего согласия правообладателей
                (авторов) таких изображений;
              </p>
            </li>
            <li>
              <p>
                Регистрировать Аккаунт Лицензиата в целях использования группой лиц или организацией;
              </p>
            </li>
            <li>
              <p>
                Регистрировать более одного Аккаунта Лицензиата одним и тем же лицом;
              </p>
            </li>
            <li>
              <p>
                Осуществлять действия, направленные на дестабилизацию функционирования Социальной сети, осуществлять попытки
                несанкционированного доступа к управлению Социальной сетью или ее закрытым разделам (в том числе к разделам, доступ к
                которым разрешен только Лицензиару), а также осуществлять любые иные аналогичные действия;
              </p>
            </li>
            <li>
              <p>
                Осуществлять несанкционированный доступ к Аккаунтам иных Лицензиатов путем подборки или введения пароля, а также
                предпринимать попытки такого доступа;
              </p>
            </li>
            <li>
              <p>
                Осуществлять рассылку спама – массовую рассылку коммерческой, политической, рекламной и иной информации (в том числе
                гиперссылок, ведущих на интернет-сайты с такой информацией и/или на интернет-сайты, содержащие вредоносное программное
                обеспечение) в Личных сообщениях, комментариях, записях на стене, на Персональных страницах Лицензиатов или осуществляя
                иные действия, направленные на распространение такой информации, если Лицензиаты-получатели не выражали своего согласия на
                получение такого рода информации;
              </p>
            </li>
            <li>
              <p>
                Использовать Социальную сеть с целью поиска должников или для иных подобных целей;
              </p>
            </li>
            <li>
              <p>
                Размещать в Социальной сети информацию, в том числе и в группах, способствующую продвижению, рекламе и популяризации табака
                и табачных изделий, лекарственных препаратов, наркотических веществ, крепких и слабоалкогольных напитков;
              </p>
            </li>
            <li>
              <p>
                Размещать в Социальной сети иную информацию, которая, по мнению Лицензиара, не соответствует политике и целям создания
                Социальной сети.
              </p>
            </li>
            </ol>
          </ol>
          <li class="li-title"><h4>8. Гарантии и ответственность</h4>
            <ol>
              <li>
                <p>
                  Лицензиат гарантирует, что размещение им в Социальной сети или передача посредством Личных сообщений информации, Контента,
                  иных охраняемых законом результатов интеллектуальной деятельности, их частей или копий, а также иных материалов не нарушает
                  чьих-либо прав и законных интересов. В случае поступления претензий третьих лиц в связи с нарушением условий настоящего
                  Соглашения в части размещения информации и/или Контента третьих лиц, Лицензиар вправе осуществить передачу в рамках,
                  допустимых законом, доступной ему контактной информации Лицензиата лицам, обратившимся с претензиями, в целях урегулирования
                  возникших разногласий.
                </p>
              </li>
              <li>
                <p>
                  Лицензиат гарантирует, что им будут приняты надлежащие меры для обеспечения конфиденциальности учетных данных (логина и пароля),
                  используемых им для авторизации в Социальной сети, и предотвращения возможности авторизации другими лицами.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар соблюдает тайну переписки, осуществляемой Лицензиатами посредством Личных сообщений.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар гарантирует использование со стороны Лицензиара указанных в Аккаунте Лицензиата адреса электронной почты и номера
                  мобильного телефона для связи Лицензиара с Лицензиатом, отправки Лицензиату уведомлений, сообщений и sms-сообщений, а также
                  для предоставления Лицензиату функций Социальной сети с согласия Лицензиата, которое может быть выражено при помощи
                  функциональных возможностей Социальной сети, если иное не предусмотрено настоящим Соглашением или
                  действующим законодательством.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар не участвует в формировании содержания Персональной страницы Лицензиата и загрузке им Контента, не контролирует
                  действия Лицензиата, не осуществляет и не имеет технической возможности осуществлять автоматическую цензуру информации
                  в открытых разделах Сайта и Социальной сети, в Персональных страницах Лицензиата, цензуру Личных сообщений и не несет
                  ответственности за действия или бездействие Лицензиата (за исключением специальных технических решений, которые могут
                  реализовываться в целях предотвращения и пресечения нарушений прав третьих лиц на результаты интеллектуальной деятельности).
                </p>
              </li>
              <li>
                <p>
                  В силу особенностей функционирования Социальной сети, Лицензиар не осуществляет и не имеет технической возможности осуществлять
                  предварительную модерацию информации и Контента, размещаемого Лицензиатом, и не несет ответственности за его содержание.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар не несет ответственности за возможные сбои и перерывы в работе Социальной сети и вызванные ими потерю информации.
                  Лицензиар не несет ответственности за любой ущерб компьютеру Лицензиата, мобильным устройствам, любому другому оборудованию
                  или программному обеспечению, вызванный или связанный с использованием Сайта или сайтов, доступных по гиперссылкам,
                  размещенным на Сайте.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар не несет ответственности за подбор пароля доступа к Аккаунту Лицензиата третьими лицами и любые действия,
                  совершенные ими с использованием Аккаунта Лицензиата.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар не несет ответственности за любой ущерб, включая упущенную выгоду, или вред, вызванные в связи с использованием
                  Социальной сети, размещенного в ней Контента или иных материалов, к которым Лицензиат или иные лица получили доступ при
                  помощи Социальной сети, даже если Лицензиар предупреждал или указывал на возможность причинения такого ущерба или вреда.
                </p>
              </li>
              <li>
                <p>
                  Лицензиат несет ответственность за противоправные действия, осуществляемые с использованием его Аккаунта, а также в связи
                  с размещением Контента с использованием его Аккаунта в Социальной сети, на Персональной странице Лицензиата или других
                  Лицензиатов, в записях на стене, в комментариях и в иных разделах Социальной сети и/или Сайта.
                </p>
              </li>
              <li>
                <p>
                  Лицензиат несет персональную ответственность за любой Контент или иную информацию, которые он размещает в Социальной сети
                  или иным образом доводит до всеобщего сведения в Социальной сети или с ее помощью. Лицензиат обязуется самостоятельно
                  разрешать претензии третьих лиц, связанные с неправомерным размещением Контента и информации в Социальной сети.
                </p>
              </li>
              <li>
                <p>
                  Гиперссылки на любой сайт, продукт, услугу, любую информацию коммерческого или некоммерческого характера, размещенные в
                  Социальной сети, размещаемые в записях на стене Персональных страниц Лицензиатами и т.п. не являются одобрением или
                  рекомендацией данных продуктов (услуг) со стороны Лицензиара. Лицензиар не несет ответственности за ущерб, причиненный
                  Лицензиату в результате перехода по таким гиперссылкам.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар не несет ответственности за возможные противоправные действия Лицензиата или третьих лиц при использовании
                  Социальной сети.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар не несет ответственности за высказывания Лицензиата, опубликованные в Социальной сети. Лицензиар не несет
                  ответственности за поведение Лицензиата в Социальной сети, неуважительное отношение к другим Лицензиатам.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар не несет ответственности за утерю Лицензиатом возможности доступа к своему Аккаунту в Социальной сети
                  (утрату логина, пароля, иной информации, необходимой для использования Аккаунта или Персональной страницы).
                </p>
              </li>
              <li>
                <p>
                  Лицензиар не несет ответственности за неполное, неточное, некорректное указание Лицензиатом своих данных
                  при создании Аккаунта и Персональной страницы.
                </p>
              </li>
              <li>
                <p>
                  При использовании Лицензиатом игровых Приложений Социальной сети Лицензиар не несет ответственности за утрату Лицензиатом в
                  ходе игрового процесса игровых ценностей, полученных в результате участия в таких игровых Приложениях.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар не несет ответственности за отсутствие у Лицензиата доступа в Интернет, за качество услуг провайдеров связи сети
                  Интернет, с которыми Лицензиатом заключены соглашения о предоставлении услуг по доступу к сети Интернет.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар не осуществляет обмен на наличные или безналичные деньги, или иные ценности Социальной сети, полученных Лицензиатом
                  в ходе ее использования, в том числе виртуальных ценностей.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар не возмещает Лицензиату расходы, связанные с приобретением Лицензиатом прав использования, неактивированных
                  данных и команд, в том числе в случае приостановления или прекращения настоящего Соглашения по любым основаниям, если
                  иное прямо не предусмотрено применимым законодательством.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар не несет ответственности за возникновение прямого или косвенного ущерба и упущенной выгоды Лицензиата либо
                  иных третьих лиц, причиненного в результате:
                </p>
              </li>
              <ol>
                <li>
                  <p>
                    Использования либо невозможности использования Социальной сети;
                  </p>
                </li>
                <li>
                  <p>
                    Несанкционированного доступа любых третьих лиц к личной информации Лицензиата, включая Аккаунт и Персональную страницу
                    Лицензиата;
                  </p>
                </li>
                <li>
                  <p>
                    Заявления или поведения любого третьего лица в Социальной сети;
                  </p>
                </li>
                <li>
                  <p>
                    Удаления Аккаунта, Контента или прекращением функционирования определенного элемента Социальной сети
                    или Социальной сети в целом.
                  </p>
                </li>
              </ol>
              <li>
                <p>
                  При любых обстоятельствах ответственность Лицензиара перед Лицензиатом ограничена суммой в 3 000 (три тысячи) рублей, при
                  этом упущенная выгода возмещению не подлежит, если иное прямо не предусмотрено применимым законодательством.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар не обязан предоставлять Лицензиату какие-либо доказательства, документы и прочее, свидетельствующие о нарушении
                  Лицензиатом условий Соглашения, в результате которого Лицензиату было отказано в предоставлении прав использования
                  Социальной сети или ее отдельных функций/разделов/страниц, а также прав на неактивированные данные и команды.
                </p>
              </li>
              <li>
                <p>
                  Претензии Лицензиата, направляемые Лицензиару, принимаются и рассматриваются при условии возможности установить факт
                  принадлежности Аккаунта конкретному лицу. Принимая во внимание возможное наличие Аккаунтов со схожими учетными данными,
                  Лицензиар вправе требовать предоставления дополнительных сведений и информации, в том числе в отношении Аккаунта Лицензиата,
                  позволяющих определить, в связи с каким Аккаунтом поступила претензия, или установить принадлежность Аккаунта лицу,
                  обратившемуся с претензией.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар не несет ответственность за возможный вред здоровью Лицензиата, который может быть причинен Лицензиату в связи
                  с использованием Приложений третьих лиц. Лицензиат настоящим уведомлен, что Приложения могут предусматривать различные
                  звуковые и/или видео эффекты, которые, при определенных обстоятельствах, могут вызывать у лиц, склонных к эпилептическим
                  или иным расстройствам нервного характера, обострение указанных состояний, и Лицензиат гарантирует, что указанными
                  расстройствами он не страдает, или же обязуется не использовать Приложения. Лицензиат настоящим уведомлен, что регулярное
                  длительное (непрерывное) нахождение у персонального компьютера может вызывать различные осложнения физического состояния,
                  в том числе ослабление зрения, сколиоз, различные формы неврозов и прочие негативные воздействия на организм. Лицензиат
                  гарантирует, что он будет использовать Приложения исключительно на протяжении разумного времени, с перерывами на отдых или
                  иные мероприятия по профилактике физического состояния, если таковые Лицензиату рекомендованы или предписаны.
                </p>
              </li>
            </ol>
              <li class="li-title"><h4>9. Права использования неактивированных данных и команд</h4>
            <ol>
             <li>
               <p>
                 Настоящий раздел Соглашения регламентирует порядок и условия предоставления Лицензиаром Лицензиату прав использования
                 неактивированных данных и команд.
               </p>
             </li>
             <li>
               <p>
                 По желанию Лицензиата Лицензиар предоставляет Лицензиату за Вознаграждение, если иное не предусмотрено Лицензиаром,
                 права использования неактивированных данных и команд, позволяющие увеличить в Социальной сети количество виртуальных
                 ценностей, используемых в рамках функциональных возможностей Социальной сети. Размер и условия внесения Вознаграждения
                 определяются Лицензиаром самостоятельно и зависят от объема данных и команд, необходимых Лицензиату для получения
                 определенного результата, обусловленного функциональными возможностями Социальной сети. Указанные условия содержатся
                 в настоящем Соглашении и/или в соответствующих разделах Социальной сети.
               </p>
             </li>
             <li>
               <p>
                 Права использования неактивированных данных и команд передаются Лицензиаром с момента отражения виртуальных ценностей
                 в виде сбережений на Аккаунте Лицензиата. С этого момента Лицензиат получает права использования неактивированных
                 данных и команд в объеме, соответствующем количеству виртуальных ценностей в виде сбережений, на условиях данного
                 Соглашения. Виртуальные ценности в виде сбережений отражаются в Аккаунте Лицензиата после получения Лицензиаром от
                 третьих лиц (платежных систем, операторов, агрегаторов платежей) информации о совершении (подтверждении) платежа.
               </p>
             </li>
             <li>
               <p>
                 Соответствие объема неактивированных данных и команд количеству виртуальных ценностей в виде сбережений определяется
                 Лицензиаром. Соответствие размера вознаграждения количеству виртуальных ценностей в виде сбережений определяется
                 Лицензиаром.
               </p>
              </li>
              <li>
               <p>
                 Право использования неактивированных данных и команд предоставляется Лицензиату на срок действия настоящего Соглашения,
                 если такое право не прекращено в соответствии с правилами Социальной сети.
               </p>
              </li>
              <li>
               <p>
                 Внесение Вознаграждения осуществляется Лицензиатом денежными средствами в валюте соответствующей территории, согласно
                 установленному Социальной сетью порядку конвертации. Размер вознаграждения определяется Лицензиаром исходя из объема
                 неактивированнных данных и команд, право использования которых передается Лицензиату.
               </p>
               </li>
               <li>
               <p>
                 С момента отражения виртуальных ценностей в виде сбережений в Аккаунте Лицензиата Лицензиат не вправе требовать от
                 Лицензиара возврата Вознаграждения, уплаченного за такие права, если иное прямо не предусмотрено применимым законодательством.
               </p>
               </li>
               <li>
                 <p>
                   Внесение Вознаграждения осуществляется Лицензиатом путем перечисления денежных средств через поддерживаемые способы оплаты.
                   Список доступных для оплаты способов приведен в соответствующих разделах Социальной сети.
                 </p>
               </li>
             </li>
             <li>
               <p>
                 При оплате Вознаграждения Лицензиат обязуется следовать платежным инструкциям по порядку и способам оплаты, в том числе
                 и по правилам ввода сообщения и номера коротких текстовых сообщений (SMS), включая порядок ввода заглавных и строчных букв,
                 цифр и языка ввода. Предоставление Лицензиату права использования неактивированных данных и команд обеспечивается при
                 выполнении прилагаемых инструкций и условий оплаты. Лицензиар не несет ответственности за правильность выполнения Лицензиатом
                 условий проведения оплаты. По вопросам правил и порядка использования платежных систем для осуществления оплаты прав
                 использования неактивированных данных и команд Лицензиату надлежит обращаться к держателям таких платежных систем или
                 операторам/агрегаторам платежей. Лицензиар не дает Лицензиату разъяснений по вопросам, связанным с правилами и порядком
                 использования таких платежных систем, а также не возмещает Лицензиату денежные средства, уплаченные для приобретения таких
                 прав посредством платежных систем, операторов, агрегаторов платежей, если такие платежи были осуществлены с нарушениями
                 правил, установленных такими лицами, в результате чего денежные средства не поступили Лицензиару.
               </p>
             </li>
             <li>
               <p>
                 Предоставление Лицензиату права использования неактивированных данных и команд осуществляется только при условии полной
                 оплаты таких прав Лицензиатом в соответствии с условиями настоящего Соглашения, если иной порядок не содержится в
                 Соглашении или не определен Лицензиаром отдельно. При этом до получения подтверждения об оплате прав использования
                 Лицензиар вправе не предоставлять их Лицензиату, либо предоставлять их в ограниченном объеме.
               </p>
             </li>
             <li>
               <p>
                 В том случае, если в результате технической ошибки, или сбоя Социальной сети или любого ее элемента, или сознательных
                 действий Лицензиата им был получен доступ к неактивированным данным и командам без приобретения права использования в
                 установленном настоящим Соглашением порядке, Лицензиат обязуется сообщить об этом факте Лицензиару и оплатить ему
                 Вознаграждение, либо устранить все последствия неправомерного использования полученных прав. Лицензиар вправе
                 самостоятельно без уведомления Лицензиата устранить такие последствия.
               </p>
             </li>
             <li>
               <p>
                 Лицензиат обязан сохранять документы, подтверждающие оплату им Вознаграждения в течение всего времени использования
                 Социальной сети, и по запросу Лицензиара предоставить ему такие документы, а также информацию об обстоятельствах
                 совершения такого платежа Лицензиатом.
               </p>
             </li>
             <li>
               <p>
                 Исключительное право на распространение неактивированных данных и команд принадлежит Лицензиару, в связи с чем никакие
                 предложения третьих лиц о предоставлении прав использования таких данных и команд не могут быть расценены Лицензиатом как
                 предложения, исходящие от Лицензиара.
               </p>
             </li>
             <li>
               <p>
                 В случае возникновения спорных, неясных ситуаций, либо направления Лицензиату каких-либо предложений третьих лиц, связанных
                 с оплатой прав использования неактивированных данных и команд, либо размещения таких объявлений и предложений в сети
                 Интернет, за исключением размещенных от имени Лицензиара на Сайте, Лицензиат обязан незамедлительно уведомить об этом
                 Лицензиара.
               </p>
             </li>
             <li>
               <p>
                 В случае если Лицензиат в нарушение настоящего положения, произвел оплату по указанному объявлению с использованием
                 реквизитов, указанных в таком объявлении, претензии Лицензиата Лицензиару по поводу отсутствия у Лицензиата неактивированных
                 данных и команд не принимаются, и Лицензиар не компенсирует Лицензиату денежные средства, потраченные Лицензиатом при
                 таких обстоятельствах.
               </p>
             </li>
             <li>
               <p>
                 В случае если Лицензиаром будет установлено, что Лицензиат получает права использования неактивированных данных и
                 команд от третьих лиц, Лицензиар вправе по своему усмотрению приостановить, ограничить, либо прекратить в отношении
                 Лицензиата права использования Социальной сети.
               </p>
             </li>
             <li>
               <p>
                 Приобретение Лицензиатом прав использования неактивированных данных и команд не освобождает его от соблюдения настоящего
                 Соглашения и применения в отношении него любых мер, указанных в настоящем Соглашении, включая приостановление или
                 прекращение прав использования Социальной сети и/или удаление Лицензиаром Аккаунта Лицензиата, если иное прямо не
                 предусмотрено применимым законодательством.
               </p>
             </li>
             <li>
               <p>
                 Лицензиат гарантирует Лицензиару, что он имеет право использовать выбранные им средства для оплаты Вознаграждения,
                 не нарушая при этом законодательства РФ и/или законодательства иной страны, гражданином которой является Лицензиат,
                 и прав третьих лиц. Лицензиар не несет ответственности за дополнительные комиссии, взимаемые операторами средств оплаты
                 и возможный ущерб Лицензиату и/или третьим лицам, причиненный в результате использования Лицензиатом не принадлежащих ему
                 средств оплаты.
               </p>
             </li>
             <li>
               <p>
                 Лицензиар не несет ответственности за возможные противоправные действия Лицензиата при выплате Вознаграждения. Лицензиар
                 оставляет за собой право в одностороннем порядке приостановить или прекратить в отношении Лицензиата права использования
                 неактивированных данных и команд, если существует подозрение на совершение Лицензиатом противозаконных действий вплоть до
                 выяснения обстоятельств, если иное прямо не предусмотрено применимым законодательством.
               </p>
             </li>
             <li>
               <p>
                 В случае если Лицензиар имеет основания полагать, что Лицензиат совершает противозаконные действия, связанные с оплатой
                 Вознаграждения, Лицензиар имеет право передать соответствующую информацию в правоохранительные органы для проведения
                 проверки по данному факту.
               </p>
             </li>
             <li>
               <p>
                 Особенности оплаты Лицензиатом Вознаграждения с помощью банковских карт:
               </p>
               <ol>
                 <li>
                   <p>
                     Операции по банковским картам совершаются держателем карты либо уполномоченным им лицом;
                   </p>
                 </li>
                 <li>
                   <p>
                     Авторизация операций по банковским картам осуществляется банком. Если у банка есть основания полагать, что операция носит
                     мошеннический характер, то банк вправе отказать в осуществлении данной операции. Мошеннические операции с банковскими
                     картами являются уголовным преступлением;
                   </p>
                 </li>
                 <li>
                   <p>
                     Во избежание случаев мошенничества при оплате банковскими картами платежи, оплаченные банковской картой, могут проверяться
                     Лицензиаром в рамках имеющихся возможностей. Лицензиат-держатель карты, оформивший такой платеж, обязан по запросу,
                     поступившему от Лицензиара, предоставить копию необходимых Лицензиару документов для подтверждения правомерного
                     использования банковской карты. В случае непредставления запрошенных документов Лицензиатом в течение необходимого периода
                     с даты оформления платежа или наличия сомнений в их подлинности, если иной срок не указан Лицензиаром, последний вправе
                     приостановить предоставление Лицензиату прав использования Социальной сети, любой ее части/раздела и/или неактивированных
                     данных и команд до выяснения обстоятельств.
                   </p>
                 </li>
               </ol>
             </li>
             <li>
               <p>
                 Лицензиат соглашается, понимает и принимает то обстоятельство, что Социальная сеть и Приложения не являются азартной
                 игрой, игрой на деньги, конкурсом, пари.
               </p>
             </li>
             <li>
               <p>
                 Приобретение прав использования неактивированных данных и команд является реализацией собственного волеизъявления и желания
                 Лицензиата и не является необходимым или обязательным условием для использования Социальной сети и ее основного функционала.
               </p>
             </li>
          </ol>
          <li class="li-title"><h4>10. Территория и срок действия Соглашения</h4>
            <ol>
              <li>
                <p>
                  Лицензиат вправе использовать Социальную сеть способами, описанными в настоящем Соглашении, на всей территории
                  Российской Федерации, а также иных территориях, на которых она доступна с использованием стандартных компьютерных средств,
                  программ и устройств.
                </p>
              </li>
              <li>
                <p>
                  Настоящее Соглашение действует с момента принятия его условий Лицензиатом и действует
                  в течение 1 (одного) календарного года.
                </p>
              </li>
              <li>
                <p>
                  Действие настоящего Соглашения автоматически продлевается еще на каждый последующий 1 (один) год,
                  если до истечения указанного срока действия Соглашения:
                </p>
                <ol>
                  <li>
                    <p>
                      Лицензиар не примет решение об изменении положений настоящего Соглашения, о необходимости заключения с Лицензиатами
                      нового соглашения, прекращении администрирования и обслуживания Социальной сети и прекращении к ней доступа, прекращении
                      настоящего Соглашения в отношении Лицензиата, или прекращения доступа к использованию Социальной сети в отношении Лицензиата.
                    </p>
                  </li>
                  <li>
                    <p>
                      Лицензиат не примет решение о прекращении использования Социальной сети и не удалит свой Аккаунт.
                    </p>
                  </li>
                </ol>
              </li>
              <li>
                <p>
                  Лицензиар вправе в любое время без уведомления Лицензиата и без объяснения причин прекратить настоящее Соглашение в
                  одностороннем внесудебном порядке с немедленным прекращением доступа и возможности использовать Социальную сеть и без
                  возмещения каких-либо затрат, убытков или возврата полученного по Соглашению, в том числе в случаях закрытия
                  Социальной сети, любого, в том числе однократного, нарушения Лицензиатом условий настоящего Соглашения, а также любых
                  других случаях, указанных Лицензиаром на страницах Социальной сети,
                  если иное прямо не предусмотрено применимым законодательством.
                </p>
              </li>
              <li>
                <p>
                  Лицензиар вправе в любое время без уведомления Лицензиата и без объяснения причин приостановить доступ и возможность
                  использовать Социальную сеть, удалить Аккаунт Лицензиата без возмещения каких-либо затрат, убытков или возврата,
                  полученного по Соглашению, в том числе в случае любого, в том числе однократного, нарушения Лицензиатом условий настоящего
                  Соглашения, если иное прямо не предусмотрено применимым законодательством.
                </p>
              </li>
              <li>
                <p>
                  Лицензиат соглашается и полностью признает, что все исключительные права или необходимые лицензии на программное обеспечение,
                  составляющее элемент Социальной сети и/или используемое для ее администрирования и функционирования, включая входящие в его
                  состав аудиовизуальные отображения, а также графический дизайн Социальной сети, фотографии, анимации, видеоизображения,
                  видеоклипы, звуковые записи, звуковые эффекты, музыка, текстовое наполнение Социальной сети и Приложений Социальной сети,
                  за исключением Контента, загружаемого в Социальную сеть Лицензиатами или третьими лицами, принадлежат Лицензиару, если иное
                  в явном виде не указано в Соглашении.
                </p>
              </li>
              <li>
                <p>
                  Настоящее Соглашение не предусматривает уступку каких-либо исключительных прав или выдачу исключительной лицензии на любые
                  составляющие Социальной сети от Лицензиара к Лицензиату.
                </p>
              </li>
              <li>
                <p>
                  В случае, если Лицензиату в соответствии с законами его государства запрещено пользоваться сетью Интернет или
                  социальными сетями или существуют иные законодательные ограничения, включая ограничения по возрасту допуска к такому
                  программному обеспечению, Лицензиат не вправе использовать Социальную сеть. В таком случае Лицензиат самостоятельно
                  несет ответственность за использование Социальной сети на территории своего государства в нарушение местного
                  законодательства.
                </p>
              </li>
            </ol>
          </li>
          <li class="li-title"><h4>11. Заключительные положения</h4>
            <ol>
              <li>
                <p>
                  Настоящее Соглашение может быть изменено Лицензиаром без какого-либо предварительного уведомления. Настоящее Соглашение
                  может быть изменено и/или дополнено Лицензиаром в одностороннем порядке без какого-либо специального уведомления.
                  Лицензиат обязуется самостоятельно проверять Соглашение на предмет изменений. Неосуществление Лицензиатом действий по
                  ознакомлению с Соглашением и/или измененной редакцией Соглашения не может служить основанием для неисполнения Лицензиатом
                  своих обязательств и несоблюдения Лицензиатом ограничений, установленных настоящим Соглашением. Фактическое использование
                  Лицензиатом Социальной сети после внесения изменений в условия настоящего Соглашения или правила ее использования,
                  означает согласие Лицензиата с новыми условиями.
                </p>
              </li>
              <li>
                <p>
                  Недействительность одного или нескольких положений Соглашения, признанная в установленном порядке вступившим в силу
                  решением суда, не влечет для Сторон недействительности соглашения в целом. В случае признания одного или нескольких
                  положений Соглашения в установленном порядке недействительными, Стороны обязуются исполнять взятые на себя по Соглашению
                  обязательства максимально близким к подразумеваемым Сторонами при заключении и/или согласованном
                  изменении Соглашения способом.
                </p>
              </li>
              <li>
                <p>
                  Настоящее Соглашение и взаимоотношения Сторон в связи с исполнением настоящего Соглашения и использованием Социальной сети
                  регулируются законодательством Российской Федерации.
                </p>
              </li>
              <li>
                <p>
                  В отношении формы и способа заключения настоящего Соглашения применяются нормы Гражданского Кодекса РФ («ГК РФ»),
                  регулирующие порядок и условия заключения договора путем акцепта публичной оферты.
                </p>
              </li>
              <li>
                <p>
                  Все споры сторон по настоящему соглашению подлежат разрешению путем переписки и переговоров с использованием обязательного
                  досудебного (претензионного) порядка. В случае невозможности достичь согласия между сторонами путем переговоров в течение
                  60 (шестидесяти) календарных дней с момента получения другой Стороной письменной претензии, рассмотрение спора должно быть
                  передано любой заинтересованной стороной в суд общей юрисдикции по месту нахождения Лицензиара (с исключением подсудности
                  дела любым иным судам), если иное прямо не предусмотрено применимым законодательством.
                </p>
              </li>
              <li>
                <p>
                  Все обращения, заявления, предложения, претензии и иные запросы, связанные с использованием Приложений, Лицензиат направляет
                  напрямую разработчикам таких Приложений, используя для этого контактные данные, указанные на странице соответствующего
                  Приложения в Социальной сети.
                </p>
              </li>
              <li>
                <p>
                  Редакция настоящего Соглашения доступна в сети Интернет по адресу размещения Социальной сети, в соответствующем разделе
                  и иных местах, определенных Лицензиаром и позволяющих Лицензиату ознакомиться с его содержанием.
                </p>
              </li>
            </ol>
          </li>
         </ol>
        </div>
        <div class="row">
          <small class="form-text fw" style="text-align: center;">© 2019 Jimbl. Все права защищены. | <a href="../">Главная страница</a></small>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'auth/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
