{% load staticfiles %}
<div class="card post mb-4" style="width: 100%; border: none; border-radius: 0;" id="post_{{post.id}}">
  <div class="card-header" style="background-color: #fff; border-bottom: none; padding: 6px 10px 6px 10px;">
    <table style="width: 100%;">
      <tr>
        <td align="left">
          <div class="media">
            {% if post.user.profile.image_profile != '' %}
            <img src="{{post.user.profile.image_profile_settings.url}}" width="40px" height="40px" style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
            {% else %}
            <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px" style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
            {% endif %}
            <div class="media-body">
              <span onclick="document.location.href='/{{post.user.username}}';" class="font-weight-light" style="cursor: pointer;"><b>{{post.user.get_full_name}}</b> <span class="font-weight-light">@{{post.user.username}}</span></span><br>
              <small class="text-muted"> {{post.date|timesince}} назад</small>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="card" style="border: none;">
    <img class="img-fluid" style="border-radius: 10px" src="{{post.image_preview.url}}">
    <div id="img-overlay" class="card-img-overlay text-white img-overlay-{{post.id}}" style="background: rgba(0,0,0,.5); border-radius: 10px;">
      <table class="fw fh">
        <tr>
          <td class="align-middle overlay-main" id="overlay-main-{{post.id}}" align="center" style="color: #fff;">
            <div class="card-title-wrapper">
              {{post.title}}
            </div>
            <button class="btn btn-outline-light" onclick="document.location.href='/{{post.user}}/post/{{post.id}}'">Читать</button>
          </td>
          <td class="align-middle animated fadeIn hidden overlay-share" id="overlay-share-{{post.id}}" align="center" style="color: #fff;">
            <h2 class="card-title font-weight-light" style="overflow:hidden; white-space: nowrap;text-overflow: ellipsis;">Поделиться</h2>
            <div class="row mx-auto">
              <div class="d-inline mx-auto share-item" onclick="share_post('{{post.id}}')">
                <span style="font-size: 2.5rem;"><i class="far fa-newspaper"></i></span>
                <p>На своей <br> странице</p>
              </div>
              <div class="d-inline mx-auto share-item">
                <span style="font-size: 2.5rem;"><i class="fab fa-vk"></i></span>
                <p>Вконтакте</p>
              </div>
              <div class="d-inline mx-auto share-item">
                <span style="font-size: 2.5rem;"><i class="fab fa-facebook"></i></span>
                <p>Facebook</p>
              </div>
              <input id="link_post_share_{{post.id}}" value="www.jimbl.ru/{{post.user}}/post/{{post.id}}" style="position: absolute; opacity: 0; top: 9999; cursor: pointer; z-index: -100;">
              <div class="d-inline mx-auto share-item clipboard-trigger" onclick="$('#clipboard_success_modal').modal('show')" data-clipboard-target="#link_post_share_{{post.id}}">
                <span style="font-size: 2.5rem;"><i class="fas fa-link"></i></span>
                <p>Ссылка</p>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card-body" style="padding-top: 0;">
    <div class="card-text">
      <h4 class="card-title">
        <table class="fw">
          <tr class="post-statistic">
            <td align="left">
              <form id="form_like_{{post.id}}">
                {% csrf_token %}
                <input type="hidden" value="{{post.id}}" name="post_id">
                <input type="hidden" value="liking" name="liking">
              </form>
              <span class="like {% if user in post.likes.all %}liked{%endif%}" onclick="{% if user.is_authenticated %}like('form_like_{{post.id}}', this, {{post.id}}){% else %}$('#no-logged-user-like-modal').modal('show'){% endif %}"><i class="{% if user in post.likes.all %}fas{%else%}far{%endif%} fa-heart post-like-{{post.id}}"></i> </span>
              <span id="post-like-cnt-{{post.id}}">{{post.likes.count}}</span>
              <button class="show-comment-form" onclick="$('[name=comment_data_{{post.id}}]').focus();" style="outline: none;" type="button">
                <i class="far fa-comment"></i>
              </button>
              <span id="post-comments-cnt-{{post.id}}">{{post.comments.count}}</span>
              <form id="form_share_{{post.id}}" style="display: none;">
                {% csrf_token %}
                <input type="hidden" name="share_post" value="1">
                <input type="hidden" name="post_id" value="{{post.id}}">
              </form>
              <span id="share_icon_{{post.id}}" style="cursor: pointer;" class="{% if user in post.share.all %}reposted{%endif%}"><i class="fa fa-share" onclick="{% if user.is_authenticated %}toggle_overlay({{post.id}}){% else %}$('#no-logged-user-like-modal').modal('show'){% endif %}"></i></span> <span id="share_post_count_{{post.id}}">{{post.share.count}}</span>
            </td>
            <td align="right">
              <i class="fa fa-eye"></i>
              {{post.views.count}}
            </td>
          </tr>
        </table>
      </h4>
      {% if post.discription %}
        <p class="lead discription-post"><b>{{post.user.username}}:</b> {{post.discription}}</p>
      {% endif %}
    </div>
    <hr>
    <div class="row">
      <div class="share_buttons" style="margin-left: 16px;">
        <div id="vk_share_button_{{post.id}}" class="btn btn-primary btn-sm" style="height: 28px;"></div>
        <script>
          $('[id=vk_share_button_{{post.id}}]').innerHTML = VK.Share.button('http://jimbl.ru/{{post.user.username}}/post/{{post.id}}', {
            title: '{{post.title}} @{{post.user}} | Публикация на Jimbl',
            image: 'https://jimbl.ru{{post.image.url}}',
            noparse: false,
            type: 'custom',
            text: '<span class="text-white" style="top: -2px;position: relative;font-weight: 500;"><i class="fab fa-vk"></i> Поделиться</span>'
          });
        </script>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fjimbl.ru%2F{{post.user.username}}%2Fpost%2F{{post.id}}&layout=button&size=large&mobile_iframe=false&width=137&height=28&appId"
          width="137" height="28" style="border:none;overflow:hidden;top: 10px; position: relative;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media">
        </iframe>
        <!-- <div class="fb-share-button"
          data-href="http://jimbl.ru/{{post.user.username}}/post/{{post.id}}"
          data-layout="button"
          data-size="large">
        </div> -->
        <button type="button" class="btn btn-outline-secondary share-btn btn-sm" style="height: 28px;" onclick="toggle_overlay({{post.id}})">
          <span style="top: -2px;position: relative;">
            <i class="fa fa-ellipsis-h"></i>
          </span>
        </button>
      </div>
    </div>
    <form id="comment-form-{{post.id}}">
    {% csrf_token %}
    <br>
    <div class="card-text">
      {% if user.is_authenticated %}
      {% if post.user.profile.accept_comment_posts == 0 %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0" style="padding: 0 5px 0 0; background: #fff; border-right: none;">
              {% if user.profile.image_profile.url != '' %}
                <img src="{{user.profile.image_profile_settings.url}}" width="40px" height="40px"   class="rounded-circle" alt="avatar">
              {% else %}
                <img src="{% static 'App/def_image/user.svg' %}" class="rounded-circle" width="40px" height="40px" alt="avatar">
              {% endif %}
            </span>
          </div>
            <input type="text" autocomplete="off" onkeypress="if (event.keyCode==13){ comment({{post.id}}); $(this).val(''); return false;}" name="comment_data_{{post.id}}" class="border-0 form-control commenting" id="{{now_post.id}}" placeholder="Прокомментируйте запись..." style="border-left: none; border-right: none;">
          <div class="input-group-append">
            <span class="input-group-text border-0 text-muted" style="font-size: 1.5rem; background: #fff; border-left: none;"><img src="{% static 'App/def_image/smile.svg' %}" width="30px" alt=""></span>
          </div>
      </div>
      {% endif %}
      {% if post.user.profile.accept_comment_posts == 1 and user in post.user.profile.readers.all %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text border-0" style="padding: 0 5px 0 0; background: #fff; border-right: none;">
                {% if user.profile.image_profile.url != '' %}
                  <img src="{{user.profile.image_profile_settings.url}}" width="40px" height="40px"   class="rounded-circle" alt="avatar">
                {% else %}
                  <img src="{% static 'App/def_image/user.svg' %}" class="rounded-circle" width="40px" height="40px" alt="avatar">
                {% endif %}
              </span>
            </div>
              <input type="text" autocomplete="off" onkeypress="if (event.keyCode==13){ comment({{post.id}}); $(this).val(''); return false;}" name="comment_data_{{post.id}}" id="id_comment_data_{{post.id}}" class="border-0 form-control commenting comment-input" placeholder="Прокомментируйте запись..." style="border-left: none; border-right: none;">
            <div class="input-group-append">
              <span class="input-group-text border-0 text-muted" style="font-size: 1.5rem; background: #fff; border-left: none;"><img src="{% static 'App/def_image/smile.svg' %}" width="30px" alt=""></span>
            </div>
        </div>
      {% endif %}
      {% else %}
      <p><a href="/accounts/login">Войдите</a>, чтобы комментировать, делиться и ставить лайки.</p>
      {% endif %}
    </div>
    </form>
    <div class="card-text comments-list-{{post.id}}">
      {% for comment in post.comments.all|slice:'0:3' reversed   %}
        <div class="comment comments-{{post.id}}" style="max-width: 630px;">
          <div class="row">
            <div class="media fw">
              {% if comment.user.profile.image_profile.url != '' %}
              <img class="align-self-center mr-3 rounded-circle" src="{{comment.user.profile.image_profile_settings.url}}" width="40px" height="40px"   alt="Generic placeholder image">
              {% else %}
              <img class="align-self-center mr-3 rounded-circle" src="{% static 'App/def_image/user.svg' %}"  width="40px" height="40px" alt="Generic placeholder image">
              {% endif %}
              <div class="media-body fw">
                <p id="comment-text" style="margin: 0;"><b>{{comment.user}}: </b>{{comment.data}}</p>
                <table class="fw">
                  <tr class="comment-statistic">
                    <td align="left">
                      <form id="comment_like_{{comment.id}}">
                        {% csrf_token %}
                        <input type="hidden" value="{{comment.id}}" name="comment_id">
                        <input type="hidden" value="1" name="liking_comment">
                      </form>
                      <span class="like {% if user in comment.likes.all %}liked{%endif%}" onclick="like_comment('comment_like_{{comment.id}}', this, {{comment.id}})">
                        <i class="{% if user in comment.likes.all %}fas{%else%}far{%endif%} fa-heart comment-like-{{comment.id}}"></i>
                      </span>
                      <span id="comment-like-cnt-{{comment.id}}">{{comment.likes.count}}</span>
                    </td>
                    <td align="right">
                      <small class="text-muted">{{comment.date|timesince}} назад</small>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% if post.comments.count != 0 and post.comments.count > 3 %}
        <button type="button" class="btn btn-link load-more-comments" id="{{post.id}}" onclick="load_more_comments('{{post.id}}')">Загрузить еще</button>
      {% endif %}
    </div>
  </div>
</div>
