{% load staticfiles %}
<div class="card" style="width: 100%; border-bottom: none; border-top: none;  border-radius: 0;" id="post_{{post.id}}">
  <div class="card-header" style="background-color: #fff; border-bottom: none;">
    <table style="width: 100%;">
      <tr>
        <td align="left">
          <div class="media">
            <img src="{{post.user.profile.image_profile_settings.url}}" width="40px" height="40px" style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
            <div class="media-body">
              <b onclick="document.location.href='/{{post.user.username}}';" style="cursor: pointer;">{{post.user}}</b><br>
              <small class="text-muted"> {{post.date|timesince}} назад</small>
            </div>
          </div>
        </td>
        <td align="right">
          <div class="dropdown">
            <button class="post-settings dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <form id="delete_post_form_{{post.id}}" style="display: none;">
                {% csrf_token %}
                <input type="hidden" value="{{post.id}}" name="post_id">
                <input type="hidden" value="1" name="delete_post">
              </form>
              {% if user == post.user %}
                <a class="dropdown-item" href="#">Редактировать</a>
              {% endif %}
              {% if user == post.user %}
                <a class="dropdown-item" onclick="delete_post({{post.id}})" style="cursor: pointer;">Удалить</a>
              {% endif %}
              {% if user != post.user %}
                <a class="dropdown-item" href="#">Пожаловаться</a>
              {% endif %}
              <a class="dropdown-item" href="">Скопировать ссылку</a>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="card-body" style="padding-top: 0;">
    <div class="card-text">
      <p class="lead">{{post.simple_data}}</p>
    </div>
    <div class="card-text">
      <h4 class="card-title">
        <table class="fw">
          <tr class="post-statistic">
            <td align="left">
              <form id="form_like_{{post.id}}">
                {% csrf_token %}
                <input type="hidden" value="{{post.id}}" name="post_id">
                <input type="hidden" value="liking" name="liking">
              </form>
              <span class="like {% if user in post.likes.all %}liked{%endif%}" onclick="like('form_like_{{post.id}}', this, {{post.id}})"><i class="{% if user in post.likes.all %}fas{%else%}far{%endif%} fa-heart post-like-{{post.id}}"></i> </span>
              <span id="post-like-cnt-{{post.id}}">{{post.likes.count}}</span>
              <button class="show-comment-form" style="outline: none;" type="button" data-toggle="collapse" data-target="#comment-form-{{post.id}}" aria-expanded="false" aria-controls="comment-form-{{post.id}}">
                <i class="far fa-comment"></i>
              </button>
              <span id="post-comments-cnt-{{post.id}}">{{post.comments.count}}</span>
              <i class="fa fa-share"></i> {{post.share.count}}
            </td>
          </tr>
        </table>
      </h4>
    </div>
    <form id="comment-form-{{post.id}}" class="collapse">
    {% csrf_token %}
    <br>
    <div class="card-text">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" style="padding: 0; background: #fff; border-right: none;">
              {% if user.profile.image_profile.url != '' %}
                <img src="{{user.profile.image_profile_settings.url}}" width="40px" height="40px" class="rounded-circle" alt="avatar">
              {% else %}
                <img src="{% static 'App/def_image/user.svg' %}" class="rounded-circle" width="40px" height="40px" alt="avatar">
              {% endif %}
            </span>
          </div>
            <input type="hidden" value="{{post.id}}" name="post_id">
            <input type="hidden" value="1" name="add_comment">
            <input type="text" onkeypress="if (event.keyCode==13){ comment({{post.id}}); $(this).val(''); return false;}" id="comment_data_{{post.id}}" name="comment_data_{{post.id}}" class="form-control" placeholder="Прокомментируйте запись..." style="border-left: none; border-right: none;">
          <div class="input-group-append">
            <span class="input-group-text" style="font-size: 1.5rem; background: #fff; color: #007BFF;border-left: none;"><i class="far fa-smile"></i></span>
          </div>
        </div>
    </div>
    </form>
    <div class="card-text comments-list-{{post.id}}">
      {% for comment in post.comments.all|slice:'0:3' %}
        <div class="comment">
          <div class="row">
            <p style="margin: 0;"><b>{{comment.user}}: </b>{{comment.data}}</p>
            <table class="fw">
              <tr class="comment-statistic">
                <td align="left">
                  <form id="comment_like_{{comment.id}}">
                    {% csrf_token %}
                    <input type="hidden" value="{{comment.id}}" name="comment_id">
                    <input type="hidden" value="1" name="liking_comment">
                  </form>
                  <span class="like {% if user in comment.likes.all %}liked{%endif%}" onclick="like_comment('comment_like_{{comment.id}}', this, {{comment.id}})">
                    <i class="{% if user in comment.likes.all %}fas{%else%}far{%endif%} fa-heart comment-like-{{comment.id}}"></i>
                  </span>
                  <span id="comment-like-cnt-{{comment.id}}">{{comment.likes.count}}</span>
                </td>
                <td align="right">
                  <small class="text-muted">{{comment.date|timesince}} назад</small>
                </td>
              </tr>
            </table>
          </div>
        </div>
      {% endfor %}
      {% if post.comments.count != 0 and post.comments.count > 3 %}
        <button type="button" class="btn btn-link btn-load-comments btn-top-post-load-comments-{{post.id}}" onclick="show_all_comments({{post.id}})">Все комментарии</button>
      {% endif %}
      <div class="comment all_post_comments_{{post.id}} hidden">
      {% for comment in post.comments.all|slice:'3:' %}
          <div class="row">
            <p style="margin: 0;"><b>{{comment.user}}: </b>{{comment.data}}</p>
            <table class="fw">
              <tr class="comment-statistic">
                <td align="left">
                  <form id="comment_like_{{comment.id}}">
                    {% csrf_token %}
                    <input type="hidden" value="{{comment.id}}" name="comment_id">
                    <input type="hidden" value="1" name="liking_comment">
                  </form>
                  <span class="like {% if user in comment.likes.all %}liked{%endif%}" onclick="like_comment('comment_like_{{comment.id}}', this, {{comment.id}})">
                    <i class="{% if user in comment.likes.all %}fas{%else%}far{%endif%} fa-heart comment-like-{{comment.id}}"></i>
                  </span>
                  <span id="comment-like-cnt-{{comment.id}}">{{comment.likes.count}}</span>
                </td>
                <td align="right">
                  <small class="text-muted">{{comment.date|timesince}} назад</small>
                </td>
              </tr>
            </table>
          </div>
      {% endfor %}
      <button type="button" style="padding-left: 0; margin: -1rem;" class="btn btn-link btn-bottom-post-load-comments-{{post.id}}" onclick="hide_all_comments({{post.id}})">Скрыть комментарии</button>
      </div>
    </div>
  </div>
</div>
