<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {{profile_view.first_name}} {{profile_view.last_name}} (@{{profile_view.username}}) | Jimbl
  </title>

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/animate.css' %}">
  <link rel="stylesheet" href="{% static 'App/profile/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/preload-anim.css' %}">

  {% block styles %}
  {% endblock %}

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One" rel="stylesheet">
  <!-- vk api -->
  <script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="overflow-x: hidden;">

  {% if user.is_authenticated %}
  <script type="text/javascript">
    sessionStorage.setItem('logged_user', '{{user.username}}');
  </script>
  {% else %}
  <script type="text/javascript">
    sessionStorage.setItem('logged_user', '');
  </script>
  {% endif %}
  {% load staticfiles %}

  <script type="text/javascript">
    sessionStorage.setItem('profile_view', '{{profile_view.username}}')
  </script>

  <div class="scroller hidden">
    <div class="wrapper-scroller fw">
      <div class="scroller-up hidden">
        <img src="{% static 'App/def_image/down-arrow.svg' %}" class="mx-auto d-block" style="transform: rotate(180deg)" width="30px" alt="">
      </div>
      <div class="scroller-down hidden">
        <img src="{% static 'App/def_image/down-arrow.svg' %}" class="mx-auto d-block" width="30px" alt="">
      </div>
    </div>
  </div>

  {% if user.is_authenticated %}
    {% include 'profile/mobile/bottom-menu.html' %}
  {% else %}
  <div class="card animated slideInUp mobile" style="position: fixed; bottom: 0; z-index: 9999; width: -webkit-fill-available; border-radius: 0;">
    <div class="card-body text-center p-2">
      <p class="m-0">Создайте или войдите в аккаунт Jimbl</p>
      <button type="button" class="btn btn-sm btn-primary mb-0" onclick="document.location.href='/accounts/login'">Войти</button>
      <button type="button" class="btn btn-sm btn-amber mb-0" onclick="document.location.href='registration'">Создать аккаунт</button>
    </div>
  </div>
  {% endif %}

  <div class="container-fluid mobile-profile">
    {% block mobile_navbar %}
      {% include 'profile/mobile/navbar.html' %}
    {% endblock %}
    {% block mobile_block_profile %}
      {% include 'profile/mobile/top_profile.html' %}
    {% endblock %}
    {% block mobile_profile_card %}
      {% include 'profile/mobile/profile_card.html' %}
    {% endblock %}
    <br>
    {% if profile_view == user %}
    {% if not profile_view.marker.add_name or not profile_view.marker.add_image or not profile_view.marker.add_discription or not profile_view.marker.add_followers or not profile_view.marker.add_email %}
    <div class="row w-100">
      <p class="lead mb-0 d-block text-center w-100">Заполните профиль</p>
      <p class="text-primary text-center d-block w-100">Выполнено <span id="count_of_recoments">0</span>/5</p>
    </div>
    <div class="horizontal-scroll-wrapper">
      <div class="card-deck m-0" style="width: max-content;">
        {% if not profile_view.marker.add_name %}
        <div class="card recoments-mobile mr-4" style="width: 15rem; border-radius: 25px;">
          <img class="card-img-top mt-4" src="{% static 'App/def_image/user-set.svg' %}" width="60px" height="60px" alt="Card image cap">
          <div class="card-body recoments-p">
            <h6 class="card-title">Добавьте своё имя</h6>
            <p class="card-text" style="font-size: 0.8rem;">Добавьте ваше имя и фамилию, чтобы ваши читатели знали чей этот аккаунт.</p>
          </div>
          <div class="card-footer m-1 border-0 text-center" style="background: transparent;">
            <a href="/{{user}}/edit" class="btn btn-primary btn-sm">Добавить имя</a>
          </div>
        </div>
        {% endif %}
        {% if not profile_view.marker.add_image %}
        <div class="card recoments-mobile mr-4" style="width: 15rem; border-radius: 25px;">
          <img class="card-img-top mt-4" src="{% static 'App/def_image/gallery.svg' %}" width="60px" height="60px" alt="Card image cap">
          <div class="card-body recoments-p">
            <h6 class="card-title">Добавьте фото</h6>
            <p class="card-text" style="font-size: 0.8rem;">Загрузите фото профиля и обложку профиля, так ваш аккаунт станет привлекательней!</p>
          </div>
          <div class="card-footer m-1 border-0 text-center" style="background: transparent;">
            <a href="/{{user}}/edit" class="btn btn-primary btn-sm">Добавить фото</a>
          </div>
        </div>
        {% endif %}
        {% if not profile_view.marker.add_discription %}
        <div class="card recoments-mobile mr-4" style="width: 15rem; border-radius: 25px;">
          <img class="card-img-top mt-4" src="{% static 'App/def_image/edit.svg' %}" width="60px" height="60px" alt="Card image cap">
          <div class="card-body recoments-p">
            <h6 class="card-title">Напишите о себе</h6>
            <p class="card-text" style="font-size: 0.8rem;">Расскажите вашим читателям о себе... Чем вы занимаетесь?</p>
          </div>
          <div class="card-footer m-1 border-0 text-center" style="background: transparent;">
            <a href="/{{user}}/edit" class="btn btn-primary btn-sm">Добавить информацию</a>
          </div>
        </div>
        {% endif %}
        {% if not profile_view.marker.add_followers %}
        <div class="card recoments-mobile mr-4" style="width: 15rem; border-radius: 25px;">
          <img class="card-img-top mt-4" src="{% static 'App/def_image/group.svg' %}" width="60px" height="60px" alt="Card image cap">
          <div class="card-body recoments-p">
            <h6 class="card-title" style="white-space: pre-wrap">Найдите себе понравшихся блогеров</h6>
            <p class="card-text" style="font-size: 0.8rem;">Найдите себе пользователей, на которых вы хотели подписаться.</p>
          </div>
          <div class="card-footer m-1 border-0 text-center" style="background: transparent;">
            <a href="/{{user}}/edit" class="btn btn-primary btn-sm">Перейти к поиску</a>
          </div>
        </div>
        {% endif %}
        {% if not profile_view.marker.add_email %}
        <div class="card recoments-mobile mr-4" style="width: 15rem; border-radius: 25px;">
          <img class="card-img-top mt-4" src="{% static 'App/def_image/mail.svg' %}" width="60px" height="60px" alt="Card image cap">
          <div class="card-body recoments-p">
            <h6 class="card-title">Укажите Email</h6>
            <p class="card-text" style="font-size: 0.8rem;">Укажите Email и подтвердите его, тем самым вы обезопасите свой аккаунт!</p>
          </div>
          <div class="card-footer m-1 border-0 text-center" style="background: transparent;">
            <a href="/{{user}}/edit" class="btn btn-primary btn-sm">Указать Email</a>
          </div>
        </div>
        {% endif %}
      </div>
      <br>
    </div>
    {% endif %}
    {% endif %}
    <div class="row mobile-row">
      {% block nav %}
        <ul class="nav justify-content-center mx-auto">
          <li class="nav-item">
            <a class="nav-link {% if page == 'lenta' %}active{% endif %}" href="/{{profile_view}}/">Лента</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page == 'blogs' %}active{% endif %}" href="/{{profile_view}}/blogs">Блоги</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link {% if page == 'media' %}active{% endif %}" href="/{{profile_view}}/media">Медиа</a>
          </li> -->
        </ul>
      {% endblock %}
      {% block add_post_to_blog %}
      {% endblock %}
      {% block mobile_post_block %}
      <div class="post-container mt-4 mb-4" id="mobile-post-card" style="max-width: -webkit-fill-available;">
        <div class="load-start-wrapp hidden" style="margin-bottom: 30px; position: relative; top: -20px; background: #fafafa;">
            <br>
            <div class="load-3">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
      </div>
      {% endblock %}
      <div class="load-wrapp hidden" style="margin-bottom: 30px; position: relative; top: -20px; background: #fff;">
          <br>
          <div class="load-3">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
          </div>
      </div>
    </div>
  </div>

  <div class="container-fluid desktop-profile">
    {% include 'profile/include/main_nav.html' %}
    {% block top_profile %}
      {% include 'profile/include/top_profile.html' %}
    {% endblock %}
  </div>

  <div class="container desktop-profile">
    {% block content %}
    <div class="row">
      <div class="col-xl-3">
        <br>
        {% include 'profile/include/profile_card.html' %}
        <br>
        <div class="float-right mt-3">
          <div class="feedback text-muted" style="width: 300px; text-align: -webkit-center;">
            <small><a class="mr-1 text-muted" href="/welcome">О нас</a></small>
            <small><a class="mr-1 text-muted" href="/help">Справка</a></small>
            <small><a class="mr-1 text-muted" href="" data-toggle="modal" data-target="#feedback_modal">Тех. поддержка</a></small>
            <small><a class="mr-1 text-muted" href="">Наш блог</a></small>
            <small><a class="text-muted" href="/terms">Пользовательское соглашение</a></small><br>
            <small>© 2019 Jimbl.</small>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-ld-6 col-md-12 col-sm-12" id="main-card">
        {% if profile_view.profile.status_profile == 0 or profile_view == user %}
          {% include 'profile/include/main_card.html' %}
        {% else %}
        <center>
          <h1 class="font-weight-light">Приватный профиль!</h1>
          <p class="lead">Подпишитесь на этого блогера, чтобы видеть посты и прочие публикации!</p>
        </center>
        {% endif %}
      </div>
    </div>
    {% endblock %}
  </div>

  <div class="modal fade" id="delete_blog_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-light"></h5>
        </div>
        <div class="modal-body">
          <center>
            <img src="{% static 'App/def_image/blog.svg' %}" class="mb-3 mt-2" width="20%" alt="">
          </center>
            <h5 class="font-weight-light text-center">Вы точно хотите удалить данный блог?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger">Удалить</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="create-blog-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-light">Новый блог</h5>
        </div>
        <div class="modal-body">
            <h2 class="font-weight-light text-center">Давайте создадим новый блог!</h2>
            <div class="row">
              <div class="col-6">
                <center>
                  <img src="{% static 'creator/images/placeholder.jpg' %}" id="blog-preview" class="mb-3 mt-2" width="100%" alt="">
                </center>
              </div>
              <div class="col-6">
                <form class="mt-3" id="create-blog-form">
                  <input type="hidden" name="create_blog" value="1">
                  <input type="hidden" name="count_blogs"  value="">
                  <div class="md-form">
                    <input type="text" class="form-control" name="title_blog" id="id_title">
                    <label for="id_title">Введите название</label>
                    <small class="form-text text-muted">Например: Мой кулинарный блог.</small>
                  </div>
                  <div class="md-form">
                    <textarea type="text" name="discription" id="id_discription" class="md-textarea form-control" rows="1"></textarea>
                    <label for="id_discription">Описание</label>
                    <small class="form-text text-muted">Напишите здесь о том, что вы будуте публиковать в этом блоге.</small>
                  </div>
                  <div class="form-group">
                    <label for="id_image_blog" class="btn btn-primary fw"><i class=" fa fa-camera"></i> Загрузить фото</label>
                    <input type="file" name="image_blog" id="id_image_blog" style="display: none;">
                  </div>
                </form>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="create_blog(event)">Создать</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade timeout" style="z-index: 9999;" id="empty_title_blog_modal" role="dialog">
    <div class="modal-dialog">
      <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        Напишите заголовок для блога!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade timeout" style="z-index: 9999;" id="empty_photo_blog_modal" role="dialog">
    <div class="modal-dialog">
      <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        Загрузите или выберете фото для блога!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade timeout" style="z-index: 9999;" id="empty_photo_modal" role="dialog">
    <div class="modal-dialog">
      <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        Загрузите или выберете фото из вашей галереи!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade p-0" id="avatar-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Загрузить фотографию</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="avatar-set-form">
        <div class="modal-body">
            {% csrf_token %}
            <input type="hidden" name="set_avatar" value="1">
            <div class="form-group">
              <input type="file" style="display: none;" name="load_avatar" id="id_load_avatar">
              <label for="id_load_avatar" class="btn btn-primary fw"><i class="fa fa-camera"></i> Загрузить фото</label>
            </div>
            <div class="card-text" style="position: relative;">
              <hr style="margin-bottom: 1.6rem;">
              <div class="text" style="position: absolute; text-align: center;width: 100%; bottom: -0.7rem;"><span class="text-muted" style="background: #fff; padding: 0 1rem 0  1rem;">ГАЛЕРЕЯ</span></div>
            </div>
            <div class="card-text">
              <img src="#" id="avatar-preview" width="100%" alt="">
              <div class="row" id="user_media" style="max-height: 482px; overflow-y: scroll;">
              {% for media in media_list %}
                <img src="{{media.image.url}}" width="200px" height="150px" class="mx-auto mb-3 media" alt="">
              {% endfor %}
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="upload_avatar(event)" class="btn btn-primary">Сохранить</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% if profile_view.profile.hide_list_readers != True %}
  <div class="modal fade" id="readers-list-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Читатели</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 500px !important; overflow-y: auto;">
        <ul class="list-group list-group-flush">
          {% for reader in profile_view.profile.readers.all %}
           <li class="list-group-item border-bottom list-group-item-action" style="cursor: pointer;" onclick="document.location.href='/{{reader.username}}'">
            <div class="media">
              {% if reader.profile.image_profile != '' %}
              <img src="{{reader.profile.image_profile_settings.url}}" width="40px" height="40px"   style="margin-right: 10px;" class="rounded-circle mr-4 align-self-center" alt="avatar">
              {% else %}
              <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
              {% endif %}
              <div class="media-body">
                <h5 class="mt-0 mb-0 font-weight-light">{{reader.get_full_name}}</h5>
                <p class="mb-0">@{{reader.username}}</p>
              </div>
            </div>
          </li>
          {% empty %}
            <p class="font-weight-light">Список читателей пуст.</p>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if profile_view.profile.hide_list_read != True %}
<div class="modal fade" id="read-list-modal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Читатели</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="height: 500px !important; overflow-y: auto;">
      <ul class="list-group list-group-flush">
        {% for read in profile_view.profile.read.all %}
         <li class="list-group-item border-bottom list-group-item-action" style="cursor: pointer;" onclick="document.location.href='/{{read.username}}'">
          <div class="media">
            {% if read.profile.image_profile != '' %}
            <img src="{{read.profile.image_profile_settings.url}}" width="40px" height="40px"  style="margin-right: 10px;" class="rounded-circle mr-4 align-self-center" alt="avatar">
            {% else %}
            <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px" style="margin-right: 10px;" class="rounded-circle mr-4 align-self-center" alt="avatar">
            {% endif %}
            <div class="media-body">
              <h5 class="mt-0 mb-0 font-weight-light">{{read.get_full_name}}</h5>
              <p class="mb-0">@{{read.username}}</p>
            </div>
          </div>
        </li>
        {% empty %}
          <p class="font-weight-light">Список подписок пуст.</p>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
</div>
{% endif %}

<div class="modal fade" id="no-logged-user-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-dialog-centered">
      <div class="modal-header">
        <h3 class="modal-title font-weight-light">Авторизуйтесь в Jimbl</h3>
      </div>
      <div class="modal-body">
        <center>
          <img src="{% static 'logo.svg' %}" class="mb-3 mt-2" width="20%" alt="">
          <h2 class="font-weight-light">У вас еще нет аккаунта в Jimbl?</h2>
          <p class="lead">Давайте это поскорее исправим! Создайте или войдите в учетную запись!</p>
          <a href="/registration" class="btn btn-outline-primary">Регистрация</a>
        </center>
      </div>
      <div class="modal-footer">
        <p class="mb-0">Уже зарегистрированы? <a href="/account/login">Войти</a></p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="no-logged-user-like-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-dialog-centered">
      <div class="modal-header">
        <h3 class="modal-title font-weight-light">Авторизуйтесь в Jimbl</h3>
      </div>
      <div class="modal-body">
        <center>
          <img src="{% static 'App/def_image/share.svg' %}" class="mb-3 mt-2" width="20%" alt="">
          <h2 class="font-weight-light">Присоеденяйтесь к Jimbl!</h2>
          <p class="lead">Создайте или войдите в учетную запись Jimbl, чтобы лайкать, комментировать или делиться постами!</p>
          <a href="/registration" class="btn btn-outline-primary">Регистрация</a>
        </center>
      </div>
      <div class="modal-footer">
        <p class="mb-0">Уже зарегистрированы? <a href="/account/login">Войти</a></p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade timeout" id="feedback_success_modal" role="dialog">
  <div class="modal-dialog">
    <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
      Ваш вопрос успешно отправлен! <br> Мы скоро вам ответим!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<div class="modal fade timeout" id="report_success_modal" role="dialog">
  <div class="modal-dialog">
    <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
      Жалоба успешно отправлена!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<div class="modal fade timeout" id="clipboard_success_modal" role="dialog">
  <div class="modal-dialog">
    <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
      Скопировано в буфер обмена!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<div class="modal fade timeout" id="share_success_modal" role="dialog">
  <div class="modal-dialog">
    <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
      Вы поделились постом на своей странице.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="delete_post_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-light"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
          <img src="{% static 'App/def_image/trash.svg' %}" class="mb-3 mt-2" width="20%" alt="">
          <p class="lead">Вы хотите удалить этот пост?</p>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-danger delete_post_btn">Удалить</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="report_post_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-light"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
          <img src="{% static 'App/def_image/report.svg' %}" class="mb-3 mt-2" width="20%" alt="">
        </center>
        <div class="form-group">
          <select class="form-control" name="report_reason" id="report_reason_id">
            <option value="Спам">Спам</option>
            <option value="Оскорбление">Оскорбление</option>
            <option value="Нарушение авторских прав">Нарушение авторских прав</option>
            <option value="Порнография">Порнография</option>
            <option value="Пропаганда наркотиков">Пропаганда наркотиков</option>
            <option value="Насилие / призыв к суициду">Насилие / призыв к суициду</option>
            <option value="Экстремизм">Экстремизм</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-danger report_post_btn">Пожаловаться</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="report_blog_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-light"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
          <img src="{% static 'App/def_image/report.svg' %}" class="mb-3 mt-2" width="20%" alt="">
        </center>
        <div class="form-group">
          <select class="form-control" name="report_reason" id="report_reason_id">
            <option value="Спам">Спам</option>
            <option value="Оскорбление">Оскорбление</option>
            <option value="Нарушение авторских прав">Нарушение авторских прав</option>
            <option value="Порнография">Порнография</option>
            <option value="Пропаганда наркотиков">Пропаганда наркотиков</option>
            <option value="Насилие / призыв к суициду">Насилие / призыв к суициду</option>
            <option value="Экстремизм">Экстремизм</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-danger report_post_btn">Пожаловаться</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="feedback_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-light">Связь с тех. поддержкой</h5>
        <div class="media">
          {% if user.profile.image_profile != '' %}
          <img src="{{user.profile.image_profile_settings.url}}" width="40px" height="40px"  style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
          {% else %}
          <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
          {% endif %}
          <div class="media-body">
            <h5 class="mt-2 font-weight-light">{{user.username}}</h5>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <center>
          <img src="{% static 'App/def_image/feedback.svg' %}" class="mb-3 mt-2" width="20%" alt="">
        </center>
        <center><h2 class="font-weight-light">Напишите нам!</h2></center>
        <form id="feedback_form">
          <input type="hidden" name="feedback" value="1">
          <div class="form-group">
            <label for="exampleInputEmail1">Ваш Email</label>
            <input type="email" class="form-control" name="feedback_email" value="{{user.profile.email}}" placeholder="Введите Email">
            <small id="emailHelp" class="form-text text-muted">Мы пришлём на ваш email ответ</small>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Напишите вопрос или проблему, с которой вы столкнулись!</label>
            <textarea class="form-control" name="feedback_area" id="feedback_area" rows="3" maxlength="1000"></textarea>
            <small><span id="count_numbers">0</span>/1000</small><br>
            <small class="text-danger">Внимание!</small><small> Если вы заметили баг или неисправность в ходе работы сервиса, то напишите на форум тестирования Jimbl!</small>
          </div>
        </form>
        <span class="hidden" id="anim_to_send_feedback">
          <div id="fountainG" class="mt-3">
            <div id="fountainG_1" class="fountainG"></div>
            <div id="fountainG_2" class="fountainG"></div>
            <div id="fountainG_3" class="fountainG"></div>
            <div id="fountainG_4" class="fountainG"></div>
            <div id="fountainG_5" class="fountainG"></div>
            <div id="fountainG_6" class="fountainG"></div>
            <div id="fountainG_7" class="fountainG"></div>
            <div id="fountainG_8" class="fountainG"></div>
          </div>
          <center>
            <span>Отправляю... Пожалуйста подождите</span>
          </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="feedback_submit()">Отправить</button>
      </div>
    </div>
  </div>
</div>

  {% block load_content_form %}
  <form class="hidden" id="load-content-form">
    {% csrf_token %}
    <input type="hidden" name="load_content" value="1" id="id_load_content">
    <input type="hidden" name="count_post" value="" id="id_count_post">
    <input type="hidden" name="window_width" value="" id="id_window_width">
    <input type="hidden" name="page" value="/{{profile_view.username}}/">
  </form>
  {% endblock %}

  <div class="modal fade" id="add-post-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-light">Добавить пост в {{blog.name}}</h5>
        </div>
        <div class="modal-body">
          <center>
            <img src="{% static 'App/def_image/blog.svg' %}" class="mb-3 mt-2" width="20%" alt="">
          </center>
            <h3 class="font-weight-light text-center">Выберете пост из вашей ленты!</h3>
            <form class="mt-3" id="create-blog-form">
              <div class="form-group">
                {% if user_posts.count > 0 %}
                <p class="lead w-100 text-center">Ваша лента</label>
                <ul class="list-group list-group-flush" style="max-height: 300px; overflow-y: auto;">
                {% for post in user_posts %}
                <li class="list-group-item list-group-item-action border-0" style="cursor: pointer;" onclick="add_post_to_blog({{post.id}}, {{blog.id}})">
                  <div class="media">
                    <img class="align-self-center rounded mr-3" src="{{post.image_media.url}}" alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 class="mt-0 font-weight-light">{{post.title}}</h5>
                      {% if post.discription %}
                      <p class="font-weight-light mb-0">{{post.discription}}</p>
                      {% endif %}
                    </div>
                  </div>
                </li>
                {% endfor %}
                </ul>
                {% else %}
                  <p class="lead w-100 text-center">Ваша лента пуста</p>
                {% endif %}
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete_post_from_blog_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-light">Удалить пост из {{blog.name}}</h5>
        </div>
        <div class="modal-body">
          <center>
            <img src="{% static 'App/def_image/trash.svg' %}" class="mb-3 mt-2" width="20%" alt="">
          </center>
            <h5 class="font-weight-light text-center">Вы точно хотите удалить данный пост из блога?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="delete_post_from_blog_modal_btn">Удалить</button>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'App/js/jquery.sticky.js' %}"></script>
  <script type="text/javascript" src="{% static 'App/profile/profile.js' %}"></script>
  <script type="text/javascript" src="{% static 'App/js/search.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mdb.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'font-awesome/all.js' %}" charset="utf-8"></script>
</body>
</html>
