{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    Новая статья | Jimbl
  </title>

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
  <link rel="stylesheet" href="{% static 'creator/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/animate.css' %}">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="fh">

  <div class="modal fade timeout" style="z-index: 9999;" id="empty_photo_modal" role="dialog">
    <div class="modal-dialog">
      <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        Загрузите или выберете фото из вашей галереи!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade timeout" style="z-index: 9999;" id="empty_video_modal" role="dialog">
    <div class="modal-dialog">
      <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        Загрузите видео или вставьте HTML код для вставки!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade timeout" style="z-index: 9999;" id="copy_element_modal" role="dialog">
    <div class="modal-dialog">
      <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
        Элемент скопирован!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade timeout" style="z-index: 9999;" id="cut_element_modal" role="dialog">
    <div class="modal-dialog">
      <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
        Элемент вырезан!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade timeout" style="z-index: 9999;" id="remove_element_modal" role="dialog">
    <div class="modal-dialog">
      <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        Элемент удален!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade timeout" style="z-index: 9999;" id="clear_post_modal" role="dialog">
    <div class="modal-dialog">
      <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
        Пост очищен!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade timeout" style="z-index: 9999;" id="empty_poster_modal" role="dialog">
    <div class="modal-dialog">
      <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        Для обложки нужна картинка!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade timeout" style="z-index: 9999;" id="empty_title_modal" role="dialog">
    <div class="modal-dialog">
      <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        Пожалуйста, введите название поста!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div id="desktop">
    <div class="container-fluid pl-4 pr-4 pt-2">
      {% include 'creator/include/navbar.html' %}
    </div>
    <div class="container fh">
      <div class="row fh">
        {% include 'creator/include/post.html' %}
      </div>
    </div>
  </div>

  <div id="mobile">
    <div class="container-fluid" style="padding: 0;" id="mobile-navbar">
      {% include 'creator/mobile/navbar.html' %}
    </div>
    <div class="container-fluid">
      <div class="top-side-menu">
        {% include 'creator/mobile/top-side-menu.html' %}
      </div>
      <div class="main-body-post">
        <table class="fw">
          <tbody id="post-mobile">

          </tbody>
        </table>
        <div class="dropdown dropright" id="mobile-adder">

          <!--Trigger-->
          <button data-toggle="dropdown" class="btn btn-floating btn-large btn-primary waves-light" style="border-radius: 50%; padding: 0; width: 30px; height: 30px;">
            <i class="fa fa-plus fa-lg"></i>
          </button>


          <!--Menu-->
          <div class="dropdown-menu dropdown-primary">
            <a onclick="add_header('Пустой заголовок...')" style="cursor: pointer" class="text-muted dropdown-item list-group-item-action p-1"><i class="fa fa-heading"></i> Заголовок</a>
            <a onclick="add_paragraph('Пустой текст...')" style="cursor: pointer" class="text-muted dropdown-item list-group-item-action p-1"><i class="fa fa-font"></i> Текст</a>
            <a  onclick="$('#add_image_modal').modal('show')" style="cursor: pointer;" class="text-muted dropdown-item list-group-item-action p-1"><i class="far fa-image"></i> Картинка</a>
            <a  onclick="$('#add_video_modal').modal('show')" style="cursor: pointer;" class="text-muted dropdown-item list-group-item-action p-1"><i class="fa fa-film"></i> Видео</a>
            <a onclick="add_hr()" style="cursor: pointer" class="text-muted list-group-item-action dropdown-item p-1"><i class="far fa-window-minimize"></i> Разделитель</a>
          </div>
        </div>
      </div>
    </div>
    {% include 'creator/mobile/bottom-menu.html' %}
  </div>

  <div class="modal fade" id="add_image_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Добавить фото</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="image_form">
          <div class="modal-body">
              {% csrf_token %}
              <input type="hidden" name="user" id="id_user" value="{{user.id}}">
              <div class="form-group">
                <input type="file" style="display: none;" name="load_image" id="id_load_image" class="form-control">
                <label for="id_load_image" class="btn btn-primary fw"><i class="fas fa-camera"></i> Загрузить фото</label>
              </div>
              <div class="card-text" style="position: relative;">
                <hr style="margin-bottom: 1.6rem;">
                <div class="text" style="position: absolute; text-align: center;width: 100%; bottom: -0.7rem;"><span class="text-muted" style="background: #fff; padding: 0 1rem 0  1rem;">Ваша галерея</span></div>
              </div>
              {% if media_list.count == 0 %}
              <div class="card-text">
                <p class="text-muted text-center">Ваша галерея пуста</p>
              </div>
              {% endif %}
              <div class="card-text">
                <img src="#" id="img-preview" width="100%" alt="">
                <div class="row" id="user_media" style="max-height: 482px; overflow-y: scroll;">
                {% for media in media_list %}
                  <img src="{{media.image.url}}" width="200px" height="150px" class="mx-auto mb-3 media" alt="">
                {% endfor %}
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="add_image(event)">Добавить</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="add_video_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Добавить Видео</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="video_form">
          <div class="modal-body">
              {% csrf_token %}
              <input type="hidden" name="user" id="id_user" value="{{user.id}}">
              <div class="form-group">
                <input type="file" name="load_video" style="display: none;" id="id_load_video" class="form-control" accept="video/*">
                <label for="id_load_video" class="btn btn-primary fw"><i class="fas fa-camera"></i> Загрузить видео</label>
                <small class="text-muted">Только MP4 файлы, не более 100МБ</small>
              </div>
              <div class="card-text" style="position: relative;" id="devider">
                <hr style="margin-bottom: 1.6rem;">
                <div class="text" style="position: absolute; text-align: center;width: 100%; bottom: -0.7rem;"><span class="text-muted" style="background: #fff; padding: 0 1rem 0  1rem;">ИЛИ</span></div>
              </div>
              <div class="form-group">
                <video width="100%" controls>
                  <source src="" type="video/mp4" id="id_video_preview">
                </video>
                <textarea name="html_video" rows="8" class="form-control" placeholder="HTML код" id="id_html_video"></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="add_video(event)">Добавить</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal slideInRight animated bd-example-modal-xl" id="create_post" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-light">Создание обложки</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="create_post_form">
          {% csrf_token %}
          <input type="hidden" name="html_data" id="id_html_data" value="">
          <input type="hidden" name="create_post_status" value="1">
          <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-6 col-md-0">
                    <div class="card bg-dark text-white border-0" id="block-preview">
                      <img src="{%  static 'creator/images/placeholder.jpg' %}" id="poster_preview" height="400px" width="100%" alt="">
                      <div class="card-img-overlay" style="background: rgba(0,0,0,.5);">
                        <table class="fw fh">
                          <tr>
                            <td class="align-middle overlay-main"align="center" style="color: #fff;">
                              <div class="card-title-wrapper" id="preview-title" style="max-width: 490px;">

                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <div class="md-form">
                      <input type="text" class="form-control" id="id_title" name="title" required autocomplete="off">
                      <label for="id_title">Заголовок</label>
                    </div>
                    <div class="md-form">
                      <textarea id="id_discription" style="resize: none;" name="discription" class="form-control md-textarea" length="120" rows="1" data-autoresize></textarea>
                      <label for="id_discription">Краткое описание</label>
                    </div>
                    <div class="form-group">
                      <label for='id_image'>Картинка обложки</label>
                      <input type="file" name="image" id="id_image" class="form-control" style="display: none;">
                      <label for='id_image' class="btn btn-primary fw"><i class="fas fa-camera"></i> Загрузить фото</label>
                    </div>
                    <div class="form-group">
                      <input type="hidden" value="{{user.id}}" name="user" id="id_user">
                      <select type="hidden" style="display: none;" name="blog" id="id_blog" value="---------"></select>
                    </div>
                    <div class="form-group">
                      <label for="id_cateregory_id">Катерегории</label>
                      <select name="cateregory_id" id="id_cateregory_id" class="form-control">
                        <option value="1" selected>Путешествия</option>
                        <option value="2">Авто</option>
                        <option value="3">Природа</option>
                        <option value="4">Лайфхаки</option>
                        <option value="5">Бизнес и Финансы</option>
                        <option value="6">Новости и Политика</option>
                        <option value="7">Еда и Кулинария</option>
                        <option value="8">Наука и Техника</option>
                        <option value="9">Спорт и Здоровье</option>
                        <option value="10">Мода и Шоппинг</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" onclick="create_post();" class="btn btn-primary">Опубликовать</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'creator/js/sortable.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mdb.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'creator/js/main.js' %}"></script>
  <!-- <script type="module" src="{% static 'creator/js/table-dragger.js' %}"></script> -->
  <script src="{% static 'font-awesome/all.js' %}" charset="utf-8"></script>
</body>
</html>
{% else %}
  <script type="text/javascript">
    document.location.href='welcome/';
  </script>
{% endif %}
