<nav class="navbar navbar-light fixed-bottom nav border-top pt-0 pb-0 bg-white border-0" id='bottom-menu'>
  <div class="container" style="height: 50px;">
    <div class="row fw mx-auto">
      <table class="fw">
        <tr align='center' style="padding-bottom: 5px; padding-top: 5px;">
          <td width='20%' onclick="document.location.href='/'">
            <i class="fas fa-home fa-2x"></i>
          </td>
          <td width='20%' class="text-primary" onclick="document.location.href='/search'">
            <i class="fas fa-search fa-2x"></i>
          </td>
          <td width='20%' onclick="document.location.href='/creator'">
            <i class="far fa-plus-square fa-2x"></i>
          </td>
          <td width='20%' onclick="document.location.href='/chat'">
            <i class="far fa-comment-alt fa-2x"></i>
          </td>
          <td width='20%' onclick="document.location.href='/{{request.user.username}}'">
            <i class="far fa-user fa-2x"></i>
          </td>
        </tr>
      </table>
    </div>
  </div>
</nav>
