{% load staticfiles %}

{% if user.profile.last_search_user.count > 0 %}
<table class="fw fh" style="width: 100%; height: 100%;">
  <tr>
    <td>
      <p class="mb-0">Недавнее</p>
      <ul class="list-group">
        {% for search_user in user.profile.last_search_user.all %}
          <li class="list-group-item" onclick="add_search_user('{{search_user.username}}'); document.location.href='/{{search_user.username}}'" style="border: none;">
            <div class="media">
              {% if search_user.profile.image_profile.url != '' %}
                <img src="{{search_user.profile.image_profile_settings.url}}" width="40px" height="40px" class="rounded-circle" alt="">
              {% else %}
                <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  class="rounded-circle shadow-sm" alt="">
              {% endif %}
              <div class="media-body ml-3">
                <p class="mb-0">{{search_user.get_full_name}} {% if search_user.profile.is_verifed %}<img src="{% static 'App/def_image/verified.svg' %}" height="13x" alt="">{% endif %}</p>
                <p class="mb-0 mt-0">@{{search_user.username}}</p>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </td>
  </tr>
</table>
{% else %}
<table class="w-100" style="height: -webkit-fill-available;">
  <tr>
    <td align='center' class="align-middle animated fadeIn">
      <img src="{% static 'App/def_image/search.svg' %}" width="50%" alt="">
      <h4 class="mt-4">Начните искать прямо сейчас!</h4>
    </td>
  </tr>
</table>
{% endif %}
