<nav class="navbar navbar-light fixed-top z-depth-0 nav" style="padding: 0; border: none;">
  <div class="input-group shadow-sm">
    <div class="input-group-prepend">
      <span class="input-group-text" style="background: #fff; border-radius: 0; border: none; font-size: 1.25rem;"><i class="fa fa-search"></i></span>
    </div>
    <input type="text" autocomplete="off" id="search-input-mobile" class="form-control" data-toggle="collapse" data-target="#collapseExample" style="border: none; border-radius: 0; padding: 12px 0 12px 0;" placeholder="Поиск" aria-label="Username" aria-describedby="basic-addon1">
  </div>
</nav>
