{% load staticfiles %}
<div class="card card-body pt-5 pl-1 pr-1" style="height: -webkit-fill-available;">
  {% if search_posts|length > 0 %}
    <ul class="list-group">
      {% for post in search_posts %}
        <li class="list-group-item">{{post.title}} | @{{post.user.username}}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if search_blogers|length > 0 %}
    <ul class="list-group">
      {% for search_user in search_blogers %}
        <li class="list-group-item" onclick="add_search_user('{{search_user.user.username}}'); document.location.href='/{{search_user.user.username}}'" style="border: none;">
          <div class="media">
            {% if search_user.image_profile.url != '' %}
              <img src="{{search_user.image_profile_settings.url}}" width="40px" height="40px" class="rounded-circle" alt="">
            {% else %}
              <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  class="rounded-circle shadow-sm" alt="">
            {% endif %}
            <div class="media-body ml-3">
              <p class="mb-0">{{search_user.user.get_full_name}} {% if search_user.is_verifed %}<img src="{% static 'App/def_image/verified.svg' %}" height="13x" alt="">{% endif %}</p>
              <p class="mb-0 mt-0">@{{search_user.user.username}}</p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if search == '' %}
    {% include 'search_main/mobile_search/last_search_users.html' %}
  {% endif %}
  {% if search_posts|length == 0 and search_blogers|length == 0 and search != '' %}
    <table class="fw fh" style="width: 100%; height: 100%;">
      <tr>
        <td class="align-middle">
          <p style="margin: 0; text-align: center">Ничего не найдено</p>
        </td>
      </tr>
    </table>
  {% endif %}
</div>
