{% load staticfiles %}

  <nav class="navbar navbar-light fixed-top nav border-bottom shadow-sm" id="main-nav-mobile" style="padding-bottom: 0px;padding-top: 0px;">
    <div class="container ">
      <a onclick="document.location.href=document.referrer"><span class="navbar-brand mb-0"><img src="{% static 'App/def_image/down-arrow.svg' %}" width="25px" class="rotate-90" alt=""></span></a>
      <div class="media">
        {% if blog.user.profile.image_profile != '' %}
        <img src="{{blog.user.profile.image_profile_settings.url}}" width="40px" height="40px" style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
        {% else %}
        <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px" style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
        {% endif %}
        <div class="media-body">
          <p class="font-weight-light m-0" style="cursor: pointer;top: 5px;position: relative; max-width: 99px;overflow:hidden; white-space: nowrap;text-overflow: ellipsis;">{{blog.name}}</p>
          <small class="text-muted"> {{blog.posts.count}} Постов</small>
        </div>
      </div>
      {% if blog.user == user %}
      <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#add-post-modal">Добавить пост</button>
      {% endif %}
      <div class="dropdown">
        <button class="btn btn-outline-dark dropdown-toggle navbar-toggler" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          {% if blog.user == user %}
          <a class="dropdown-item" href="/{{user.username}}/edit">Редактировать</a><a class="dropdown-item" href="/statistic">Статистика</a>
          <a class="dropdown-item" href="/{{user.username}}/edit">Удалить</a>
          {% endif %}
          <a class="dropdown-item" href="/logout">Скопировать ссылку</a>
        </div>
      </div>
      </div>
  </nav>
