{% load staticfiles %}
<div class="row">
  <div class="card fw" style="border-radius: 0px;">
    <div class="card-body">
      <div class="card-text" style="margin-bottom: -0.5rem;">
        <div class="media">
          {% if profile_view.profile.image_profile.url != '0' %}
            <img src="{{profile_view.profile.image_profile_avatar.url}}" class="rounded-circle align-self-center mr-3" width="50px" height="50px" alt="">
          {% else %}
            <img src="{% static 'App/def_image/user.svg' %}" width="50px" height="50px" alt="">
          {% endif %}
          <div class="media-body">
            {% if profile_view.first_name != '' and profile_view.last_name != '' %}
              <h4 class="font-weight-normal mb-0 mt-0" style="width:100%;overflow:hidden; white-space: nowrap;text-overflow: ellipsis;" title="{{user.get_full_name}}">{{profile_view.first_name}} {{profile_view.last_name}}</h4>
            {% endif %}
            <span>
              <p class="font-weight-light d-inline mb-0">@{{profile_view.username}}</p>
              {% if profile_view.profile.is_verifed == True %}
                <img src="{% static 'App/def_image/verified.svg' %}" class="d-inline" style="height: 1rem; margin-bottom: 0px;" alt="">
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      <div class="card-text mt-3">
        {% if profile_view.profile.discription_profile != '' %}
        <pre style="font-family: Segoe UI;">
          {{profile_view.profile.discription_profile}}
        </pre>
        {% endif %}
      </div>
      <div class="card-text">
        {% if profile_view.profile.site != '' %}
          <div style="width:100%;overflow:hidden; white-space: nowrap;text-overflow: ellipsis;"><i class="fa fa-link"></i> <a href="{{profile_view.profile.site}}">{{profile_view.profile.site}}</a></div>
        {% endif %}
      </div>
      {% if profile_view.profile.hide_date_of_registration == False %}
      <div class="card-text">
        <p><i class="fa fa-calendar-alt"></i> Дата регистрации: {{profile_view.profile.Date_registration|date:"M Y г."}}</p>
      </div>
      {% endif %}
      {% if user.username == profile_view.username %}
        <div class="card-text">
          <button class="btn btn-outline-secondary fw" onclick="document.location.href='edit';">Редактировать</button>
        </div>
      {% endif %}
    </div>
  </div>
</div>
