<script>
function follow(){
  jQuery.ajax({
      url:     "../{{profile_view.username}}/",
      type:     "POST",
      dataType: "html",
      data: jQuery("#follow-form").serialize(),
      success: function(response) {
        if($('#follow_btn').hasClass('btn-info')){
          $('#follow_btn').removeClass('btn-info');
          $('#follow_btn').addClass('btn-outline-primary');
          var readers = parseInt($('#readers').text());
          $('#readers').text(readers - 1);
          $('#follow_btn').text('Читать');
        }
        else{
          $('#follow_btn').addClass('btn-info');
          $('#follow_btn').removeClass('btn-outline-primary');
          $('#follow_btn').text('Отписаться');

          var readers = parseInt($('#readers').text());
          $('#readers').text(readers + 1);
        }
      },
      error: function(response) {
          alert("2");
      }
   });
 }
</script>
{% load staticfiles %}

<div class="row">
  <br>
  <br>
  <table>
    <tr>
      <td style="padding: 0;">
        <div class="card text-white">
          {% if blog.image.url != '' %}
            <img src="{{blog.image.url}}" class="img-top" style="border: none;" height="300px" width="100%">
          {% else %}
            <img src="{% static 'App/def_image/white.png' %}" class="img-top" style="border: none;" height="300px" width="100%">
          {% endif %}
          <div class="header-blog-overlay" style="width: 100%;">
            <table class="fw fh">
              <tr>
                <td align='center' class="align-middle">
                  <h3 class="font-weight-light">{{blog.name}}</h3>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </td>
    </tr>
    <tr style="background: #fff; border-bottom: 1px solid #DFDFDF;">
      <td align='center' class="align-middle">
        <ul class="list-inline mx-auto mb-1">
          <li class="list-inline-item mx-auto" style="width: 20%;">
            <div class="text-center" onclick="document.location.href='/{{profile_view.username}}/blogs'">
              <p class="lead" style="margin: 0;">Блогов</p>
              <p style="margin: 0;">{{blogs_cnt}}</p>
            </div>
          </li>
          <li class="list-inline-item mx-auto" style="width: 20%;">
            <div class="text-center" onclick="document.location.href='/{{profile_view.username}}'">
              <p class="lead" style="margin: 0;">Постов</p>
              <p  style="margin: 0;">{{posts_cnt}}</p>
            </div>
          </li>
          <li class="list-inline-item mx-auto" style="width: 20%;">
            <div class="text-center" onclick="{% if user.is_authenticated %}$('#readers-list-modal').modal('show'){% else %}$('#no-logged-user-modal').modal('show'){% endif %}">
              <p class="lead" style="margin: 0;">Читатели</p>
              <p id="readers" style="margin: 0;">{{profile_view.profile.readers.count}}</p>
            </div>
          </li>
          <li class="list-inline-item mx-auto" style="width: 20%;">
            <div class="text-center" onclick="{% if user.is_authenticated %}$('#read-list-modal').modal('show'){% else %}$('#no-logged-user-modal').modal('show'){% endif %}">
              <p class="lead" style="margin: 0;">Читает</p>
              <p  style="margin: 0;">{{profile_view.profile.read.count}}</p>
            </div>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {% if user.is_authenticated %}
            {% if user.username != profile_view.username %}
               <div class="row" style="padding: 0 15px 0 15px;">
                    <form method="post" id="follow-form">
                      {% csrf_token %}
                      <input type="hidden" value="{{profile_view.id}}" name="user_id">
                      <input type="hidden" value="1" name="follow">
                    </form>
                    <table class="fw m-2">
                      <tr>
                        <td style="width: 50%;">
                          <button id="follow_btn" type="button" class="btn fw {% if user in profile_view.profile.readers.all %}btn-info{%else%}btn-outline-primary{%endif%}" onclick="follow()">
                            {% if user in profile_view.profile.readers.all %}Отписаться{%else%}Читать{%endif%}
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn fw btn-primary" onclick="document.location.href='/chat/{{profile_view.username}}'">
                            Сообщение
                          </button>
                        </td>
                      </tr>
                    </table>
                </div>
          {% endif %}
        {% endif %}
      </td>
    </tr>
  </table>
</div>
<div class="modal fade" id="avatar_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Загрузить фотографию</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" enctype="multipart/form-data">
      <div class="modal-body">
          {% csrf_token %}
          <input type="hidden" name="set_avatar" value="1">
          <div class="form-group">
            <input type="file" name="image_profile" id="id_image_profile">
          </div>
          <div class="card-text" style="position: relative;">
            <hr style="margin-bottom: 1.6rem;">
            <div class="text" style="position: absolute; text-align: center;width: 100%; bottom: -0.7rem;"><span class="text-muted" style="background: #fff; padding: 0 1rem 0  1rem;">ГАЛЕРЕЯ</span></div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
      </form>
    </div>
  </div>
</div>
