body{
  overflow-x: hidden;
  font-size: 100%;
  background: #fff !important;
  height: unset !important;
}

html{
  background: #fff !important;
}

.scroller{
  padding-top: 70px !important;
  background: #fff !important;
}

.scroller:hover{
  background: #fafafa !important;
}

.dark-theme-changer{
  position: fixed;
  right: 16px;
  top: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.dark-theme-changer:hover{
  color: #007dff;
}

.scroller.dark-theme:hover{
  background: #000 !important;
}

.action-bar-toggler{
  display: none !important;
}

.action-bar-wrapper{
  display: none !important;
}

#main-card-post{
  border: none;
}

.btn-add{
  display: none;
}

.tool{
  background: transparent;
  border: none;
}

#main_header{
  margin-left: 0 !important;
}

textarea.input.header{
  font-size: 3rem;
}

.hidden{
  display: none;
}

.table > tr > td > .input {
  font-size: 1.4rem;
}

textarea.input.paragraph{
  font-size: 1.4rem;
}

textarea.input{
  padding: 0 !important;
  transition: none !important;
}

li.set.active{
  color: #007BFF;
}

.italic{
  font-style: italic;
}

.bold{
  font-weight: bold;
}

.underline{
  text-decoration: underline;
}

.text-align-tools{
  list-style: none;
  font-size: 1.75rem;
  margin: 0;
}

.text-align-tools > li{
  display: inline-block;
}

.fw{
  width: 100%;
}

#main-container{
  position: relative !important;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#main-container{
  margin-top: 0 !important;
}

.border-bottom-dark{
  border-bottom: 1px solid #000 !important;
}

@media (max-width: 545px) {
  .card-header.bg-white.border-0{
    display: none;
  }
  #main-container{
    margin-top: 50px !important;
  }
  textarea.header{
    font-size: 1.6rem !important;
  }
  textarea.paragraph {
    font-size: 1rem !important;
  }
  .card-body#mobile-main-container{
    padding: 0;
  }
  textarea.input{
    padding: 0px 15px !important;
  }
}

textarea.input{
  outline: none;
  border: none;
  width: 100%;
  height: auto;
  font-family: Segoe UI;
  resize: none;
  overflow: hidden;
  transition: 0.5s;
  border: 1px solid transparent;
}

.instruments-list > li{
  cursor: pointer;
}

.input:disabled{
  background: #fff;
}

.fw{
  width: 100%;
}

.fh{
  height: 100%;
}

.instruments-list{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.instruments-list > li{
  margin: 1rem;
}
