html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.nav{
  background-color: #fff;
  border-bottom: 1px solid #E6E6E6;

}

.brand{
  font-size: 2em;
}

#section-1-text-div{
  display: block;
}

.desktop{
  display: block;
}

.h-fill{
  height: -webkit-fill-available;
}

@media (max-width: 768px) {
  #section-1-text-div{
    display: none;
  }
  .desktop{
    display: none;
  }
  h1{
    font-size: 1.5rem;
  }
  p.lead{
    font-size: 1rem;
  }
}

.bottom > .col-3 > ul > li{
  transition: 0.3s;
}

.bottom > .col-3 > ul > li:hover{
  color: #007bff;
  cursor: pointer;
}

.button-blue{
  background-color: darkorange;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: Roboto;
}

.logo {
  border: 1px solid #007bff;
  border-radius: 5px;
  font-family: sans-serif;
  color: #fff;
  font-size: 2em;
  background: #007bff;
  padding: 1px 12px 1px 12px;
}

.heading{
  font-size: 3em;
  width: 100%;
  text-align: center;
}

.discription-center {
  text-align: center;
  width: 100%;
}

.fh{
  height: 100%;
}

.fw{
  width: 100%;
}

.text-white{
  color: #fff;
}
/*
  mouse animation
*/
.scroll-downs {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #000;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #000;
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/* end mouse */
.download-app>span{
  font-size: 2em;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

#welcome-text{
  padding: 1rem;
}

.network{
  font-size: 2em;
}

ul{
  list-style: none;
}


.section-2{

}

#mobile{
  display: none;
}

@media (max-width: 768px) {
  #mobile{
    display: block;
  }
  .mouse{
    display: none;
  }
  #registration-form{
    display: none;
  }
  #main-nav, .section-1, .section-2,  .section-3,  .section-4, .section-5, .section-6{
    display: none;
  }
  bottom#bottom{
    display: none;
  }
}

.section-4{
  background-color: ;
}

section{
  width: 100%;
  height: 100%;
  position: relative;
}
