{% load cache %}
{% cache 1000 bottom_menu_mobile request.user.username %}
<nav class="navbar navbar-light fixed-bottom nav" id='bottom-menu' style="padding-bottom: 0px; padding-top: 0px; background: #fff; border-top: 1px solid #E6E6E6;">
  <div class="container">
    <div class="row fw mx-auto" style="font-size: 1.5rem;">
      <table class="fw">
        <tr align='center' style="padding-bottom: 5px; padding-top: 5px;">
          <td width='20%' class="text-primary" style="font-size: 1.5rem;" onclick="document.location.href='/'">
            <i class="fas fa-home"></i>
          </td>
          <td width='20%' style="font-size: 1.5rem; padding-bottom: 5px; padding-top: 5px;" onclick="document.location.href='/search'">
            <i class="fas fa-search"></i>
          </td>
          <td width='20%' style="font-size: 1.5rem;" onclick="document.location.href='/creator'">
            <i class="far fa-plus-square"></i>
          </td>
          <td width='20%' style="font-size: 1.5rem;" onclick="document.location.href='/chat'">
            <i class="far fa-comment-alt"></i>
          </td>
          <td width='20%' style="font-size: 1.5rem;" onclick="document.location.href='/{{request.user.username}}'">
            <i class="far fa-user"></i>
          </td>
        </tr>
      </table>
    </div>
  </div>
</nav>
{% endcache %}
