{% if user.is_authenticated %}
{% if user.profile.email_confirm_status == False %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение Email | Jimbl</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'auth/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'confirm_email/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/all.css' %}">
    <link rel="stylesheet" href="{% static 'welcome/css/animate.css' %}">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One|Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body style="overflow: hidden;">
    <nav class="navbar navbar-light nav" style="padding-bottom: 0px;padding-top: 0px;">
      <div class="container">
        <span class="navbar-brand mx-auto mb-0"><img src="{% static 'logo.svg' %}" width='40px' style="margin-bottom: 5px;" alt=""><span style="font-size: 2rem; font-family: 'Coiny', cursive;top: 5px; position: relative;"> Jimbl</span></span>
      </div>
    </nav>

    <section>
      <div class="container fh">
        <div class="row fh">
          <table align="center" class="fh">
            <tr>
              <td class="td-email" style="top: -100px;position: relative;">
                <div class="card shadow">
                  <div class="card-header" style="background: #fff;">
                    <h1 class="font-weight-light title">Подтверждение Email</h1>
                  </div>
                  <div class="card-body" style="padding: 0 10px;">
                    <div class="form-group" id="enter_email" style="z-index: 1;">
                      <form id="email-form">
                        {% csrf_token %}
                        <input type="hidden" name="enter_email" value="1">
                        <label for="exampleInputEmail1">Введите ваш Email</label>
                        <div id="mail-input">
                          {% include 'confirm_email/input-mail.html' %}
                        </div>
                        <small id="emailHelp" class="form-text text-muted">На вашу электронную почту будет выслан 6-ти значный код.</small>
                      </form>
                      <br>
                      <button type="button" id="next" class="btn btn-primary fw">Далее</button>
                      <span class="hidden" id="anim_to_key">
                        <div id="fountainG" class="mt-3">
                        	<div id="fountainG_1" class="fountainG"></div>
                        	<div id="fountainG_2" class="fountainG"></div>
                        	<div id="fountainG_3" class="fountainG"></div>
                        	<div id="fountainG_4" class="fountainG"></div>
                        	<div id="fountainG_5" class="fountainG"></div>
                        	<div id="fountainG_6" class="fountainG"></div>
                        	<div id="fountainG_7" class="fountainG"></div>
                        	<div id="fountainG_8" class="fountainG"></div>
                        </div>
                        <center>
                          <span>Отправляю код, пожалуйста подождите</span>
                        </center>
                      </span>
                    </div>
                    <div class="form-group hidden" id="enter_key">
                      <form>
                        <label for="exampleInputEmail1">На email <b id="to_email"></b> отправлено письмо с кодом.</label>
                        <input type="hidden" id="name_user" value="{{user.username}}">
                        <div id="input">
                          {% include 'confirm_email/input.html' %}
                        </div>
                        <small class="form-text text-muted">Email введён не верно? <span id="back" class="text-primary" style="cursor: pointer;">Назад</span></small>
                        <br>
                        <button type="button" id="submit_key" class="btn btn-primary fw">Подтвердить</button>
                      </form>
                      <form id="email_confirm_repeat">
                        {% csrf_token %}
                        <input type="hidden" name="email_confirm_repeat" value="1">
                      </form>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>

    <bottom style="position: absolute; bottom: 0; width: 100%;">
      <small class="form-text text-center">© 2018 Jimbl. Все права защищены. <br> <a href="/terms">Пользовательское соглашение</a></small>
    </bottom>

    <script type="text/javascript" src="{% static 'font-awesome/all.js' %}"></script>
    <script type="text/javascript" src="{% static 'confirm_email/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
{% else %}
<script type="text/javascript">
  document.location.href='/{{user.username}}';
</script>
{% endif %}
{% else %}
<script type="text/javascript">
  document.location.href='/welcome';
</script>
{% endif %}
