{% load staticfiles %}
<div class="card avatar z-depth-0 main" style="border: none; background: transparent;">
  <table class="fw">
    <tr>
      <td align='center' id="full_image_profile">
        <img src="{{profile_view.profile.image_profile_avatar.url}}" class="float-center rounded-circle shadow" alt="avatar">
        {% if user == profile_view %}
          <table align="center">
            <tr>
              <td align="center">
                <div id="img-avatar-overlay" class="card-img-overlay text-white hidden animated fadeIn">
                  <table class="fw fh">
                    <tr>
                      <td class="align-middle" align="center">
                        <p class="card-text"><button class="btn btn-outline-light btn-sm" type="button" data-toggle="modal" data-target="#avatar-modal">Изменить</button></p>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
        {% endif %}
      </td>
      <td class="hidden" id="short_image_profile">
        <div class="media" style="position: relative; top: 8px;">
          {% if profile_view.profile.image_profile.url != '' %}
            <img src="{{profile_view.profile.image_profile_settings.url}}" width="40px" height="40px" class="float-center rounded-circle shadow-sm" alt="avatar">
          {% else %}
            <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  class="rounded-circle shadow-sm" alt="">
          {% endif %}
          <div class="media-body ml-3 text-left" style="position: relative; bottom: 4px;">
            <h5 class="font-weight-light mb-0">{{profile_view.get_full_name}}</h5>
            <p class="font-weight-light mb-0">@{{profile_view.username}}</p>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
