<nav class="navbar navbar-dark nav navbar-expand-lg fixed-bottom animated slideInUp" style="background: rgba(0,0,0,.8); border: none;" id="banner">
  <button class="close-banner" id="banner-close">
    <i class="fa fa-times"></i>
  </button>
  <div class="container">
    <div class="row fw">
      <table class="fw fh">
        <tr>
          <td>
            <span class="logo-banner">J</span>
          </td>
          <td class="text-white" align="left">
            <h5>Войдите в Jimbl</h5>
            <p>Войдите, чтобы читать блоги людей, комментрировать, ставить "Нравится" <br> или создайте свой потрясающий блог!</p>
          </td>
          <td align="right">
            <button class="btn btn-primary" onClick="document.location.href='/accounts/login/';">Войти</button>
            <button class="btn btn-simple-blue" onClick="document.location.href='/registration/';">Создать блог</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</nav>
