{% include 'profile/include/scripts_main_card.html' %}
<br>
{% load staticfiles %}
<table align="center" class="fw">
  <tr>
    <td class="card-post">
      <div class="card z-depth-0" style="border: none; background: transparent;">
        <div class="card-body p-0">
          {% block nav %}
            <ul class="nav justify-content-center border-bottom" id="viewer">
              <li class="nav-item">
                <a class="nav-link text-dark active" href="">Лента</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-muted" href="blogs">Блоги</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link text-muted" href="media">Медиа</a>
              </li> -->
            </ul>
          {% endblock %}
        </div>
        <br>
        <div class="post-container">
          {% include 'profile/include/post_card.html' %}
        </div>
        {% if profile_view == user %}
        {% if not profile_view.marker.add_name or not profile_view.marker.add_image or not profile_view.marker.add_discription or not profile_view.marker.add_followers or not profile_view.marker.add_email %}
        <br>
        <div class="card z-depth-0" style="background: transparent; border: none;">
          <center>
            <p class="lead mt-3 mb-0">Заполните профиль</p>
            <p class="text-primary">Выполнено <span id="count_of_recoments">0</span>/5</p>
          </center>
          <div class="row mb-5">
            <div class="scroll-wrapper mx-auto" style="overflow-x: auto; width: 10px;">
            <script>
              $('.scroll-wrapper').css('width', $('.card-post').first().width() - 32 + 'px')
            </script>
            <div class="card-deck" style="width: max-content; padding-block-end: 10px; padding-left: 5px;">
              {% if not profile_view.marker.add_name %}
              <div class="card recoments" style="width: 15rem;">
                <img class="card-img-top mt-4" src="{% static 'App/def_image/user-set.svg' %}" width="60px" height="60px" alt="Card image cap">
                <div class="card-body text-center">
                  <h6 class="card-title">Добавьте своё имя</h6>
                  <p class="card-text" style="font-size: 0.8rem;">Добавьте ваше имя и фамилию, чтобы ваши читатели знали чей этот аккаунт.</p>
                </div>
                <div class="card-footer m-1 border-0 text-center" style="background: #fff;">
                  <a href="/{{user}}/edit" class="btn btn-primary btn-sm">Добавить имя</a>
                </div>
              </div>
              {% endif %}
              {% if not profile_view.marker.add_image %}
              <div class="card recoments" style="width: 15rem;">
                <img class="card-img-top mt-4" src="{% static 'App/def_image/gallery.svg' %}" width="60px" height="60px" alt="Card image cap">
                <div class="card-body text-center">
                  <h6 class="card-title">Добавьте фото</h6>
                  <p class="card-text" style="font-size: 0.8rem;">Загрузите фото профиля и обложку профиля, так ваш аккаунт станет привлекательней!</p>
                </div>
                <div class="card-footer m-1 border-0 text-center" style="background: #fff;">
                  <a href="/{{user}}/edit" class="btn btn-primary btn-sm">Добавить фото</a>
                </div>
              </div>
              {% endif %}
              {% if not profile_view.marker.add_discription %}
              <div class="card recoments" style="width: 15rem;">
                <img class="card-img-top mt-4" src="{% static 'App/def_image/edit.svg' %}" width="60px" height="60px" alt="Card image cap">
                <div class="card-body text-center">
                  <h6 class="card-title">Напишите о себе</h6>
                  <p class="card-text" style="font-size: 0.8rem;">Расскажите вашим читателям о себе... Чем вы занимаетесь?</p>
                </div>
                <div class="card-footer m-1 border-0 text-center" style="background: #fff;">
                  <a href="/{{user}}/edit" class="btn btn-primary btn-sm" style="white-space: nowrap;">Добавить информацию</a>
                </div>
              </div>
              {% endif %}
              {% if not profile_view.marker.add_followers %}
              <div class="card recoments" style="width: 15rem;">
                <img class="card-img-top mt-4" src="{% static 'App/def_image/group.svg' %}" width="60px" height="60px" alt="Card image cap">
                <div class="card-body text-center">
                  <h6 class="card-title" style="white-space: pre-wrap">Найдите себе понравшихся блогеров</h6>
                  <p class="card-text" style="font-size: 0.8rem;">Найдите себе пользователей, на которых вы хотели подписаться.</p>
                </div>
                <div class="card-footer m-1 border-0 text-center" style="background: #fff;">
                  <a href="/{{user}}/edit" class="btn btn-primary btn-sm" style="white-space: nowrap;">Перейти к поиску</a>
                </div>
              </div>
              {% endif %}
              {% if not profile_view.marker.add_email %}
              <div class="card recoments" style="width: 15rem;">
                <img class="card-img-top mt-4" src="{% static 'App/def_image/mail.svg' %}" width="60px" height="60px" alt="Card image cap">
                <div class="card-body text-center">
                  <h6 class="card-title">Укажите Email</h6>
                  <p class="card-text" style="font-size: 0.8rem;">Укажите Email и подтвердите его, тем самым вы обезопасите свой аккаунт!</p>
                </div>
                <div class="card-footer m-1 border-0 text-center" style="background: #fff;">
                  <a href="/{{user}}/edit" class="btn btn-primary btn-sm" style="white-space: nowrap;">Указать Email</a>
                </div>
              </div>
              {% endif %}
             </div>
             </div>
            </div>
         </div>
         {% endif %}
         {% endif %}
        </div>
        <div class="load-wrapp hidden">
            <br>
            <div class="load-3">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </td>
  </tr>
</table>
