<div class="card float-right  mt-3" style="width: 300px;" id="media-card">
  <div class="card-header" style="background: #fff;">
    <i class="far fa-images"></i><span class="text-muted"> {{media_count}} Фото и видео</span>
  </div>
  <div class="card-body">
    <div class="card-group">
      <div class="row fw mx-auto">
        {% for media in media_list|slice:'0:3' %}
          <div class="card col-4 z-depth-0" style="border: none; padding: 3px 3px;">
            {% if media.image.url %}
              <img src="{{media.image_media.url}}" class="img-fluid rounded" alt="">
            {% else %}
              <video width="100%" height="100%">
                 <source src="{{media.video.url}}" type="video/mp4">
              </video>
            {% endif %}
          </div>
        {% empty %}
          <p>Нет фото / видео</p>
        {% endfor %}
      </div>
      <div class="row fw mx-auto">
        {% for media in media_list|slice:'3:6' %}
          <div class="card col-4 z-depth-0" style="border: none; padding: 3px 3px;">
            {% if media.image.url %}
              <img src="{{media.image_media.url}}" class="img-fluid rounded" alt="">
            {% else %}
            <video width="100%" height="100%">
               <source src="{{media.video.url}}" type="video/mp4">
            </video>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class="row fw mx-auto">
        {% for media in media_list|slice:'6:9' %}
          <div class="card col-4 z-depth-0" style="border: none; padding: 3px 3px;">
            {% if media.image.url %}
              <img src="{{media.image_media.url}}" class="img-fluid rounded" alt="">
            {% else %}
            <video width="100%" height="100%">
               <source src="{{media.video.url}}" type="video/mp4">
            </video>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
