{% load staticfiles %}
<div class="card fw  float-right mt-3" style="width: 300px;" id="right-more-profiles-card">
  <div class="card-header" style="background: #fff;">
    <h5 class="font-weight-normal">Вам может понравится</h5>
  </div>
  <div class="card-body p-0">
    <ul class="list-group list-group-flush m-0 p-0">
    {% for bloger in recomended_profiles %}
      {% if bloger.user != profile_view  %}
      <a href="/{{bloger.user}}" class="list-group-item list-group-item-action">
        <div class="media">
          {% if bloger.image_profile != '' %}
          <img class="mr-3 align-self-center rounded-circle" style="cursor: pointer;" onclick="document.location.href='/{{bloger.user.username}}'" src="{{bloger.image_profile_settings.url}}" width="40px" height="40px" alt="Generic placeholder image">
          {% else %}
          <img class="mr-3 align-self-center rounded-circle" style="cursor: pointer;" onclick="document.location.href='/{{bloger.user.username}}'" src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  alt="Generic placeholder image">
          {% endif %}
          <div class="media-body">
            <h5 class="mt-0 font-weight-light" style="margin-bottom: 0px; cursor: pointer;">{{bloger.user.get_full_name}}</h5>
            <table class="fw">
              <tr>
                <td onclick="document.location.href='/{{bloger.user.username}}'">
                  <span style="cursor: pointer;" class="font-weight-light">@{{bloger.user.username}}</span>
                </td>
                <td align='right'>
                  <span class="font-weight-light">{{bloger.readers.count}} Читателей</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </a>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</div>
