{% load staticfiles %}
{% for post in posts %}

{% if post.type == 'repost' %}
  {% include 'profile/include/posts/share_post.html' %}
{% endif %}

{% if post.blog != '' and post.title != '' and post.image.url != '' and post.data != '' and post.discription != '' and post.type != 'repost' %}
  {% include 'profile/include/posts/full_post.html' %}
{% endif %}

{% empty %}
  {% if user != profile_view %}
  <div class="card fw empty-posts-card mb-5" style="min-height: inherit;">
    <div class="card-body text-center">
      <p class="emty-post-title">Публикаций пока нет!</p>
      <p class="lead">Подпишитесь на блогера, чтобы не пропустить не одной записи!</p>
    </div>
  </div>
  {% else %}
  <div class="card fw empty-posts-card mb-5" style="min-height: inherit;">
    <div class="card-body text-center">
      <p class="emty-post-title">Это ваш профиль!</p>
      <p class="lead">Сделанные вами публикации будут отображаться здесь!</p>
      <a href="/creator">Сделать первый пост</a>
    </div>
  </div>
  {% endif %}
{% endfor %}
