{% load staticfiles %}
<div class="card fw float-right" style="width: 300px;" id="profile-card">
  <div class="card-body">
    <div class="card-text" style="margin-bottom: -0.5rem;">
      {% if profile_view.first_name != '' or profile_view.last_name != '' %}
        <h4 style="width:100%;overflow:hidden; white-space: nowrap;text-overflow: ellipsis;" class="font-weight-normal" title="{{user.get_full_name}}">{{profile_view.first_name}} {{profile_view.last_name}}</h4>
      {% endif %}
    </div>
    <div class="card-text font-weight-light mb-3">
      @{{profile_view.username}}
      {% if profile_view.profile.is_verifed == True %}
        <img src="{% static 'App/def_image/verified.svg' %}" class="" style="height: 1rem; margin-bottom: 0px;" alt="" title="Подтвержденный">
      {% endif %}
    </div>
    <div class="card-text">
      {% if profile_view.profile.discription_profile != '' %}
      <pre style="font-family: Segoe UI;">
        {{profile_view.profile.discription_profile}}
      </pre>
      {% endif %}
    </div>
    <div class="card-text">
      {% if profile_view.profile.site != '' %}
        <div class="font-weight-light" style="width:100%;overflow:hidden; white-space: nowrap;text-overflow: ellipsis;"><i class="fa fa-link"></i> <a href="{{profile_view.profile.site}}">{{profile_view.profile.site}}</a></div>
      {% endif %}
    </div>
    <div class="card-text">
      {% if profile_view.profile.hide_date_of_registration == False %}
        <p class="font-weight-light" style="width:100%;overflow:hidden; white-space: nowrap;text-overflow: ellipsis;"><i class="fa fa-calendar-alt"></i> Дата регистрации: {{profile_view.profile.Date_registration|date:"M Y г."}}</p>
      {% endif %}
    </div>
    {% if user.username == profile_view.username %}
      <div class="card-text mt-2">
        <button class="btn btn-outline-secondary fw" onclick="document.location.href='/{{user.username}}/edit';">Редактировать</button>
      </div>
    {% endif %}
  </div>
</div>
