<nav class="navbar navbar-light fixed-bottom nav" id='bottom-menu' style="padding-bottom: 5px; padding-top: 5px; background: #fff; border-top: 1px solid #E6E6E6;">
  <div class="container">
    <div class="row fw mx-auto" style="font-size: 1.5rem;">
      <table class="fw">
        <tr align='center'>
          <td width='20%'>
            <i class="fas fa-home" onclick="document.location.href='/'"></i>
          </td>
          <td width='20%'>
            <i class="fas fa-search" onclick="document.location.href='/search'"></i>
          </td>
          <td width='20%'>
            <i class="far fa-plus-square text-primary" onclick="document.location.href='/creator'"></i>
          </td>
          <td width='20%'>
            <i class="far fa-comment-alt"></i>
          </td>
          <td width='20%'>
            <i class="fa fa-user" onclick="document.location.href='/{{user.username}}'"></i>
          </td>
        </tr>
      </table>
    </div>
  </div>
</nav>
