<div class="card shadow-sm fw fh" style="border: none; border-bottom: 1px solid #ccc;">
  <div class="card-body fh" style="padding: 0 5px 7px 5px;">
    <table class="fh fw">
      <tr>
        <td align="left" style="font-size: 1.75rem;">
          <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa fa-bars"></i>
          </button>
        </td>
        <td align='center' style="font-size: 1.75rem;">
          <i class="far fa-clone" onclick="paste_element()"></i>
          <i class="fas fa-cut" onclick="cut_element()"></i>
          <i onclick="removeItem()" class="far fa-trash-alt"></i>
        </td>
        <td align="right" style="font-size: 1.75rem;">
          <i class="far fa-file" onclick="clear_post()"></i>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_post">Опубликовать</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="collapse" id="collapseExample" style="margin-top: 4px;">
  <div class="card card-body">
    <ul class="instruments-list text-left">
      <li>
        <a onclick="add_header();" class="text-muted"><i class="fa fa-heading"></i> Заголовок</a>
      </li>
      <li>
        <a onclick="add_paragraph()" class="text-muted"><i class="fa fa-font"></i> Текст</a>
      </li>
      <li>
        <a data-toggle="modal" data-target="#add_image_modal" class="text-muted"><i class="far fa-image"></i> Картинка</a>
      </li>
      <li>
        <a  data-toggle="modal" data-target="#add_video_modal" class="text-muted"><i class="fa fa-film"></i> Видео</a>
      </li>
      <li>
        <a onclick="add_hr()" class="text-muted"><i class="far fa-window-minimize"></i> Разделитель</a>
      </li>
      <hr>
      <li>
        <a href="" class="text-muted">Справка</a>
      </li>
      <li>
        <a href="" class="text-muted">Помощь</a>
      </li>
    </ul>
  </div>
</div>

<!-- <div class="modal fade" id="add_image_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить фото</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="image_form">
        <div class="modal-body">
            {% csrf_token %}
            <input type="hidden" name="user" id="id_user" value="{{user.id}}">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="URL">
            </div>
            <div class="card-text" style="position: relative;">
              <hr style="margin-bottom: 1.6rem;">
              <div class="text" style="position: absolute; text-align: center;width: 100%; bottom: -0.7rem;"><span class="text-muted" style="background: #fff; padding: 0 1rem 0  1rem;">ИЛИ</span></div>
            </div>
            <div class="form-group">
              <input type="file" name="image" id="id_image" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="add_image(event)">Добавить</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="add_video_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить Видео</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" enctype="multipart/form-data">
        <div class="modal-body">
            {% csrf_token %}
            <input type="hidden" name="user" id="id_user" value="{{user.id}}">
            <div class="form-group">
              <textarea name="name" rows="8" class="form-control" placeholder="HTML код"></textarea>
            </div>
            <div class="card-text" style="position: relative;">
              <hr style="margin-bottom: 1.6rem;">
              <div class="text" style="position: absolute; text-align: center;width: 100%; bottom: -0.7rem;"><span class="text-muted" style="background: #fff; padding: 0 1rem 0  1rem;">ИЛИ</span></div>
            </div>
            <div class="form-group">
              <input type="file" name="video" id="id_video" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
      </form>
    </div>
  </div>
</div> -->

<!-- <div class="modal fade" id="create_post" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Создание Превью</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="../" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="html_data" id="id_html_data" value="">
        <div class="modal-body">
            <div class="form-group">
              <input type="hidden" value="{{user.id}}" name="user" id="id_user">
              <select type="hidden" style="display: none;" name="blog" id="id_blog" value="---------">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="id_title" name="title" placeholder="Заголовок">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="id_discription" name="discription" placeholder="Описание">
            </div>
            <div class="form-group">
              <input type="file" name="image" id="id_image" class="form-control" style="border: none;">
            </div>
            <div class="form-group">
              <label for="">Катерегории</label>
              <select name="cateregory_id" id="id_cateregory_id" class="form-control">
                <option value="1" selected>Путешествия</option>
                <option value="2">Авто</option>
                <option value="3">Природа</option>
                <option value="4">Лайфхаки</option>
                <option value="5">Бизнес и Финансы</option>
                <option value="6">Новости и Политика</option>
                <option value="7">Еда и Кулинария</option>
                <option value="8">Наука и Техника</option>
                <option value="9">Спорт и Здоровье</option>
                <option value="10">Мода и Шоппинг</option>
              </select>
              <small class="text-muted">Выберете для своего поста катерегорию, это позволит людям легко находить ваш пост</small>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Опубликовать</button>
        </div>
    </form>
    </div>
  </div>
</div> -->
