<div class="mobile-tools-bar mt-2">
  <div class="row">
    <div class="tools">
      <table style="border-collapse: separate;" cellspacing="10">
        <tr>
          <td style="font-size: 1.5rem;">
            <i class="fa fa-align-center"></i>
          </td>
          <td style="font-size: 1.5rem;">
            <select class="form-control font-align-select" onchange="align(this.value)">
              <option value="left">Слева</option>
              <option value="center" selected>Центр</option>
              <option value="right">Справа</option>
            </select>
          </td>
          <td style="font-size: 1.5rem;">
            <i class="fas fa-text-height"></i>
          </td>
          <td style="font-size: 1.5rem;">
            <select class="form-control font-size-select" onchange="set_height(this.value)">
              <option value="1">1</option>
              <option value="1.2">2</option>
              <option value="1.4">3</option>
              <option value="1.6">4</option>
              <option value="1.8">5</option>
              <option value="2.2">6</option>
              <option value="2.4">7</option>
              <option value="2.6">8</option>
              <option value="2.8">9</option>
              <option value="3">10</option>
              <option value="3.2">11</option>
              <option value="3.4">12</option>
              <option value="3.6">13</option>
              <option value="3.8">14</option>
              <option value="4">15</option>
            </select>
          </td>
          <td style="font-size: 1.5rem;">
            <i class="fas fa-font"></i>
          </td>
          <td style="font-size: 1.5rem;">
            <select class="form-control font-family-select" onchange="set_font_family(this.value)">
              <option value="Segoe UI" id="Segoe UI">Segoe UI</option>
              <option value="Roboto" id="Roboto">Roboto</option>
              <option value="Impact" id="Impact">Impact</option>
              <option value="Cursive">Cursive</option>
              <option value="sans-serif">Sans Serif</option>
              <option value="Times">Times New Roman</option>
              <option value="Monospace">Monospace</option>
            </select>
          </td>
          <td style="font-size: 1.5rem;">
            <span class="set set-bold">
              <i class="fas fa-bold"></i>
            </span>
          </td>
          <td style="font-size: 1.5rem;">
            <span class="set set-italic">
              <i class="fas fa-italic"></i>
            </span>
          </td>
          <td style="font-size: 1.5rem;">
            <span class="set set-underline">
              <i class="fas fa-underline"></i>
            </span>
          </td>
          <td style="font-size: 1.5rem;">

          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
