{% load staticfiles %}
<br>
{% for blog in blogs %}
<div class="card blog border-0 mb-5" style="width: 100%;">
  <div class="card border-0" id="img-turn-overlay">
    <img class="card-img" src="{{blog.image_preview.url}}">
    <div class="card-img-overlay text-white">
      <table class="fw fh">
        <tr>
          <td class="align-bottom" align="center">
            <div class="card z-depth-1" style="position: relative; top: 79px;">
              <div class="card-body text-dark">
                <h1 class="card-title font-weight-light">{{blog.name}}</h1>
                <p class="text-muted lead mb-0">{{blog.discription}}</p>
              </div>
              <div class="card-footer indigo lighten-1 p-2 pl-4 pr-4">
                <table class="w-100">
                  <tr>
                    <td align='left'>
                      {% if blog.user.profile.image_profile.url != '' %}
                        <img src="{{blog.user.profile.image_profile_settings.url}}" width="30px" class="d-inline rounded-circle z-depth-1" alt="">
                      {% else %}
                        <img src="{% static 'App/def_image/user.svg' %}" width="30px" class="d-inline rounded-circle z-depth-1" alt="">
                      {% endif %}
                      <h5 class="d-inline"> @{{blog.user.username}}</h5>
                      <h5 class="d-inline ml-4" title="В этом блоге {{blog.posts.count}} публикаций"><i class="fas fa-paperclip"></i> {{blog.posts.count}}</h5>
                      <div class="dropdown d-inline dropup ml-4">
                        <button type="button" class="btn btn-outline-white btn-sm z-depth-0 p-0" style="height: 28px; border: none !important;" data-toggle="dropdown">
                          <i class="fa fa-ellipsis-h fa-2x"></i>
                        </button>
                        <div class="dropdown-menu dropdown-primary p-0 m-0 pl-2" style="background: transparent; border: none;  box-shadow: none;">
                          <div class="card" style="width: 17rem;">
                            {% if user == blog.user %}
                              <a class="dropdown-item" href="/creator/edit-post/{{post.id}}" onclick="sessionStorage.setItem('edit_status', 1);">Редактировать</a>
                            {% endif %}
                            {% if user == blog.user %}
                              <a class="dropdown-item" data-toggle="modal" data-target="#delete_blog_modal" data-title="{{blog.name}}" data-id="{{blog.id}}" style="cursor: pointer;">Удалить</a>
                            {% endif %}
                            {% if user != blog.user %}
                              <a class="dropdown-item" data-toggle="modal" data-target="#report_blog_modal" data-title="{{blog.name}}" data-id="{{blog.id}}">Пожаловаться</a>
                            {% endif %}
                             <input id="link_post_{{post.id}}" value="www.jimbl.ru/{{post.user}}/post/{{post.id}}" style="position: absolute; opacity: 0; top: 9999; cursor: pointer; z-index: -100;">
                             <button class="dropdown-item clipboard-trigger" style="cursor: pointer;" data-clipboard-target="#link_post_{{post.id}}" onclick="$('#clipboard_success_modal').modal('show')">Скопировать ссылку</button>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td align='rigth'>
                      <a href="/{{blog.user.username}}/blogs/{{blog.id}}" class="white-text d-flex justify-content-end"><h5 class="mb-0">Читать блог <i class="fas fa-angle-double-right"></i></h5></a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% empty %}
  {% if user != profile_view %}
    <div class="card text-center" style="border: none;">
        <div class="card-body">
          <p class="emty-post-title">Блогов нет!</p>
          <p class="lead">Подпишитесь на блогера, чтобы не пропустить не одной записи!</p>
        </div>
    </div>
  {% else %}
    <div class="card text-center" style="border: none;">
        <div class="card-body">
          <p class="emty-post-title">Это страница ваших блогов!</p>
          <p class="lead">Ваши блоги будут отображаться здесь!</p>
        </div>
    </div>
  {% endif %}
{% endfor %}
