{% extends 'profile/index.html' %}
{% load staticfiles %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'App/blogs/css/main.css' %}">
{% endblock %}

{% block load_content_form %}
<form class="hidden" id="load-content-form">
  {% csrf_token %}
  <input type="hidden" name="load_content" value="1" id="id_load_content">
  <input type="hidden" name="count_post" value="" id="id_count_post">
  <input type="hidden" name="window_width" value="" id="id_window_width">
  <input type="hidden" name="page" value="/{{blog.user.username}}/blogs/{{blog.id}}">
</form>
{% endblock %}

{% block top_profile %}
  {% include 'blogs/include/top_profile.html' %}
{% endblock %}

{% block mobile_block_profile %}
  {% include 'blogs/mobile/top_profile.html' %}
{% endblock %}

{% block mobile_profile_card %}
  {% include 'blogs/mobile/profile_card.html' %}
{% endblock %}

{% block mobile_navbar %}
  {% include 'blogs/mobile/navbar.html' %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl-3">
    <br>
    {% include 'profile/include/profile_card.html' %}
    <br>
    <div class="float-right mt-3">
      <div class="feedback text-muted" style="width: 300px; text-align: -webkit-center;">
        <small><a class="mr-1 text-muted" href="/welcome">О нас</a></small>
        <small><a class="mr-1 text-muted" href="/help">Справка</a></small>
        <small><a class="mr-1 text-muted" href="/forum">Обратная связь</a></small>
        <small><a class="mr-1 text-muted" href="">Наш блог</a></small>
        <small><a class="text-muted" href="/terms">Пользовательское соглашение</a></small><br>
        <small>© 2019 Jimbl.</small>
      </div>
    </div>
  </div>
  <div class="col-xl-9 col-ld-6 col-md-12 col-sm-12" id="main-card">
    <br>
    <table align="center" class="fw">
      <tr>
        <td class="card-post">
          <div class="card border-0 z-depth-0" style="border: none; background: transparent;">
            <div class="card-body">
                <ul class="nav justify-content-center border-bottom" id="viewer">
                  <li class="nav-item">
                    <a class="nav-link text-muted" href="/{{profile_view.username}}">Лента</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark active" href="/{{profile_view.username}}/blogs">Блоги</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="/{{profile_view.username}}/media">Медиа</a>
                  </li> -->
                </ul>
                {% if user == blog.user %}
                  <center>
                    <br>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#add-post-modal">Прикрепить пост</button>
                    <a href="/creator" class="btn btn-primary">Создать пост</a>
                  </center>
                {% endif %}
             </div>
            </div>
            <div class="post-container">
              {% include 'blogs/include/post_view.html' %}
            </div>
            <br>
            <div class="load-wrapp hidden">
                <div class="load-3">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="modal fade" id="delete_post_from_blog_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-light">Удалить пост из {{blog.name}}</h5>
      </div>
      <div class="modal-body">
        <center>
          <img src="{% static 'App/def_image/trash.svg' %}" class="mb-3 mt-2" width="20%" alt="">
        </center>
          <h5 class="font-weight-light text-center">Вы точно хотите удалить данный пост из блога?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="delete_post_from_blog_modal_btn">Удалить</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
