{% for post in blog_posts %}

{% if post.blog != '' and post.title != '' and post.image.url != '' and post.data != '' and post.discription != '' and post.type != 'repost' %}
  {% include 'blogs/include/full_post.html' %}
{% endif %}

{% empty %}
  <div class="card fw" style="border-radius: 0; min-height: inherit;">
    <div class="card-body text-center">
      <h1 class="font-weight-light emty-post-title">Публикаций пока нет!</h1>
      <p class="font-weight-light lead">Подпишитесь на блогера, чтобы не пропустить не одной записи!</p>
    </div>
  </div>
{% endfor %}
