{% load staticfiles %}
<div class="container-fluid p-0">
  <div class="row">
    <div class="card z-depth-0 fw" style="border: none;">
      <div class="row" style="height: 27rem;" id="top">
        {% if blog.image.url != 0 %}
        <div class="card card-image" style="background-image: url({{blog.image.url}}); width: -webkit-fill-available; background-size: cover;">

            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-light py-5 px-4">
              <div style="width: -webkit-fill-available; height: -webkit-fill-available;">
                <table class="w-100" style="height: -webkit-fill-available;">
                  <tr>
                    <td class="align-middle">
                      <!-- <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5> -->
                      <h1 class="card-title pt-2"><strong>{{blog.name}}</strong></h1>
                      <p class="lead">{{blog.discription}}</p>
                      <!-- <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a> -->
                    </td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
          <!-- <img src="{{blog.image.url}}" alt="" class="img-fluid" width="100%">
          <div class="header-blog-overlay">
            <table class="fw fh">
              <tr>
                <td align="center" class="align-middle" style="top: -25px; position: relative;">
                  <h1 class="display-3">{{blog.name}}</h1>
                  <p class="lead"><span id="top_profile_blog_cnt">{{blog.posts.count}}</span> Постов</p>
                </td>
              </tr>
            </table>
          </div> -->
        {% else %}
        {% if profile_view.profile.image_header.url != '' %}
          <img src="{{profile_view.profile.image_header.url}}" alt="" class="img-fluid" width="100%">
          {% if profile_view.profile.vk != '' or profile_view.profile.facebook != '' or profile_view.profile.instagram != '' or profile_view.profile.twitter != '' or profile_view.views.count > 0 %}
          <div class="header-overlay">
            <table>
              <tr>
                {% if user == profile_view and profile_view.views.count > 0 %}
                <td>
                  <p class="mb-0 mr-4 pl-3" style="font-size: 1.5rem;"><i class="far fa-eye"></i> {{profile_view.views.count}}</p>
                </td>
                {% endif %}
                <td>
                  <p class="mb-0 mr-1" style="font-size: 2rem;">
                    {% if profile_view.profile.vk != '' %}
                      <a class="text-white" href="{{user.profile.vk}}" target="_blank"><i class="fab fa-vk"></i></a>
                    {% endif %}
                    {% if profile_view.profile.facebook != '' %}
                      <a class="text-white" href="{{user.profile.facebook}}" target="_blank"><i class="fab fa-facebook"></i></a>
                    {% endif %}
                    {% if profile_view.profile.instagram != '' %}
                      <a class="text-white" href="{{user.profile.instagram}}" target="_blank"><i class="fab fa-instagram"></i></a>
                    {% endif %}
                    {% if profile_view.profile.twitter != '' %}
                      <a class="text-white" href="{{user.profile.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>
                    {% endif %}
                  </p>
                </td>
              </tr>
            </table>
          </div>
          {% endif %}
        {% else %}
          <img src="{% static 'App/def_image/white.png' %}" style="width: 100%; height: inherit;" alt="">
          {% if profile_view.profile.vk != '' or profile_view.profile.facebook != '' or profile_view.profile.instagram != '' or profile_view.profile.twitter != '' or profile_view.views.count > 0 %}
          <div class="header-overlay">
            <table>
              <tr>
                {% if user == profile_view and profile_view.views.count > 0 %}
                <td>
                  <p class="mb-0 mr-4 pl-3" style="font-size: 1.5rem;"><i class="far fa-eye"></i> {{profile_view.views.count}}</p>
                </td>
                {% endif %}
                <td>
                  <p class="mb-0 mr-1" style="font-size: 2rem;">
                    {% if profile_view.profile.vk != '' %}
                      <a class="text-white" href="{{user.profile.vk}}" target="_blank"><i class="fab fa-vk"></i></a>
                    {% endif %}
                    {% if profile_view.profile.facebook != '' %}
                      <a class="text-white" href="{{user.profile.facebook}}" target="_blank"><i class="fab fa-facebook"></i></a>
                    {% endif %}
                    {% if profile_view.profile.instagram != '' %}
                      <a class="text-white" href="{{user.profile.instagram}}" target="_blank"><i class="fab fa-instagram"></i></a>
                    {% endif %}
                    {% if profile_view.profile.twitter != '' %}
                      <a class="text-white" href="{{user.profile.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>
                    {% endif %}
                  </p>
                </td>
              </tr>
            </table>
          </div>
          {% endif %}
        {% endif %}
        {% endif %}
      </div>
      <div class="container-fliud z-depth-1" id="top-profile-sticky" style="background: #fff; width: -webkit-fill-available !important;">
      <div class="container">
      <div class="row fw border-0">
        <div class="col-3">
          <div class="card z-depth-0 text-center" style="border: none; margin-bottom: -8px; position: absolute; bottom: 0; background: transparent;">
            <div class="card-body">
              {% if profile_view.profile.image_profile.url != '' %}
                <div class="avatar-div">
                  {% include 'profile/include/avatar.html' %}
                </div>
              {% else %}
                <div class="card z-depth-0 avatar" style="border: none; background: transparent;">
                  <table class="fw">
                    <tr>
                      <td align='center' id="full_image_profile">
                        <img src="{% static 'App/def_image/user.svg' %}" width="200px" height="200px" class="float-center" alt="avatar">
                        {% if user == profile_view %}
                          <table align="center">
                            <tr>
                              <td align="center">
                                <div id="img-avatar-overlay" class="card-img-overlay text-white hidden animated fadeIn">
                                  <table class="fw fh">
                                    <tr>
                                      <td class="align-middle" align="center">
                                        <p class="card-text"><button class="btn btn-outline-light" type="button" data-toggle="modal" data-target="#avatar-modal">Изменить</button></p>
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                              </td>
                            </tr>
                          </table>
                        {% endif %}
                      </td>
                      <td class="hidden" id="short_image_profile">
                        <div class="row">
                          <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px" class="float-center" alt="avatar">
                          <table class="fh">
                            <tr>
                              <td class="align-middle" style="padding: 0px 0px 0px 5px;">
                                <span class="lead align-middle">{{profile_view.get_full_name}}</span>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-9">
          <table class="static-profile">
            <tr>
              <td style="cursor: pointer;" onclick="document.location.href='/{{profile_view.username}}/blogs'">
                <p class="lead" style="margin-bottom: 0rem;">Блогов</p>
                <b><p class="mb-1">{{blogs_cnt}}</p></b>
              </td>
              <td style="cursor: pointer;" onclick="document.location.href='/{{profile_view.username}}'">
                <p class="lead" style="margin-bottom: 0rem;">Постов</p>
                <b><p id='post-cnt' class="mb-1">{{posts_cnt}}</p></b>
              </td>
              <td style="cursor: pointer;" onclick="{% if user.is_authenticated %}{% if profile_view.profile.hide_list_readers != True %}$('#readers-list-modal').modal('show'){% endif %}{% else %}$('#no-logged-user-modal').modal('show'){% endif %}">
                <p class="lead" style="margin-bottom: 0rem;">Читатели</p>
                <b><p class="mb-1" id="readers">{{profile_view.profile.readers.count}}</p></b>
              </td>
              <td style="cursor: pointer;" onclick="{% if user.is_authenticated %}{% if profile_view.profile.hide_list_read != True %}$('#read-list-modal').modal('show'){% endif %}{% else %}$('#no-logged-user-modal').modal('show'){% endif %}">
                <p class="lead" style="margin-bottom: 0rem;">Читает</p>
                <b><p class="mb-1">{{profile_view.profile.read.count}}</p></b>
              </td>
              <td class="fw text-left" id="follow_block">
                {% if user.is_authenticated %}
                  {% if user.username != profile_view.username %}
                    <form method="post" id="follow-form">
                      {% csrf_token %}
                      <input type="hidden" value="{{profile_view.id}}" name="user_id">
                      <input type="hidden" value="1" name="follow">
                    </form>
                    <table>
                      <tr>
                        <td>
                          <button id="follow_btn" type="button" class="btn mr-2 {% if user in profile_view.profile.readers.all %}btn-info{%else%}btn-outline-primary{%endif%}" onclick="follow('{{profile_view.username}}')">
                            {% if user in profile_view.profile.readers.all %}Отписаться{%else%}Читать{%endif%}
                          </button>
                        </td>
                        <td>
                          {% if profile_view.profile.accept_send_messages == 2 %}
                          <button type="button" class="btn fw btn-primary" onclick="document.location.href='/chat/{{profile_view.username}}'" disabled>
                            Сообщение
                          </button>
                          {% endif %}
                          {% if profile_view.profile.accept_send_messages == 1 %}
                            {% if user in profile_view.profile.readers.all %}
                            <button type="button" class="btn fw btn-primary" onclick="document.location.href='/chat/{{profile_view.username}}'">
                              Сообщение
                            </button>
                            {% endif %}
                          {% endif %}
                          {% if profile_view.profile.accept_send_messages == 0 %}
                            <button type="button" class="btn fw btn-primary" onclick="document.location.href='/chat/{{profile_view.username}}'">
                              Сообщение
                            </button>
                          {% endif %}
                        </td>
                      </tr>
                    </table>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          </table>
          </div>
        </div>
        </div>
        </div>
      </div>
  </div>
</div>

<!-- {% load staticfiles %}
<div class="container-fluid">
  <div class="row" style="border-bottom: 1px solid #E6E6E6;">
    <div class="card fw" style="border: none;">
      <div class="row" style="height: 27rem; width: -webkit-fill-available;" id="top">
        {% if blog.image.url != 0 %}
          <img src="{{blog.image.url}}" alt="" class="img-fluid" width="100%">
          <div class="header-blog-overlay">
            <table class="fw fh">
              <tr>
                <td align="center" class="align-middle" style="top: -25px; position: relative;">
                  <h1 class="display-3">{{blog.name}}</h1>
                  <p class="lead"><span id="top_profile_blog_cnt">{{blog.posts.count}}</span> Постов</p>
                </td>
              </tr>
            </table>
          </div>
        {% else %}
          {% if profile_view.profile.image_header.url != '' %}
            <img src="{{profile_view.profile.image_header.url}}" alt="" class="img-fluid" width="100%">
            <div class="header-overlay">
              <table>
                <tr>
                  <td>
                    <p class="mb-0 mr-4 pl-1" style="font-size: 1.5rem;"><i class="far fa-eye"></i> {{profile_view.views.count}}</p>
                  </td>
                  <td>
                    <p class="mb-0 mr-1" style="font-size: 2rem;">
                      {% if profile_view.profile.vk != '' %}
                        <a class="text-white" href="{{user.profile.vk}}" target="_blank"><i class="fab fa-vk"></i></a>
                      {% endif %}
                      {% if profile_view.profile.facebook != '' %}
                        <a class="text-white" href="{{user.profile.facebook}}" target="_blank"><i class="fab fa-facebook"></i></a>
                      {% endif %}
                      {% if profile_view.profile.instagram != '' %}
                        <a class="text-white" href="{{user.profile.instagram}}" target="_blank"><i class="fab fa-instagram"></i></a>
                      {% endif %}
                      {% if profile_view.profile.twitter != '' %}
                        <a class="text-white" href="{{user.profile.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>
                      {% endif %}
                    </p>
                  </td>
                </tr>
              </table>
            </div>
          {% else %}
            <img src="{% static 'App/def_image/white.png' %}" style="width: 100%; height: inherit;" alt="">
            <div class="header-overlay">
              <table>
                <tr>
                  <td>
                    <p class="mb-0 mr-4 pl-3" style="font-size: 1.5rem;"><i class="far fa-eye"></i> {{profile_view.views.count}}</p>
                  </td>
                  <td>
                    <p class="mb-0 mr-1" style="font-size: 2rem;">
                      {% if profile_view.profile.vk != '' %}
                        <a class="text-white" href="{{user.profile.vk}}" target="_blank"><i class="fab fa-vk"></i></a>
                      {% endif %}
                      {% if profile_view.profile.facebook != '' %}
                        <a class="text-white" href="{{user.profile.facebook}}" target="_blank"><i class="fab fa-facebook"></i></a>
                      {% endif %}
                      {% if profile_view.profile.instagram != '' %}
                        <a class="text-white" href="{{user.profile.instagram}}" target="_blank"><i class="fab fa-instagram"></i></a>
                      {% endif %}
                      {% if profile_view.profile.twitter != '' %}
                        <a class="text-white" href="{{user.profile.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>
                      {% endif %}
                    </p>
                  </td>
                </tr>
              </table>
            </div>
          {% endif %}
        {% endif %}
        </div>
        <div class="row fw" id="sticky" style="background: #fff; width: -webkit-fill-available !important;">
          <div class="col-2"></div>
          <div class="col-2" style="width: 250px;">
            <div class="card text-center" style="border: none; margin-bottom: -8px; position: absolute; bottom: 0; background: transparent;">
              <div class="card-body">
                {% if profile_view.profile.image_profile.url != '' %}
                  <div class="avatar-div">
                    {% include 'profile/include/avatar.html' %}
                  </div>
                {% else %}
                  <div class="card avatar" style="border: none; background: transparent;">
                    <table class="fw">
                      <tr>
                        <td align='center' id="full_image_profile">
                          <img src="{% static 'App/def_image/user.svg' %}" width="200px" height="200px" class="float-center" alt="avatar">
                          {% if user == profile_view %}
                            <table align="center">
                              <tr>
                                <td align="center">
                                  <div id="img-avatar-overlay" class="card-img-overlay text-white hidden animated fadeIn">
                                    <table class="fw fh">
                                      <tr>
                                        <td class="align-middle" align="center">
                                          <p class="card-text"><button class="btn btn-outline-light" type="button" data-toggle="modal" data-target="#avatar-modal">Изменить</button></p>
                                        </td>
                                      </tr>
                                    </table>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          {% endif %}
                        </td>
                        <td class="hidden" id="short_image_profile">
                          <div class="row">
                            <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px" class="float-center" alt="avatar">
                            <table class="fh">
                              <tr>
                                <td class="align-middle" style="padding: 0px 0px 0px 5px;">
                                  <span class="lead align-middle">{{profile_view.get_full_name}}</span>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-7">
            <table class="static-profile">
              <tr>
                <td style="cursor: pointer;" onclick="document.location.href='/{{profile_view.username}}/blogs'">
                  <p class="lead" style="margin-bottom: 0rem;">Блогов</p>
                  <b><p class="mb-1">{{blogs_cnt}}</p></b>
                </td>
                <td style="cursor: pointer;" onclick="document.location.href='/{{profile_view.username}}'">
                  <p class="lead" style="margin-bottom: 0rem;">Постов</p>
                  <b><p id='post-cnt' class="mb-1">{{posts_cnt}}</p></b>
                </td>
                <td style="cursor: pointer;" onclick="$('#readers-list-modal').modal('show')">
                  <p class="lead" style="margin-bottom: 0rem;">Читатели</p>
                  <b><p class="mb-1" id="readers">{{profile_view.profile.readers.count}}</p></b>
                </td>
                <td style="cursor: pointer;" onclick="$('#read-list-modal').modal('show')">
                  <p class="lead" style="margin-bottom: 0rem;">Читает</p>
                  <b><p class="mb-1">{{profile_view.profile.read.count}}</p></b>
                </td>
                <td class="fw text-left" id="follow_block">
                  {% if user.is_authenticated %}
                    {% if user.username != profile_view.username %}
                      <form method="post" id="follow-form">
                        {% csrf_token %}
                        <input type="hidden" value="{{profile_view.id}}" name="user_id">
                        <input type="hidden" value="1" name="follow">
                      </form>
                      <table>
                        <tr>
                          <td>
                            <button id="follow_btn" type="button" class="btn mr-2 {% if user in profile_view.profile.readers.all %}btn-info{%else%}btn-outline-primary{%endif%}" onclick="follow('{{profile_view}}')">
                              {% if user in profile_view.profile.readers.all %}Отписаться{%else%}Читать{%endif%}
                            </button>
                          </td>
                          <td>
                            {% if profile_view.profile.accept_send_messages == 2 %}
                            <button type="button" class="btn fw btn-primary" onclick="document.location.href='/chat/{{profile_view.username}}'" disabled>
                              Сообщение
                            </button>
                            {% endif %}
                            {% if profile_view.profile.accept_send_messages == 1 %}
                              {% if user in profile_view.profile.readers.all %}
                              <button type="button" class="btn fw btn-primary" onclick="document.location.href='/chat/{{profile_view.username}}'">
                                Сообщение
                              </button>
                              {% endif %}
                            {% endif %}
                            {% if profile_view.profile.accept_send_messages == 0 %}
                              <button type="button" class="btn fw btn-primary" onclick="document.location.href='/chat/{{profile_view.username}}'">
                                Сообщение
                              </button>
                            {% endif %}
                          </td>
                        </tr>
                      </table>
                    {% endif %}
                  {% endif %}
              </td>
            </tr>
          </table>
          </div>
        </div>
      </div>
  </div>
</div> -->
