html, body{
  background: #fafafa;
}

.main-nav-text{
  display: inline;
}

#settings-desktop{
  display: block;
  margin-top: 30px;
}

@media (min-width: 1200px) {
  .custom-checkbox .custom-control-label::before, .custom-control-label::after {
    top: 10px;
  }
}

.list-group-item{
  border: none !important;
}

.list-group-item.active{
  background: #fff !important;
  color: #000;
  border-left: 3px solid #007BFF !important;
}

#settings-mobile{
  display: none;
}

@media (max-width: 1200px){
  #settings-desktop{
    display: none;
  }

  #settings-mobile{
    display: block;
  }
}

@media (min-width: 991px) and (max-width: 1420px) {
    .main-nav-text{
      display: none;
    }
}

@media (max-width: 460px) {
  #main-nav-mobile-brand-text{
    display: none;
  }
  h1.card-title{
    font-size: 2rem;
  }
  p.lead, button.go-post{
    font-size: 1rem !important;
  }
}

.fh{
  height: 100%;
}

#horizontal-menu > a.nav-link{
  font-size: 1.25rem;
}

#horizontal-menu > a.nav-link.active{
  border-bottom: none;
  color: #000;
}

#horizontal-menu > a.nav-link.active > span{
  color: #007BFF;
}
