<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FAQ | Jimbl</title>

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'Help/css/help.css' %}">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One" rel="stylesheet">
</head>
<body>


  <nav class="navbar navbar-light nav border-bottom desktop" style="padding-bottom: 0px;padding-top: 0px;">
    <div class="container">
      <span class="navbar-brand mx-auto mb-0"><img src="{% static 'logo.svg' %}" width='40px' style="margin-bottom: 5px;" alt="">
        <span style="font-size: 2rem; font-family: 'Coiny';top: 5px; position: relative;"> Jimbl</span>
        <h2 style="display: inline; font-weight: lighter; top: 5px; margin-left: 16px; position: relative;">Справочный центр</h2>
      </span>
    </div>
  </nav>

  <nav class="navbar navbar-light nav border-bottom mobile fixed-top bg-white" style="padding-bottom: 0px;padding-top: 0px;">
    <div class="container">
      <span class="navbar-brand mx-auto mb-0" style="padding-bottom: 5px; padding-top: 5px;"><img src="{% static 'logo.svg' %}" width='30px' alt="">
        <span style="font-size: 1.5rem; font-family: 'Coiny';top: 2px; position: relative;"> Jimbl</span>
        <h5 style="display: inline; font-weight: lighter; top: 2px; margin-left: 16px; position: relative;">Справочный центр</h5>
      </span>
    </div>
  </nav>

  <div class="container mt-5 mobile">
    <div class="row">
      <div class="accordion border-bottom" style="width: -webkit-fill-available;">

        <div class="card border-0" style="border-radius: 0;">
          <div class="card-header border-0 bg-white p-2" id="main-left-menu-1">
            <h6 class="font-weight-light pl-2 mb-0" data-toggle="collapse" style="cursor: pointer;" data-target="#main-left-menu-collapse-1" aria-expanded="true" aria-controls="collapseOne">
              <!--  Заголовок меню-->
              <i class="fa fa-chevron-down"></i> Иcпользование Jimbl
            </h6>
          </div>

          <div id="main-left-menu-collapse-1" class="collapse" aria-labelledby="main-left-menu-1" data-parent="#main-left-menu">
            <div class="card-body p-0">
              <!-- список меню-->
              <ul class="font-weight-light list-group list-group-flush pl-3">
                <li style="cursor: pointer;" onclick='document.location.href="/help/register_account"' class="list-group-item border-0 list-group-item-action">Регистрация аккаунта</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/publish_post"' class="list-group-item border-0 list-group-item-action">Публикация постов</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/post_editor"' class="list-group-item border-0 list-group-item-action">Редактор постов</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/blog_creator"' class="list-group-item border-0 list-group-item-action">Создание блогов</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/tape"' class="list-group-item border-0 list-group-item-action">Лента</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/messenger"' class="list-group-item border-0 list-group-item-action">Мессенджер</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/statistics"' class="list-group-item border-0 list-group-item-action">Статистика</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card border-0" style="border-radius: 0;">
          <div class="card-header border-0 bg-white p-2" id="main-left-menu-2">
            <h6 class="font-weight-light pl-2 mb-0" data-toggle="collapse" style="cursor: pointer;" data-target="#main-left-menu-collapse-2" aria-expanded="true" aria-controls="collapseOne">
              <!--  Заголовок меню-->
              <i class="fa fa-chevron-down"></i> Ваш аккаунт
            </h6>
          </div>

          <div id="main-left-menu-collapse-2" class="collapse" aria-labelledby="main-left-menu-2" data-parent="#main-left-menu">
            <div class="card-body p-0">
              <!-- список меню-->
              <ul class="font-weight-light list-group list-group-flush pl-3">
                <li style="cursor: pointer;" onclick='document.location.href="/help/privacy_and_security"' class="list-group-item border-0 list-group-item-action">Конфиденциальность и безопасность</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/profile_setup"' class="list-group-item border-0 list-group-item-action">Настройка профиля</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/account_deletion"' class="list-group-item border-0 list-group-item-action">Удаление аккаунта</li>
                <!-- <li style="cursor: pointer;" class="list-group-item border-0 list-group-item-action">Значки подтверждения</li> -->
              </ul>
            </div>
          </div>
        </div>

        <div class="card border-0" style="border-radius: 0;">
          <div class="card-header border-0 bg-white p-2" id="main-left-menu-3">
            <h6 class="font-weight-light pl-2 mb-0" data-toggle="collapse" style="cursor: pointer;" data-target="#main-left-menu-collapse-3" aria-expanded="true" aria-controls="collapseOne">
              <!--  Заголовок меню-->
              <i class="fa fa-chevron-down"></i> Помощь со входом и устранение ошибок
            </h6>
          </div>

          <div id="main-left-menu-collapse-3" class="collapse" aria-labelledby="main-left-menu-3" data-parent="#main-left-menu">
            <div class="card-body p-0">
              <!-- список меню-->
              <ul class="font-weight-light list-group list-group-flush pl-3">
                <li style="cursor: pointer;" onclick='document.location.href="/help/i_forgot_password"' class="list-group-item border-0 list-group-item-action">Я забыл пароль</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/i_received_an_error_message"' class="list-group-item border-0 list-group-item-action active">Я получил сообщение об ошибке</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="w-100">
        <h5 class="text-center mb-0 pt-2 pb-2 border-bottom" style="background: #fafafa;">Сообщение об ошибке</h5>
        <h3 class="text-center w-100 m-3">В разработке</h3>
      </div>
    </div>
  </div>

  <bottom class="mobile border-top" style="background: #fafafa;">
    <div class="container mt-4 pb-4">
      <table class="w-100">
        <tr>
          <td align='center'>
            <a class="mr-2 text-muted d-inline-block" href="/welcome">О нас</a>
            <a class="mr-2 text-muted d-inline-block" href="/help">Справка</a>
            <a class="mr-2 text-muted d-inline-block" href="" data-toggle="modal" data-target="#feedback_modal">Тех. поддержка</a>
            <a class="mr-2 text-muted d-inline-block" href="">Наш блог</a>
            <a class="text-muted d-inline-block" href="/terms">Пользовательское соглашение</a>
          </td>
        </tr>
        <tr>
          <td align='center'>
            <p class="text-muted mb-0">© 2018 Jimbl. все права защищены</p>
          </td>
        </tr>
      </table>
    </div>
  </bottom>

  <div class="container mb-4 desktop" style="height: -webkit-fill-available;">
    <div class="row mt-5" style="height: inherit;">
      <div class="left_menu pr-4 border-right">
        <div class="accordion" id="main-left-menu">

          <div class="card border-0" style="border-radius: 0;">
            <div class="card-header border-0 bg-white p-2" id="main-left-menu-1">
              <h5 class="font-weight-light pl-2 mb-0" data-toggle="collapse" style="cursor: pointer;" data-target="#main-left-menu-collapse-1" aria-expanded="true" aria-controls="collapseOne">
                <!--  Заголовок меню-->
                Иcпользование Jimbl
              </h5>
            </div>

            <div id="main-left-menu-collapse-1" class="collapse" aria-labelledby="main-left-menu-1" data-parent="#main-left-menu">
              <div class="card-body p-0">
                <!-- список меню-->
                <ul class="font-weight-light list-group list-group-flush pl-3">
                  <li style="cursor: pointer;" onclick='document.location.href="/help/register_account"' class="list-group-item border-0 list-group-item-action">Регистрация аккаунта</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/publish_post"' class="list-group-item border-0 list-group-item-action">Публикация постов</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/post_editor"' class="list-group-item border-0 list-group-item-action">Редактор постов</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/blog_creator"' class="list-group-item border-0 list-group-item-action">Создание блогов</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/tape"' class="list-group-item border-0 list-group-item-action">Лента</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/messenger"' class="list-group-item border-0 list-group-item-action">Мессенджер</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/statistics"' class="list-group-item border-0 list-group-item-action">Статистика</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card border-0" style="border-radius: 0;">
            <div class="card-header border-0 bg-white p-2" id="main-left-menu-2">
              <h5 class="font-weight-light pl-2 mb-0" data-toggle="collapse" style="cursor: pointer;" data-target="#main-left-menu-collapse-2" aria-expanded="true" aria-controls="collapseOne">
                <!--  Заголовок меню-->
                Ваш аккаунт
              </h5>
            </div>

            <div id="main-left-menu-collapse-2" class="collapse" aria-labelledby="main-left-menu-2" data-parent="#main-left-menu">
              <div class="card-body p-0">
                <!-- список меню-->
                <ul class="font-weight-light list-group list-group-flush pl-3">
                  <li style="cursor: pointer;" onclick='document.location.href="/help/privacy_and_security"' class="list-group-item border-0 list-group-item-action">Конфиденциальность и безопасность</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/profile_setup"' class="list-group-item border-0 list-group-item-action">Настройка профиля</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/account_deletion"' class="list-group-item border-0 list-group-item-action">Удаление аккаунта</li>
                  <!-- <li style="cursor: pointer;" class="list-group-item border-0 list-group-item-action">Значки подтверждения</li> -->
                </ul>
              </div>
            </div>
          </div>

          <div class="card border-0" style="border-radius: 0;">
            <div class="card-header border-0 bg-white p-2" id="main-left-menu-3">
              <h5 class="font-weight-light pl-2 mb-0" data-toggle="collapse" style="cursor: pointer;" data-target="#main-left-menu-collapse-3" aria-expanded="true" aria-controls="collapseOne">
                <!--  Заголовок меню-->
                Помощь со входом и устранение ошибок
              </h5>
            </div>

            <div id="main-left-menu-collapse-3" class="collapse show" aria-labelledby="main-left-menu-3" data-parent="#main-left-menu">
              <div class="card-body p-0">
                <!-- список меню-->
                <ul class="font-weight-light list-group list-group-flush pl-3">
                  <li style="cursor: pointer;" onclick='document.location.href="/help/i_forgot_password"' class="list-group-item border-0 list-group-item-action">Я забыл пароль</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/i_received_an_error_message"' class="list-group-item border-0 list-group-item-action active">Я получил сообщение об ошибке</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="main-content ml-5 mt-2 col">
      <!-- Основная часть -->
      <h3>В разработке</h3>
    </div>
  </div>
  </div>

  <bottom class="desktop">
    <div class="container mt-4 mb-4">
      <table class="w-100">
        <tr>
          <td align='left'>
            <a class="mr-2 text-muted" href="/welcome">О нас</a>
            <a class="mr-2 text-muted" href="/help">Справка</a>
            <a class="mr-2 text-muted" href="" data-toggle="modal" data-target="#feedback_modal">Тех. поддержка</a>
            <a class="mr-2 text-muted" href="">Наш блог</a>
            <a class="text-muted" href="/terms">Пользовательское соглашение</a>
          </td>
          <td align='right'>
            <p class="text-muted mb-0">© 2018 Jimbl. все права защищены</p>
          </td>
        </tr>
      </table>
    </div>
  </bottom>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'Help/js/help.js' %}"></script>
  <script type="text/javascript" src="{% static 'Help/font-awesome/all.js' %}"></script>
</body>
</html>
