<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FAQ | Jimbl</title>

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'Help/css/help.css' %}">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One" rel="stylesheet">
</head>
<body>


  <nav class="navbar navbar-light nav border-bottom desktop" style="padding-bottom: 0px;padding-top: 0px;">
    <div class="container">
      <span class="navbar-brand mx-auto mb-0"><img src="{% static 'logo.svg' %}" width='40px' style="margin-bottom: 5px;" alt="">
        <span style="font-size: 2rem; font-family: 'Coiny';top: 5px; position: relative;"> Jimbl</span>
        <h2 style="display: inline; font-weight: lighter; top: 5px; margin-left: 16px; position: relative;">Справочный центр</h2>
      </span>
    </div>
  </nav>

  <nav class="navbar navbar-light nav border-bottom mobile fixed-top bg-white" style="padding-bottom: 0px;padding-top: 0px;">
    <div class="container">
      <span class="navbar-brand mx-auto mb-0" style="padding-bottom: 5px; padding-top: 5px;"><img src="{% static 'logo.svg' %}" width='30px' alt="">
        <span style="font-size: 1.5rem; font-family: 'Coiny';top: 2px; position: relative;"> Jimbl</span>
        <h5 style="display: inline; font-weight: lighter; top: 2px; margin-left: 16px; position: relative;">Справочный центр</h5>
      </span>
    </div>
  </nav>

  <div class="container mt-5 mobile">
    <div class="row">
      <div class="accordion border-bottom" style="width: -webkit-fill-available;">

        <div class="card border-0" style="border-radius: 0;">
          <div class="card-header border-0 bg-white p-2" id="main-left-menu-1">
            <h6 class="font-weight-light pl-2 mb-0" data-toggle="collapse" style="cursor: pointer;" data-target="#main-left-menu-collapse-1" aria-expanded="true" aria-controls="collapseOne">
              <!--  Заголовок меню-->
              <i class="fa fa-chevron-down"></i> Иcпользование Jimbl
            </h6>
          </div>

          <div id="main-left-menu-collapse-1" class="collapse" aria-labelledby="main-left-menu-1" data-parent="#main-left-menu">
            <div class="card-body p-0">
              <!-- список меню-->
              <ul class="font-weight-light list-group list-group-flush pl-3">
                <li style="cursor: pointer;" onclick='document.location.href="/help/register_account"' class="list-group-item border-0 list-group-item-action">Регистрация аккаунта</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/publish_post"' class="list-group-item border-0 list-group-item-action">Публикация постов</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/post_editor"' class="list-group-item border-0 list-group-item-action">Редактор постов</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/blog_creator"' class="list-group-item border-0 list-group-item-action">Создание блогов</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/tape"' class="list-group-item border-0 list-group-item-action active">Лента</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/messenger"' class="list-group-item border-0 list-group-item-action">Мессенджер</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/statistics"' class="list-group-item border-0 list-group-item-action">Статистика</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card border-0" style="border-radius: 0;">
          <div class="card-header border-0 bg-white p-2" id="main-left-menu-2">
            <h6 class="font-weight-light pl-2 mb-0" data-toggle="collapse" style="cursor: pointer;" data-target="#main-left-menu-collapse-2" aria-expanded="true" aria-controls="collapseOne">
              <!--  Заголовок меню-->
              <i class="fa fa-chevron-down"></i> Ваш аккаунт
            </h6>
          </div>

          <div id="main-left-menu-collapse-2" class="collapse" aria-labelledby="main-left-menu-2" data-parent="#main-left-menu">
            <div class="card-body p-0">
              <!-- список меню-->
              <ul class="font-weight-light list-group list-group-flush pl-3">
                <li style="cursor: pointer;" onclick='document.location.href="/help/privacy_and_security"' class="list-group-item border-0 list-group-item-action">Конфиденциальность и безопасность</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/profile_setup"' class="list-group-item border-0 list-group-item-action">Настройка профиля</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/account_deletion"' class="list-group-item border-0 list-group-item-action">Удаление аккаунта</li>
                <!-- <li style="cursor: pointer;" class="list-group-item border-0 list-group-item-action">Значки подтверждения</li> -->
              </ul>
            </div>
          </div>
        </div>

        <div class="card border-0" style="border-radius: 0;">
          <div class="card-header border-0 bg-white p-2" id="main-left-menu-3">
            <h6 class="font-weight-light pl-2 mb-0" data-toggle="collapse" style="cursor: pointer;" data-target="#main-left-menu-collapse-3" aria-expanded="true" aria-controls="collapseOne">
              <!--  Заголовок меню-->
              <i class="fa fa-chevron-down"></i> Помощь со входом и устранение ошибок
            </h6>
          </div>

          <div id="main-left-menu-collapse-3" class="collapse" aria-labelledby="main-left-menu-3" data-parent="#main-left-menu">
            <div class="card-body p-0">
              <!-- список меню-->
              <ul class="font-weight-light list-group list-group-flush pl-3">
                <li style="cursor: pointer;" onclick='document.location.href="/help/i_forgot_password"' class="list-group-item border-0 list-group-item-action">Я забыл пароль</li>
                <li style="cursor: pointer;" onclick='document.location.href="/help/i_received_an_error_message"' class="list-group-item border-0 list-group-item-action">Я получил сообщение об ошибке</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="w-100">
      <!-- Основная часть -->
      <h5 class="text-center mb-0 pt-2 pb-2 border-bottom" style="background: #fafafa;">Лента</h5>
      <div class="accordion" id="main-content-accordion">
          <div class="card">
            <div class="card-header border-0 bg-white p-2">
              <h5 class="mb-0">
                <button class="btn bg-white collapsed" type="button" data-toggle="collapse" data-target="#main-content-accordion-1" aria-controls="collapseOne">
                  <i class="fa fa-chevron-down"></i> Какие категории присутствуют в ленте?
                </button>
              </h5>
            </div>

            <div id="main-content-accordion-1" class="collapse" data-parent="#main-content-accordion">
              <div class="card-body">
                В ленте Jimbl присуще разделение постов по категориям.Кнопка "Все" показывает все категории, посты раставляет по популярности. В категориях разделяют:
                <ol>
                  <li>Путешествия, категория, которая будет по душе людям, любящим свободу.
                    Путешествие-это Новый Мир, новые ощущения, которые можно запечатлить в Вашем блоге, что останется хорошим воспоминанием и раскроет ощущения,
                    полученные во время путешествия, другим людям.</li>
                  <li>Авто, категория, которая придётся по вкусу людям, любящим транспортные средства.
                    Новости автомобильной индустрии, рассмотр разных марок автомобилей и сравнение, или прото выбор транспортного средства,
                    всё это вы можете увидеть в данной категории. </li>
                  <li>Природа, категория, раскрывающая мир человеку. Людям присуще видить мир разным взглядом,
                    что характеризует из мировоззрение. Различные пейзажи, ощущения ,получаемые смотря на природу,
                     отдых на пикнике и многое другое можете увидеть в данной категории.</li>
                  <li>Лайфхаки. Люди во всех временах пытались облегчить свою деятельность. Лайфхаки не исключение.
                    Они могут помочь в быту, а также годный лайфхак в экстренной ситуации может принезти кучу пользы.</li>
                  <li>Бизнес и финансы. Экономическая сфера деятельности, основанная на получении прибыли. В этом разделе можно научиться, как основам экономики,
                    так и понять, какой вид деятельности более прибыльный в наши дни.</li>
                  <li>Новости и политика. В нашем мире очень много событий проходят стороной, но иной раз бывает интересно,
                    а что происходит в нашей стране, пока мы учимся, работаем или отдыхаем.</li>
                  <li>Еда и кулинария. Каждый из нас любит насладиться вкусным блюдом, когда есть такая возможность.
                    Может, кто-то хочет поделиться своими впечатлениями о том, или ином ресторане, кафе, а кто-то захотел поделиться своим новым рецептом,
                    многие хотят научиться готовить, все эти люди смогут найти себе место в данной категории.</li>
                  <li>Наука и техника. С начала времён люди пытаются познавать что-то новое, открывать законы, стремиться к прогрессу.
                    В этой категории будет очень интересно узнать передовые технологии, новые открытия, или просто интересные научные факты.</li>
                  <li>Спорт и здоровье. Человек должен заботиться о своём внешнем виде. Подкачать мускулы, пресс, заняться лёгкой атлетикой, но очень сложно это сделать
                    не имея какой-либо поддержки. В категории "Спорт и здоровье" можно узнать, как и чем лучше качаться, здоровое питание, а может и личные достижения людей.
                    Также здесь присущи новости о разных видах спорта.</li>
                  <li>Мода и шоппинг. Всегда человек желает хорошо выглядеть. Этому ему помогает модная одежда, возможно, хороший макеяж, чато можно найти в этой категории.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header border-0 bg-white p-2">
              <h5 class="mb-0">
                <button class="btn bg-white collapsed" type="button" data-toggle="collapse" data-target="#main-content-accordion-2" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="fa fa-chevron-down"></i> Верхние панели поиска новостей.
                </button>
              </h5>
            </div>
            <div id="main-content-accordion-2" class="collapse" data-parent="#main-content-accordion">
              <div class="card-body">
                В поиске новостей, Вы можете использовать верхнюю панель, которая состоит из:
                <ol>
                  <li>Новости людей, на которых вы подписаны, поэтому важно подписываться на людей, новости которых Вы хотели бы отслеживать.</li>
                  <li>Кнопка "Интересные" показывает посты, которые по мнению Jimbl будут Вам интересны, это мнение строится по вашим просмотрам,
                    лайкам и комментариям. Важно оставлять это своё мнение, что бы мы смогли подобрать Вам самые интересные новости.</li>
                  <li>Кнопка "Популярные" показывает все новости, расположенные в порядке рейтинга. Здесь можно подобрать себе нужных пользователей, которых было бы интересно почитать.</li>
                 </ol>
                 <img width="100%"  src="https://pp.userapi.com/c844617/v844617460/169423/ZB8U37YO2sU.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header border-0 bg-white p-2">
              <h5 class="mb-0">
                <button class="btn bg-white collapsed" type="button" data-toggle="collapse" data-target="#main-content-accordion-3" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="fa fa-chevron-down"></i> Как пользаваться поиском?
                </button>
              </h5>
            </div>
            <div id="main-content-accordion-3" class="collapse" data-parent="#main-content-accordion">
              <div class="card-body">
                Сверху есть окно поиска, которое является функцией, сформированной внутри самого ресурса, которая предназначена для быстрого и удобного подбора интересующего контента.
                Напишите имя или ник нужного пользователя,чтобы найти его на сайте Jimbl.
                <img width="100%"  src="https://pp.userapi.com/c852236/v852236436/79a6c/kc6HF9zOVXk.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <bottom class="mobile border-top" style="background: #fafafa;">
    <div class="container mt-4 pb-4">
      <table class="w-100">
        <tr>
          <td align='center'>
            <a class="mr-2 text-muted d-inline-block" href="/welcome">О нас</a>
            <a class="mr-2 text-muted d-inline-block" href="/help">Справка</a>
            <a class="mr-2 text-muted d-inline-block" href="" data-toggle="modal" data-target="#feedback_modal">Тех. поддержка</a>
            <a class="mr-2 text-muted d-inline-block" href="">Наш блог</a>
            <a class="text-muted d-inline-block" href="/terms">Пользовательское соглашение</a>
          </td>
        </tr>
        <tr>
          <td align='center'>
            <p class="text-muted mb-0">© 2018 Jimbl. все права защищены</p>
          </td>
        </tr>
      </table>
    </div>
  </bottom>

  <div class="container mb-4 desktop" style="height: -webkit-fill-available;">
    <div class="row mt-5" style="height: inherit;">
      <div class="left_menu pr-4 border-right">
        <div class="accordion" id="main-left-menu">

          <div class="card border-0" style="border-radius: 0;">
            <div class="card-header border-0 bg-white p-2" id="main-left-menu-1">
              <h5 class="font-weight-light pl-2 mb-0" data-toggle="collapse" style="cursor: pointer;" data-target="#main-left-menu-collapse-1" aria-expanded="true" aria-controls="collapseOne">
                <!--  Заголовок меню-->
                Иcпользование Jimbl
              </h5>
            </div>

            <div id="main-left-menu-collapse-1" class="collapse show" aria-labelledby="main-left-menu-1" data-parent="#main-left-menu">
              <div class="card-body p-0">
                <!-- список меню-->
                <ul class="font-weight-light list-group list-group-flush pl-3">
                  <li style="cursor: pointer;" onclick='document.location.href="/help/register_account"' class="list-group-item border-0 list-group-item-action">Регистрация аккаунта</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/publish_post"' class="list-group-item border-0 list-group-item-action">Публикация постов</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/post_editor"' class="list-group-item border-0 list-group-item-action">Редактор постов</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/blog_creator"' class="list-group-item border-0 list-group-item-action">Создание блогов</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/tape"' class="list-group-item border-0 list-group-item-action active">Лента</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/messenger"' class="list-group-item border-0 list-group-item-action">Мессенджер</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/statistics"' class="list-group-item border-0 list-group-item-action">Статистика</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card border-0" style="border-radius: 0;">
            <div class="card-header border-0 bg-white p-2" id="main-left-menu-2">
              <h5 class="font-weight-light pl-2 mb-0" data-toggle="collapse" style="cursor: pointer;" data-target="#main-left-menu-collapse-2" aria-expanded="true" aria-controls="collapseOne">
                <!--  Заголовок меню-->
                Ваш аккаунт
              </h5>
            </div>

            <div id="main-left-menu-collapse-2" class="collapse" aria-labelledby="main-left-menu-2" data-parent="#main-left-menu">
              <div class="card-body p-0">
                <!-- список меню-->
                <ul class="font-weight-light list-group list-group-flush pl-3">
                  <li style="cursor: pointer;" onclick='document.location.href="/help/privacy_and_security"' class="list-group-item border-0 list-group-item-action">Конфиденциальность и безопасность</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/profile_setup"' class="list-group-item border-0 list-group-item-action">Настройка профиля</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/account_deletion"' class="list-group-item border-0 list-group-item-action">Удаление аккаунта</li>
                  <!-- <li style="cursor: pointer;" class="list-group-item border-0 list-group-item-action">Значки подтверждения</li> -->
                </ul>
              </div>
            </div>
          </div>

          <div class="card border-0" style="border-radius: 0;">
            <div class="card-header border-0 bg-white p-2" id="main-left-menu-3">
              <h5 class="font-weight-light pl-2 mb-0" data-toggle="collapse" style="cursor: pointer;" data-target="#main-left-menu-collapse-3" aria-expanded="true" aria-controls="collapseOne">
                <!--  Заголовок меню-->
                Помощь со входом и устранение ошибок
              </h5>
            </div>

            <div id="main-left-menu-collapse-3" class="collapse" aria-labelledby="main-left-menu-3" data-parent="#main-left-menu">
              <div class="card-body p-0">
                <!-- список меню-->
                <ul class="font-weight-light list-group list-group-flush pl-3">
                  <li style="cursor: pointer;" onclick='document.location.href="/help/i_forgot_password"' class="list-group-item border-0 list-group-item-action">Я забыл пароль</li>
                  <li style="cursor: pointer;" onclick='document.location.href="/help/i_received_an_error_message"' class="list-group-item border-0 list-group-item-action">Я получил сообщение об ошибке</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="main-content ml-5 mt-2 col">
      <!-- Основная часть -->
      <h3> Лента </h3>
      <br>
      <div class="accordion" id="main-content-accordion">
          <div class="card">
            <div class="card-header border-0 bg-white p-2">
              <h5 class="mb-0">
                <button class="btn bg-white collapsed" type="button" data-toggle="collapse" data-target="#main-content-accordion-1" aria-controls="collapseOne">
                  <i class="fa fa-chevron-down"></i> Какие категории присутствуют в ленте?
                </button>
              </h5>
            </div>

            <div id="main-content-accordion-1" class="collapse" data-parent="#main-content-accordion">
              <div class="card-body">
                В ленте Jimbl присуще разделение постов по категориям.Кнопка "Все" показывает все категории, посты раставляет по популярности. В категориях разделяют:
                <ol>
                  <li>Путешествия, категория, которая будет по душе людям, любящим свободу.
                    Путешествие-это Новый Мир, новые ощущения, которые можно запечатлить в Вашем блоге, что останется хорошим воспоминанием и раскроет ощущения,
                    полученные во время путешествия, другим людям.</li>
                  <li>Авто, категория, которая придётся по вкусу людям, любящим транспортные средства.
                    Новости автомобильной индустрии, рассмотр разных марок автомобилей и сравнение, или прото выбор транспортного средства,
                    всё это вы можете увидеть в данной категории. </li>
                  <li>Природа, категория, раскрывающая мир человеку. Людям присуще видить мир разным взглядом,
                    что характеризует из мировоззрение. Различные пейзажи, ощущения ,получаемые смотря на природу,
                     отдых на пикнике и многое другое можете увидеть в данной категории.</li>
                  <li>Лайфхаки. Люди во всех временах пытались облегчить свою деятельность. Лайфхаки не исключение.
                    Они могут помочь в быту, а также годный лайфхак в экстренной ситуации может принезти кучу пользы.</li>
                  <li>Бизнес и финансы. Экономическая сфера деятельности, основанная на получении прибыли. В этом разделе можно научиться, как основам экономики,
                    так и понять, какой вид деятельности более прибыльный в наши дни.</li>
                  <li>Новости и политика. В нашем мире очень много событий проходят стороной, но иной раз бывает интересно,
                    а что происходит в нашей стране, пока мы учимся, работаем или отдыхаем.</li>
                  <li>Еда и кулинария. Каждый из нас любит насладиться вкусным блюдом, когда есть такая возможность.
                    Может, кто-то хочет поделиться своими впечатлениями о том, или ином ресторане, кафе, а кто-то захотел поделиться своим новым рецептом,
                    многие хотят научиться готовить, все эти люди смогут найти себе место в данной категории.</li>
                  <li>Наука и техника. С начала времён люди пытаются познавать что-то новое, открывать законы, стремиться к прогрессу.
                    В этой категории будет очень интересно узнать передовые технологии, новые открытия, или просто интересные научные факты.</li>
                  <li>Спорт и здоровье. Человек должен заботиться о своём внешнем виде. Подкачать мускулы, пресс, заняться лёгкой атлетикой, но очень сложно это сделать
                    не имея какой-либо поддержки. В категории "Спорт и здоровье" можно узнать, как и чем лучше качаться, здоровое питание, а может и личные достижения людей.
                    Также здесь присущи новости о разных видах спорта.</li>
                  <li>Мода и шоппинг. Всегда человек желает хорошо выглядеть. Этому ему помогает модная одежда, возможно, хороший макеяж, чато можно найти в этой категории.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header border-0 bg-white p-2">
              <h5 class="mb-0">
                <button class="btn bg-white collapsed" type="button" data-toggle="collapse" data-target="#main-content-accordion-2" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="fa fa-chevron-down"></i> Верхние панели поиска новостей.
                </button>
              </h5>
            </div>
            <div id="main-content-accordion-2" class="collapse" data-parent="#main-content-accordion">
              <div class="card-body">
                В поиске новостей, Вы можете использовать верхнюю панель, которая состоит из:
                <ol>
                  <li>Новости людей, на которых вы подписаны, поэтому важно подписываться на людей, новости которых Вы хотели бы отслеживать.</li>
                  <li>Кнопка "Интересные" показывает посты, которые по мнению Jimbl будут Вам интересны, это мнение строится по вашим просмотрам,
                    лайкам и комментариям. Важно оставлять это своё мнение, что бы мы смогли подобрать Вам самые интересные новости.</li>
                  <li>Кнопка "Популярные" показывает все новости, расположенные в порядке рейтинга. Здесь можно подобрать себе нужных пользователей, которых было бы интересно почитать.</li>
                 </ol>
                 <img width="400px" class="float-left" style="margin-left: 11rem;"  src="https://pp.userapi.com/c844617/v844617460/169423/ZB8U37YO2sU.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header border-0 bg-white p-2">
              <h5 class="mb-0">
                <button class="btn bg-white collapsed" type="button" data-toggle="collapse" data-target="#main-content-accordion-3" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="fa fa-chevron-down"></i> Как пользаваться поиском?
                </button>
              </h5>
            </div>
            <div id="main-content-accordion-3" class="collapse" data-parent="#main-content-accordion">
              <div class="card-body">
                Сверху есть окно поиска, которое является функцией, сформированной внутри самого ресурса, которая предназначена для быстрого и удобного подбора интересующего контента.
                Напишите имя или ник нужного пользователя,чтобы найти его на сайте Jimbl.
                <img width="400px" class="float-left" style="margin-left: 11rem;"  src="https://pp.userapi.com/c852236/v852236436/79a6c/kc6HF9zOVXk.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <bottom class="desktop">
    <div class="container mt-4 mb-4">
      <table class="w-100">
        <tr>
          <td align='left'>
            <a class="mr-2 text-muted" href="/welcome">О нас</a>
            <a class="mr-2 text-muted" href="/help">Справка</a>
            <a class="mr-2 text-muted" href="" data-toggle="modal" data-target="#feedback_modal">Тех. поддержка</a>
            <a class="mr-2 text-muted" href="">Наш блог</a>
            <a class="text-muted" href="/terms">Пользовательское соглашение</a>
          </td>
          <td align='right'>
            <p class="text-muted mb-0">© 2018 Jimbl. все права защищены</p>
          </td>
        </tr>
      </table>
    </div>
  </bottom>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'Help/js/help.js' %}"></script>
  <script type="text/javascript" src="{% static 'Help/font-awesome/all.js' %}"></script>
</body>
</html>
