.fw{
  width: 100%;
}

.fh{
  height: 100%;
}

input:active, input:hover, input:focus, input{
  outline: none;
  box-shadow:none !important;
  border-bottom: none;
}

#bottom-menu.navbar{
  padding: 5px 0;
  height: 50px;
}

html, body{
  background: #fafafa !important;
}

.desktop{
  display: block;
}

.mobile{
  display: none;
}

@media (max-width: 1200px) {
  .desktop{
    display: none;
  }

  .mobile{
    display: block;
  }
}
