{% load staticfiles %}
<nav class="navbar navbar-light fixed-top nav shadow-sm mobile-chat" id="main-nav-mobile" style="padding-bottom: 8px; padding-top: 8px; background: #007dff">
  <div class="container-fluid pl-4 pr-4">
    <table class="fw">
      <tr>
        <td>
          <img onclick="document.location.href=document.referrer" src="{% static 'App/def_image/down-arrow-white.svg' %}" width="25px" height="25px" style="transform: rotate(90deg); cursor: pointer;" alt="">
        </td>
        <td align='right'>
          <button type="button" onclick="save_profile(event, '{{user.username}}')" class="btn btn-outline-white btn-sm m-0">Сохранить</button>
        </td>
      </tr>
    </table>
  </div>
</nav>
