{% include 'profile/include/scripts_main_card.html' %}
<div class="row">
  <table align="center" class="fw">
    <tr>
      <td class="card-post">
        <div class="card fw" style="border-bottom: none; border-top: 1px solid #E6E6E6;">
          <div class="card-body">
            {% block nav %}
              <ul class="nav justify-content-center" id="viewer">
                <li class="nav-item">
                  <a class="nav-link {% if page == 'lenta' %}active{% endif %}" href="/{{profile_view}}/">Лента</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if page == 'blogs' %}active{% endif %}" href="/{{profile_view}}/blogs">Блоги</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link {% if page == 'media' %}active{% endif %}" href="/{{profile_view}}/media">Медиа</a>
                </li> -->
              </ul>
            {% endblock %}
           </div>
          </div>
          <div class="post-container">
            {% include 'profile/mobile/post_card.html' %}
          </div>
          <div class="load-wrapp hidden">
              <br>
              <div class="load-3">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
              </div>
          </div>
      </td>
    </tr>
  </table>
</div>
<br>
<br>
