{% load staticfiles %}

  <nav class="navbar navbar-light fixed-top nav shadow-sm p-0 pt-1 pb-1 z-depth-1" id="main-nav-mobile" style="padding-bottom: 0px;padding-top: 0px; background: #007dff; z-index: 9999;">
    <div class="container">
      <span class="navbar-brand text-white mb-2" style="font-size: 1.5rem; position: relative; font-family: 'Coiny', cursive;">Jimbl</span>
      <div class="user-profile-wrapper animated slideInDown hidden">
        <div class="media">
          {% if profile_view.profile.image_profile.url != '' %}
            <img src="{{profile_view.profile.image_profile_settings.url}}" width="40px" height="40px" class="rounded-circle mr-3" style="margin: 5px;" alt="">
          {% else %}
            <img src="{% static 'App/def_image/user.svg' %}"  width="40px" height="40px" class="rounded-circle shadow-sm mr-3" style="margin: 5px" alt="">
          {% endif %}
          <div class="media-body" style="height: 50px;">
            <table class="fh text-white">
              <tr>
                <td class="alugn-middle">
                  <h6 class="mt-0 mb-0 font-weight-light">{{profile_view.get_full_name}}</h6>
                  <small class="mb-0 font-weight-light">@{{profile_view.username}}</small>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      {% if user.is_authenticated %}
      {% if profile_view == user %}
      <div class="dropdown">
        <button class="btn btn-outline-dark text-white dropdown-toggle navbar-toggler z-depth-0" style="color: white !important;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class=" fa fa-bars fa-2x"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/{{user.username}}/edit">Редактировать</a>
          <a class="dropdown-item" href="/statistic">Статистика</a>
          <a class="dropdown-item" href="/help">Помощь</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Выход</a>
        </div>
      </div>
      {% else %}
      <div class="dropdown">
        <button class="btn btn-outline-dark text-white dropdown-toggle navbar-toggler z-depth-0" style="color: white !important;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class=" fa fa-bars fa-2x"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/{{user.username}}/edit">Заблокировать</a>
          <a class="dropdown-item" href="/{{user.username}}/edit">Пожаловаться</a>
        </div>
      </div>
      {% endif %}
      {% endif %}
      </div>
  </nav>
