{% for post in posts %}

{% if post.type == 'repost' %}
  {% include 'profile/mobile/posts/share_post.html' %}
{% endif %}

{% if post.blog != '' and post.title != '' and post.image.url != '' and post.data != '' and post.discription != '' and post.type != 'repost' %}
  {% include 'profile/mobile/posts/full_post.html' %}
{% endif %}

{% empty %}
  <div class="card fw" style="border-radius: 0; min-height: inherit;">
    <div class="card-body text-center">
      <p class="emty-post-title">Публикаций пока нет!</p>
      <p class="lead">Подпишитесь на блогера, чтобы не пропустить не одной записи!</p>
    </div>
  </div>
{% endfor %}
