<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    Разработчикам | Jimbl
  </title>

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/animate.css' %}">
  <link rel="stylesheet" href="{% static 'App/profile/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/preload-anim.css' %}">
  <link rel="stylesheet" href="{% static 'statistic/css/main.css' %}">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One" rel="stylesheet">
</head>
<body>

  {% include 'App/include/main_nav.html' %}
  {% include 'statistic/mobile/navbar.html' %}

  {% if user.is_authenticated %}
    {% include 'App/mobile/bottom-menu.html' %}
  {% else %}
    <nav class="navbar navbar-light fixed-bottom nav" id='bottom-menu' style="padding-bottom: 0px; padding-top: 0px; background: #fff; border-top: 1px solid #E6E6E6;">
      <div class="container" style="height: -webkit-fill-available;">
        <div class="row fw mx-auto">
          <img src="{% static 'logo.svg' %}" class="mr-4 mx-auto" width="30px" height="30px" alt="">
          <a href="/accounts/login" class="btn mx-auto btn-outline-primary btn-sm mr-4">Войти</a>
          <a href="/registration" class="btn mx-auto btn-primary btn-sm">Зарегистрироваться</a>
        </div>
      </div>
    </nav>
  {% endif %}

  <div class="container-fluid p-0" id="top-stat" style="margin-top: 35px;">
    <div class="jumbotron p-3" style="background: #007bff !important; border-radius: 0;">
      <table class="fw fh animated fadeIn">
        <tr>
          <td align="center">
            <img src="{% static 'App/def_image/coding.svg' %}" width="200px" alt="">
            <h1 class="mb-0" id="main-header" style="font-family: Coiny; color: #fff;">Jimbl <span class="font-weight-light" style="font-family: Segoe UI">| Разработчикам</span></h1>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="container animated fadeIn">
    <div class="row">
      <div class="col-xl-3 col-lg-3">
        <ul class="list-group list-group-flush mt-2">
          <a href="/statistic" style="text-decoration: none;"><li class="list-group-item list-group-item-action border-0 active" style="cursor: pointer;">Общая статистика</li></a>
          <a href="/statistic/me" style="text-decoration: none;"><li class="list-group-item list-group-item-action border-0" style="cursor: pointer;">Моя статистика</li></a>
          <a href="/statistic/smm" style="text-decoration: none;"><li class="list-group-item list-group-item-action border-0" style="cursor: pointer;">SMM Анализ</li></a>
        </ul>
      </div>
      <div class="mobile col-md-12">
        <ul class="nav justify-content-center mb-4" style="font-size: 0.8rem;">
          <li class="nav-item">
            <a class="nav-link active" href="/statistic">Общая статистика</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/statistic/me">Моя статистика</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/statistic/smm">SMM Анализ</a>
          </li>
        </ul>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-12">
        <h2 class="font-weight-light text-center mb-3">Общая статистика на {{now_date|date:'F Y'}}</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Место</th>
              <th scope="col">Блогер</th>
              <th scope="col">Читателей</th>
              <th scope="col">Рейтинг</th>
            </tr>
          </thead>
          <tbody>
            {% for bloger in best_blogers %}
              <tr class="list-group-item-action" onclick="document.location.href='/{{bloger.user.username}}'" style="cursor: pointer; {% if bloger.user == user %}background: #e6e6e6 !important;{% endif %}">
                <td class="align-middle">
                  <table class="fh">
                    <tr>
                      <td class="align-middle border-0 p-0">
                        <b>{{forloop.counter}}</b>
                      </td>
                    </tr>
                  </table>
                </td>
                <td>
                  <div class="media">
                    {% if bloger.image_profile.url != '' %}
                      <img src="{{bloger.image_profile_settings.url}}" width="40px" height="40px"   class="rounded-circle mr-3" style="margin: 5px;" alt="">
                    {% else %}
                      <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  class="rounded-circle mr-3" alt="">
                    {% endif %}
                    <div class="media-body" style="height: 50px;">
                      <table class="fh">
                        <tr>
                          <td class="align-middle border-0 p-0">
                            <h5 class="mt-0 mb-0 font-weight-light">{{bloger.user.get_full_name}}</h5>
                            <p class="mb-0 font-weight-light">@{{bloger.user.username}}</p>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </td>
                <td class="align-middle">
                  <table class="fh">
                    <tr>
                      <td class="align-middle border-0 p-0">
                        {{bloger.readers.count}}
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="align-middle">
                  <table class="fh">
                    <tr>
                      <td class="align-middle border-0 p-0">
                        {{bloger.month_rate}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'App/js/jquery.sticky.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/js/mdb.min.js"></script>
  <script type="text/javascript" src="{% static 'App/js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'App/js/search.js' %}"></script>
  <script type="text/javascript" src="{% static 'statistic/js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'font-awesome/all.js' %}" charset="utf-8"></script>
  <script src="{% static 'App/js/clipboard.min.js' %}"></script>
  <script type="text/javascript">
    var clipboard = new ClipboardJS('.clipboard-trigger');
  </script>
</body>
</html>
