@media (max-width: 600px) {
  p.display-3{
    font-size: 1.5rem;
    margin: 1rem;
  }
  p.lead{
    font-size: 1rem;
    margin: 1rem;
  }
  #search-image{
    width: 100px;
  }
  td.align-middle{
    position: relative;
    vertical-align: middle !important;
  }
}
