<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск | Jimbl</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Search/css/search.css' %}">
    <link rel="stylesheet" href="{% static 'App/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One" rel="stylesheet">
  </head>
  <body>

    <div class="desktop">
      {% include 'App/include/main_nav.html' %}

      <div class="container mt-5">
        <div class="row">
          <div class="xl-3 col-ld-3">
            <div class="card left-menu-vertical z-depth-0" id="left_menu_sticky" style="background: transparent; border: none;">
              <div class="card-body">
                <table align="right">
                  <tr>
                    <td class="left-menu-vertical-body">
                      <h5>Катерегории</h5>
                        <ul class="left-menu">
                          <a href="/"><li class="text-muted"><span><i class="fa fa-adjust" style='width: 18px;' ></i></span> Все</li></a>
                          <a href="/travel/"><li class="text-muted"><i class="fa fa-globe-americas" style='width: 18px;' ></i> Путешествия</li></a>
                          <a href="/auto/"><li class="text-muted"><span><i class="fa fa-car" style='width: 18px;' ></i></span> Авто</li></a>
                          <a href="/natural/"><li class="text-muted"><i class="fa fa-leaf" style='width: 18px;' ></i> Природа</li></a>
                          <a href="/lifehacks/"><li class="text-muted"><i class="far fa-lightbulb" style='width: 18px;' ></i> Лайфхаки</li></a>
                          <a href="/buisness/"><li class="text-muted"><i class="fa fa-dollar-sign" style='width: 18px;' ></i> Бизнес и Финансы</li></a>
                          <a href="/news/"><li class="text-muted"><i class="fa fa-bullhorn" style='width: 18px;' ></i> Новости и Политика</li></a>
                          <a href="/food/"><li class="text-muted"><i class="fa fa-apple-alt" style='width: 18px;' ></i> Еда и Кулинария</li></a>
                          <a href="/science/"><li class="text-muted"><i class="fa fa-atom" style='width: 18px;' ></i> Наука и Техника</li></a>
                          <a href="/sport/"><li class="text-muted"><i class="fa fa-futbol" style='width: 18px;' ></i> Спорт и Здоровье</li></a>
                          <a href="/shopping/"><li class="text-muted"><i class="fa fa-tag" style='width: 18px;' ></i> Мода и Шоппинг</li></a>
                        </ul>
                        <a href="/newest/" class="text-muted"><h5><i class="far fa-clock"></i> Новое</h5></a>
                        <a href="/newest/" class="text-muted"><h5><i class="fas fa-random"></i> Случайные</h5></a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-ld-6 col-md-12 col-sm-12 " id="main-col" style="padding: 0; margin-top: 1rem;">
            <div class="card">
              <div class="card-header">
                <h6 class="mb-0 font-weight-normal">Поиск в Jimbl</h6>
              </div>
              <div class="card-body p-0 border-bottom">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text border-0 bg-white pr-1 text-muted">
                      <i class="fa fa-search fa-lg"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control border-0" placeholder="Начните вводить любое имя, название или слово..">
                </div>
              </div>
              <div class="card-body">

              </div>
            </div>
            <div class="main-data-div">

            </div>
            {% block load_content_form %}
            <form class="hidden" id="load-content-form">
              {% csrf_token %}
              <input type="hidden" name="load_content" value="1" id="id_load_content">
              <input type="hidden" name="count_post" value="0" id="id_count_post">
              <input type="hidden" name="window_width" value="" id="id_window_width">
              <input type="hidden" name="page" value="/search/">
            </form>
            {% endblock %}
          </div>
          <div class="col-xl-3 col-ld-3 col-md-2 col-sm-0" id="main-right-menu" style="padding: 0;">
            {% block right_menu %}
              {% include 'App/include/best_post_template.html' %}
              <br>
              <div class="feedback text-muted" style="text-align: -webkit-center;">
                <small><a class="mr-1 text-muted" href="/welcome">О нас</a></small>
                <small><a class="mr-1 text-muted" href="/help">Справка</a></small>
                <small><a class="mr-1 text-muted" href="" data-toggle="modal" data-target="#feedback_modal">Тех. поддержка</a></small>
                <small><a class="mr-1 text-muted" href="">Наш блог</a></small>
                <small><a class="text-muted" href="/terms">Пользовательское соглашение</a></small><br>
                <small>© 2018 Jimbl.</small>
              </div>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>

    <div class="mobile">
      {% include 'search_main/mobile_search/search-bar.html' %}
      {% include 'search_main/mobile_search/bottom-menu.html' %}

      <div class="container-fluid p-0">
        <div class="container-fluid" id="main-mobile-search-container" style="padding: 0; height: -webkit-fill-available;">
          {% include 'search_main/mobile_search/search-result.html' %}
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'Search/js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'mobile_search/js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'font-awesome/all.js' %}" charset="utf-8"></script>
  </body>
</html>
