<table align="right">
  <tr>
    <td>
      <div class="card" style="border: none;">
        <ul class="instruments-list text-left">
          <li>
            <a onclick="add_header()" class="text-muted"><i class="fa fa-heading"></i> Заголовок</a>
          </li>
          <li>
            <a onclick="add_paragraph()" class="text-muted"><i class="fa fa-font"></i> Текст</a>
          </li>
          <li>
            <a data-toggle="modal" data-target="#add_image_modal" class="text-muted"><i class="far fa-image"></i> Картинка</a>
          </li>
          <li>
            <a  data-toggle="modal" data-target="#add_video_modal" class="text-muted"><i class="fa fa-film"></i> Видео</a>
          </li>
          <li>
            <a onclick="add_hr()" class="text-muted"><i class="far fa-window-minimize"></i> Разделитель</a>
          </li>
          <hr>
          <li>
            <a href="" class="text-muted">Справка</a>
          </li>
          <li>
            <a href="" class="text-muted">Помощь</a>
          </li>
          <hr>
          <li>
            <span class="text-muted">2018 © Jimbl</span>
          </li>
        </ul>
      </div>
    </td>
  </tr>
</table>
