{% load staticfiles %}
<div class="card shadow-sm fw z-depth-0" style="border-radius: 0 !important;">
  <div class="card-body" style="padding: 0;">
    <div class="form-row">
      <div class="col-auto">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text border-0 bg-white"><img src="{% static 'creator/images/left-align.svg' %}" height="30px" alt=""></div>
          </div>
          <select class="form-control font-align-select border-0 mt-1" onchange="align(this.value)">
            <option value="left">Слева</option>
            <option value="center" selected>Центр</option>
            <option value="right">Справа</option>
          </select>
        </div>
      </div>
      <div class="col-auto">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text border-0 bg-white"><img src="{% static 'creator/images/capitals.svg' %}" height="30px" alt=""></div>
          </div>
          <select class="form-control font-size-select border-0 mt-1" onchange="set_height(this.value)">
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
            <option value="51">51</option>
            <option value="52">52</option>
            <option value="53">53</option>
            <option value="54">54</option>
            <option value="55">55</option>
            <option value="56">56</option>
            <option value="57">57</option>
            <option value="58">58</option>
            <option value="59">59</option>
          </select>
        </div>
      </div>
      <div class="col-auto">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text border-0 bg-white"><img src="{% static 'creator/images/font.svg' %}" height="30px" alt=""></div>
          </div>
          <select class="form-control font-family-select border-0 mt-1" onchange="set_font_family(this.value)">
            <option value="Segoe UI" id="Segoe UI">Segoe UI</option>
            <option value="arial" id="arial">Arial</option>
            <option value="Roboto" id="Roboto">Roboto</option>
            <option value="Impact" id="Impact">Impact</option>
            <option value="Cursive">Cursive</option>
            <option value="sans-serif">Sans Serif</option>
            <option value="Times">Times New Roman</option>
            <option value="Monospace">Monospace</option>
          </select>
        </div>
      </div>
      <div class="col-auto">
        <ul class="text-align-tools">
          <li class="set set-bold">
            <i class="fas fa-bold"></i>
          </li>
          <li class="set set-italic">
            <i class="fas fa-italic"></i>
          </li>
          <li class="set set-underline">
            <i class="fas fa-underline"></i>
          </li>
        </ul>
      </div>
      <div class="col-auto">
        <ul class="text-align-tools">
          <li>
            <i class="fas fa-clone" onclick="copy_element()" title="Скопировать элемент"></i>
          </li>
          <li>
            <i class="far fa-clone" onclick="paste_element()" title="Вставить элемент"></i>
          </li>
          <li>
            <i class="fas fa-cut" onclick="cut_element()" title="Вырезать элемент"></i>
          </li>
          <li id="trash_icon">
            <i onclick="removeItem()" class="far fa-trash-alt" title="Удалить элемент"></i>
          </li>
          <li class="ml-5">
            <i class="far fa-file" onclick="clear_post()" title="Новый пост"></i>
          </li>
        </ul>
      </div>
      <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#create_post">Опубликовать</button>
      </div>
    </div>
  </div>
</div>
