<div class="card z-depth-0 fw fh mt-1" style="border-radius: 0; border: none;">
  <table class="fw">
    <tbody id="post">

    </tbody>
  </table>
  <div class="dropdown dropright">

    <!--Trigger-->
    <button data-toggle="dropdown" class="btn btn-floating btn-large btn-primary waves-light" style="border-radius: 50%; padding: 0; width: 30px; height: 30px;">
      <i class="fa fa-plus fa-lg"></i>
    </button>


    <!--Menu-->
    <div class="dropdown-menu dropdown-primary">
      <a onclick="add_header('Пустой заголовок...')" style="cursor: pointer" class="text-muted dropdown-item list-group-item-action p-1"><i class="fa fa-heading"></i> Заголовок</a>
      <a onclick="add_paragraph('Пустой текст...')" style="cursor: pointer" class="text-muted dropdown-item list-group-item-action p-1"><i class="fa fa-font"></i> Текст</a>
      <a  onclick="$('#add_image_modal').modal('show')" style="cursor: pointer;" class="text-muted dropdown-item list-group-item-action p-1"><i class="far fa-image"></i> Картинка</a>
      <a  onclick="$('#add_video_modal').modal('show')" style="cursor: pointer;" class="text-muted dropdown-item list-group-item-action p-1"><i class="fa fa-film"></i> Видео</a>
      <a onclick="add_hr()" style="cursor: pointer" class="text-muted list-group-item-action dropdown-item p-1"><i class="far fa-window-minimize"></i> Разделитель</a>
    </div>
  </div>
</div>
