<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jimbl | Добро пожаловать</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Представаляем вам Jimbl - платформа для современного блоггинга. Создавайте впечатляющие посты и делитесь с друзьями!">
    <meta name="keywords" content="блог, блогер, создать блог, блоги, создать блог онлайн, создать блог быстро">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
    <link rel="stylesheet" href="{% static 'welcome/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/all.css' %}">
    <link rel="stylesheet" href="{% static 'welcome/css/animate.css' %}">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One" rel="stylesheet">
  </head>
  <body>
    {% include 'welcome/include/navbar.html' %}

    <!-- mobile adapting -->
    {% include 'welcome/mobile/index.html' %}
    <!-- end mobile adapting -->
    {% include 'welcome/include/section1.html' %}

    {% include 'welcome/include/section2.html' %}

    {% include 'welcome/include/section3.html' %}

    {% include 'welcome/include/section-analitic.html' %}

    {% include 'welcome/include/section4.html' %}

    {% include 'welcome/include/section6.html' %}
    {% include 'welcome/include/bottom.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'welcome/js/animations.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mdb.js' %}"></script>
    <script type="text/javascript" src="{% static 'welcome/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'font-awesome/all.js' %}"></script>
  </body>
</html>
