.is-sticky > #sticky{
  width: -webkit-fill-available !important;
}

.navbar-brand:hover{
  cursor: pointer;
}

label.active{
  border: none;
}

.scroller{
  position: fixed;
  width: 100px;
  height: 100%;
  background: #fafafa;
  padding-top: 140px;
  transition: 0.3s;
}

div.card-footer > a.btn.btn-sm{
  white-space: nowrap;
}

div.card-deck:first-child{
  margin-left: 1.25rem !important;
}

.user-profile-wrapper{
  position: absolute;
  width: 100%;
  text-align: center;
  margin-left: -15px;
}

.user-profile-wrapper> .media{
  width: fit-content;
  margin: auto;
}

img.select.media{
  border: 5px solid #007BFF;
  border-radius: 5px;
}

img.media{
  border: 5px solid transparent;
}

.scroller-up{
  width: 100%;
  height: -webkit-fill-available;
  position: relative;
}

.scroller-down{
  width: 100%;
  height: -webkit-fill-available;
}

.scroller:hover{
  background: #eee;
  cursor: pointer;
}

div#img-avatar-overlay {
  border-radius: 100%;
  background: rgba(0,0,0,.5);
  margin: 0 !important;
  width: -webkit-fill-available !important;
}

#sticky-sticky-wrapper > #sticky{
 width: -webkit-fill-available !important;
}

.emty-post-title{
  font-size: 2rem;
  font-weight: lighter;
}

#bottom-menu.navbar{
  padding: 5px 0;
  height: 50px;
}

@media (max-width: 540px) {
  .emty-post-title{
    font-size: 1.75rem;
  }
}

.mobile-profile{
  display: none;
}

.desktop-profile{
  display: block
}

@media (max-width: 1200px) {
  .mobile-profile{
    display: block !important;
  }

  .desktop-profile{
    display: none !important;
  }
}

.header-overlay{
  position: absolute;
  color: #fff;
  bottom: 5rem;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.header-blog-overlay{
  position: absolute;
  color: #fff;
  width: inherit;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.scroll-up{
  height: -webkit-fill-available;
  margin-top: -22px;
  padding-top: 32px;
}

.statistic-profile{
  text-align: center;
  margin-right: 2rem;
}

.statistic-profile > p{
}

.statistic-profile > b > p{
  font-size: 1.25rem;
  margin-top: -1rem;
}

#dropdownMenuButton{
  border: 1px solid black;
}

#dropdownMenuButton:focus{
  background: #fff;
}

#dropdownMenuButton:active{
  background: #fff;
}

pre {
   text-align: left;
   white-space: pre-line;
 }

.profile_view_cnt{
  margin: 0;
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
}

.profile_view_cnt > i{
  font-size: 1.5rem;
}

.show-comment-form{
  background: transparent;
  border: none;
  cursor: pointer;
}

.active{
  border-bottom: 1px solid black;
}

.fh{
  height: 100%;
}

.network-profile{
  font-size: 2em;
}

@media (max-width: 540px) {
  #header-emty-articles{
    font-size: 1.75rem;
  }
}
