{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    Новая статья | Jimbl
  </title>

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
  <link rel="stylesheet" href="{% static 'creator/css/main.css' %}">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body class="fh">

  <script type="text/javascript">
    sessionStorage.setItem('now_edit_post_id', '{{post.id}}')
  </script>

  <div class="modal fade" style="z-index: 9999;" id="empty_photo_modal" role="dialog">
    <div class="modal-dialog">
      <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        Загрузите или выберете фото из вашей галереи!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade" style="z-index: 9999;" id="empty_video_modal" role="dialog">
    <div class="modal-dialog">
      <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        Загрузите видео или вставьте HTML код для вставки!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade" style="z-index: 9999;" id="empty_poster_modal" role="dialog">
    <div class="modal-dialog">
      <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        Для обложки нужна картинка!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade left timeout" style="z-index: 9999;" id="copy_element_modal" role="dialog">
    <div class="modal-dialog modal-side modal-top-left mt-5 modal-sm text-center">
      <div class="btn btn-info text-white bd-r-0">
        Элемент скопирован!
      </div>
    </div>
  </div>

  <div class="modal fade left timeout" style="z-index: 9999;" id="cut_element_modal" role="dialog">
    <div class="modal-dialog modal-side modal-top-left mt-5 modal-sm text-center">
      <div class="btn btn-info text-white bd-r-0">
        Элемент вырезан!
      </div>
    </div>
  </div>

  <div class="modal fade left timeout" style="z-index: 9999;" id="remove_element_modal" role="dialog">
    <div class="modal-dialog modal-side modal-top-left mt-5 modal-sm text-center">
      <div class="btn btn-danger text-white bd-r-0">
        Элемент удален!
      </div>
    </div>
  </div>

  <div class="modal fade left timeout" style="z-index: 9999;" id="clear_post_modal" role="dialog">
    <div class="modal-dialog modal-side modal-top-left mt-5 modal-sm text-center">
      <div class="btn btn-info text-white bd-r-0">
        Пост очищен!
      </div>
    </div>
  </div>

  <div class="modal fade" style="z-index: 9999;" id="empty_title_modal" role="dialog">
    <div class="modal-dialog">
      <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        Пожалуйста, введите название поста!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade left timeout" id="save_success_modal" role="dialog">
    <div class="modal-dialog modal-side modal-top-left mt-5 modal-sm text-center">
      <div class="btn btn-info text-white bd-r-0">
        Ваш пост сохранён!
      </div>
    </div>
  </div>

  <div id="desktop">
    <div class="container-fluid pl-4 pr-4 pt-2" style="padding: 0;">
      {% include 'edit_post/include/navbar.html' %}
    </div>
    <div class="container fh">
      <div class="row fh">
        {% include 'edit_post/include/post.html' %}
        <!-- <div class="col-xl-3 col-ld-3 col-md-2 col-sm-0 text-right">
          <span style="font-size: 2.5rem; cursor: pointer;" onclick="document.location.href='/';"><i class="fa fa-times text-muted"></i></span>
        </div> -->
      </div>
    </div>
  </div>

  <div id="mobile">
    <div class="container-fluid" style="padding: 0;">
      {% include 'creator/mobile/navbar.html' %}
    </div>
    <div class="container-fluid">
      <div class="top-side-menu">
        {% include 'creator/mobile/top-side-menu.html' %}
      </div>
      <div class="main-body-post">
        <table class="fw">
          <tbody id="post-mobile">
            {{post.html_data|safe}}
          </tbody>
        </table>
      </div>
      {% include 'creator/mobile/bottom-menu.html' %}
    </div>
  </div>

  <div class="modal fade" id="add_image_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Добавить фото</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="image_form">
          <div class="modal-body">
              {% csrf_token %}
              <input type="hidden" name="user" id="id_user" value="{{user.id}}">
              <div class="form-group">
                <input type="file" style="display: none;" name="load_image" id="id_load_image" class="form-control">
                <label for="id_load_image" class="btn btn-primary fw"><i class="fas fa-camera"></i> Загрузить фото</label>
              </div>
              <div class="card-text" style="position: relative;">
                <hr style="margin-bottom: 1.6rem;">
                <div class="text" style="position: absolute; text-align: center;width: 100%; bottom: -0.7rem;"><span class="text-muted" style="background: #fff; padding: 0 1rem 0  1rem;">Ваша галерея</span></div>
              </div>
              <div class="card-text">
                <img src="#" id="img-preview" width="100%" alt="">
                <div class="row" id="user_media" style="max-height: 482px; overflow-y: scroll;">
                {% for media in media_list %}
                  <img src="{{media.image.url}}" width="200px" height="150px" class="mx-auto mb-3 media" alt="">
                {% endfor %}
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="add_image(event)">Добавить</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="add_video_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Добавить Видео</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="video_form">
          <div class="modal-body">
              {% csrf_token %}
              <input type="hidden" name="user" id="id_user" value="{{user.id}}">
              <div class="form-group">
                <input type="file" name="load_video" style="display: none;" id="id_load_video" class="form-control" accept="video/*">
                <label for="id_load_video" class="btn btn-primary fw"><i class="fas fa-camera"></i> Загрузить видео</label>
                <small class="text-muted">Только MP4 файлы, не более 100МБ</small>
              </div>
              <div class="card-text" style="position: relative;" id="devider">
                <hr style="margin-bottom: 1.6rem;">
                <div class="text" style="position: absolute; text-align: center;width: 100%; bottom: -0.7rem;"><span class="text-muted" style="background: #fff; padding: 0 1rem 0  1rem;">ИЛИ</span></div>
              </div>
              <div class="form-group">
                <video width="100%" controls>
                  <source src="" type="video/mp4" id="id_video_preview">
                </video>
                <textarea name="html_video" rows="8" class="form-control" placeholder="HTML код" id="id_html_video"></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="add_video(event)">Добавить</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <input type="hidden" name="html_data" id="id_html_data" value="">

  <script type="text/javascript" src="{% static 'creator/js/sortable.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mdb.js' %}"></script>
  <script type="text/javascript" src="{% static 'edit_post/js/main.js' %}"></script>
  <!-- <script type="module" src="{% static 'creator/js/table-dragger.js' %}"></script> -->
  <script src="{% static 'font-awesome/all.js' %}" charset="utf-8"></script>
</body>
</html>
{% else %}
  <script type="text/javascript">
    document.location.href='welcome/';
  </script>
{% endif %}
