{% extends 'profile/index.html' %}
{% load staticfiles %}

{% block load_content_form %}
<script type="text/javascript">
  $('input[name=count_blogs]').val($('.card.blog').length);
</script>
<form class="hidden" id="load-content-form">
  {% csrf_token %}
  <input type="hidden" name="load_content" value="1" id="id_load_content">
  <input type="hidden" name="count_post" value="" id="id_count_post">
  <input type="hidden" name="window_width" value="" id="id_window_width">
  <input type="hidden" name="page" value="/{{profile_view.username}}/blogs">
</form>
{% endblock %}

{% block mobile_post_block %}
<div class="nav w-100 mt-3">
  <button type="button" class="btn btn-outline-primary btn-sm mx-auto" data-toggle="modal" data-target="#create-blog-modal">Новый блог</button>
</div>
<div class="post-container mt-4 mb-4" style="width: -webkit-fill-available;">
  {% include 'blogs/include/blog_template.html' %}
</div>
{% endblock %}

{% block content %}
<!-- <button title="Создать новый блог" data-toggle="modal" data-target="#create-blog-modal" class="btn btn-floating btn-large btn-primary waves-light" style="border-radius: 50%; padding: 0; width: 60px; height: 60px; position: fixed; z-index: 9990; bottom: 20px; right: 20px;" >
  <i class="fa fa-plus" style="width: 30px; height: 60px;"></i>
</button> -->
<div class="row mb-5">
  <div class="col-xl-3">
    <br>
    {% include 'profile/include/profile_card.html' %}
    <br>
    <div class="float-right mt-3">
      <div class="feedback text-muted" style="width: 300px; text-align: -webkit-center;">
        <small><a class="mr-1 text-muted" href="/welcome">О нас</a></small>
        <small><a class="mr-1 text-muted" href="/help">Справка</a></small>
        <small><a class="mr-1 text-muted" href="" data-toggle="modal" data-target="#feedback_modal">Тех. поддержка</a></small>
        <small><a class="mr-1 text-muted" href="">Наш блог</a></small>
        <small><a class="text-muted" href="/terms">Пользовательское соглашение</a></small><br>
        <small>© 2019 Jimbl.</small>
      </div>
    </div>
  </div>
  <div class="col-xl-9 col-ld-6 col-md-12 col-sm-12" id="main-card">
    <br>
    <table align="center" class="fw">
      <tr>
        <td class="card-post">
          <div class="card border-0 z-depth-0" style="border: none; background: transparent;">
            <div class="card-body p-0">
                <ul class="nav justify-content-center border-bottom" id="viewer">
                  <li class="nav-item">
                    <a class="nav-link text-muted" href="/{{profile_view}}">Лента</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark active" href="/{{profile_view}}/blogs">Блоги</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link text-muted" href="/{{profile_view}}/media">Медиа</a>
                  </li> -->
                </ul>
                {% if user == profile_view %}
                  <br>
                  <table class="fw">
                    <tr>
                      <td align="center">
                        <button type="button" class="btn btn-outline-primary mb-3" data-toggle="modal" data-target="#create-blog-modal">Новый блог</button>
                      </td>
                    </tr>
                  </table>
                {% endif %}
             </div>
            </div>
            <div class="post-container">
              {% include 'blogs/include/blog_template.html' %}
            </div>
            {% if profile_view == user %}
            {% if not profile_view.marker.add_name or not profile_view.marker.add_image or not profile_view.marker.add_discription or not profile_view.marker.add_followers or not profile_view.marker.add_email %}
            <br>
            <div class="card z-depth-0" style="background: transparent; border: none;">
              <center>
                <p class="lead mt-3 mb-0">Заполните профиль</p>
                <p class="text-primary">Выполнено <span id="count_of_recoments">0</span>/5</p>
              </center>
              <div class="row mb-5">
                <div class="scroll-wrapper mx-auto" style="overflow-x: auto; width: 10px;">
                <script>
                  $('.scroll-wrapper').css('width', $('.card-post').first().width() - 32 + 'px')
                </script>
                <div class="card-deck" style="width: max-content; padding-block-end: 10px; padding-left: 5px;">
                  {% if not profile_view.marker.add_name %}
                  <div class="card recoments" style="width: 15rem;">
                    <img class="card-img-top mt-4" src="{% static 'App/def_image/user-set.svg' %}" width="60px" height="60px" alt="Card image cap">
                    <div class="card-body text-center">
                      <h6 class="card-title">Добавьте своё имя</h6>
                      <p class="card-text" style="font-size: 0.8rem;">Добавьте ваше имя и фамилию, чтобы ваши читатели знали чей этот аккаунт.</p>
                    </div>
                    <div class="card-footer m-1 border-0 text-center" style="background: #fff;">
                      <a href="/{{user}}/edit" class="btn btn-primary">Добавить имя</a>
                    </div>
                  </div>
                  {% endif %}
                  {% if not profile_view.marker.add_image %}
                  <div class="card recoments" style="width: 15rem;">
                    <img class="card-img-top mt-4" src="{% static 'App/def_image/gallery.svg' %}" width="60px" height="60px" alt="Card image cap">
                    <div class="card-body text-center">
                      <h6 class="card-title">Добавьте фото</h6>
                      <p class="card-text" style="font-size: 0.8rem;">Загрузите фото профиля и обложку профиля, так ваш аккаунт станет привлекательней!</p>
                    </div>
                    <div class="card-footer m-1 border-0 text-center" style="background: #fff;">
                      <a href="/{{user}}/edit" class="btn btn-primary btn-sm">Добавить фото</a>
                    </div>
                  </div>
                  {% endif %}
                  {% if not profile_view.marker.add_discription %}
                  <div class="card recoments" style="width: 15rem;">
                    <img class="card-img-top mt-4" src="{% static 'App/def_image/edit.svg' %}" width="60px" height="60px" alt="Card image cap">
                    <div class="card-body text-center">
                      <h6 class="card-title">Напишите о себе</h6>
                      <p class="card-text" style="font-size: 0.8rem;">Расскажите вашим читателям о себе... Чем вы занимаетесь?</p>
                    </div>
                    <div class="card-footer m-1 border-0 text-center" style="background: #fff;">
                      <a href="/{{user}}/edit" class="btn btn-primary btn-sm" style="white-space: nowrap;">Добавить информацию</a>
                    </div>
                  </div>
                  {% endif %}
                  {% if not profile_view.marker.add_followers %}
                  <div class="card recoments" style="width: 15rem;">
                    <img class="card-img-top mt-4" src="{% static 'App/def_image/group.svg' %}" width="60px" height="60px" alt="Card image cap">
                    <div class="card-body text-center">
                      <h6 class="card-title" style="white-space: pre-wrap">Найдите себе понравшихся блогеров</h6>
                      <p class="card-text" style="font-size: 0.8rem;">Найдите себе пользователей, на которых вы хотели подписаться.</p>
                    </div>
                    <div class="card-footer m-1 border-0 text-center" style="background: #fff;">
                      <a href="/{{user}}/edit" class="btn btn-primary btn-sm" style="white-space: nowrap;">Перейти к поиску</a>
                    </div>
                  </div>
                  {% endif %}
                  {% if not profile_view.marker.add_email %}
                  <div class="card recoments" style="width: 15rem;">
                    <img class="card-img-top mt-4" src="{% static 'App/def_image/mail.svg' %}" width="60px" height="60px" alt="Card image cap">
                    <div class="card-body text-center">
                      <h6 class="card-title">Укажите Email</h6>
                      <p class="card-text" style="font-size: 0.8rem;">Укажите Email и подтвердите его, тем самым вы обезопасите свой аккаунт!</p>
                    </div>
                    <div class="card-footer m-1 border-0 text-center" style="background: #fff;">
                      <a href="/{{user}}/edit" class="btn btn-primary btn-sm" style="white-space: nowrap;">Указать Email</a>
                    </div>
                  </div>
                  {% endif %}
                 </div>
                 </div>
                </div>
             </div>
             {% endif %}
             {% endif %}
            <div class="load-wrapp hidden">
                <br>
                <div class="load-3">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'App/blogs/js/blogs.js' %}"></script>
{% endblock %}
