html, body{
  background: #fff !important;
}

#top-stat{
  margin-top: 57px;
}

.mobile.col-md-12{
  display: none;
}

.mobile{
  display: none;
}

@media (max-width: 1200px) {
  #top-stat{
    margin-top: 35px;
  }
  img[width='200px']{
    width: 125px;
  }
  .mobile{
    display: flex !important;
    flex-wrap: wrap;
  }
  a{
      font-size: 0.8rem;
  }
  #main-header{
    font-size: 1.5rem;
    margin-top: 8px;
  }
  table.table thead th{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  h2{
    font-size: 1rem;
  }
  h5{
    font-size: 0.8rem;
  }
  th{
    font-size: 0.8rem;
  }
  .align-middle.border-0.p-0{
    font-size: 0.8rem;
  }
  p{
    font-size: 0.7rem;
  }
  .col-xl-3.col-lg-3{
    display: none;
  }
  .mobile.col-md-12{
    display: block;
  }
}
