<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не найдена | Jimbl</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'auth/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
    <link rel="stylesheet" href="{% static 'errors/404.css' %}">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-dark border-0 fixed-top" style="background: #007BFF;">
      <div class="container">
        <span class="navbar-brand mb-0 mx-auto" style="padding: 0px;" onclick="document.location.href='/'"><img src="{% static 'logo.svg' %}" width='40px' alt=""><span id='main-nav-mobile-brand-text' style="font-size: 2rem; font-family: 'Coiny', cursive;top: 6px; position: relative;"> Jimbl</span></span>
      </div>
    </nav>

    <section class="fw fh">
      <div class="container fh">
        <div class="row fh">
          <table align="center" class="fh">
            <tr>
              <td class="align-middle" >
                <div class="card">
                  <h2 class="card-header white-text text-center py-4" style="background: #007BFF;">
                    <strong>Страница не найдена</strong>
                  </h2>
                  <div class="card-body text-center">
                    <h1 style="font-size: 100px; font-weight: lighter !important;">500</h1>
                    <button type="button" class="btn btn-primary" onclick="document.location.href='/'">На главную</button>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>

    <bottom style="position: absolute; bottom: 0; width: 100%; z-index: 999;">
      <p class="form-text text-center mb-0">© 2019 Jimbl. Все права защищены. <br> <a href="/terms">Пользовательское соглашение</a></p>
    </bottom>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
