{% load staticfiles %}
<div class="container" id="main-container">
  {% include 'App/include/main_nav.html' %}
  <br>
  <div class="row">
    <div class="col-xl-3 col-ld-3 col-md-0 col-sm-0">
      {% block left_menu %}
      <div class="card left-menu-vertical z-depth-0" id="left_menu_sticky" style="background: transparent; border: none;">
        <div class="card-body p-0">
          <table align="center">
            <tr>
              <td class="left-menu-vertical-body">
                <h5 class="text-dark">Катерегории</h5>
                <ul class="left-menu">
                  <a href="/"><li class="text-muted"><span><i class="fa fa-adjust" style='width: 18px;' ></i></span> Все</li></a>
                  <a href="/travel/"><li class="text-muted"><i class="fa fa-globe-americas" style='width: 18px;' ></i> Путешествия</li></a>
                  <a href="/auto/"><li class="text-muted"><span><i class="fa fa-car" style='width: 18px;' ></i></span> Авто</li></a>
                  <a href="/natural/"><li class="text-muted"><i class="fa fa-leaf" style='width: 18px;' ></i> Природа</li></a>
                  <a href="/lifehacks/"><li class="text-muted"><i class="far fa-lightbulb" style='width: 18px;' ></i> Лайфхаки</li></a>
                  <a href="/buisness/"><li class="text-muted"><i class="fa fa-dollar-sign" style='width: 18px;' ></i> Бизнес и Финансы</li></a>
                  <a href="/news/"><li class="text-muted"><i class="fa fa-bullhorn" style='width: 18px;' ></i> Новости и Политика</li></a>
                  <a href="/food/"><li class="text-muted"><i class="fa fa-apple-alt" style='width: 18px;' ></i> Еда и Кулинария</li></a>
                  <a href="/science/"><li class="text-muted"><i class="fa fa-atom" style='width: 18px;' ></i> Наука и Техника</li></a>
                  <a href="/sport/"><li class="text-muted"><i class="fa fa-futbol" style='width: 18px;' ></i> Спорт и Здоровье</li></a>
                  <a href="/shopping/"><li class="text-muted"><i class="fa fa-tag" style='width: 18px;' ></i> Мода и Шоппинг</li></a>
                </ul>
                <a href="/newest/" class="text-muted"><h5><i class="far fa-clock" style='width: 18px;' ></i> Новое</h5></a>
                <a href="/random/" class="text-muted"><h5><i class="fas fa-random" style='width: 18px;' ></i> Случайные</h5></a>
              </td>
            </tr>
          </table>
        </div>
      </div>
      {% endblock %}
    </div>
    <div class="col-xl-6 col-ld-6 col-md-12 col-sm-12 " style="padding: 0;">
      <div class="card z-depth-0 border">
        <div class="input-group border-bottom">
          <div class="input-group-prepend">
            <span class="input-group-text" style="background: #fff; border-radius: 0; border: none; font-size: 1.25rem;"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" id="search-important-input" class="form-control" data-toggle="collapse" data-target="#collapseExample" style="border: none; border-radius: 0; padding: 12px 0 12px 0;" placeholder="Поиск" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="card z-depth-0" id="important-messages-desktop" style="z-index: 99;">
          <div class="load-important-wrapp text-center p-0" style="background: #fff">
              <br>
              <div class="load-3">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-ld-3 col-md-2 col-sm-0">
      <ul class="list-group list-group-flush border" style="width: fit-content;" id="right_menu_sticky">
        <a href="/chat" class="list-group-item list-group-item-action" style="text-decoration: none; cursor: pointer;">Все сообщения</a>
        <a href="/chat/important" class="list-group-item list-group-item-action active" style="text-decoration: none; cursor: pointer;">Избранное</a>
      </ul>
    </div>
  </div>
</div>
