{% load staticfiles %}
<ul class="list-group list-group-flush m-0 p-0" style="min-height: inherit; overflow-y: auto;">
{% for message in important_messages %}
<li class="list-group-item list-group-item-action important-message" style="cursor: pointer;" onclick="document.location.href='/chat/{{message.chat.root_user}}/#go_message_{{message.id}}'">
  <div class="media">
    {% if message.user.profile.image_profile.url != '' %}
      <img class="align-self-center mr-3 rounded-circle" src="{{message.user.profile.image_profile_40x40.url}}" alt="Generic placeholder image">
    {% else %}
      <img class="align-self-center mr-3 rounded-circle" src="{% static 'App/def_image/user.svg' %}" height="40px" width="40px" alt="Generic placeholder image">
    {% endif %}
    <div class="media-body" style="width: 90%;">
      <h5 class="font-weight-light m-0">{{message.user}}</h5>
      <h6 class="font-weight-light m-0 message-content">{{message.content}}</h6>
    </div>
  </div>
</li>
{% empty %}
{% if not search %}
<table style="min-height: inherit;">
  <tr>
    <td align='center' class="align-middle" style="padding-bottom: 100px;">
      <h5 class="font-weight-light">У вас нет избранных сообщений!</h5>
      <img src="{% static 'App/def_image/fav.svg' %}" width="40%" alt="">
    </td>
  </tr>
</table>
{% else %}
<table style="min-height: inherit;">
  <tr>
    <td align='center' class="align-middle" style="padding-bottom: 100px;">
      <h5 class="font-weight-light">Сообщения не найдены</h5>
    </td>
  </tr>
</table>
{% endif %}
{% endfor %}
</ul>
