<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользовательское соглашение | Jimbl</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'auth/css/main.css' %}">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One" rel="stylesheet">
    <style>
      @media (max-width: 600px) {
        h1 {
          font-size: 1.5rem;
        }
        h4{
          font-size: 1rem;
        }
      }
    </style>

  </head>
  <body>

    <nav class="navbar navbar-dark border-0 fixed-top shadow" style="background: #007BFF;">
      <div class="container">
        <span class="navbar-brand mb-0 mx-auto" style="padding: 0px;" onclick="document.location.href='/'"><img src="{% static 'logo.svg' %}" width='40px' alt=""><span id='main-nav-mobile-brand-text' style="font-size: 2rem; font-family: 'Coiny', cursive;top: 6px; position: relative;"> Jimbl</span></span>
      </div>
    </nav>

    <section style="margin-top: 64px;" id="main-section">
      <div class="container">
        <div class="row" style="padding: 1rem">
          <h1 class="font-weight-light">Правила пользования Сайтом Jimbl</h1>
          <p>Добро пожаловать на сайт Jimbl, онлайн-сервис для ведения блогов. <br>
          Сайт Jimbl (jimbl.ru) – это сетевой проект, объединяющий множество людей на основании интересов и увлечений.
          </p>
          <p>Администрация Сайта предоставляет Вам доступ к использованию Сайта Jimbl
            и его функционала на условиях, являющихся предметом настоящих Правил пользования Сайтом Jimbl.
            В этой связи Вам необходимо внимательно ознакомиться с условиями настоящих Правил, которые рассматриваются
            Администрацией Сайта как публичная оферта в соответствии со ст. 437 Гражданского кодекса Российской Федерации.</p>
        </div>
        <div class="row" style="padding: 1rem;">
          <ol style="padding: 0;">
            <li class="li-title"><h4>1. Термины, используемые в настоящих Правилах</h4>
            <ol>
              <li><p>Сайт Jimbl (или Сайт) – сервис для ведения блогов, известная под именем «Джимбл»,
                 размещенная на сайте в сети Интернет по адресу: jimbl.ru (включая все уровни указанного домена,
                 как функционирующие на дату принятия Пользователем настоящих Правил, так и запускаемые и вводимые
                 в эксплуатацию в течение всего срока его действия) и доступная Пользователю через сайт, мобильную версию сайта,
                 приложения и иные ресурсы, представляющая собой результат интеллектуальной деятельности в форме программы для ЭВМ.
                 Сервис представлен в объективной форме совокупностью данных и команд, и порождаемых аудиовизуальных
                 отображений (включая входящие в ее состав графические изображения и пользовательский интерфейс),
                 (далее – данные и команды), предназначенных для функционирования ЭВМ и мобильных устройств в целях получения
                 определенного результата в виде организации функционала сервиса. Совокупность данных и команд состоит
                 из активированных и неактивированных данных и команд.</p></li>
              <li><p>
                  Неактивированные данные и команды – данные, команды и порождаемые аудиовизуальные отображения, позволяющие
                  увеличить количество виртуальных ценностей, используемых в рамках функциональных возможностей Сайта.
                  Условия предоставления Администрацией Пользователю права на использование неактивированных данных и
                  команд определены в лицензионном соглашении, действующая редакция которого располагается в свободном доступе
                  в сети Интернет по адресу: <a href="/licence">https://jimbl.ru/licence</a>, заключаемом Администрацией Сайта с Пользователем.
              </p></li>
            </ol>
            </li>
            <li class="li-title"><h4>2. Статус Правил пользования Сайтом Jimbl</h4>
            <ol>
              <li><p>Настоящие Правила пользования Сайтом Jimbl (ранее и далее – Правила)
                 разработаны Администрацией Сайта и определяют условия использования и развития Сайта,
                 а также права и обязанности его Пользователей и Администрации. Правила распространяются
                 также на отношения, связанные с правами и интересами третьих лиц, не являющимися Пользователями
                 Сайта, но чьи права и интересы могут быть затронуты в результате действий Пользователей Сайта.</p>
               </li>
               <li><p>
                 Настоящие Правила являются юридически обязательным соглашением между Пользователем и Администрацией Сайта,
                 предметом которого является предоставление Администрацией Сайта Пользователю доступа к использованию Сайта
                 и его функционала. Помимо настоящих Правил, к соглашению между Пользователем и Администрацией Сайта относятся
                 все специальные документы, регулирующие предоставление доступа к использованию отдельного функционала Сайта
                 (в том числе его неактивированных данных и команд), размещенного в соответствующих разделах Сайта в сети Интернет.
               </p></li>
               <li>
                 <p>
                   Пользователь обязан полностью ознакомиться с настоящими Правилами до момента регистрации на Сайте.
                   Регистрация Пользователя на Сайте означает полное и безоговорочное принятие Пользователем настоящих
                   Правил в соответствии со ст. 438 Гражданского кодекса Российской Федерации.
                 </p>
               </li>
               <li>
                 <p>
                   Настоящие Правила могут быть изменены и/или дополнены Администрацией Сайта в одностороннем порядке
                   без какого-либо специального уведомления. Настоящие Правила являются открытым и общедоступным документом.
                   Действующая редакция Правил располагается в сети Интернет по адресу: <a href="">http://jimbl.com/terms</a>. Администрация Сайта
                   рекомендует Пользователям регулярно проверять условия настоящих Правил на предмет их изменения и/или дополнения.
                   Продолжение использования Сайта Пользователем после внесения изменений и/или дополнений в настоящие
                   Правила означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.
                 </p>
               </li>
            </ol>
            </li>
            <li class="li-title"><h4>3. Статус Сайта Jimbl</h4>
            <ol>
              <li><p>
                Права на Сайт в целом и на использование сетевого адреса (доменного имени) <a href="">http://jimbl.ru</a> принадлежат Администрации Сайта.
                Последняя предоставляет доступ к Сайту всем заинтересованным лицам в соответствии с настоящими Правилами
                и действующим законодательством Российской Федерации.
              </p></li>
              <li><p>
                 Настоящими Правилами установлены условия, в соответствии с которыми права на использование информации
                 и результатов интеллектуальной деятельности (включая, но не ограничиваясь литературными, музыкальными,
                 аудиовизуальными произведениями и фонограммами, произведениями графики и дизайна, фотографическими
                 произведениями, программами для ЭВМ) в составе отдельных разделов Сайта, могут принадлежать Пользователям
                 Сайта и иным лицам, самостоятельно создавшим и/или разместившим указанные объекты на Сайте без непосредственного
                 участия Администрации Сайта.
              </p></li>
            </ol>
            </li>
            <li class="li-title"><h4>4. Администрация Сайта Jimbl</h4>
            <ol>
              <li><p>Обращения, предложения и претензии физических и юридических лиц к Администрации Сайта в связи
                  с настоящими Правилами и всеми вопросами по функционированию Сайта, нарушениями прав и интересов
                  третьих лиц при его использовании, а также для запросов уполномоченных законодательством Российской
                  Федерации лиц могут быть направлены на электронный почтовый адрес <a href="">jimbl.service@gmail.com</a></p></li>
              <li>
                <p>
                  В отношении функционирования и развития Сайта Администрация руководствуется законодательством Российской Федерации,
                  настоящими Правилами и иными специальными документами, которые разработаны или могут быть разработаны и приняты
                  Администрацией Сайта в целях регламентации предоставления Пользователям доступа к отдельному функционалу Сайта.
                </p>
              </li>
              <li>
                <p>
                  Никакие положения настоящих Правил не предоставляют Пользователю право на использование фирменного наименования,
                  товарных знаков, доменных имен и иных отличительных знаков Администрации Сайта. Право на использование фирменного
                  наименования, товарных знаков, доменных имен и иных отличительных знаков Администрации Сайта может быть предоставлено
                  исключительно по письменному соглашению с Администрацией Сайта.
                </p>
              </li>
            </ol>
            </li>
            <li class="li-title">
              <h4>5. Регистрация на Сайте Jimbl и статус Пользователя</h4>
              <ol>
                <li>
                  <p>
                    Регистрация Пользователя на Сайте является бесплатной, добровольной и производится по адресу в сети Интернет: <a href="#">jimbl.ru</a>.
                  </p>
                </li>
                <li>
                  <p>
                    Пользователем Сайта является физическое лицо, зарегистрированное на Сайте в соответствии с установленным настоящими
                    Правилами порядком, достигшее возраста, допустимого в соответствии с законодательством Российской Федерации для
                    акцепта настоящих Правил, и обладающее соответствующими полномочиями (ранее и далее – Пользователь).
                  </p>
                </li>
                <li>
                  <p>
                     При регистрации на Сайте Пользователь обязан предоставить Администрации Сайта необходимую достоверную
                     и актуальную информацию для формирования персональной страницы Пользователя, включая уникальные для каждого
                     Пользователя логин и пароль доступа к Сайту, а также фамилию и имя. Регистрационная форма Сайта может запрашивать
                     у Пользователя дополнительную информацию.
                  </p>
                </li>
                <li>
                  <p>
                    Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие законодательству
                    Российской Федерации предоставленной при регистрации информации и ее чистоту от претензий третьих лиц.
                  </p>
                </li>
                <li>
                  <p>
                    После предоставления информации, указанной в п. 5.3. настоящих Правил, Пользователю необходимо пройти ряд удостоверительных процедур, а именно, (а) подтвердить регистрацию путем распознания автоматизированного теста, предназначенного для различия компьютеров и людей («капчи»); (б) подтвердить регистрацию путем введения в соответствующую форму на Сайте кода, полученного Пользователем в виде сообщения на электронную почту пользователя от Администрации Сайта, электронная почта которого предоставляется самим Пользователем. В случае верного последовательного выполнения всех регистрационных действий на Сайте создается персональная страница Пользователя, имеющая сетевой адрес вида <b>http://jimbl.com/[имя пользователя]</b>. Пользователь вправе зарегистрировать не более одной персональной страницы на Сайте.
                  </p>
                </li>
                <li>
                  <p>
                    При регистрации Пользователь соглашается с настоящими Правилами и принимает на себя указанные в них права и обязанности, связанные с использованием и функционированием Сайта. Пользователь соглашается на получение посредством сервисов Администрации Сайта и/или сервисов третьих лиц электронных сообщений, sms и иных видов рассылок информационного, в т.ч. рекламно-информационного, содержания, в том числе от партнеров Администрации Сайта. Право использования неактивированных данных и команд предоставляется Пользователю при выполнении дополнительно к указанному выше условий лицензионного соглашения (см. п. 1.2. настоящих Правил).
                  </p>
                </li>
                <li>
                  <p>
                    После успешной регистрации Пользователя на Сайте Администрация принимает на себя права и обязанности перед Пользователем, указанные в настоящих Правилах.
                  </p>
                </li>
                <li>
                  <p>
                    Обработка персональных данных Пользователя осуществляется в соответствии с законодательством Российской Федерации. Администрация Сайта обрабатывает персональные данные Пользователя в целях предоставления Пользователю доступа к использованию функционала Сайта, в том числе в целях получения Пользователем таргетированной рекламы; проверки, исследования и анализа таких данных, позволяющих поддерживать и улучшать функционал и разделы Сайта, а также разрабатывать новый функционал и разделы Сайта. Администрация Сайта принимает все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения. Администрация предоставляет доступ к персональным данным Пользователя только тем работникам, подрядчикам и агентам Администрации, которым эта информация необходима для обеспечения функционирования Сайта и предоставления Пользователю доступа к его использованию. Администрация Сайта вправе использовать предоставленную Пользователем информацию, в том числе персональные данные, а также передавать ее третьим лицам, в целях обеспечения соблюдения требований действующего законодательства Российской Федерации, защиты прав и интересов Пользователей, Администрации Сайта, третьих лиц (в том числе в целях выявления, проверки/расследования и/или пресечения противоправных действий). Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим законодательством Российской Федерации по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством Российской Федерации случаях. Поскольку Администрация Сайта осуществляет обработку персональных данных Пользователя в целях исполнения настоящих Правил, в силу положений законодательства о персональных данных согласие Пользователя на обработку его персональных данных не требуется.
                  </p>
                </li>
                <li>
                  <p>
                    Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для доступа Пользователя на Сайт. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения. Пользователь на используемом им аппаратно-программном обеспечении может разрешить хранение логина и пароля (с использованием файлов cookies) для последующей автоматической авторизации на Сайте.
                  </p>
                </li>
                <li>
                  <p>
                    Если Пользователем не доказано обратное, любые действия, совершенные с использованием его логина и пароля, считаются совершенными соответствующим Пользователем. В случае несанкционированного доступа к логину и паролю и/или персональной странице Пользователя, или распространения логина и пароля Пользователь обязан незамедлительно сообщить об этом Администрации Сайта в установленном порядке.
                  </p>
                </li>
                <li>
                  <p>
                    После регистрации Пользователь получает право самостоятельно в личных целях создавать, использовать и определять содержание собственной персональной страницы и условия доступа других Пользователей к ее содержанию.
                  </p>
                </li>
                <li>
                  <p>
                    Пользователь как обладатель информации, размещенной на собственной персональной странице, осознает, что за исключением случаев, установленных настоящими Правилами и действующим законодательством Российской Федерации, Администрация Сайта не принимает участие в формировании и использовании содержания и контроле доступа других пользователей к персональной странице Пользователя. Размещая информацию на персональной странице, в том числе свои персональные данные, Пользователь осознает и соглашается с тем, что указанная информация может быть доступна другим пользователям сети Интернет с учетом особенностей архитектуры и функционала Сайта.
                  </p>
                </li>
                <li>
                  <p>
                     В отношении информации о себе Пользователь имеет право:
                     <ul>
                       <li><p><b>(a)</b> Самостоятельно удалять ранее размещенную Пользователем информацию на Сайте.</p></li>
                       <li><p><b>(б)</b> Самостоятельно удалять персональную страницу Пользователя с использованием функциональной возможности «удалить свою страницу», доступной Пользователю в разделе «Мои настройки».</p></li>
                     </ul>
                  </p>
                </li>
              </ol>
            </li>
            <li class="li-title">
              <h4>6. Обязанности Пользователя Jimbl</h4>
              <ol>
                <li><p>При использовании Сайта Пользователь обязан:</p>
                <ul class="default">
                  <li><p>соблюдать положения действующего законодательства Российской Федерации, настоящих Правил и иных специальных документов Администрации Сайта;</p></li>
                  <li><p>предоставлять при регистрации достоверные, полные и актуальные данные, следить за их актуализацией;</p></li>
                  <li><p>информировать Администрацию Сайта о несанкционированном доступе к персональной странице и/или о несанкционированном доступе и/или использовании пароля и логина Пользователя;</p></li>
                  <li><p>не предоставлять доступ другим Пользователям к собственной персональной странице или к отдельной содержащейся на ней информации в случае, если это может привести к нарушению законодательства Российской Федерации и/или настоящих Правил, специальных документов Администрации Сайта;</p></li>
                  <li><p>не размещать на персональной странице информацию и объекты (включая ссылки на них), которые могут нарушать права и интересы других лиц;</p></li>
                  <li><p>перед размещением информации и объектов (включая, но не ограничиваясь, изображениями других лиц, чужими текстами различного содержания, аудиозаписями и видеофильмами) предварительно оценивать законность их размещения;</p></li>
                  <li><p>хранить в тайне и не предоставлять другим Пользователям и третьим лицам ставшие ему известными в результате общения с другими Пользователями и иного использования Сайта персональные данные (включая, но не ограничиваясь, домашними адресами, номерами телефонов, адресами электронной почты, ICQ, паспортными данными, банковской информацией) и информацию о частной жизни других Пользователей и третьих лиц без получения соответствующего предварительного разрешения последних;</p></li>
                  <li><p>осуществлять резервное копирование важной для Пользователя хранящейся на его персональной странице информации.</p></li>
                </ul>
                </li>
                <li><p>В случае наличия сомнений в отношении законности осуществления тех или иных действий, в том числе по размещению информации или предоставлению доступа, Администрация Сайта рекомендует воздержаться от осуществления последних.</p></li>
                <li><p>Пользователю при использовании Сайта запрещается:</p>
                  <ol>
                    <li><p>регистрироваться в качестве Пользователя от имени или вместо другого лица («фальшивый аккаунт») или регистрировать группу (объединение) лиц или юридическое лицо в качестве Пользователя. При этом, возможна регистрация от имени и поручению другого физического лица или юридического лица при условии получения необходимых полномочий в порядке и форме, предусмотренных законодательством Российской Федерации;</p></li>
                    <li><p>вводить Пользователей в заблуждение относительно своей личности, используя логин и пароль другого зарегистрированного Пользователя;</p></li>
                    <li><p>искажать сведения о себе, своем возрасте или своих отношениях с другими лицами или организациями;</p></li>
                    <li><p>загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать любую информацию, которая:</p>
                        <ol>
                          <li><p>содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию или нарушает неприкосновенность частной жизни других Пользователей или третьих лиц;</p></li>
                          <li><p>нарушает права несовершеннолетних лиц;</p></li>
                          <li><p>является вульгарной или непристойной, содержит порнографические изображения и тексты или сцены сексуального характера с участием несовершеннолетних;</p></li>
                          <li><p>содержит сцены бесчеловечного обращения с животными;</p></li>
                          <li><p>содержит описание средств и способов суицида, любое подстрекательство к его совершению;</p></li>
                          <li><p>пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти или вражды, пропагандирует фашизм или идеологию расового превосходства;</p></li>
                          <li><p>содержит экстремистские материалы;</p></li>
                          <li><p>ропагандирует преступную деятельность или содержит советы, инструкции или руководства по совершению преступных действий;</p></li>
                          <li><p>содержит информацию ограниченного доступа, включая, но не ограничиваясь, государственной и коммерческой тайной, информацией о частной жизни третьих лиц;</p></li>
                          <li><p>содержит рекламу или описывает привлекательность употребления наркотических веществ, в том числе «цифровых наркотиков» (звуковых файлов, оказывающих воздействие на мозг человека за счет бинауральных ритмов), информацию о распространении наркотиков, рецепты их изготовления и советы по употреблению;</p></li>
                          <li><p>потенциально может привести к совершению противоправных действий путем введения Пользователей в заблуждение или злоупотребления их доверием;</p></li>
                          <li><p>нарушает иные права и интересы граждан и юридических лиц или требования законодательства Российской Федерации.</p></li>
                        </ol>
                    </li>
                    <li><p>незаконно загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать интеллектуальную собственность Пользователей и третьих лиц;</p></li>
                    <li><p>осуществлять массовые рассылки сообщений в адрес других Пользователей Сайта без их согласия;</p></li>
                    <li><p>использовать программное обеспечение и осуществлять действия, направленные на нарушение нормального функционирования Сайта или персональных страниц Пользователей;</p></li>
                    <li><p>загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать вирусы, трояны и другие вредоносные программы;</p></li>
                    <li><p>использовать без специального на то разрешения Администрации Сайта автоматизированные скрипты (программы, боты, краулеры) для сбора информации на Сайте и/или взаимодействия с Сайтом и его функционалом;</p></li>
                    <li><p>любым способом, в том числе, но не ограничиваясь, путем обмана, злоупотребления доверием, взлома, пытаться получить доступ к логину и паролю другого Пользователя;</p></li>
                    <li><p>осуществлять незаконные сбор и обработку персональных данных других лиц;</p></li>
                    <li><p>осуществлять использование Сайта иным способом, кроме как через интерфейс, предоставленный Администрацией Сайта, за исключением случаев, когда такие действия были прямо разрешены Пользователю в соответствии с отдельным соглашением с Администрацией;</p></li>
                    <li><p>воспроизводить, дублировать, копировать, продавать, осуществлять торговые операции и перепродавать доступ к использованию Сайта, в том числе его неактивированных данных и команд, для каких-либо целей, за исключением случаев, когда такие действия были прямо разрешены Пользователю в соответствии с условиями отдельного соглашения с Администрацией;</p></li>
                    <li><p>размещать коммерческую и политическую рекламу вне специальных разделов Сайта, установленных Администрацией Сайта;</p></li>
                    <li><p>размещать любую другую информацию, которая, по личному мнению Администрации, является нежелательной, не соответствует целям создания Сайта, ущемляет интересы Пользователей или по другим причинам является нежелательной для размещения на Сайте;</p></li>
                    <li><p>осуществлять самостоятельно либо от имени других Пользователей с использованием функционала их аккаунта, в том числе путем введения в заблуждение или с обещанием поощрения, в том числе с использованием любых программ, автоматизированных скриптов, массовые однотипные действия, направленные на искусственное повышение показателей счётчиков Сайта (числа подписчиков, отметок «Нравится», событий «Поделиться» и т.д.).</p></li>
                  </ol>
                </li>
                <li><p>Пользователь несет личную ответственность за любую информацию, которую размещает на Сайте, сообщает другим Пользователям, а также за любые взаимодействия с другими Пользователями, осуществляемые на свой риск.</p></li>
                <li><p>В случае несогласия Пользователя с настоящими Правилами или их обновлениями, Пользователь обязан отказаться от использования Сайта, проинформировав об этом Администрацию Сайта в установленном порядке.</p></li>
                <li><p>Приобретение Пользователем права использования неактивированных данных и команд Сайта осуществляется на основании лицензионного соглашения, текст которого расположен в свободном доступе в сети Интернет по адресу: <a href="">http://jimbl.ru/licence</a>, заключаемого Администрацией Сайта с Пользователем.</p></li>
              </ol>
            </li>
            <li class="li-title"><h4>7. Функционирование Сайта Jimbl и ответственность при его использовании</h4>
            <ol>
              <li><p>Пользователи несут ответственность за собственные действия в связи с созданием и размещением информации на собственной персональной странице на Сайте, а также в связи с размещением информации на персональных страницах других Пользователей и в иных разделах Сайта в соответствии с действующим законодательством Российской Федерации. Нарушение настоящих Правил и действующего законодательства Российской Федерации влечет за собой гражданско-правовую, административную и уголовную ответственность.</p></li>
              <li><p>Администрация Сайта предоставляет техническую возможность его использования Пользователями, не участвует в формировании содержания персональных страниц Пользователей и не контролирует и не несет ответственности за действия или бездействие любых лиц в отношении использования Сайта или формирования и использования содержания персональных страниц Пользователей на Сайте.</p></li>
              <li><p>В информационной системе Сайта и его программном обеспечении отсутствуют технические решения, осуществляющие автоматические цензуру и контроль действий и информационных отношений Пользователей по использованию Сайта, за исключением специальных технических решений, которые могут реализовываться Администрацией в целях предотвращения и пресечения нарушений прав третьих лиц на результаты интеллектуальной деятельности.</p></li>
              <li><p>Администрация сохраняет за собой право в любое время изменять оформление Сайта, его содержание, функционал, изменять или дополнять используемые скрипты, программное обеспечение и другие объекты, используемые или хранящиеся на Сайте, любые серверные приложения в любое время с предварительным уведомлением или без такового.</p></li>
              <li><p>Администрация Сайта не занимается предварительной модерацией или цензурой информации Пользователей и предпринимает действия по защите прав и интересов лиц и обеспечению соблюдения требований законодательства Российской Федерации только после обращения заинтересованного лица к Администрации Сайта в установленном порядке.</p></li>
              <li><p>Администрация Сайта не несет ответственности за нарушение Пользователем настоящих Правил и оставляет за собой право по своему собственному усмотрению, а также при получении информации от других пользователей либо третьих лиц о нарушении Пользователем настоящих Правил, изменять (модерировать), блокировать или удалять любую публикуемую
                 Пользователем информацию, нарушающую запреты, установленные настоящими Правилами, приостанавливать, ограничивать или прекращать доступ Пользователя ко всем или к любому из разделов или функционалу Сайта в любое время по любой причине или без объяснения причин, с предварительным уведомлением или без такового. Администрация Сайта закрепляет за собой право удалить персональную
                  страницу Пользователя и/или приостановить, ограничить или прекратить доступ Пользователя к любой из функциональных возможностей Сайта, если Администрация обнаружит, что по ее мнению, Пользователь представляет угрозу для Сайта и/или его Пользователей. Наряду с указанным в настоящем пункте выше Администрация Сайта вправе блокировать и/или удалять Приложения API, ограничивать доступ Пользователей
                   к Приложения API, сайтам, приложениям третьих лиц, иным сторонним ресурсам, блокировать и/или удалять ссылки на них, в случае если у Администрации Сайта появятся основания полагать, что такие Приложения API, сайты, приложения третьих лиц, иные сторонние ресурсы представляют или могут представлять угрозу для нормальной работы Сайта и его Пользователей. Администрация Сайта реализует описанные выше меры в соответствии с применимым законодательством и не несет ответственности за возможные негативные последствия таких мер для Пользователя или третьих лиц.</p></li>
                   <li><p>После удаления персональной страницы Пользователь теряет доступ к использованию Сайта. Удаление персональной страницы Пользователя означает автоматическое удаление всей информации, размещенной на ней, а также всей информации Пользователя, введенной при регистрации на Сайте.</p></li>
                   <li><p>Администрация Сайта обеспечивает функционирование и работоспособность Сайта и обязуется оперативно восстанавливать его работоспособность в случае технических сбоев и перерывов. Администрация Сайта не несет ответственности за временные сбои и перерывы в работе Сайта и вызванные ими потерю информации. Администрация не несет ответственности за любой ущерб компьютеру Пользователя или иного лица, мобильным устройствам, любому другому оборудованию или программному обеспечению, вызванный или связанный со скачиванием материалов с Сайта или по ссылкам, размещенным на Сайте.</p></li>
                   <li><p>Администрация Сайта имеет право направлять Пользователю информацию о развитии Сайта и его функционала, а также рекламировать собственную деятельность.</p></li>
                   <li><p>Ограничение ответственности Администрации Сайта:</p>
                    <ol>
                      <li><p>САЙТ И ЕГО ФУНКЦИОНАЛ, ВКЛЮЧАЯ ВСЕ СКРИПТЫ, ПРИЛОЖЕНИЯ, КОНТЕНТ И ОФОРМЛЕНИЕ САЙТА ПОСТАВЛЯЮТСЯ «КАК ЕСТЬ». АДМИНИСТРАЦИЯ ОТКАЗЫВАЕТСЯ ОТ ВСЯКИХ ГАРАНТИЙ ТОГО, ЧТО САЙТ ИЛИ ЕГО ФУНКЦИОНАЛ МОГУТ ПОДХОДИТЬ ИЛИ НЕ ПОДХОДИТЬ ДЛЯ КОНКРЕТНЫХ ЦЕЛЕЙ ИСПОЛЬЗОВАНИЯ. АДМИНИСТРАЦИЯ НЕ МОЖЕТ ГАРАНТИРОВАТЬ И НЕ ОБЕЩАЕТ НИКАКИХ СПЕЦИФИЧЕСКИХ РЕЗУЛЬТАТОВ ОТ ИСПОЛЬЗОВАНИЯ САЙТА И/ИЛИ ЕГО ФУНКЦИОНАЛА;</p></li>
                      <li><p>ВО ИЗБЕЖАНИЕ НЕДОРАЗУМЕНИЙ ПОЛЬЗОВАТЕЛЮ СЛЕДУЕТ СОБЛЮДАТЬ МЕРЫ ПРЕДОСТОРОЖНОСТИ В СКАЧИВАНИИ С САЙТА ИЛИ ПО РАЗМЕЩЕННЫМ НА НЕМ ССЫЛКАМ, И ИСПОЛЬЗОВАНИИ ЛЮБЫХ ФАЙЛОВ, В ТОМ ЧИСЛЕ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ. АДМИНИСТРАЦИЯ САЙТА НАСТОЯТЕЛЬНО РЕКОМЕНДУЕТ ИСПОЛЬЗОВАТЬ ТОЛЬКО ЛИЦЕНЗИОННОЕ, В ТОМ ЧИСЛЕ АНТИВИРУСНОЕ, ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ;</p></li>
                      <li><p>ИСПОЛЬЗУЯ САЙТ, ПОЛЬЗОВАТЕЛЬ СОГЛАШАЕТСЯ С ТЕМ, ЧТО СКАЧИВАЕТ С САЙТА ИЛИ С ЕГО ПОМОЩЬЮ ЛЮБЫЕ МАТЕРИАЛЫ НА СВОЙ СОБСТВЕННЫЙ РИСК И НЕСЕТ ЛИЧНУЮ ОТВЕТСТВЕННОСТЬ ЗА ВОЗМОЖНЫЕ ПОСЛЕДСТВИЯ ИСПОЛЬЗОВАНИЯ УКАЗАННЫХ МАТЕРИАЛОВ, В ТОМ ЧИСЛЕ ЗА УЩЕРБ, КОТОРЫЙ ЭТО МОЖЕТ ПРИЧИНИТЬ КОМПЬЮТЕРУ ПОЛЬЗОВАТЕЛЯ ИЛИ ТРЕТЬИМ ЛИЦАМ, ЗА ПОТЕРЮ ДАННЫХ ИЛИ ЛЮБОЙ ДРУГОЙ ВРЕД;</p></li>
                      <li><p>НИ ПРИ КАКИХ ОБСТОЯТЕЛЬСТВАХ АДМИНИСТРАЦИЯ САЙТА ИЛИ ЕЕ ПРЕДСТАВИТЕЛИ НЕ НЕСУТ ОТВЕТСТВЕННОСТЬ ПЕРЕД ПОЛЬЗОВАТЕЛЕМ ИЛИ ПЕРЕД ЛЮБЫМИ ТРЕТЬИМИ ЛИЦАМИ ЗА ЛЮБОЙ КОСВЕННЫЙ, СЛУЧАЙНЫЙ, НЕУМЫШЛЕННЫЙ УЩЕРБ, ВКЛЮЧАЯ УПУЩЕННУЮ ВЫГОДУ ИЛИ ПОТЕРЯННЫЕ ДАННЫЕ, ВРЕД ЧЕСТИ, ДОСТОИНСТВУ ИЛИ ДЕЛОВОЙ РЕПУТАЦИИ, ВЫЗВАННЫЙ В СВЯЗИ С ИСПОЛЬЗОВАНИЕМ САЙТА, СОДЕРЖИМОГО САЙТА ИЛИ ИНЫХ МАТЕРИАЛОВ, К КОТОРЫМ ВЫ ИЛИ ИНЫЕ ЛИЦА ПОЛУЧИЛИ ДОСТУП С ПОМОЩЬЮ САЙТА, ДАЖЕ ЕСЛИ АДМИНИСТРАЦИЯ САЙТА ПРЕДУПРЕЖДАЛА ИЛИ УКАЗЫВАЛА НА ВОЗМОЖНОСТЬ ТАКОГО ВРЕДА.</p></li>
                    </ol>
                   </li>
            </ol>
            </li>
            <li class="li-title"><h4>8. Заключительные положения</h4>
            <ol>
              <li><p>Настоящие Правила составляют соглашение между Пользователем и Администрацией Сайта относительно порядка использования Сайта и его функционала и заменяют собой все предыдущие соглашения между Пользователем и Администрацией.</p></li>
              <li><p>Настоящие Правила регулируются и толкуются в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные Правилами, подлежат разрешению в соответствии с законодательством Российской Федерации.</p></li>
              <li><p>В случае возникновения любых споров или разногласий, связанных с исполнением настоящих Правил, Пользователь и Администрация Сайта приложат все усилия для их разрешения путем проведения переговоров между ними. В случае, если споры не будут разрешены путем переговоров, споры подлежат разрешению в порядке, установленном действующим законодательством Российской Федерации.</p></li>
              <li><p>Настоящие Правила вступают в силу для Пользователя с момента его присоединения к ним и действуют в течение неопределенного срока.</p></li>
              <li><p>Настоящие Правила составлены на русском языке и могут быть предоставлены Пользователю для ознакомления на другом языке. В случае расхождения русскоязычной версии Правил и версии Правил на ином языке, применяются положения русскоязычной версии настоящих Правил.</p></li>
              <li><p> Если по тем или иным причинам одно или несколько положений настоящих Правил будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений.</p></li>
            </ol>
            </li>
          </ol>
        </div>
        <div class="row">
          <small class="form-text fw" style="text-align: center;">© 2019 Jimbl. Все права защищены. | <a href="../">Главная страница</a></small>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'auth/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mdb.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
