{% load staticfiles %}
<div class="card post mb-4" style="width: 100%; border: none;">
  <div class="card-header" style="border-bottom: none;">
    <table style="width: 100%;">
      <tr>
        <td align="left">
          <div class="media">
            {% if post.user.profile.image_profile != '' %}
            <img src="{{post.user.profile.image_profile_settings.url}}" onclick="document.location.href='/{{post.user}}'" width="40px" height="40px" style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
            {% else %}
            <img src="{% static 'App/def_image/user.svg' %}" onclick="document.location.href='/{{post.user}}'" width="40px" height="40px" style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
            {% endif %}
            <div class="media-body">
              <b onclick="document.location.href='/{{post.user.username}}';" style="cursor: pointer;">{{post.user}}</b> <small class="text-muted">Поделился записью</small><br>
              <small class="text-muted"> {{post.date|timesince}} назад</small>
            </div>
          </div>
        </td>
        <td align="right">
          <div class="dropdown">
            <img src="{% static 'App/def_image/down-arrow.svg' %}" width="20px" class="dropdown-post" style="position: relative;" onmouseenter="$('[id=dropdown-post-{{post.id}}]').removeClass('hidden')">
            <div class="dropdown-post" style="padding-top: 42px; position: absolute; z-index: 100; right:0; top: 0;" onmouseleave="$('[id=dropdown-post-{{post.id}}]').addClass('hidden')">
              <div class="card hidden" id="dropdown-post-{{post.id}}" >
                {% if user == post.user %}
                  <a class="dropdown-item" style="cursor: pointer;" onclick="delete_share('{{post.id}}')">Удалить запись</a>
                {% endif %}
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="card-header" style="background: #fff; border: none;">
    <table style="width: 100%;">
      <tr>
        <td align="left">
          <div class="media">
            {% if post.post.user.profile.image_profile != '' %}
            <img src="{{post.post.user.profile.image_profile_settings.url}}" width="40px" height="40px" style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
            {% else %}
            <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px" style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
            {% endif %}
            <div class="media-body">
              <b onclick="document.location.href='/{{post.post.user.username}}';" style="cursor: pointer;">{{post.post.user.username}}</b><br>
              <small class="text-muted"> {{post.post.date|timesince}} назад</small>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="card" style="border: none;">
    <img class="img-fluid" src="{{post.post.image_preview_profile.url}}">
    <div id="img-overlay" class="card-img-overlay text-white img-overlay-{{post.post.id}}" style="background: rgba(0,0,0,.5);">
      <table class="fw fh">
        <tr>
          <td class="align-middle text-white overlay-main" id="overlay-main-{{post.post.id}}" align="center">
            <div class="card-title-wrapper">
              {{post.post.title}}
            </div>
            <button class="btn btn-sm btn-light pl-3 pr-3" onclick="document.location.href='/{{post.post.user}}/post/{{post.post.id}}'">
              <i class="fas fa-location-arrow fa-lg mr-2"></i> Читать
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card-body" style="padding-top: 0;">
    <div class="card-text">
      <h4 class="card-title mb-0 mt-3">
        <table class="fw">
          <tr class="post-statistic">
            <td align="left">
              <form id="form_like_{{post.post.id}}">
                {% csrf_token %}
                <input type="hidden" value="{{post.post.id}}" name="post_id">
                <input type="hidden" value="liking" name="liking">
              </form>
              <span class="like {% if user in post.post.likes.all %}liked{%endif%}" onclick="like('form_like_{{post.post.id}}', this, {{post.post.id}})"><i class="fa-lg {% if user in post.post.likes.all %}fas{%else%}far{%endif%} fa-heart post-like-{{post.post.id}}"></i> </span>
              <span id="post-like-cnt-{{post.post.id}}">{{post.post.likes.count}}</span>
              <button class="show-comment-form" onclick="$('[name=share_comment_data_{{post.post.id}}]').focus();" style="outline: none;" type="button">
                <i class="far fa-comment fa-lg"></i>
              </button>
              <span id="post-comments-cnt-{{post.id}}">{{post.post.comments.count}}</span>
              <span id="share_icon_{{post.post.id}}" style="cursor: pointer;" class="{% if user in post.post.share.all %}reposted{%endif%}"><i class="fa-lg fa fa-share" onclick="{% if user.is_authenticated %}toggle_overlay({{post.post.id}}){% else %}$('#no-logged-user-like-modal').modal('show'){% endif %}"></i></span> <span id="share_post_count_{{post.post.id}}">{{post.post.share.count}}</span>
            </td>
            <td align="right">
              <i class="fa fa-eye"></i>
              {{post.post.views.count}}
            </td>
          </tr>
        </table>
      </h4>
      {% if post.post.discription %}
        <p class="lead discription-post"><b>{{post.post.user.username}}:</b> {{post.post.discription}}</p>
      {% endif %}
    </div>
    <form id="comment-form-{{post.post.id}}">
    {% csrf_token %}
    <br>
    <div class="card-text">
      {% if user.is_authenticated %}
      {% if post.post.user.profile.accept_comment_posts == 0 %}
        <div class="md-form mt-0">
          <span class="prefix pr-3 border-0" style="padding: 0 5px 0 0; background: #fff; border-right: none;">
            {% if user.profile.image_profile.url != '' %}
              <img src="{{user.profile.image_profile_settings.url}}" width="40px" height="40px" class="rounded-circle" alt="avatar">
            {% else %}
              <img src="{% static 'App/def_image/user.svg' %}" class="rounded-circle" width="40px" height="40px" alt="avatar">
            {% endif %}
          </span>
          <input type="text" autocomplete="off" onkeypress="if (event.keyCode==13){ comment({{post.post.id}}); $(this).val(''); return false;}" name="comment_data_{{post.post.id}}" class="form-control" id="comment_input_{{post.post.id}}" style="text-indent: 1rem;">
          <label for="comment_input_{{post.post.id}}" class="pl-3 border-0">Прокомментируйте запись...</label>
        </div>
      {% endif %}
      {% else %}
      <p><a href="/accounts/login">Войдите</a>, чтобы комментировать, делиться и ставить лайки.</p>
      {% endif %}
    </div>
    </form>
    <div class="card-text comments-list-{{post.post.id}}">
      {% for comment in post.post.comments.all|slice:'0:3' reversed   %}
        <div class="comment comments-{{post.post.id}}" style="max-width: 630px;">
          <div class="row">
            <div class="media fw">
              {% if comment.user.profile.image_profile.url != '' %}
              <img class="align-self-center mr-3 rounded-circle" src="{{comment.user.profile.image_profile_settings.url}}" width="40px" height="40px" alt="Generic placeholder image">
              {% else %}
              <img class="align-self-center mr-3 rounded-circle" src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  alt="Generic placeholder image">
              {% endif %}
              <div class="media-body fw">
                <p id="comment-text" style="margin: 0;"><b>{{comment.user}}: </b>{{comment.data}}</p>
                <table class="fw">
                  <tr class="comment-statistic">
                    <td align="left">
                      <form id="comment_like_{{comment.id}}">
                        {% csrf_token %}
                        <input type="hidden" value="{{comment.id}}" name="comment_id">
                        <input type="hidden" value="1" name="liking_comment">
                      </form>
                      <span class="like {% if user in comment.likes.all %}liked{%endif%}" onclick="like_comment('comment_like_{{comment.id}}', this, {{comment.id}})">
                        <i class="{% if user in comment.likes.all %}fas{%else%}far{%endif%} fa-heart comment-like-{{comment.id}}"></i>
                      </span>
                      <span id="comment-like-cnt-{{comment.id}}">{{comment.likes.count}}</span>
                    </td>
                    <td align="right">
                      <small class="text-muted">{{comment.date|timesince}} назад</small>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% if post.comments.count != 0 and post.comments.count > 3 %}
        <button type="button" class="btn btn-link load-more-comments" id="{{post.post.id}}" onclick="load_more_comments('{{post.post.id}}')">Загрузить еще</button>
      {% endif %}
    </div>
  </div>
</div>
