html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#logo-mobile-text{
  display: none;
}

.card-header.white-text{
  display: block;
}

.navbar{
  display: block;
}

.top-header-mobile{
  width: 100%;
  height: 250px;
  background: #007dff;
  position: absolute;
  display: none;
}

#card-header-text-common{
  display: none;
}

@media (max-width: 850px) {
  .navbar{
    display: none;
  }

  .top-header-mobile{
    display: block;
  }

  #card-header-text{
    display: none;
  }

  #card-header-text-common{
    display: block;
  }

  #logo-mobile-text{
    display: inline;
  }

  .card-header.white-text{
    background: #3d4fff !important;
  }

  .animated.fadeIn.align-middle{
    top: 50px !important;
    position: relative;
  }
  .animated.fadeIn.align-middle > .card{
    margin-bottom: 100px;
  }
}

@media (max-width: 500px) {
  .top-header-mobile{
    display: none;
  }

  .card-header.white-text{
    display: none;
  }

  .navbar{
    display: block;
  }

  .card{
    border: 0;
    box-shadow: none;
  }

  #logo-mobile-text{
    display: inline;
  }

  img[width='200px']{
    width: 125px !important;
  }
  img[width='150px']{
    width: 100px !important;
  }
  h3.title{
    font-size: 1.25rem !important;
    text-align: center;
  }
  .logo-img{
    display: none !important;
  }
  p, label, input{
    padding-top: 1px;
    font-size: 13px;
  }
  table{
    width: 100%;
    min-width: unset !important;
  }
  td.align-middle{
    vertical-align: top !important;
  }
  .animated.fadeIn.align-middle{
    top: 70px !important;
    position: relative;
  }
  .td-email{
    position: unset !important;
    top: 10px !important;
    padding-bottom: 100px !important;
  }
}

ol{
  list-style: none;
  counter-reset: li;
}

li::before{
  counter-increment: li;
  content: counters(li,".") ". ";
}

.li-title::before{
  content: '';
}

li{
  margin-top: 1rem;
}

ul.default{
  list-style: none;
}

p{
  font-weight: lighter;
}

li::before, p{
  display: inline;
}

.hidden{
  display: none;
}

.logo {
  border: 1px solid #007bff;
  border-radius: 5px;
  font-family: sans-serif;
  color: #fff;
  font-size: 2em;
  background: #007bff;
  padding: 1px 12px 1px 12px;
}

.fw{
  width: 100%;
}

#main-section{
  position: relative;
}

.navbar{
  border-bottom: 1px solid #E6E6E6;
}

.brand{
  font-size: 2em;
}

.fh{
  height: 100%;
}

section{
  height: 100%;
  width: 100%;
}
