<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{post.title}} (@{{post.user.username}}) | Пост на Jimbl</title>

  <meta name="description" content="{{post.discription}}">
  <meta name="keywords" content="блог, блогер, создать блог, блоги, создать блог онлайн, создать блог быстро">

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
  <link rel="stylesheet" href="{% static 'Post/css/post.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/animate.css' %}">
  <link rel="stylesheet" href="{% static 'App/profile/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/preload-anim.css' %}">

  <meta property="og:url"   content="http://jimbl.ru/{{post.user.username}}/post/{{post.id}}" />
  <meta property="og:type"  content="website" />
  <meta property="og:title" content="{{post.title}} (@{{post.user.username}}) | Пост на Jimbl" />
  {% if post.discription %}
  <meta property="og:description"   content="{{post.discription}}" />
  {% endif %}
  <meta property="og:image" content="https://jimbl.ru{{post.image.url}}" />

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  {% if user.is_authenticated %}
  <script type="text/javascript">
    sessionStorage.setItem('logged_user', '{{user.username}}');
  </script>
  {% else %}
  <script type="text/javascript">
    sessionStorage.setItem('logged_user', '');
  </script>
  <div class="card animated slideInUp mobile" style="position: fixed; bottom: 0; z-index: 9999; width: -webkit-fill-available; border-radius: 0;">
    <div class="card-body text-center p-2">
      <p class="m-0">Создайте или войдите в аккаунт Jimbl</p>
      <button type="button" class="btn btn-sm btn-primary mb-0" onclick="document.location.href='/accounts/login'">Войти</button>
      <button type="button" class="btn btn-sm btn-amber mb-0" onclick="document.location.href='registration'">Создать аккаунт</button>
    </div>
  </div>
  {% endif %}
  <div class="scroller animated slideInLeft" style="padding-top: 14px !important;">
    <div class="wrapper-scroller fw">
      <div class="scroller-return" style="height: -webkit-fill-available;">
        <img src="{% static 'App/def_image/down-arrow.svg' %}" class="mx-auto d-block m-0 scroller-img" style="transform: rotate(90deg)" width="30px" alt="">
      </div>
      <div class="scroller-up hidden">
        <img src="{% static 'App/def_image/down-arrow.svg' %}" class="mx-auto d-block scroller-img" style="transform: rotate(180deg)" width="30px" alt="">
      </div>
    </div>
  </div>
  {% load staticfiles %}

  <div class="dark-theme-changer" onclick="toggle_dark_theme()">
    <i class="far fa-moon fa-2x"></i>
  </div>

  <nav class="navbar fixed-top border-bottom nav" id="main-nav-mobile" style="padding-bottom: 0px;padding-top: 0px;">
    <div class="container">
      <a onclick="document.location.href=document.referrer">
        <img src="{% static 'App/def_image/down-arrow.svg' %}" width="20px" height="20px" class="scroller-img" style="transform: rotate(90deg)" alt="">
      </a>
      <div class="card-user">
        <div class="media">
          {% if post.user.profile.image_profile.url != '' %}
            <img src="{{post.user.profile.image_profile_settings.url}}" width="40px" height="40px"   class="rounded-circle mr-3" style="margin: 5px;" alt="">
          {% else %}
            <img src="{% static 'App/def_image/user.svg' %}"  width="40px" height="40px" class="rounded-circle shadow-sm mr-3" alt="">
          {% endif %}
          <div class="media-body" style="height: 50px;">
            <table class="fh">
              <tr>
                <td class="alugn-middle">
                  <h6 class="mt-0 mb-0 font-weight-light">{{post.user.username}}</h6>
                  <small class="mb-0 font-weight-light">{{post.date|timesince}} назад</small>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <i class="far fa-moon fa-lg" onclick="toggle_dark_theme()"></i>
      </div>
    </div>
  </nav>

  <div class="container" style="padding: 0;" id="main-container">
    <div class="card z-depth-0" id="main-card-post" style="border-radius: 0;">
      <div class="card-header bg-white border-0">
        <div class="row">
          <div class="media mx-auto">
            {% if post.user.profile.image_profile.url != '' %}
              <img src="{{post.user.profile.image_profile_settings.url}}" width="40px" height="40px" class="rounded-circle mr-3" style="margin: 5px;" alt="">
            {% else %}
              <img src="{% static 'App/def_image/user.svg' %}"  width="40px" height="40px" class="rounded-circle shadow-sm mr-3" alt="">
            {% endif %}
            <div class="media-body">
              <h5 class="mt-0 mb-0 font-weight-light">{{post.user.username}}</h5>
              <p class="mb-0 font-weight-light">{{post.date|timesince}} назад</p>
            </div>
            {% if user.is_authenticated %}
              {% if user.username != post.user.username %}
                <form id="follow-form">
                  {% csrf_token %}
                  <input type="hidden" value="{{post.user.username}}" name="post_username" id="id_post_username">
                  <input type="hidden" value="1" name="follow">
                </form>
                <button id="follow_btn" type="button" class="d-inline ml-4 btn btn-sm {% if user in post.user.profile.readers.all %}btn-info{%else%}btn-outline-primary{%endif%}" onclick="follow()">
                  {% if user in post.user.profile.readers.all %}Отписаться{%else%}Читать{%endif%}
                </button>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card-body pl-0 pr-0" style="min-height: -webkit-fill-available;">
        <div class="card-text">
          <table class="fw">
            <tbody id="main-content">
              {{post.html_data|safe}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="hidden animated slideInUp" id="bottom-post">
      <hr>
      <div class="card-text" style="margin: 0rem 1rem 0rem 1rem;">
        <h4 class="card-title">
          <table class="fw">
            <tr class="post-statistic">
              <td align="left">
                <form id="form_like_{{post.id}}">
                  {% csrf_token %}
                  <input type="hidden" value="{{post.id}}" name="post_id">
                  <input type="hidden" value="liking" name="liking">
                </form>
                <span class="like {% if user in post.likes.all %}liked{%endif%}" onclick="{% if user.is_authenticated %}like('form_like_{{post.id}}', this, {{post.id}}){% endif %}"><i class="fa-lg {% if user in post.likes.all %}fas{%else%}far{%endif%} fa-heart post-like-{{post.id}}"></i> </span>
                <span id="post-like-cnt-{{post.id}}" class="mr-3">{{post.likes.count}}</span>
                <i class="fa-lg far fa-comment" onclick="$('#comment_input_{{post.id}}').focus()"></i>
                <!-- <button class="show-comment-form" style="outline: none;" type="button">

                </button> -->
                <span id="post-comments-cnt-{{post.id}}" class="mr-3">{{post.comments.count}}</span>
                <i class="fa-lg fa fa-share"></i> {{post.share.count}}
                <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#tools_post_modal_{{post.id}}"><i class="fas fa-ellipsis-h"></i></button>
              </td>
              <td align="right">
                <i class="far fa-eye"></i>
                {{post.views.count}}
              </td>
            </tr>
          </table>
        </h4>
      </div>
      <form id="comment-form-{{post.id}}" style="margin: 0rem 1rem 0rem 1rem;">
      {% csrf_token %}
      <div class="card-text">
        {% if user.is_authenticated %}
        {% if post.user.profile.accept_comment_posts == 0 %}
          <div class="md-form mt-2">
            <span class="prefix pr-3 border-0" style="padding: 0 5px 0 0; border-right: none;">
              {% if user.profile.image_profile.url != '' %}
                <img src="{{user.profile.image_profile_settings.url}}" width="40px" height="40px" class="rounded-circle" alt="avatar">
              {% else %}
                <img src="{% static 'App/def_image/user.svg' %}" class="rounded-circle" width="40px" height="40px" alt="avatar">
              {% endif %}
            </span>
            <input type="text" autocomplete="off" onkeypress="if (event.keyCode==13){ comment({{post.id}}); $(this).val(''); return false;}" name="comment_data_{{post.id}}" class="form-control" id="comment_input_{{post.id}}" style="margin-left: 3.5rem;">
            <label for="comment_input_{{post.id}}" class="pl-3 border-0">Прокомментируйте запись...</label>
          </div>
        {% endif %}
        {% if post.user.profile.accept_comment_posts == 1 and user in post.user.profile.readers.all %}
          <div class="md-form mt-2">
            <span class="prefix pr-3 border-0" style="padding: 0 5px 0 0; border-right: none;">
              {% if user.profile.image_profile.url != '' %}
                <img src="{{user.profile.image_profile_settings.url}}" width="40px" height="40px" class="rounded-circle" alt="avatar">
              {% else %}
                <img src="{% static 'App/def_image/user.svg' %}" class="rounded-circle" width="40px" height="40px" alt="avatar">
              {% endif %}
            </span>
            <input type="text" autocomplete="off" onkeypress="if (event.keyCode==13){ comment({{post.id}}); $(this).val(''); return false;}" name="comment_data_{{post.id}}" class="form-control" id="comment_input_{{post.id}}" style="text-indent: 1rem;">
            <label for="comment_input_{{post.id}}" class="pl-3 border-0">Прокомментируйте запись...</label>
          </div>
        {% endif %}
        {% else %}
        <p><a href="/accounts/login">Войдите</a>, чтобы комментировать, делиться и ставить лайки.</p>
        {% endif %}
      </div>
      </form>
    </div>
      <div class="card-text comments-list-{{post.id}} mb-4 ml-3">
        {% for comment in post.comments.all|slice:'0:3' reversed   %}
          <div class="comment comments-{{post.id}}">
            <div class="row">
              <div class="media fw">
                {% if comment.user.profile.image_profile.url != '' %}
                <img class="align-self-center mr-3 rounded-circle"  onclick="document.location.href='/{{comment.user}}'" src="{{comment.user.profile.image_profile_settings.url}}" width="40px" height="40px"   alt="Generic placeholder image">
                {% else %}
                <img class="align-self-center mr-3 rounded-circle"  onclick="document.location.href='/{{comment.user}}'" src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  alt="Generic placeholder image">
                {% endif %}
                <div class="media-body fw">
                  <p id="comment-text" style="margin: 0;"><span onclick="document.location.href='/{{comment.user}}'" class="font-weight-bold">{{comment.user}}: </span>{{comment.data}}</p>
                  <table class="fw">
                    <tr class="comment-statistic">
                      <td align="left">
                        <form id="comment_like_{{comment.id}}">
                          {% csrf_token %}
                          <input type="hidden" value="{{comment.id}}" name="comment_id">
                          <input type="hidden" value="1" name="liking_comment">
                        </form>
                        <span class="like {% if user in comment.likes.all %}liked{%endif%}" onclick="like_comment('comment_like_{{comment.id}}', this, {{comment.id}})">
                          <i class="{% if user in comment.likes.all %}fas{%else%}far{%endif%} fa-heart comment-like-{{comment.id}}"></i>
                        </span>
                        <span id="comment-like-cnt-{{comment.id}}">{{comment.likes.count}}</span>
                      </td>
                      <td align="right">
                        <small class="text-muted">{{comment.date|timesince}} назад</small>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        {% if post.comments.count != 0 and post.comments.count > 3 %}
          <button type="button" class="btn btn-link load-more-comments" id="{{post.id}}" onclick="load_more_comments('{{post.id}}')">Загрузить еще</button>
        {% endif %}
    </div>
  </div>

  <div class="modal fade" id="tools_post_modal_{{post.id}}" tabindex="-1" role="dialog" aria-hidden="true">

      <!-- Change class .modal-sm to change the size of the modal -->
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <ul class="list-group list-group-flush text-center">
            {% if user == post.user %}
              <a class="list-group-item tools_post_delete text-danger font-weight-normal" data-toggle="modal" data-target="#delete_post_modal" data-title="{{post.title}}" data-id="{{post.id}}" style="cursor: pointer;">Удалить</a>
            {% endif %}
            {% if user == post.user %}
              <a class="list-group-item text-dark tools_post_edit" href="/creator/edit-post/{{post.id}}" onclick="sessionStorage.setItem('edit_status', 1);">Редактировать</a>
            {% endif %}
            {% if user != post.user %}
              <a class="list-group-item text-danger font-weight-normal tools_post_report" data-toggle="modal" data-target="#report_post_modal" data-title="{{post.title}}" data-id="{{post.id}}">Пожаловаться</a>
            {% endif %}
            <input id="link_post_{{post.id}}" value="www.jimbl.ru/{{post.user}}/post/{{post.id}}" style="position: absolute; opacity: 0; top: 9999; cursor: pointer; z-index: -100;">
            <li class="list-group-item clipboard-trigger" style="cursor: pointer;" data-clipboard-target="#link_post_{{post.id}}" onclick="$('#clipboard_success_modal').modal('show')">Скопировать ссылку</li>
          </ul>
        </div>
      </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'Post/js/post.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mdb.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'font-awesome/all.js' %}" charset="utf-8"></script>
</body>
</html>
