{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Настройки аккаунта</title>

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'edit_profile/css/edit.css' %}">
  <link rel="stylesheet" href="{% static 'css/preload-anim.css' %}">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One" rel="stylesheet">
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  {% include 'App/include/main_nav.html' %}
  <div class="container" id="settings-desktop">
    <br>
    <br>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-3 border-right">
            {% block left_menu %}
            <div class="left-menu">
              <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action active " style="cursor: pointer;">Редактировать профиль</li>
                <li class="list-group-item list-group-item-action" style="cursor: pointer;" onclick="document.location.href='/{{user.username}}/edit/change-password'">Изменить пароль</li>
                <li class="list-group-item list-group-item-action"  onclick="document.location.href='/{{user.username}}/edit/social-networks'" style="cursor: pointer;">Социальные сети</li>
                <li class="list-group-item list-group-item-action" style="cursor: pointer;" onclick="document.location.href='/{{user.username}}/edit/email'">
                  Email и рассылка
                  {% if user.profile.email == '' %}
                  <span class="badge badge-danger float-right">!</span>
                  {% endif %}
                </li>
                <li class="list-group-item list-group-item-action" style="cursor: pointer;" onclick="document.location.href='/{{user.username}}/edit/privacy'">Настройки приватности</li>
              </ul>
            </div>
            {% endblock %}
          </div>
          <div class="col-9">
            {% block main_form %}
            <form id="form-edit">
              {% csrf_token %}
              <!-- privacy -->
              <input type="hidden" name="status_profile" id="id_status_profile" value="{% if user.profile.status_profile == 0 %}0{% else %}1{% endif %}">
              <input type="hidden" name="accept_send_messages" id="id_accept_send_messages" value="{% if user.profile.accept_send_messages == 0 %}0{% endif %}{% if user.profile.accept_send_messages == 1 %}1{% endif %}{% if user.profile.accept_send_messages == 2 %}2{% endif %}">
              <input type="hidden" name="accept_comment_posts" id="id_accept_comment_posts" value="{% if user.profile.accept_comment_posts == 0 %}0{% endif %}{% if user.profile.accept_comment_posts == 1 %}1{% endif %}{% if user.profile.accept_comment_posts == 2 %}2{% endif %}">
              <input type="hidden" name="hide_date_of_registration" id="id_hide_date_of_registration" value="{% if user.profile.hide_date_of_registration == True %}True{% else %}False{% endif %}">
              <input type="hidden" name="hide_list_read" id="id_hide_list_read" value="{% if user.profile.hide_list_read == True %}True{% else %}False{% endif %}">
              <input type="hidden" name="hide_list_readers" id="id_hide_list_readers" value="{% if user.profile.hide_list_readers == True %}True{% else %}False{% endif %}">
              <!-- social networks -->
              <input type="hidden" name="vk" id="id_vk" value="{{user.profile.vk}}">
              <input type="hidden" name="instagram" id="id_instagram" value="{{user.profile.instagram}}">
              <input type="hidden" name="facebook" id="id_facebook" value="{{user.profile.facebook}}">
              <input type="hidden" name="twitter" id="id_twitter" value="{{user.profile.twitter}}">
              <!-- email -->
              <input type="hidden" name="email" id="id_email" value="{{user.profile.email}}">
              <input type="hidden" name="accept_send_notifications" id="id_accept_send_notifications" value="{% if user.profile.accept_send_notifications == True %}True{% else %}False{% endif %}">
              <input type="hidden" name="accept_send_news_of_update" id="id_accept_send_news_of_update" value="{% if user.profile.accept_send_news_of_update == True %}True{% else %}False{% endif %}">
              <!-- width window -->
              <input type="hidden" name="window_width" value="">
              <div class="row">
                <table style="width: 80%;" align="center">
                  <tr>
                    <td align="center" colspan="2">
                      <h1 class="font-weight-light">Редактирование профиля</h1>
                      <br>
                    </td>
                  </tr>
                  {% if user.username.errors %}
                  <tr>
                    <td align="center">
                        <p class="text-danger">Имя пользователя занято</p>
                    </td>
                  </tr>
                  {% endif %}
                  <tr>
                    <td colspan="2">
                      <div class="form-group">
                        <table class="fw">
                          <tr>
                            <td align='center'>
                              {% if user.profile.image_profile.url != '' %}
                                <img src="{{user.profile.image_profile_settings.url}}" width="100px" height="100px" class="rounded-circle" alt="" id="image_profile_preview">
                              {% else %}
                                <img src="{% static 'App/def_image/user.svg' %}" width="100px" height="100px" class="rounded-circle" id="image_profile_preview" alt="">
                              {% endif %}
                            </td>
                          </tr>
                          <tr>
                            <td align='center'>
                              <input type="file" name="image_profile" style="display: none;" id="id_image_profile" value="">
                              <label for="id_image_profile" class="text-primary" style="cursor: pointer;">Загрузить фото</label>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="lead">Имя пользователя</p>
                    </td>
                    <td>
                      <p><input type="text" class="form-control text-center" value="{{user.username}}" name="username" id="id_username"></p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="lead">Имя</p>
                    </td>
                    <td>
                      <p><input type="text" class="form-control text-center" value="{{user.first_name}}" name="first_name" id="id_first_name"></p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="lead">Фамилия</p>
                    </td>
                    <td>
                      <p><input type="text" class="form-control text-center" value="{{user.last_name}}" name="last_name" id="id_last_name"></p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="lead">Личный сайт</p>
                    </td>
                    <td>
                      <p><input type="text" class="form-control text-center" value="{{user.profile.site}}" name="site" id="id_site"></p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="lead">Описание профиля</p>
                    </td>
                    <td>
                      <textarea class="form-control" rows="5" name="discription_profile" id="id_discription_profile">{{user.profile.discription_profile}}</textarea>
                      <br>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="file" name="image_header" id="id_image_header" style="display: none;" value="">
                      <label for="id_image_header" class="btn btn-primary fw">Изменить фон профиля</label>
                    </td>
                    <td>
                      <img src="" id="image_header_preview" width="70%" alt="" class="mx-auto d-block" style="margin-bottom: 1rem;">
                    </td>
                  </tr>
                </table>
              </div>
              <hr>
              <div class="row">
                <table>
                  <table align="center">
                    <tr>
                      <td>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#del_user_modal">Удалить профиль</button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-primary" onclick="save_profile(event, '{{user.username}}')">Сохранить</button>
                      </td>
                    </tr>
                  </table>
                </table>
              </div>
            </form>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="settings-mobile">
    {% include 'profiles/mobile/navbar.html' %}
    {% include 'profiles/mobile/bottom-menu.html' %}
    <br>
    <br>
    <br>
    <form id="form-edit-mobile">
      {% csrf_token %}
      <input type="hidden" name="window_width" value="">
      <div class="form-group">
        <table class="fw">
          <tr>
            <td align='center'>
              {% if user.profile.image_profile.url != '' %}
                <img src="{{user.profile.image_profile_settings.url}}" width="100px" height="100px" class="rounded-circle" alt="" id="image_profile_preview">
              {% else %}
                <img src="{% static 'App/def_image/user.svg' %}" width="100px" height="100px" class="rounded-circle" alt="" id="image_profile_preview">
              {% endif %}
            </td>
          </tr>
          <tr>
            <td align='center'>
              <input type="file" name="image_profile_mobile" style="display: none;" id="id_image_profile_mobile" value="">
              <label for="id_image_profile_mobile" class="text-primary">Загрузить фото</label>
            </td>
          </tr>
        </table>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"><small>Имя пользователя</small></label>
        <input type="text" class="form-control" value="{{user.username}}" name="username" id="id_username">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"><small>Имя</small></label>
        <input type="text" class="form-control" value="{{user.first_name}}" name="first_name" id="id_first_name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"><small>Фамилия</small></label>
        <input type="text" class="form-control" value="{{user.last_name}}" name="last_name" id="id_last_name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"><small>Личный сайт</small></label>
        <input type="text" class="form-control" value="{{user.profile.site}}" name="site" id="id_site">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"><small>Описание профиля</small></label>
        <textarea class="form-control" rows="5" name="discription_profile" style="text-align: left !important;">{{user.profile.discription_profile}}</textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"><small>Email</small></label>
        <input type="text" class="form-control" value="{{user.profile.email}}" name="email" id="id_email">
      </div>
      <div class="custom-control custom-checkbox mr-sm-2">
        <input type="checkbox" class="custom-control-input" name="accept_send_notifications" id="id_accept_send_notifications" {% if user.profile.accept_send_notifications == True %}checked{% endif %}>
        <label class="custom-control-label" for="id_accept_send_notifications"><p class="lead">Разрешить рассылку уведомлений</p></label>
      </div>
      <div class="custom-control custom-checkbox mr-sm-2">
        <input type="checkbox" class="custom-control-input" name="accept_send_news_of_update" id="id_accept_send_news_of_update" {% if user.profile.accept_send_news_of_update == True %}checked{% endif %}>
        <label class="custom-control-label" for="id_accept_send_news_of_update"><p class="lead">Подписаться на новостную ленту</p></label>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"><small>Телефон</small></label>
        <input type="text" class="form-control" value="{{user.profile.phone}}" name="phone" id="id_phone">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"><small>Статус профиля</small></label>
        <select class="custom-select mr-sm-2" name="status_profile" id="id_status_profile">
          <option value="0" {% if user.profile.status_profile == 0 %}selected{% endif %}>Публичный</option>
          <option value="1" {% if user.profile.status_profile == 1 %}selected{% endif %}>Приватный</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"><small>Кто может отправлять мне сообщения</small></label>
        <select class="custom-select mr-sm-2" name="accept_send_messages" id="id_accept_send_messages">
          <option value="0" {% if user.profile.accept_send_messages == 0 %}selected{% endif %}>Все пользователи</option>
          <option value="1" {% if user.profile.accept_send_messages == 1 %}selected{% endif %}>Подписчики</option>
          <option value="2" {% if user.profile.accept_send_messages == 2 %}selected{% endif %}>Никто</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"><small>Кто может комментировать мои посты</small></label>
        <select class="custom-select mr-sm-2" name="accept_comment_posts" id="id_accept_comment_posts">
          <option value="0" {% if user.profile.accept_comment_posts == 0 %}selected{% endif %}>Все пользователи</option>
          <option value="1" {% if user.profile.accept_comment_posts == 1 %}selected{% endif %}>Подписчики</option>
          <option value="2" {% if user.profile.accept_comment_posts == 2 %}selected{% endif %}>Никто</option>
        </select>
      </div>
      <div class="custom-control custom-checkbox mr-sm-2">
        <input type="checkbox" class="custom-control-input" name="hide_date_of_registration" id="id_hide_date_of_registration" {% if user.profile.hide_date_of_registration == True %}checked{% endif %}>
        <label class="custom-control-label" for="id_hide_date_of_registration"><p class="lead">Скрывать дату регистрации</p></label>
      </div>
      <div class="custom-control custom-checkbox mr-sm-2">
        <input type="checkbox" class="custom-control-input" name="hide_list_read" id="id_hide_list_read" {% if user.profile.hide_list_read == True %}checked{% endif %}>
        <label class="custom-control-label" for="id_hide_list_read"><p class="lead">Скрывать список моих подписок</p></label>
      </div>
      <div class="custom-control custom-checkbox mr-sm-2">
        <input type="checkbox" class="custom-control-input" name="hide_list_readers" id="id_hide_list_readers" {% if user.profile.hide_list_readers == True %}checked{% endif %}>
        <label class="custom-control-label" for="id_hide_list_readers"><p class="lead">Скрывать список моих подписчиков</p></label>
      </div>
      <div class="form-group">
        <img src="" id="image_header_preview" width="100%" alt="" style="margin-bottom: 1rem;">
        <input type="file" name="image_header_mobile" id="id_image_header_mobile" style="display: none;" value="">
        <label for="id_image_header_mobile" class="btn btn-primary btn-sm fw">Изменить фон профиля</label>
      </div>
      <div class="form-group">
        <table class="fw">
          <tr>
            <td>
              <button type="button" class="btn btn-info btn-sm fw" data-toggle="modal" data-target="#change_password_modal">Изменить пароль</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm fw" data-toggle="modal" data-target="#del_user_modal">Удалить аккаунт</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="form-group">
        <div class="dropdown-divider"></div>
        <div class="feedback text-muted" style="width: 100%; text-align: -webkit-center;">
          <center>
            <small><a class="mr-1 text-muted" href="/welcome">О нас</a></small>
            <small><a class="mr-1 text-muted" href="/help">Справка</a></small>
            <small><a class="mr-1 text-muted" href="" data-toggle="modal" data-target="#feedback_modal">Тех. поддержка</a></small>
            <small><a class="mr-1 text-muted" href="">Наш блог</a></small>
            <small><a class="text-muted" href="/terms">Пользовательское соглашение</a></small><br>
            <small>© 2018 Jimbl.</small>
          </center>
        </div>
      </div>
    </form>
  </div>
  <br>
  <br>
  <div class="container" id="settings-desktop">
    <div class="row fw">
      <table align="center">
        <tr>
          <td align="center">
            <a href="#">О нас</a>
            <a href="#">Справка</a>
            <a href="#">Форум</a>
            <a href="">Наш блог</a>
            <a href="">API</a>
            <a href="">Язык</a>
          </td>
        </tr>
        <tr>
          <td align="center">
            <p>© 2018 Jimbl. Все права защищены.</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  {% block success_modal %}
  <div class="modal fade timeout" id="success" role="dialog">
    <div class="modal-dialog">
      <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        Ваш профиль успешно сохранен!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  {% endblock %}

  <div class="modal fade" id="change_password_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-light" id="exampleModalLabel">Изменить пароль</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="id_old_password">Текущий пароль</label>
              <input type="password" class="form-control text-center {% if form.old_password.errors %}is-invalid{% endif %}" name="old_password" id="id_old_password">
            </div>
            <div class="form-group">
              <label for="id_new_password1">Новый пароль</label>
              <input type="password" class="form-control text-center {% if new_password1_error == '1' %}is-invalid{% endif %}" name="new_password1" id="id_new_password1">
            </div>
            <div class="form-group">
              <label for="id_new_password2">Подтвердите пароль</label>
              <input type="password" class="form-control text-center" name="new_password2" id="id_new_password2">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Сменить пароль</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="del_user_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-light" id="exampleModalLabel">Удалить аккаунт</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <center>
              <img src="{% static 'App/def_image/del-user.svg' %}" class="mb-3 mt-2" width="20%" alt="">
              <h2 class="font-weight-light">Вы нас покидаете?</h2>
            </center>
            <div class="form-group">
              <label for="exampleInputEmail1" class="font-weight-light" style="font-size: 0.8rem;">Пожалуйста, напишите причину удаления аккаунта.</label>
              <textarea name="reason_delete" id="id_reason_delete" class="form-control none-resize" rows="5" maxlength="1000"></textarea>
              <small id="reason_delete_cnt">0</small><small>/1000</small>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" onclick="delete_account('{{user.username}}')">Удалить аккаунт</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="{% static 'edit_profile/js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'font-awesome/all.js' %}" charset="utf-8"></script>
  <script src="{% static 'edit_profile/js/jquery.cookie.js' %}"></script
</body>
</html>
{% else %}
  <script type="text/javascript">
    document.location.href='/accounts/login';
  </script>
{% endif %}
