{% load staticfiles %}
{% if search_blogers %}
<p class="font-weight-light ml-2 mb-0">Пользователи</p>
<ul class="list-group list-group-flush">
  {% for bloger in search_blogers %}
    <li class="list-group-item list-group-item-action" onclick="document.location.href='/chat/{{bloger.username}}'" style="cursor: pointer">
      <div class="media">
        {% if bloger.profile.image_profile.url != '' %}
          <img class="align-self-center mr-3 rounded-circle" src="{{bloger.profile.image_profile_40x40.url}}" alt="Generic placeholder image">
        {% else %}
          <img class="align-self-center mr-3 rounded-circle" src="{% static 'App/def_image/user.svg' %}" height="40px" width="40px" alt="Generic placeholder image">
        {% endif %}
        <div class="media-body">
          <h5 class="mt-0 font-weight-light">{{bloger.get_full_name}}</h5>
          <p class="mb-0 font-weight-light">@{{bloger.username}}</p>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
{% endif %}
{% if search_messages %}
<p class="font-weight-light ml-2 mb-0">Сообщения</p>
<ul class="list-group list-group-flush">
  {% for message in search_messages %}
    <li class="list-group-item list-group-item-action" style="cursor: pointer">
      <div class="media">
        {% if message.user.profile.image_profile.url != '' %}
          <img class="align-self-center mr-3 rounded-circle" src="{{message.user.profile.image_profile_40x40.url}}" alt="Generic placeholder image">
        {% else %}
          <img class="align-self-center mr-3 rounded-circle" src="{% static 'App/def_image/user.svg' %}" height="40px" width="40px" alt="Generic placeholder image">
        {% endif %}
        <div class="media-body search-message" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
          <h6 class="mt-0 mb-0 font-weight-light">{{message.user}}</h6>
          <small class="mb-0 font-weight-light">{{message.content}}</small>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
{% endif %}
{% if not search_messages and not search_blogers %}
 <p class="lead mx-auto mt-2">Ничего не найдено</p>
{% endif %}
