{% load staticfiles %}

{% for chat in chats %}
  {% for chat_profile in chat.users.all %}
  <div class="media mb-3" id="chat-item" onclick="document.location.href='/chat/{% if chat_profile == user %}{{chat.root_user.username}}{% else %}{{chat_profile.username}}{% endif %}'">
    {% if chat_profile == user %}
      {% if chat.root_user.profile.image_profile.url != '' %}
        <img class="align-self-center mr-3 rounded-circle" src="{{chat.root_user.profile.image_profile_40x40.url}}" alt="Generic placeholder image">
      {% else %}
        <img class="align-self-center mr-3 rounded-circle" src="{% static 'App/def_image/user.svg' %}" height="40px" width="40px" alt="Generic placeholder image">
      {% endif %}
    {% else %}
      {% if chat_profile.profile.image_profile.url != '' %}
        <img class="align-self-center mr-3 rounded-circle" src="{{chat_profile.profile.image_profile_40x40.url}}" alt="Generic placeholder image">
      {% else %}
        <img class="align-self-center mr-3 rounded-circle" src="{% static 'App/def_image/user.svg' %}" height="40px" width="40px" alt="Generic placeholder image">
      {% endif %}
    {% endif %}
    <div class="media-body">
      {% if chat_profile == user %}
        <table class="fw">
          <tr>
            <td>
              <h5 class="ml-1 m-0 mb-1 font-weight-light">{{chat.root_user.username}}</h5>
            </td>
            {% if chat.messages.count > 0 %}
            <td align='right'>
              <small class="font-weight-light">
                {{chat.messages.last.date|timesince}} Назад
              </small>
            </td>
            {% endif %}
          </tr>
        </table>
      {% else %}
        <table class="fw">
          <tr>
            <td>
              <h5 class="ml-1 m-0 mb-1 font-weight-light">{{chat_profile.username}}</h5>
            </td>
            {% if chat.messages.count > 0 %}
            <td align='right'>
              <small class="font-weight-light">
                {{chat.messages.last.date|timesince}} Назад
              </small>
            </td>
            {% endif %}
          </tr>
        </table>
      {% endif %}
      {% if chat.messages.count > 0 %}
        {% for message in chat.messages.all|slice:'' %}
            {% if forloop.last %}
            <div class="row ml-1" id="last-message-item">
              {% if message.user.profile.image_profile.url != '' %}
                <img src="{{message.user.profile.image_profile_25x25.url}}" class="rounded-circle img-avatar" width="25px" height="25px" alt="avatar">
              {% else %}
                <img class="align-self-center mr-3 rounded-circle" src="{% static 'App/def_image/user.svg' %}" height="25px" width="25px" alt="Generic placeholder image">
              {% endif %}
              <p class="ml-2 font-weight-light" id="content">{{message.content}}</p>
              <!-- <p style="padding: 0; margin: 0; right: 1rem; font-size: 12px" class="mr-2 text-muted">{{ message.date|date:'H:m' }}</p> -->
            </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    </div>
   </div>
  {% endfor %}
  {% empty %}
  <table style="height: -webkit-fill-available;">
    <tr>
      <td align='center' class="align-middle" style="padding-bottom: 100px;">
        <h5 class="font-weight-light">Начните общаться прямо сейчас!</h5>
        <img src="{% static 'App/def_image/chat.svg' %}" width="50%" alt="">
      </td>
    </tr>
  </table>
{% endfor %}
