{% load staticfiles %}
<div class="card card-body shadow-sm" style="border-radius: 0; border: 0px 1px solid #ccc;">
  {% if search_blogers|length > 0 %}
  <ul class="list-group">
    {% for search_user in search_blogers %}
      <li class="list-group-item list-group-item-action" style="cursor: pointer;" onclick="document.location.href='/{{search_user.user.username}}'; add_search_user('{{search_user.user.username}}')" style="border: none;">
        <div class="media">
          {% if search_user.image_profile.url != '' %}
            <img src="{{search_user.image_profile_40x40.url}}" class="rounded-circle align-self-center mr-3" alt="">
          {% else %}
            <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px" class="rounded-circle shadow-sm align-self-center mr-3" alt="">
          {% endif %}
          <div class="media-body">
            <h5 class="mt-0 mb-0">{{search_user.user.get_full_name}}</h5>
            <p class="mb-0">@({{search_user.user.username}})</p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if search == '' %}

  {% endif %}
  {% if search_posts|length == 0 and search_blogers|length == 0 and search != '' %}
    <table class="fw fh" style="width: 100%; height: 100%;">
      <tr>
        <td class="align-middle">
          <p class="lead" style="margin: 0;">Ничего не найдено</p>
        </td>
      </tr>
    </table>
  {% endif %}
</div>
