<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {% if user.is_authenticated %}
     Моя статистика (@{{user.username}}) | Jimbl
    {% else %}
      Jimbl
    {% endif %}
  </title>

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/animate.css' %}">
  <link rel="stylesheet" href="{% static 'App/profile/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/preload-anim.css' %}">
  <link rel="stylesheet" href="{% static 'statistic/css/main.css' %}">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One" rel="stylesheet">
</head>
<body>

  {% include 'App/include/main_nav.html' %}
  {% include 'statistic/mobile/navbar.html' %}

  {% if user.is_authenticated %}
    {% include 'App/mobile/bottom-menu.html' %}
  {% else %}
    <nav class="navbar navbar-light fixed-bottom nav" id='bottom-menu' style="padding-bottom: 0px; padding-top: 0px; background: #fff; border-top: 1px solid #E6E6E6;">
      <div class="container" style="height: -webkit-fill-available;">
        <div class="row fw mx-auto">
          <img src="{% static 'logo.svg' %}" class="mr-4 mx-auto" width="30px" height="30px" alt="">
          <a href="/accounts/login" class="btn mx-auto btn-outline-primary btn-sm mr-4">Войти</a>
          <a href="/registration" class="btn mx-auto btn-primary btn-sm">Зарегистрироваться</a>
        </div>
      </div>
    </nav>
  {% endif %}

  <div class="container-fluid p-0" id="top-stat">
    <div class="jumbotron p-3" style="background: #007bff !important; border-radius: 0;">
      <table class="fw fh animated fadeIn">
        <tr>
          <td align="center">
            <img src="{% static 'App/def_image/stat.svg' %}" width="200px" alt="">
            <h1 class="mb-0" id="main-header" style="font-family: Coiny; color: #fff;">Jimbl <span class="font-weight-light" style="font-family: Segoe UI">| Статистика</span></h1>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="container animated fadeIn">
    <div class="row">
      <div class="col-xl-3 col-lg-3">
        <ul class="list-group list-group-flush mt-2">
          <a href="/statistic" style="text-decoration: none;"><li class="list-group-item list-group-item-action border-0" style="cursor: pointer;">Общая статистика</li></a>
          <a href="/statistic/me" style="text-decoration: none;"><li class="list-group-item list-group-item-action border-0" style="cursor: pointer;">Моя статистика</li></a>
          <a href="/statistic/smm" style="text-decoration: none;"><li class="list-group-item list-group-item-action border-0 active" style="cursor: pointer;">SMM Анализ</li></a>
        </ul>
      </div>
      <div class="mobile col-md-12">
        <ul class="nav justify-content-center mb-4" style="font-size: 0.8rem;">
          <li class="nav-item">
            <a class="nav-link" href="/statistic">Общая статистика</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/statistic/me">Моя статистика</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/statistic/smm">SMM Анализ</a>
          </li>
        </ul>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-12">
        <div class="media mx-auto" style="width: fit-content;">
          {% if user.profile.image_profile.url != '' %}
            <img src="{{user.profile.image_profile_settings.url}}" width="50px" height="50px" class="rounded-circle mr-3" style="margin: 5px;" alt="">
          {% else %}
            <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  class="rounded-circle mr-3" alt="">
          {% endif %}
          <div class="media-body" style="height: 50px;">
            <table class="fh">
              <tr>
                <td class="align-middle border-0 p-0">
                  <h4 class="mt-0 mb-0 font-weight-light">{{user.get_full_name}}</h4>
                  <p style="font-size: 1rem;" class="mb-0 font-weight-light">@{{user.username}}</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row mt-4 w-100 m-0">
          <h2 class="font-weight-light text-center w-100 mx-auto mb-1 mt-3">Результаты SMM Анализа</h2>
          <div class="card mx-auto mt-3">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/success.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="font-weight-normal mb-0">Вы набрали <b>{{total_score}}</b> баллов</h5>
                  {% if total_score > 50 %}
                  <small class="text-success">Поздравляем с высоким результатом!</small>
                  {% endif %}
                  {% if total_score > 30 and total_score < 50 %}
                  <small class="text-warning">Хороший результат, но может быть и лучше!</small>
                  {% endif %}
                  {% if total_score < 30 %}
                  <small class="text-danger">Низкий результат, давайте взглянем на отчет!</small>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% if user.profile.status_profile == 0 %}
          <div class="card w-100 mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/stat-check.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Тип профиля</h5>
                  <p>Профиль открыт для всех, и это хорошо! Такое решение позволяет привлекать больше пользователей, чем приватные профили.</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="card w-100 mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/cancel.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Тип профиля</h5>
                  <p>Профиль открыт только для ваших читателей! Не лучший вариант для активного ведения блогов.</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if user.profile.image_header.url != '' %}
          <div class="card w-100 mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/stat-check.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Обложка профиля</h5>
                  <p>У вас загружена обложка профиля - это просто замечательно! Самое главное, чтобы фон не сливался в один тон с фотографией профиля.</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="card w-100 mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/cancel.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Обложка профиля</h5>
                  <p>У вас не загружена обложка профиля! Установите её, если вы хотите повысить привлекательность вашего профиля.</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if user.profile.image_profile != '' %}
          <div class="card w-100 mx-auto mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/stat-check.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Фотография профиля</h5>
                  <p>У вас стоит фотография профиля. Согласитесь, это ведь лучше, чем стандартная картинка.</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="card w-100 mx-auto mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/cancel.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Фотография профиля</h5>
                  <p>Вы не загрузили фотографию профиля. Знайте, ваша 'Автарака' привлекает новых пользователей и повышает привлекательность.</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if user.profile.discription_profile != '' %}
          <div class="card w-100 mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/stat-check.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Описание</h5>
                  <p>У вас отличное описание профиля. Так держать!</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="card w-100 mx-auto mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/cancel.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Описание</h5>
                  <p>Вы не указали информацию о себе. Без описания интерес к вашей странице ниже, чем с ним.</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if user.profile.accept_send_messages == 0 %}
          <div class="card w-100 mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/stat-check.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Сообщения</h5>
                  <p>У вас нет ограничений на сообщения, так вы можете получать их от всех пользователей!</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if user.profile.accept_send_messages == 1 %}
          <div class="card w-100 mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/warning.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Сообщения</h5>
                  <p>Писать сообщения могут только ваши подписчики! Это не лучший вариант.</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if user.profile.accept_send_messages == 2 %}
          <div class="card w-100 mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/cancel.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Сообщения</h5>
                  <p>Вы отключили сообщения! так вы не сможете поодерживать связь с вашими читателями!</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if user.profile.accept_comment_posts == 0 %}
          <div class="card w-100 mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/stat-check.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Комментарии</h5>
                  <p>Комментирование ваших публикаций доступно для всех. Так все пользователи могут оценить ваши посты.</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if user.profile.accept_comment_posts == 1 %}
          <div class="card w-100 mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/warning.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Комментарии</h5>
                  <p>Комментирование ваших публикаций доступно только для ваших читателей.</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if user.profile.accept_comment_posts == 2 %}
          <div class="card w-100 mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/cancel.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Комментарии</h5>
                  <p>Комментирование ваших публикаций отключено. Включите их, если хотите знать мнения ваших читателей!</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if user.profile.vk != '' or user.profile.facebook != '' or user.profile.twitter != '' or user.profile.instagram != '' %}
          <div class="card w-100 mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/stat-check.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Социальные сети</h5>
                  <p>Вы настроили социальные сети - это правильное решение. Так мы обьединяемся в одну дружную команду и делимся своими знаниями!</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="card w-100 mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/cancel.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Социальные сети</h5>
                  <p>Укажите в настройках профиля ссылки на социальные сети, так читатель сможет узнать о вас больше!</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if arp >= 20 %}
          <div class="card w-100 mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/stat-check.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Рейтинг ваших публикаций</h5>
                  <p>Средний рейтинг ваших публикаций составляет {{arp}}%. Это хороший результат!</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="card w-100 mt-4">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/warning.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Рейтинг ваших публикаций</h5>
                  <p>Средний рейтинг ваших публикаций составляет {{arp}}%. Это не лучший результат, но есть к чему стремиться!</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if frequency >= 0.3 %}
          <div class="card w-100 mt-4 mb-5">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/stat-check.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Частота публикаций</h5>
                  <p>На основании текущего месяца, вы выкладываете с частотой {{frequency}}. Это приемлемый результат, если у вас не страница СМИ, для которых характерна частота от 1 до 2.</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="card w-100 mt-4 mb-5">
            <div class="card-body">
              <div class="media">
                <img class="align-self-center mr-3" src="{% static 'App/def_image/warning.svg' %}" width="50px" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Частота публикаций</h5>
                  <p>На основании текущего месяца, вы выкладываете с частотой {{frequency}}. Это низкий результат, оптимальным считается от 0.3 до 1. <span class="text-danger">Примечание:</span> 2 и больше, если вы СМИ</p>
                  <a href="/help">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
      </div>
      <br>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'App/js/jquery.sticky.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/js/mdb.min.js"></script>
  <script type="text/javascript" src="{% static 'App/js/search.js' %}"></script>
  <script type="text/javascript" src="{% static 'statistic/js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'font-awesome/all.js' %}" charset="utf-8"></script>
  <script src="{% static 'App/js/clipboard.min.js' %}"></script>
  <script type="text/javascript">
    var clipboard = new ClipboardJS('.clipboard-trigger');
  </script>
</body>
</html>
