<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {% if user.is_authenticated %}
     Моя статистика (@{{user.username}}) | Jimbl
    {% else %}
      Jimbl
    {% endif %}
  </title>

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/animate.css' %}">
  <link rel="stylesheet" href="{% static 'App/profile/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/preload-anim.css' %}">
  <link rel="stylesheet" href="{% static 'statistic/css/main.css' %}">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One" rel="stylesheet">
</head>
<body>

  {% include 'App/include/main_nav.html' %}
  {% include 'statistic/mobile/navbar.html' %}

  {% if user.is_authenticated %}
    {% include 'App/mobile/bottom-menu.html' %}
  {% else %}
    <nav class="navbar navbar-light fixed-bottom nav" id='bottom-menu' style="padding-bottom: 0px; padding-top: 0px; background: #fff; border-top: 1px solid #E6E6E6;">
      <div class="container" style="height: -webkit-fill-available;">
        <div class="row fw mx-auto">
          <img src="{% static 'logo.svg' %}" class="mr-4 mx-auto" width="30px" height="30px" alt="">
          <a href="/accounts/login" class="btn mx-auto btn-outline-primary btn-sm mr-4">Войти</a>
          <a href="/registration" class="btn mx-auto btn-primary btn-sm">Зарегистрироваться</a>
        </div>
      </div>
    </nav>
  {% endif %}

  <div class="container-fluid p-0" id="top-stat">
    <div class="jumbotron p-3" style="background: #007bff !important; border-radius: 0;">
      <table class="fw fh animated fadeIn">
        <tr>
          <td align="center">
            <img src="{% static 'App/def_image/stat.svg' %}" width="200px" alt="">
            <h1 class="mb-0" id="main-header" style="font-family: Coiny; color: #fff;">Jimbl <span class="font-weight-light" style="font-family: Segoe UI">| Статистика</span></h1>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="container animated fadeIn">
    <div class="row">
      <div class="col-xl-3 col-lg-3">
        <ul class="list-group list-group-flush mt-2">
          <a href="/statistic" style="text-decoration: none;"><li class="list-group-item list-group-item-action border-0" style="cursor: pointer;">Общая статистика</li></a>
          <a href="/statistic/me" style="text-decoration: none;"><li class="list-group-item list-group-item-action border-0 active" style="cursor: pointer;">Моя статистика</li></a>
          <a href="/statistic/smm" style="text-decoration: none;"><li class="list-group-item list-group-item-action border-0" style="cursor: pointer;">SMM Анализ</li></a>
        </ul>
      </div>
      <div class="mobile col-md-12">
        <ul class="nav justify-content-center mb-4" style="font-size: 0.8rem;">
          <li class="nav-item">
            <a class="nav-link" href="/statistic">Общая статистика</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/statistic/me">Моя статистика</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/statistic/smm">SMM Анализ</a>
          </li>
        </ul>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-12">
        <div class="media mx-auto" style="width: fit-content;">
          {% if user.profile.image_profile.url != '' %}
            <img src="{{user.profile.image_profile_settings.url}}" width="50px" height="50px" class="rounded-circle mr-3" style="margin: 5px;" alt="">
          {% else %}
            <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  class="rounded-circle mr-3" alt="">
          {% endif %}
          <div class="media-body" style="height: 50px;">
            <table class="fh">
              <tr>
                <td class="align-middle border-0 p-0">
                  <h4 class="mt-0 mb-0 font-weight-light">{{user.get_full_name}}</h4>
                  <p style="font-size: 1rem;" class="mb-0 font-weight-light">@{{user.username}}</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row mt-4">
          <div class="row mobile w-100 mx-auto">
            <div class="col d-inline">
              <div class="card">
                <div class="card-body p-2">
                  Блогов <b>{{blogs_cnt}}</b>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body p-2">
                  Публикаций <b>{{posts_cnt}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4 mobile w-100 mx-auto">
            <div class="col mx-auto">
              <div class="card">
                <div class="card-body p-2">
                  Читателей <b>{{user.profile.readers.count}}</b>
                </div>
              </div>
            </div>
            <div class="col mx-auto">
              <div class="card">
                <div class="card-body p-2">
                  Рейтинг <b>{{user.profile.month_rate}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="card">
              <div class="card-body">
                Блогов <b>{{blogs_cnt}}</b>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="card">
              <div class="card-body">
                Публикаций <b>{{posts_cnt}}</b>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="card">
              <div class="card-body">
                Читателей <b>{{user.profile.readers.count}}</b>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="card">
              <div class="card-body">
                Рейтинг <b>{{user.profile.month_rate}}</b>
              </div>
            </div>
          </div>
        </div>
        <h2 class="font-weight-light text-center mb-1 mt-3">Вовлеченность аккаунта</h2>
        <p class="font-weight-light text-center mb-0 text-primary">{{now_date|date:'F Y'}}</p>
        <p class="font-weight-light text-center mb-3 text-primary">Средний рейтинг вовлеченности - {{month_erv}}%</p>
        <canvas id="month_egegament_rate_chart"></canvas>
        <h2 class="font-weight-light text-center mb-1 mt-3">Активность на {{now_date|date:'F Y'}}</h2>
        <canvas id="month_activites_chart" class=""></canvas>
        <h2 class="font-weight-light text-center mb-1 mt-3">Cредний рейтинг постов (EPR) на {{now_date|date:'F Y'}}</h2>
        <canvas id="epr_chart" class="mb-5"></canvas>
      </div>
    </div>
  </div>

  {% load extras %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'App/js/jquery.sticky.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/js/mdb.min.js"></script>
  <script src="http://rendro.github.io/easy-pie-chart/javascripts/jquery.easy-pie-chart.js"></script>
  <script type="text/javascript" src="{% static 'App/js/search.js' %}"></script>
  <script type="text/javascript" src="{% static 'statistic/js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'font-awesome/all.js' %}" charset="utf-8"></script>
  <script src="{% static 'App/js/clipboard.min.js' %}"></script>
  <script type="text/javascript">
    var clipboard = new ClipboardJS('.clipboard-trigger');
  </script>
  <script type="text/javascript">
  var ctxL = document.getElementById("month_egegament_rate_chart").getContext('2d');
  var myLineChart = new Chart(ctxL, {
    type: 'line',
    data: {
      labels: [
        {% for day in month_egegament_rating_size %}
          "{{day}}",
        {% endfor %}
      ],
      datasets: [{
          label: "Просмотры",
          data: [
            {% for view in month_egegament_rating_views %}
                {% if view == '0' and forloop.counter != 1 %}
                  {% with previous_element=month_egegament_rating_views|previous:forloop.counter0 %}
                    "{{previous_element}}",
                  {% endwith %}
                {% else %}
                  "{{view}}",
                {% endif %}
            {% endfor %}
          ],
          backgroundColor: [
            'rgba(105, 0, 132, .2)',
          ],
          borderColor: [
            'rgba(200, 99, 132, .7)',
          ],
          borderWidth: 2
        },
        {
          label: "Подписок",
          data: [
            {% for readers in month_egegament_rating_readers %}
              {% if readers == '0' and forloop.counter != 1 %}
                {% with previous_element=month_egegament_rating_readers|previous:forloop.counter0 %}
                  "{{previous_element}}",
                {% endwith %}
              {% else %}
                "{{readers}}",
              {% endif %}
            {% endfor %}
          ],
          backgroundColor: [
            'rgba(0, 137, 132, .2)',
          ],
          borderColor: [
            'rgba(0, 10, 130, .7)',
          ],
          borderWidth: 2
        }
      ]
    },
    options: {
      responsive: true
    }
  });

  var epr = document.getElementById("epr_chart").getContext('2d');
  var myLineChart = new Chart(epr, {
    type: 'line',
    data: {
      labels: [
        {% for day in month_egegament_rating_size %}
          "{{day}}",
        {% endfor %}
      ],
      datasets: [{
          label: "EPR",
          data: [
            {% for epr in month_activites_epr %}
              {% if epr == '0' and forloop.counter != 1 %}
                {% with previous_element=month_activites_epr|previous:forloop.counter0 %}
                  "{{previous_element}}",
                {% endwith %}
              {% else %}
                "{{epr}}",
              {% endif %}
            {% endfor %}
          ],
          backgroundColor: [
            'rgba(105, 0, 132, .2)',
          ],
          borderColor: [
            'rgba(200, 99, 132, .7)',
          ],
          borderWidth: 2
        },
      ]
    },
    options: {
      responsive: true
    }
  });

  var mac = document.getElementById("month_activites_chart").getContext('2d');
  var myLineChart = new Chart(mac, {
    type: 'line',
    data: {
      labels: [
        {% for day in month_egegament_rating_size %}
          "{{day}}",
        {% endfor %}
      ],
      datasets: [
        {
            label: "Просмотры",
            data: [
              {% for view in month_egegament_rating_views %}
                {% if view == '0' and forloop.counter != 1 %}
                  {% with previous_element=month_egegament_rating_views|previous:forloop.counter0 %}
                    "{{previous_element}}",
                  {% endwith %}
                {% else %}
                  "{{view}}",
                {% endif %}
              {% endfor %}
            ],
            backgroundColor: [
              'rgba(0,102,255,.2)',
            ],
            borderColor: [
              'rgba(0,102,255,.7)',
            ],
            borderWidth: 2
          },
        {
          label: "Лайки",
          data: [
            {% for like in month_activites_likes %}
              {% if like == '0' and forloop.counter != 1 %}
                {% with previous_element=month_activites_likes|previous:forloop.counter0 %}
                  "{{previous_element}}",
                {% endwith %}
              {% else %}
                "{{like}}",
              {% endif %}
            {% endfor %}
          ],
          backgroundColor: [
            'rgba(255,0,0,0.2)',
          ],
          borderColor: [
            'rgba(255,0,0,0.7)',
          ],
          borderWidth: 2
        },
        {
          label: "Комментарии",
          data: [
            {% for comment in month_activites_comments %}
              {% if comment == '0' and forloop.counter != 1 %}
                {% with previous_element=month_activites_comments|previous:forloop.counter0 %}
                  "{{previous_element}}",
                {% endwith %}
              {% else %}
                "{{comment}}",
              {% endif %}
            {% endfor %}
          ],
          backgroundColor: [
            'rgba(0,204,0,0.2)',
          ],
          borderColor: [
            'rgba(0,204,0,0.7)',
          ],
          borderWidth: 2
        },
        {
          label: "Репосты",
          data: [
            {% for repost in month_activites_reposts %}
              {% if repost == '0' and forloop.counter != 1 %}
                {% with previous_element=month_activites_reposts|previous:forloop.counter0 %}
                  "{{previous_element}}",
                {% endwith %}
              {% else %}
                "{{repost}}",
              {% endif %}
            {% endfor %}
          ],
          backgroundColor: [
            'rgba(255,204,51,0.2)',
          ],
          borderColor: [
            'rgba(255,204,51,0.7)',
          ],
          borderWidth: 2
        }
      ]
    },
    options: {
      responsive: true
    }
  });
  </script>
</body>
</html>
