<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Важные сообщения | Jimbl</title>

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'Messenger/css/messenger.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/preload-anim.css' %}">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One" rel="stylesheet">
</head>
<body style="overflow-y: auto;">

  <div class="container-fluid" id="mobile-search">
    {% include 'Messenger/mobile/search-bar.html' %}
    {% include 'Messenger/mobile/last_chats.html' %}
    {% include 'Messenger/mobile/bottom-menu.html' %}
  </div>

  <div class="container" id="desktop-search">
    {% include 'Messenger/important-message/include/important-messages.html' %}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'App/js/jquery.sticky.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'App/js/search.js' %}"></script>
  <script src="{% static 'font-awesome/all.js' %}" charset="utf-8"></script>
  <script src="{% static 'Messenger/js/messenger.js' %}" charset="utf-8"></script>
  <script src="{% static 'Messenger/js/important-mes.js' %}" charset="utf-8"></script>
</body>
</html>
