<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не найдена | Jimbl</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'auth/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'errors/404.css' %}">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-light nav" style="padding-bottom: 0px;padding-top: 0px;">
      <div class="container">
        <span class="navbar-brand mx-auto mb-0"><img src="{% static 'logo.svg' %}" width='50px' style="margin-bottom: 5px;" alt=""><span style="font-size: 2rem; font-family: 'Coiny', cursive; top: 5px; position: relative;"> Jimbl</span></span>
      </div>
    </nav>

    <section class="fw fh">
      <div class="container fh">
        <div class="row fh">
          <table align="center" class="fh">
            <tr>
              <td class="align-middle" >
                <img src="{% static 'App/def_image/magnifier.svg' %}" width="200px" class="mx-auto d-block" id="search-image" alt="">
                <br>
                <center><p class="display-3">Упс... Страница не найдена!</p></center>
                <br>
                <center><p class="lead"><a href="/">вернуться на главную</a></p></center>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>

    <bottom>
      <small class="form-text">© 2018 Jimbl. Все права защищены. | <a href="">Пользовательское соглашение</a></small>
    </bottom>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
