body{
  height: -webkit-fill-available;
}

.left_menu{
  width: 270px;
}

.fh{
  height: 100%;
}

h5.active{
  border-left: 2px solid #007dff;
}

.desktop{
  display: block;
}

.mobile{
  display: none;
}

@media (max-width: 600px) {
  .desktop{
    display: none;
  }
  body{
      background: #fafafa;
  }

  button.btn.bg-white.collapsed{
    text-align: -webkit-auto;
  }

  .mobile{
    display: block;
  }
}

li.list-group-item.active{
    background: white !important;
    border-left: 2px solid #007dff !important;
    color: black;
}

#main-content-accordion > div.card{
  border: 0;
}

button.collapsed, button.collapsed:active, button.collapsed:hover{
  border: transparent;
  box-shadow: none!important;
  outline: none !important;
}
