{% load staticfiles %}
<div class="card post" style="width: 100%; border-bottom: none; border-top: none;  border-radius: 0;" id="post_{{media_post.id}}">
  <div class="card-header" style="background-color: #fff; border-bottom: none; padding: 6px 10px 6px 10px;">
    <table style="width: 100%;">
      <tr>
        <td align="left">
          <div class="media">
            {% if media_post.user.profile.image_profile != '' %}
            <img src="{{media_post.user.profile.image_profile_settings.url}}" width="40px" height="40px"   style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
            {% else %}
            <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
            {% endif %}
            <div class="media-body">
              <b onclick="document.location.href='/{{media_post.user.username}}';" style="cursor: pointer;">{{media_post.user}} </b><small class="text-muted">Загрузил видео</small><br>
              <small class="text-muted">{{media_post.date|timesince}} назад</small>
            </div>
          </div>
        </td>
        <td align="right">
          <div class="dropdown">
            <button class="post-settings dropdown-toggle" style="background: #fff; border: none; color: #000;" type="button" id="dropdownMenuButton" data-toggle="dropdown">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <form id="delete_post_form_{{post.id}}" style="display: none;">
                {% csrf_token %}
                <input type="hidden" value="{{post.id}}" name="post_id">
                <input type="hidden" value="1" name="delete_post">
              </form>
              {% if user == post.user %}
                <a class="dropdown-item" href="/creator/edit-post/{{post.id}}" onclick="sessionStorage.setItem('preload_status', 1);">Редактировать</a>
              {% endif %}
              {% if user == post.user %}
                <a class="dropdown-item" onclick="delete_post({{post.id}})" style="cursor: pointer;">Удалить</a>
              {% endif %}
              {% if user != post.user %}
                <a class="dropdown-item" href="#">Пожаловаться</a>
              {% endif %}
               <input id="link_post_{{post.id}}" value="www.jimbl.ru/{{post.user}}/post/{{post.id}}" style="position: absolute; opacity: 0; top: 9999; cursor: pointer; z-index: -100;">
               <button class="dropdown-item clipboard-trigger" style="cursor: pointer;" data-clipboard-target="#link_post_{{post.id}}">Скопировать ссылку</button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="card" style="border: none;">
    <video controls width="100%" height="100%">
      <source src="{{media_post.video.url}}" type="video/mp4">
    </video>
  </div>
  <div class="card-body" style="padding-top: 0;">
    <div class="card-text">
      <h4 class="card-title">
        <table class="fw">
          <tr class="post-statistic">
            <td align="left">
              <form id="form_like_{{media_post.id}}">
                {% csrf_token %}
                <input type="hidden" value="{{media_post.id}}" name="media_id">
                <input type="hidden" value="liking" name="liking">
              </form>
              <span class="like {% if user in media_post.likes.all %}liked{%endif%}" onclick="{% if user.is_authenticated %}like('form_like_{{media_post.id}}', this, {{post.id}}){% else %}$('#no-logged-user-like-modal').modal('show'){% endif %}"><i class="{% if user in media_post.likes.all %}fas{%else%}far{%endif%} fa-heart post-like-{{media_post.id}}"></i> </span>
              <span id="post-like-cnt-{{media_post.id}}">{{media_post.likes.count}}</span>
              <button class="show-comment-form" onclick="$('#comment-data-{{media_post.id}}').focus();" style="outline: none;" type="button" data-toggle="collapse" data-target="#comment-form-{{media_post.id}}" aria-expanded="false" aria-controls="comment-form-{{media_post.id}}">
                <i class="far fa-comment"></i>
              </button>
              <span id="post-comments-cnt-{{media_post.id}}">{{media_post.comments.count}}</span>
              <form id="form_share_{{media_post.id}}" style="display: none;">
                {% csrf_token %}
                <input type="hidden" name="share_post" value="1">
                <input type="hidden" name="post_id" value="{{media_post.id}}">
              </form>
              <span id="share_icon_{{media_post.id}}" class="{% if user in media_post.share.all %}reposted{%endif%}"><i class="fa fa-share" onclick="{% if user.is_authenticated %}share_post('{{media_post.id}}'){% else %}$('#no-logged-user-like-modal').modal('show'){% endif %}"></i></span> <span id="share_post_count_{{media_post.id}}">{{media_post.share.count}}</span>
            </td>
          </tr>
        </table>
      </h4>
    </div>
    <hr>
    <div class="row">
      <div class="share_buttons">
        <button type="button" onmousemove="$(this).css('background', '#007BFF');" class="btn btn-primary"><i class="fab fa-vk"></i> Вконтакте</button>
        <button type="button" style="background: #0069D9;" class="btn btn-primary"><i class="fab fa-facebook"></i> Facebook</button>
        <button type="button" class="btn btn-outline-secondary"><i class="fa fa-ellipsis-h"></i> Эмбед</button>
      </div>
    </div>
    <form id="comment-form-{{post.id}}" class="collapse">
    {% csrf_token %}
    <br>
    <div class="card-text">
      {% if user.is_authenticated %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" style="padding: 5px; background: #fff; border-right: none;">
              {% if user.profile.image_profile.url != '' %}
                <img src="{{user.profile.image_profile_settings.url}}" width="40px" height="40px"   class="rounded-circle" alt="avatar">
              {% else %}
                <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px" class="rounded-circle" alt="avatar">
              {% endif %}
            </span>
          </div>
            <input type="hidden" value="{{post.id}}" name="post_id">
            <input type="hidden" value="1" name="add_comment">
            <input type="text" onkeypress="if (event.keyCode==13){ comment({{post.id}}); $(this).val(''); return false;}" name="comment_data_{{post.id}}" class="form-control" placeholder="Прокомментируйте запись..." style="border-left: none; border-right: none;">
          <div class="input-group-append">
            <span class="input-group-text" style="font-size: 1.5rem; background: #fff; color: #007BFF;border-left: none;"><i class="far fa-smile"></i></span>
          </div>
      </div>
      {% else %}
      <p><a href="/accounts/login">Войдите</a>, чтобы комментировать, делиться и ставить лайки.</p>
      {% endif %}
    </div>
    </form>
    <div class="card-text comments-list-{{post.id}}">
      {% for comment in post.comments.all|slice:'0:3' %}
        <div class="comment" style="max-width: 630px;">
          <div class="row">
            <p style="margin: 0; width: 100%;"><b>{{comment.user}}: </b>{{comment.data}}</p>
            <table class="fw">
              <tr class="comment-statistic">
                <td align="left">
                  <form id="comment_like_{{comment.id}}">
                    {% csrf_token %}
                    <input type="hidden" value="{{comment.id}}" name="comment_id">
                    <input type="hidden" value="1" name="liking_comment">
                  </form>
                  <span class="like {% if user in comment.likes.all %}liked{%endif%}" onclick="like_comment('comment_like_{{comment.id}}', this, {{comment.id}})">
                    <i class="{% if user in comment.likes.all %}fas{%else%}far{%endif%} fa-heart comment-like-{{comment.id}}"></i>
                  </span>
                  <span id="comment-like-cnt-{{comment.id}}">{{comment.likes.count}}</span>
                </td>
                <td align="right">
                  <small class="text-muted">{{comment.date|timesince}} назад</small>
                </td>
              </tr>
            </table>
          </div>
        </div>
      {% endfor %}
      {% if post.comments.count != 0 and post.comments.count > 3 %}
        <button type="button" class="btn btn-link btn-load-comments btn-top-post-load-comments-{{post.id}}" onclick="show_all_comments({{post.id}})">Все комментарии</button>
      {% endif %}
      <div class="comment all_post_comments_{{post.id}} hidden">
      {% for comment in post.comments.all|slice:'3:' %}
          <div class="row">
            <p style="margin: 0;"><b>{{comment.user}}: </b>{{comment.data}}</p>
            <table class="fw">
              <tr class="comment-statistic">
                <td align="left">
                  <form id="comment_like_{{comment.id}}">
                    {% csrf_token %}
                    <input type="hidden" value="{{comment.id}}" name="comment_id">
                    <input type="hidden" value="1" name="liking_comment">
                  </form>
                  <span class="like {% if user in comment.likes.all %}liked{%endif%}" onclick="like_comment('comment_like_{{comment.id}}', this, {{comment.id}})">
                    <i class="{% if user in comment.likes.all %}fas{%else%}far{%endif%} fa-heart comment-like-{{comment.id}}"></i>
                  </span>
                  <span id="comment-like-cnt-{{comment.id}}">{{comment.likes.count}}</span>
                </td>
                <td align="right">
                  <small class="text-muted">{{comment.date|timesince}} назад</small>
                </td>
              </tr>
            </table>
          </div>
      {% endfor %}
      <button type="button" style="padding-left: 0; margin: -1rem;" class="btn btn-link btn-bottom-post-load-comments-{{post.id}}" onclick="hide_all_comments({{post.id}})">Скрыть комментарии</button>
      </div>
    </div>
  </div>
</div>
