{% for media_post in media_list %}

{% if media_post.image.url %}
  {% include 'profile/media/include/media.html' %}
{% else %}
  {% include 'profile/media/include/media-video.html' %}
{% endif %}

{% empty %}
  {% if user != profile_view %}
    <div class="card text-center" style="border: none;">
        <div class="card-body">
          <p class="emty-post-title">Медии нет!</p>
          <p class="lead mr-3 ml-3">Подпишитесь на блогера, чтобы не пропустить не одной записи!</p>
        </div>
    </div>
  {% else %}
    <div class="card text-center" style="border: none;">
      <div class="card-body">
        <p class="emty-post-title">У вас нет медии!</p>
        <p class="lead mr-3 ml-3">Здесь будут отображаться весь медиа контент, который вы публикуете в постах!</p>
      </div>
    </div>
  {% endif %}
{% endfor %}
