{% load staticfiles %}
<div class="card post" style="width: 100%; border: none; border-radius: 5px;" id="post_{{post.id}}">
  <div class="card-header" style="background-color: #fff; border-bottom: none; padding: 6px 10px 6px 10px;">
    <table style="width: 100%;">
      <tr>
        <td align="left">
          <div class="media">
            {% if post.user.profile.image_profile != '' %}
            <img src="{{post.user.profile.image_profile_settings.url}}" width="40px" height="40px"  onclick="document.location.href='/{{post.user.username}}';" style="margin-right: 10px; cursor: pointer;" class="rounded-circle z-depth-1 align-self-center" alt="avatar">
            {% else %}
            <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  style="margin-right: 10px; cursor: pointer;" onclick="document.location.href='/{{post.user.username}}';" class="rounded-circle align-self-center z-depth-1" alt="avatar">
            {% endif %}
            <div class="media-body">
              <span onclick="document.location.href='/{{post.user.username}}';" class="font-weight-light" style="cursor: pointer;"><b>{{post.user.get_full_name}}</b> <span class="font-weight-light">@{{post.user.username}}</span></span><br>
              <small class="text-muted"> {{post.date|timesince}} назад</small>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="card" style="border: none;">
    <img class="img-fluid post-image" src="{{post.image_preview.url}}">
    <div id="img-overlay" class="card-img-overlay post-image text-white img-overlay-{{post.id}}" style="background: rgba(0,0,0,.5);">
      <table class="fw fh">
        <tr>
          <td class="align-middle overlay-main" id="overlay-main-{{post.id}}" align="center" style="color: #fff;">
            <div class="card-title-wrapper">
              {{post.title}}
            </div>
            <button class="btn btn-sm btn-light pl-3 pr-3" onclick="document.location.href='/{{post.user}}/post/{{post.id}}'">
              <i class="fas fa-location-arrow fa-lg mr-2"></i> Читать
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card-body" style="padding-top: 0;">
    <div class="card-text">
      <h4 class="card-title mb-0 mt-3">
        <table class="fw">
          <tr class="post-statistic">
            <td align="left">
              <form id="form_like_{{post.id}}">
                {% csrf_token %}
                <input type="hidden" value="{{post.id}}" name="post_id">
                <input type="hidden" value="liking" name="liking">
              </form>
              <span class="like mr-0 {% if user in post.likes.all %}liked{%endif%}" onclick="{% if user.is_authenticated %}like('form_like_{{post.id}}', this, {{post.id}}){% else %}$('#no-logged-user-like-modal').modal('show'){% endif %}"><i class="{% if user in post.likes.all %}fas{%else%}far{%endif%} fa-heart fa-lg post-like-{{post.id}}"></i> </span>
              <span id="post-like-cnt-{{post.id}}">{{post.likes.count}}</span>
              <button class="show-comment-form p-0" onclick="$('[name=comment_data_{{post.id}}]').focus();" style="outline: none;" type="button">
                <i class="far fa-comment ml-3 fa-lg"></i>
              </button>
              <span id="post-comments-cnt-{{post.id}}" class="ml-0">{{post.comments.count}}</span>
              <span style="cursor: pointer;" class="ml-3 {% if user in post.share.all %}reposted{%endif%}" onclick="{% if user.is_authenticated %}share_post('{{post.id}}'){% else %}$('#no-logged-user-like-modal').modal('show'){% endif %}"><i class="fa fa-share fa-lg"></i></span> <span id="share_post_count_{{post.id}}">{{post.share.count}}</span>
            </td>
            <td align="right">
              <i class="far fa-eye "></i>
              {{post.views.count}}
            </td>
          </tr>
        </table>
      </h4>
      {% if post.discription %}
        <p class="lead discription-post pt-3"><b>{{post.user.username}}:</b> {{post.discription}}</p>
      {% endif %}
    </div>
    <hr>
    <div class="row">
      <div class="share_buttons" style="margin-left: 16px;">
        <div id="vk_share_button_{{post.id}}" class="btn btn-primary btn-sm" style="height: 28px;"></div>
        <script>
          document.getElementById('vk_share_button_{{post.id}}').innerHTML = VK.Share.button('http://jimbl.ru/{{post.user.username}}/post/{{post.id}}', {
            title: '{{post.title}} @{{post.user}} | Публикация на Jimbl',
            image: 'https://jimbl.ru{{post.image.url}}',
            noparse: false,
            type: 'custom',
            text: '<span class="text-white" style="top: -2px;position: relative;font-weight: 500;"><i class="fab fa-vk fa-lg"></i> Поделиться</span>'
          });
        </script>
        <button type="button" class="btn btn-outline-secondary share-btn btn-sm" style="height: 28px;" data-toggle="modal" data-target="#tools_post_modal_{{post.id}}">
          <i class="fa fa-ellipsis-h fa-lg"></i>
        </button>
      </div>
    </div>
    <form id="comment-form-{{post.id}}">
    {% csrf_token %}
    <br>
    <div class="card-text">
      {% if user.is_authenticated %}
      {% if post.user.profile.accept_comment_posts == 0 %}
        <div class="md-form mt-0">
          <span class="prefix pr-3 border-0" style="padding: 0 5px 0 0; background: #fff; border-right: none;">
            {% if user.profile.image_profile.url != '' %}
              <img src="{{user.profile.image_profile_settings.url}}" width="40px" height="40px" class="rounded-circle" alt="avatar">
            {% else %}
              <img src="{% static 'App/def_image/user.svg' %}" class="rounded-circle" width="40px" height="40px" alt="avatar">
            {% endif %}
          </span>
          <input type="text" autocomplete="off" onkeypress="if (event.keyCode==13){ comment({{post.id}}); $(this).val(''); return false;}" name="comment_data_{{post.id}}" class="form-control" id="comment_input_{{post.id}}" style="text-indent: 1rem;">
          <label for="comment_input_{{post.id}}" class="pl-3 border-0">Прокомментируйте запись...</label>
        </div>
      {% endif %}
      {% if post.user.profile.accept_comment_posts == 1 and user in post.user.profile.readers.all %}
        <div class="md-form mt-0">
          <span class="prefix pr-3 border-0" style="padding: 0 5px 0 0; background: #fff; border-right: none;">
            {% if user.profile.image_profile.url != '' %}
              <img src="{{user.profile.image_profile_settings.url}}" width="40px" height="40px" class="rounded-circle" alt="avatar">
            {% else %}
              <img src="{% static 'App/def_image/user.svg' %}" class="rounded-circle" width="40px" height="40px" alt="avatar">
            {% endif %}
          </span>
          <input type="text" autocomplete="off" onkeypress="if (event.keyCode==13){ comment({{post.id}}); $(this).val(''); return false;}" name="comment_data_{{post.id}}" class="form-control" id="comment_input_{{post.id}}" style="text-indent: 1rem;">
          <label for="comment_input_{{post.id}}" class="pl-3 border-0">Прокомментируйте запись...</label>
        </div>
      {% endif %}
      {% else %}
      <p class="lead"><a href="/accounts/login">Войдите</a>, чтобы комментировать, делиться и ставить лайки.</p>
      {% endif %}
    </div>
    </form>
    <div class="card-text comments-list-{{post.id}}">
      {% for comment in post.comments.all|slice:'0:3' reversed   %}
        <div class="comment comments-{{post.id}}" style="max-width: 630px;">
          <div class="row">
            <div class="media fw">
              {% if comment.user.profile.image_profile.url != '' %}
              <img class="align-self-center mr-3 rounded-circle" onclick="document.location.href='/{{comment.user}}'" src="{{comment.user.profile.image_profile_settings.url}}" width="40px" height="40px"   alt="Generic placeholder image">
              {% else %}
              <img class="align-self-center mr-3 rounded-circle" onclick="document.location.href='/{{comment.user}}'" src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  alt="Generic placeholder image">
              {% endif %}
              <div class="media-body fw">
                <p id="comment-text" style="margin: 0;"><span onclick="document.location.href='/{{comment.user}}'" class="font-weight-bold">{{comment.user}}: </span>{{comment.data}}</p>
                <table class="fw">
                  <tr class="comment-statistic">
                    <td align="left">
                      <form id="comment_like_{{comment.id}}">
                        {% csrf_token %}
                        <input type="hidden" value="{{comment.id}}" name="comment_id">
                        <input type="hidden" value="1" name="liking_comment">
                      </form>
                      <span class="like {% if user in comment.likes.all %}liked{%endif%}" onclick="like_comment('comment_like_{{comment.id}}', this, {{comment.id}})">
                        <i class="{% if user in comment.likes.all %}fas{%else%}far{%endif%} fa-heart comment-like-{{comment.id}}"></i>
                      </span>
                      <span id="comment-like-cnt-{{comment.id}}">{{comment.likes.count}}</span>
                    </td>
                    <td align="right">
                      <small class="text-muted">{{comment.date|timesince}} назад</small>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% if post.comments.count != 0 and post.comments.count > 3 %}
        <button type="button" class="btn btn-link load-more-comments" id="{{post.id}}" onclick="load_more_comments('{{post.id}}')">Загрузить еще</button>
      {% endif %}
    </div>
  </div>
</div>
<div class="modal fade" id="tools_post_modal_{{post.id}}" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <ul class="list-group list-group-flush text-center">
          {% if user == post.user %}
            <a class="list-group-item tools_post_delete text-danger font-weight-normal" data-toggle="modal" data-target="#delete_post_modal" data-title="{{post.title}}" data-id="{{post.id}}" style="cursor: pointer;">Удалить</a>
          {% endif %}
          {% if user == post.user %}
            <a class="list-group-item text-dark tools_post_edit" href="/creator/edit-post/{{post.id}}" onclick="sessionStorage.setItem('edit_status', 1);">Редактировать</a>
          {% endif %}
          {% if user != post.user %}
            <a class="list-group-item text-danger font-weight-normal tools_post_report" data-toggle="modal" data-target="#report_post_modal" data-title="{{post.title}}" data-id="{{post.id}}">Пожаловаться</a>
          {% endif %}
          <input id="link_post_{{post.id}}" value="www.jimbl.ru/{{post.user}}/post/{{post.id}}" style="position: absolute; opacity: 0; top: 9999; cursor: pointer; z-index: -100;">
          <li class="list-group-item clipboard-trigger" style="cursor: pointer;" data-clipboard-target="#link_post_{{post.id}}" onclick="$('#clipboard_success_modal').modal('show')">Скопировать ссылку</li>
        </ul>
      </div>
    </div>
</div>
<br>
