{% load staticfiles %}
<div class="card post" style="width: 100%; border: none;">
  <div class="card-header" style="border-bottom: none;">
    <table style="width: 100%;">
      <tr>
        <td align="left">
          <div class="media">
            {% if post.user.profile.image_profile != '' %}
            <img src="{{post.user.profile.image_profile_settings.url}}" onclick="document.location.href='/{{post.user}}'" width="40px" height="40px" style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
            {% else %}
            <img src="{% static 'App/def_image/user.svg' %}" onclick="document.location.href='/{{post.user}}'" width="40px" height="40px" style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
            {% endif %}
            <div class="media-body">
              <b onclick="document.location.href='/{{post.user.username}}';" style="cursor: pointer;">{{post.user}}</b> <small class="text-muted">Поделился записью</small><br>
              <small class="text-muted"> {{post.date|timesince}} назад</small>
            </div>
          </div>
        </td>
        <td align="right">
          <div class="dropdown">
            <button class="post-settings dropdown-toggle" style="background: #F7F7F7; border: none; color: #000;" type="button" id="dropdownMenuButton" data-toggle="dropdown">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Удалить запись</a>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="card-header" style="background: #fff;">
    <table style="width: 100%;">
      <tr>
        <td align="left">
          <div class="media">
            {% if post.post.user.profile.image_profile != '' %}
            <img src="{{post.post.user.profile.image_profile_settings.url}}" onclick="document.location.href='/{{post.post.user}}'" width="40px" height="40px" style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
            {% else %}
            <img src="{% static 'App/def_image/user.svg' %}" onclick="document.location.href='/{{post.post.user}}'" width="40px" height="40px" style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
            {% endif %}
            <div class="media-body">
              <b onclick="document.location.href='/{{post.post.user.username}}';" style="cursor: pointer;">{{post.post.user.username}}</b><br>
              <small class="text-muted"> {{post.post.date|timesince}} назад</small>
            </div>
          </div>
        </td>
        <td align="right">
          <div class="dropdown">
            <button class="post-settings dropdown-toggle" style="background: #fff; border: none; color: #000;" type="button" id="dropdownMenuButton" data-toggle="dropdown">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <form id="delete_post_form_{{post.post.id}}" style="display: none;">
                {% csrf_token %}
                <input type="hidden" value="{{post.post.id}}" name="post_id">
                <input type="hidden" value="1" name="delete_post">
              </form>
              {% if user == post.user %}
                <a class="dropdown-item" href="/creator/edit-post/{{post.post.id}}" onclick="sessionStorage.setItem('preload_status', 1);">Редактировать</a>
              {% endif %}
              {% if user == post.user %}
                <a class="dropdown-item" onclick="delete_post({{post.post.id}})" style="cursor: pointer;">Удалить</a>
              {% endif %}
              {% if user != post.user %}
                <a class="dropdown-item" href="#">Пожаловаться</a>
              {% endif %}
               <input id="link_post_{{post.id}}" value="www.jimbl.ru/{{post.user}}/post/{{post.id}}" style="position: absolute; opacity: 0; top: 9999; cursor: pointer; z-index: -100;">
               <button class="dropdown-item clipboard-trigger" style="cursor: pointer;" data-clipboard-target="#link_post_{{post.id}}">Скопировать ссылку</button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="card" style="border: none;">
    <img class="img-fluid" src="{{post.post.image_preview.url}}">
    <div id="img-overlay" class="card-img-overlay text-white" style="background: rgba(0,0,0,.5);">
      <table class="fw fh">
        <tr>
          <td class="align-middle text-white" align="center">
            <h1 class="card-title" style="width:100%; overflow:hidden; white-space: nowrap;text-overflow: ellipsis;">{{post.post.title}}</h1>
            <p class="lead">{{post.post.discription}}</p>
            <p class="card-text"><button class="btn btn-outline-light" onclick="document.location.href='/{{post.post.user}}/post/{{post.post.id}}'">Читать</button></p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card-body" style="padding-top: 0;">
    <div class="card-text">
      <h4 class="card-title">
        <table class="fw">
          <tr class="post-statistic">
            <td align="left">
              <form id="form_like_{{post.id}}">
                {% csrf_token %}
                <input type="hidden" value="{{post.id}}" name="post_id">
                <input type="hidden" value="liking" name="liking">
              </form>
              <span class="like {% if user in post.likes.all %}liked{%endif%}" onclick="like('form_like_{{post.id}}', this, {{post.id}})"><i class="{% if user in post.likes.all %}fas{%else%}far{%endif%} fa-heart post-like-{{post.id}}"></i> </span>
              <span id="post-like-cnt-{{post.id}}">{{post.post.likes.count}}</span>
              <i class="far fa-comment"></i>
              <span id="post-comments-cnt-{{post.id}}">{{post.post.comments.count}}</span>
              <i class="fa fa-share"></i> {{post.post.share.count}}
            </td>
            <td align="right">
              <i class="fa fa-eye"></i>
              {{post.post.views.count}}
            </td>
          </tr>
        </table>
      </h4>
    </div>
    <form id="comment-form-{{post.post.id}}">
    {% csrf_token %}
    <br>
    <div class="card-text">
      {% if user.is_authenticated %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0" style="padding: 0 5px 0 0; background: #fff; border-right: none;">
              {% if user.profile.image_profile.url != '' %}
                <img src="{{user.profile.image_profile_settings.url}}" width="40px" height="40px" class="rounded-circle" alt="avatar">
              {% else %}
                <img src="{% static 'App/def_image/user.svg' %}" class="rounded-circle" width="40px" height="40px" alt="avatar">
              {% endif %}
            </span>
          </div>
            <input type="text" autocomplete="off" onkeypress="if (event.keyCode==13){ comment({{post.post.id}}); $(this).val(''); return false;}" name="comment_data_{{post.post.id}}" class="border-0 form-control commenting" id="{{now_post.id}}" placeholder="Прокомментируйте запись..." style="border-left: none; border-right: none;">
          <div class="input-group-append">
            <span class="input-group-text border-0 text-muted" style="font-size: 1.5rem; background: #fff; border-left: none;"><img src="{% static 'App/def_image/smile.svg' %}" width="30px" alt=""></span>
          </div>
      </div>
      {% else %}
      <p><a href="/accounts/login">Войдите</a>, чтобы комментировать, делиться и ставить лайки.</p>
      {% endif %}
    </div>
    </form>
    <div class="card-text comments-list-{{post.post.id}}">
      {% for comment in post.post.comments.all|slice:'0:3' %}
        <div class="comment">
          <div class="row">
            <p style="margin: 0;"><b>{{comment.user}}: </b>{{comment.data}}</p>
            <table class="fw">
              <tr class="comment-statistic">
                <td align="left">
                  <form id="comment_like_{{comment.id}}">
                    {% csrf_token %}
                    <input type="hidden" value="{{comment.id}}" name="comment_id">
                    <input type="hidden" value="1" name="liking_comment">
                  </form>
                  <span class="like {% if user in comment.likes.all %}liked{%endif%}" onclick="like_comment('comment_like_{{comment.id}}', this, {{comment.id}})">
                    <i class="{% if user in comment.likes.all %}fas{%else%}far{%endif%} fa-heart comment-like-{{comment.id}}"></i>
                  </span>
                  <span id="comment-like-cnt-{{comment.id}}">{{comment.likes.count}}</span>
                </td>
                <td align="right">
                  <small class="text-muted">{{comment.date|timesince}} назад</small>
                </td>
              </tr>
            </table>
          </div>
        </div>
      {% endfor %}
      {% if post.comments.count != 0 and post.comments.count > 3 %}
        <button type="button" class="btn btn-link btn-load-comments btn-top-post-load-comments-{{post.post.id}}" onclick="show_all_comments({{post.post.id}})">Все комментарии</button>
      {% endif %}
      <div class="comment all_post_comments_{{post.id}} hidden">
      {% for comment in post.comments.all|slice:'3:' %}
          <div class="row">
            <p style="margin: 0;"><b>{{comment.user}}: </b>{{comment.data}}</p>
            <table class="fw">
              <tr class="comment-statistic">
                <td align="left">
                  <form id="comment_like_{{comment.id}}">
                    {% csrf_token %}
                    <input type="hidden" value="{{comment.id}}" name="comment_id">
                    <input type="hidden" value="1" name="liking_comment">
                  </form>
                  <span class="like {% if user in comment.likes.all %}liked{%endif%}" onclick="like_comment('comment_like_{{comment.id}}', this, {{comment.id}})">
                    <i class="{% if user in comment.likes.all %}fas{%else%}far{%endif%} fa-heart comment-like-{{comment.id}}"></i>
                  </span>
                  <span id="comment-like-cnt-{{comment.id}}">{{comment.likes.count}}</span>
                </td>
                <td align="right">
                  <small class="text-muted">{{comment.date|timesince}} назад</small>
                </td>
              </tr>
            </table>
          </div>
      {% endfor %}
      <button type="button" style="padding-left: 0; margin: -1rem;" class="btn btn-link btn-bottom-post-load-comments-{{post.id}}" onclick="hide_all_comments({{post.id}})">Скрыть комментарии</button>
      </div>
    </div>
  </div>
</div>
