<div class="md-form">
  <input type="password" autocomplete="off" onload="if($(this).val() != ''){$('label[for='pass_1']').addClass('active')}" value="{{password}}" spellcheck="false" onchange="password_check($(this).val())" class="form-control {% if not password_check %}is-invalid{% endif %}" name="pass" id="pass_1" required>
  <label for="pass_1" {% if password %}class='active'{% endif %} onclick="$(this).addClass('active'); $('[id=pass_1]').focus()">Пароль</label>
  {% if not password_check %}
    <div class="invalid-feedback">Пароль должен быть больше 8 символов</div>
  {% endif %}
</div>
