<div class="md-form">
  <input type="password" autocomplete="off" onload="if($(this).val() != ''){$('label[for='pass_2']').addClass('active')}" spellcheck="false" value="{{password_valid}}" onchange="password_validation($(this).val())" class="form-control {% if not password_validation %}is-invalid{% endif %}" name="pass2" id="pass_2" required>
  <label for="pass_2" {% if password_valid %}class='active'{% endif %} onclick="$(this).addClass('active'); $('[id=pass_2]').focus()">Повторите пароль</label>
  {% if password_validation == False %}
    <div class="invalid-feedback">
       Пароли не совпадают!
     </div>
  {% endif %}
</div>
