<div class="md-form">
  <input type="text" autocomplete="off" onload="if($(this).val() != ''){$('label[for='id_user']').addClass('active')}" value="{{username_check}}" onchange="username_check($(this).val())" spellcheck="false" class="form-control {% if username_is_taken %}is-invalid{% endif %}" name="user" id="id_user" required>
  <label for="id_user" {% if username_check %} class="active" {% endif %} onclick="$(this).addClass('active'); $('[id=id_user]').focus()">Имя пользователя</label>
  {% if username_is_taken == 2 %}
    <div class="invalid-feedback">
       Имя пользователя занято!
     </div>
  {% endif %}
</div>
