<div class="card z-depth-0" id="best_post" style="border-radius: 0; border: none; background: transparent;">
  <div class="card-body pt-0">
    <div class="card-header" style="background: transparent; border: none;">
      <table class="fw">
        <tr>
          <td>
            <h4 class="font-weight-light text-center">Лучшие блоги</h4>
          </td>
        </tr>
      </table>
    </div>
    <div class="card-text">
      <table class="fw">
        {% block best_post %}
          {% for blog in best_blogs %}
              <tr>
                <td>
                  <div class="card mb-4 border-0" style="cursor: pointer" onclick="document.location.href='/{{blog.user.username}}/blogs/{{blog.id}}'">
                    {% if blog.image.url != '' %}
                    <img class="card-img-top" style="border-radius: 10px;" src="{{blog.image.url}}" height="150px" alt="Card image cap">
                    {% endif %}
                    <div class="card-img-overlay text-white best-blog" style="background: rgba(0,0,0,0.5);border-radius: 10px;">
                      <table class="fh fw text-white">
                        <tr>
                          <td class="align-top" colspan="2">
                            {{blog.posts.count}} Постов
                          </td>
                        </tr>
                        <tr>
                          <td class="align-top" colspan="2">
                            {{blog.name}}
                          </td>
                        </tr>
                        <tr>
                          <td>
                            От {{blog.user.username}}
                          </td>
                          <td align='right' class="text-right">
                            {{blog.related_views.count}} <i class="far fa-eye"></i>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </td>
              </tr>
          {% endfor %}
        {% endblock %}
      </table>
  </div>
</div>
</div>
