{% load staticfiles %}
<br>
<div class="card" id="best_bloger" style="border-radius: 0; border: none; width: 270px;">
  <div class="card-body">
    <div class="card-header" style="background: transparent; border: none;">
      <table class="fw">
        <tr>
          <td align="center">
            <h4 class="font-weight-light">Блогеры месяца!</h4>
            <p class="font-weight-light text-primary">{{now_date|date:'F Y'}}</p>
          </td>
        </tr>
      </table>
    </div>
    <div class="card-text">
      <div class="row">
        <div class="mx-auto">
          {% for best_blogger in best_bloggers|slice:'1:2' %}
          <td align="center" style="text-align: center;">
            <div class="col-4">
              <br>
              <br>
              <div class="row" style="width: 50px;">
                {% if best_blogger.image_profile.url != '' %}
                    <img class="rounded-circle mx-auto" style="cursor: pointer;" onclick="document.location.href='/{{best_blogger.user.username}}'" src="{{best_blogger.image_profile_settings.url}}" width="40px" height="40px"   alt="Generic placeholder image">
                {% else %}
                    <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px" style="cursor: pointer;" onclick="document.location.href='/{{best_blogger.user.username}}'"   class="rounded-circle shadow-sm" alt="">
                {% endif %}
              </div>
              <div class="row" style="width: 50px;">
                <p style="margin: 0; text-align: center; width: 100%; white-space: nowrap; cursor: pointer;" onclick="document.location.href='/{{best_blogger.user.username}}'">{{best_blogger.user.username}}</p>
              </div>
              <div class="row" style="height: 4rem; width: 50px;">
                <div style="background: #FF9859;" class="cols">
                  <table class="fw fh text-white">
                    <tr>
                      <td align='center'>
                        {{best_blogger.views}}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </td>
          {% endfor %}
        </div>
        <div class="mx-auto">
          {% for best_blogger in best_bloggers|slice:':1' %}
          <td align="center" style="text-align: center;">
            <div class="col-4">
              <div class="row" style="width: 50px;">
                {% if best_blogger.image_profile.url != '' %}
                  <img class="rounded-circle mx-auto" style="cursor: pointer;" onclick="document.location.href='/{{best_blogger.user.username}}'" src="{{best_blogger.image_profile_settings.url}}" width="40px" height="40px"   alt="Generic placeholder image">
                {% else %}
                  <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px" style="cursor: pointer;" onclick="document.location.href='/{{best_blogger.user.username}}'"   class="rounded-circle shadow-sm" alt="">
                {% endif %}
              </div>
              <div class="row" style="width: 50px;">
                <p style="margin: 0; text-align: center; width: 100%; white-space: nowrap;cursor: pointer;" onclick="document.location.href='/{{best_blogger.user.username}}'">{{best_blogger.user.username}}</p>
              </div>
              <div class="row" style="height: 7rem; width: 50px;">
                <div style="background: #008ED3;" class="cols">
                  <table class="fw fh text-white">
                    <tr>
                      <td align='center'>
                        {{best_blogger.views}}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </td>
          {% endfor %}
        </div>
        <div class="mx-auto">
          {% for best_blogger in best_bloggers|slice:'2:3' %}
          <td align="center" style="text-align: center;">
            <div class="col-4">
              <br>
              <br>
              <div class="row" style="width: 50px;">
                {% if best_blogger.image_profile.url != '' %}
                  <img class="rounded-circle mx-auto" style="cursor: pointer;" onclick="document.location.href='/{{best_blogger.user.username}}'" src="{{best_blogger.image_profile_settings.url}}" width="40px" height="40px"   alt="Generic placeholder image">
                {% else %}
                  <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px" style="cursor: pointer;" onclick="document.location.href='/{{best_blogger.user.username}}'"   class="rounded-circle shadow-sm" alt="">
                {% endif %}
              </div>
              <div class="row" style="width: 50px;">
                <p style="margin: 0; text-align: center; width: 100%; white-space: nowrap;cursor: pointer;" onclick="document.location.href='/{{best_blogger.user.username}}'">{{best_blogger.user.username}}</p>
              </div>
              <div class="row" style="height: 4rem; width: 50px;">
                <div style="background: #69D6E7;" class="cols">
                  <table class="fw fh text-white">
                    <tr>
                      <td align='center'>
                        {{best_blogger.views}}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </td>
          {% endfor %}
        </div>
      </div>
      <br>
    <div class="card-bottom">
      <table class="fw">
        <tr>
          <td>
            <a href="/statistic" class="btn btn-primary fw">Вся статистика</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>
