<div class="card left-menu-vertical z-depth-0" id="left_menu_sticky" style="background: transparent; border: none;">
  <div class="card-body p-0 pt-4">
    <table align="center">
      <tr>
        <td class="left-menu-vertical-body">
          <h5>Катерегории</h5>
            <ul class="left-menu">
              <a href="/" class="active"><li class="text-dark"><span><i class="fa fa-adjust text-primary" style='width: 18px;' ></i></span> Все</li></a>
              <a href="/travel/"><li class="text-muted"><i class="fa fa-globe-americas" style='width: 18px;' ></i> Путешествия</li></a>
              <a href="/auto/"><li class="text-muted"><span><i class="fa fa-car" style='width: 18px;' ></i></span> Авто</li></a>
              <a href="/natural/"><li class="text-muted"><i class="fa fa-leaf" style='width: 18px;' ></i> Природа</li></a>
              <a href="/lifehacks/"><li class="text-muted"><i class="far fa-lightbulb" style='width: 18px;' ></i> Лайфхаки</li></a>
              <a href="/buisness/"><li class="text-muted"><i class="fa fa-dollar-sign" style='width: 18px;' ></i> Бизнес и Финансы</li></a>
              <a href="/news/"><li class="text-muted"><i class="fa fa-bullhorn" style='width: 18px;' ></i> Новости и Политика</li></a>
              <a href="/food/"><li class="text-muted"><i class="fa fa-apple-alt" style='width: 18px;' ></i> Еда и Кулинария</li></a>
              <a href="/science/"><li class="text-muted"><i class="fa fa-atom" style='width: 18px;' ></i> Наука и Техника</li></a>
              <a href="/sport/"><li class="text-muted"><i class="fa fa-futbol" style='width: 18px;' ></i> Спорт и Здоровье</li></a>
              <a href="/shopping/"><li class="text-muted"><i class="fa fa-tag" style='width: 18px;' ></i> Мода и Шоппинг</li></a>
            </ul>
            <a href="/newest/" class="text-muted"><h5><i class="far fa-clock"></i> Новое</h5></a>
            <a href="/newest/" class="text-muted"><h5><i class="fas fa-random"></i> Случайные</h5></a>
        </td>
      </tr>
    </table>
  </div>
</div>
