{% load staticfiles %}
{% for post in news_list %}

{% if post.type == 'repost' %}
  {% include 'App/include/posts/share_post.html' %}
{% endif %}

{% if post.blog != '' and post.title != '' and post.image.url != '' and post.data != '' and post.discription != '' and post.type != 'repost' %}
  {% include 'App/include/posts/full_post.html' %}
{% endif %}

{% empty %}
  {% if user.is_authenticated %}
  <div class="card fw border-0" style="border-radius: 0; background: transparent;">
    <div class="card-body text-center">
      <h3 class="title font-weight-light">Добро пожаловать в Jimbl</h3>
      <p class="font-weight-light">Найдите и подпишитесь на понравшихся вам людей, чтобы видеть их публикации и посты, а также читать классные блоги</p>
    </div>
    <div class="card-body p-0">
      <div class="horizontal-scroll-wrapper pb-4">
        <div class="card-deck m-0" style="width: max-content;">
        {% for bloger in recomended_profiles %}
          <div class="card border-0" style="width: 16rem; margin-left: 0.25rem !important; background: transparent;">
            <div class="card-header" style="background: #fff; border-radius: 5px; padding: 0;">
              {% if bloger.image_header.url != '' %}
              <img src="{{bloger.image_header.url}}" height="160px" class="card-img-top rounded shadow" alt="...">
              {% else %}
              <img src="{% static 'App/def_image/white.png' %}" height="160px" class="card-img-top rounded shadow" alt="...">
              {% endif %}
              <div class="card-img-overlay" style="position: absolute; height: 160px;">
                <table class="w-100 h-100">
                  <tr>
                    <td class="align-middle" align="center">
                      {% if bloger.image_profile_avatar.url != '' %}
                      <img src="{{bloger.image_profile_avatar.url}}" style="cursor: pointer" onclick="document.location.href='/{{bloger.user}}'" width="110px" class="rounded-circle z-depth-1" alt="">
                      {% else %}
                      <img src="{% static 'App/def_image/user.svg' %}" onclick="document.location.href='/{{bloger.user}}'" width="110px" alt="">
                      {% endif %}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="card-body pb-2 shadow-sm border-left border-bottom border-right ml-3 mr-3 z-depth-1" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px">
              <center>
                <div class="recoments-text-wrapper">
                <h5 class="card-title font-weight-normal mb-0" style="cursor: pointer" onclick="document.location.href='/{{bloger.user}}'">{{bloger.user.get_full_name}}</h5>
                <p class="font-weight-light mb-1" style="cursor: pointer" onclick="document.location.href='/{{bloger.user}}'">@{{bloger.user.username}} {% if bloger.is_verifed %}<span><img src="{% static 'App/def_image/verified.svg' %}" width="16px" height="16px" alt=""></span>{% endif %}</p>
                <pre class="font-weight-light st-2 text-center" style="font-family: Segoe UI;">{{bloger.discription_profile}}</pre>
                </div>
                <form id="follow_form_{{bloger.user.id}}">
                  {% csrf_token %}
                  <input type="hidden" value="{{bloger.user.id}}" name="user_id">
                  <input type="hidden" value="1" name="common_follow">
                </form>
                <button class="btn btn-primary btn-sm" id="follow_btn_{{bloger.user.id}}" onclick="follow('{{bloger.user.id}}')">{% if user in bloger.readers.all %}В подписках{% else %}Подписаться{% endif %}</button>
                <span style="font-size: 0.7rem;" class="text-muted mt-0">Рекомендации Jimbl</span>
              </center>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="card fw border-0" style="border-radius: 0; background: transparent;">
    <div class="card-body text-center">
      <h3 class="title font-weight-light">Публикации не найдены</h3>
      <p class="font-weight-light">Но мы верим что они вскоре появятся</p>
    </div>
  </div>
  {% endif %}
{% endfor %}
