{% load staticfiles %}
<div class="w-100 search-load hidden">
  <div class="mx-auto mt-4 mb-4" style="width: fit-content;">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="search-main">
  {% if search_posts|length > 0 %}
    <!-- <h6 class="bg-primary text-white text-center p-1 w-100 mb-0">Публикации</h6> -->
    <ul class="list-group">
      {% for post in search_posts %}
        <li class="list-group-item list-group-item-action p-1" style="cursor: pointer;" onclick="document.location.href='/{{search_user.user.username}}'; add_search_user('{{search_user.user.username}}')" style="border: none;">
          <div class="media">
            {% if post.image.url != '' %}
              <img src="{{post.image.url}}" height="40px" width="40px" class="rounded align-self-center mr-3" alt="">
            {% else %}
              <img src="{% static 'App/def_image/white.svg' %}" width="40px" height="40px"  class="rounded shadow-sm align-self-center mr-3" alt="">
            {% endif %}
            <div class="media-body">
              <h5 class="mt-0 mb-0" style="max-width: 330px; overflow: hidden; text-overflow: ellipsis;">{{post.title}}</h5>
              <p class="mb-0 text-primary font-weight-normal">@{{post.user.username}}</p>
            </div>
            <div class="d-inline float-left">
              <b>{{post.views.count}}</b> Просмотров
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if search_blogers|length > 0 %}
    <!-- <h6 class="bg-primary text-white text-center p-1 w-100 mb-0">Пользователи</h6> -->
    <ul class="list-group">
      {% for search_user in search_blogers %}
        <li class="list-group-item list-group-item-action" style="cursor: pointer;" onclick="document.location.href='/{{search_user.user.username}}'; add_search_user('{{search_user.user.username}}')" style="border: none;">
          <div class="media">
            {% if search_user.image_profile.url != '' %}
              <img src="{{search_user.image_profile_settings.url}}" width="40px" height="40px" class="rounded-circle align-self-center mr-3" alt="">
            {% else %}
              <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  class="rounded-circle shadow-sm align-self-center mr-3" alt="">
            {% endif %}
            <div class="media-body">
              <h5 class="mt-0 mb-0">{{search_user.user.get_full_name}}</h5>
              <p class="mb-0 text-primary font-weight-normal">
                @{{search_user.user.username}}
                {% if search_user.is_verifed == True %}
                  <img src="{% static 'App/def_image/verified.svg' %}" class="" style="height: 0.8rem; margin-bottom: 0px;" alt="">
                {% endif %}
              </p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if search_posts|length == 0 and search_blogers|length == 0 and search != '' %}
    <table class="fw fh" style="width: 100%; height: 100%;">
      <tr>
        <td class="align-middle" align='center'>
          <p class="mb-0" style="padding: 10px;">Ничего не найдено</p>
        </td>
      </tr>
    </table>
  {% endif %}
  {% if search == '' %}
    <table class="fw fh" style="width: 100%; height: 100%;">
      <tr>
        <td class="align-middle" align='center'>
          <p class="mb-0" style="padding: 10px;">Начните поиск в Jimbl!</p>
        </td>
      </tr>
    </table>
  {% endif %}
  {% if search_posts|length > 0 or search_blogers|length > 0 and search != '' %}
    <ul class="list-group">
      <a href="/search" class="bg-primary text-white text-center p-2 w-100 mb-0" style="margin: 0;">Больше результатов для <b>{{search}}</b></a>
    </ul>
  {% endif %}
</div>
