<div class="card mt-1 mobile-chat z-depth-0" id="mobile-chat-body" style="border: none;">
  <div class="card-body" style="padding: 0;" id="message-list">
      {% include 'Messenger/Chat/message.html' %}
  </div>
</div>
