<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Диалог с {{chat_profile.username}} | Jimbl</title>

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'Messenger/css/messenger.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/animate.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/main.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One" rel="stylesheet">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.4/dist/vue.js"></script>

  <style media="screen">
    .list-group-item.list-group-item-action.active{
      background: #fafafa !important;
    }
  </style>

</head>
<body>
  <div class="scroller hidden">
    <div class="wrapper-scroller fw">
      <div class="scroller-up hidden">
        <img src="{% static 'App/def_image/down-arrow.svg' %}" class="mx-auto d-block" style="transform: rotate(180deg)" width="30px" alt="">
      </div>
      <div class="scroller-down hidden">
        <img src="{% static 'App/def_image/down-arrow.svg' %}" class="mx-auto d-block" width="30px" alt="">
      </div>
    </div>
  </div>

  <div class="container-fluid mob">

    {% include 'Messenger/Chat/navbar.html' %}
    {% include 'Messenger/Chat/chat-body.html' %}
    {% include 'Messenger/Chat/write-bar.html' %}
    {% include 'Messenger/mobile/bottom-menu.html' %}

    {% include 'Messenger/include/chat-desktop.html' %}
  </div>

  <div class="modal fade timeout" id="leave_error_modal" role="dialog">
    <div class="modal-dialog">
      <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
        Вы, как создатель, не можете покинуть чат!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'App/js/jquery.sticky.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mdb.js' %}"></script>
  <script type="text/javascript" src="{% static 'App/js/search.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'font-awesome/all.js' %}" charset="utf-8"></script>
  <script src="{% static 'Messenger/js/messenger.js' %}" charset="utf-8"></script>
  <script src="{% static 'Messenger/js/vue.js' %}" charset="utf-8"></script>
  <script src="{% static 'App/js/clipboard.min.js' %}"></script>
  <script type="text/javascript">
    var clipboard = new ClipboardJS('.clipboard-trigger');
    sessionStorage.setItem('chat_profile', '{{chat_profile}}');
  </script>
</body>
</html>
