{% load staticfiles %}
{% for message in chat.messages.all %}
{% if message.user == user %}
<div class="btn-group" id="go_message_{{message.id}}">
 <table class="fw message" id="{{message.id}}" style="cursor: pointer;" {% if message in user.profile.important_messages.all %}data-important='true'{% endif %} onclick="tools_message({{message.id}}, this, '{{chat_profile}}', '{{message.content}}')">
   <tr>
     <td align='right'>
       <div class="media mb-2 mt-2" style="width: max-content !important; max-width: 100%;">
         <div class="media-body card mr-1" style="padding: 8px; width: max-content !important; background: #fafafa; text-align: right;">
           <table>
             <tr>
               <td align='right'>
                 <p class="m-0 font-weight-light message-user-p" style="width: max-content !important; max-width: 710px;">{{message.content}}</p>
                 <small class="text-muted" style="font-size: 0.8rem; width: max-content !important;">{{message.date|date:'H:i'}}</small>
               </td>
             </tr>
           </table>
         </div>
        </div>
     </td>
   </tr>
 </table>
</div>
 {% else %}
 <div class="btn-group" id="go_message_{{message.id}}">
 <table class="fw message" style="cursor: pointer;" {% if message in user.profile.important_messages.all %}data-important='true'{%endif%} onclick="tools_message({{message.id}}, this, '{{chat_profile}}', '{{message.content}}')">
   <tr>
     <td align='left'>
       <div class="media mb-3 ml-1 mb-2 mt-2" style="width: max-content !important;">
         {% if message.user.profile.image_profile != '' %}
         <img class="align-self-end mr-3 rounded-circle" src="{{message.user.profile.image_profile_40x40.url}}" alt="Generic placeholder image">
         {% else %}
         <img class="align-self-end mr-3 rounded-circle" src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px" alt="Generic placeholder image">
         {% endif %}
         <div class="media-body card z-depth-0" style="padding: 8px; width: max-content !important; background: #fff; text-align: left;">
           <table>
             <tr>
               <td align='left'>
                 <p class="m-0 font-weight-light message-p" style="width: max-content !important; max-width: 600px;">{{message.content}}</p>
                 <small class="text-muted" style="font-size: 0.8rem; width: max-content !important;">{{message.date|date:'H:i'}}</small>
               </td>
             </tr>
           </table>
         </div>
        </div>
     </td>
   </tr>
 </table>
 </div>
 {% endif %}
{% empty %}
{% endfor %}
