{% load staticfiles %}
{% for message in chat.messages.all %}
{% if message.user == user %}
 <table class="fw message mb-3 mt-3" id="{{message.id}}" {% if message in user.profile.important_messages.all %}data-important='true'{% endif %} onclick="tools_message({{message.id}}, this, '{{chat_profile}}', '{{message.content}}')">
   <tr>
     <td align='right' class="td-message">
       <div class="media" style="width: max-content !important; max-width: 100%;">
         <div class="media-body card" style="padding: 8px; width: max-content !important; background: #fafafa; text-align: right;">
           <table>
             <tr>
               <td align='right'>
                 <p class="m-0 font-weight-light message-user-p" style="width: max-content !important; max-width: 82vw;">{{message.content}}</p>
                 <small class="text-muted" style="font-size: 0.8rem; width: max-content !important;">{{message.date|date:'H:i'}}</small>
               </td>
             </tr>
           </table>
         </div>
        </div>
     </td>
   </tr>
 </table>
 {% else %}
 <table class="fw message mb-3 mt-3">
   <tr>
     <td align='left' class="td-message" id="td-message-{{message.id}}" onclick="select_message(this)">
       <div class="media" style="width: max-content !important;">
          {% if message.user.profile.image_profile != '' %}
           <img class="align-self-end mr-3 rounded-circle" src="{{message.user.profile.image_profile_40x40.url}}" alt="Generic placeholder image">
          {% else %}
            <img class="align-self-end mr-3 rounded-circle" src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px" alt="Generic placeholder image">
          {% endif %}
         <div class="media-body card" style="padding: 8px; width: max-content !important; background: #fff; text-align: left;">
           <table>
             <tr>
               <td align='left'>
                 <p class="m-0 font-weight-light message-p" style="width: max-content !important; max-width: 73vw;"></p>
                 <small class="text-muted" style="font-size: 0.8rem; width: max-content !important;">{{message.date|date:'H:i'}}</small>
               </td>
             </tr>
           </table>
         </div>
        </div>
     </td>
   </tr>
 </table>
 {% endif %}
{% empty %}
{% endfor %}
