{% load staticfiles %}
<nav class="navbar navbar-light fixed-top nav shadow-sm mobile-chat" id="main-nav-mobile" style="padding-bottom: 0px;padding-top: 0px; border-bottom: 1px solid #ccc;">
  <div class="container">
    <a href="/chat"><img src="{% static 'App/def_image/down-arrow.svg' %}" width="25px" style="transform: rotate(90deg)" alt=""></a>
    <div class="card-user">
      {% if chat_profile.profile.image_profile != '' %}
      <img src="{{chat_profile.profile.image_profile_40x40.url}}" id="user-avatar" class="rounded-circle" style="margin: 5px;" alt="">
      {% else %}
      <img src="{% static 'App/def_image/user.svg' %}" width="40px" id="user-empty-avatar" height="40px" class="rounded-circle" style="margin: 5px;" alt="">
      {% endif %}
      <div class="nav-link hidden" id="message-tools" style="font-size: 1.25rem;">
        <span><i class="far fa-star"></i></span>
        <span><i class="far fa-edit"></i></span>
        <span><i class="far fa-trash-alt"></i></span>
      </div>
    </div>
    <div class="dropdown">
      <img src="{% static 'App/def_image/down-arrow.svg' %}" width="25px" class="dropdown-post" style="position: relative;" onmouseenter="$('[id=dropdown-post-{{post.id}}]').removeClass('hidden')">
      <div class="dropdown-post" style="padding-top: 42px; position: absolute; z-index: 100; right:0; top: 0;" onmouseleave="$('[id=dropdown-post-{{post.id}}]').addClass('hidden')">
        <div class="card hidden" id="dropdown-post-{{post.id}}" >
          {% if user == chat.root_user %}
          <li class="dropdown-item" data-toggle="modal" data-target="#clear_chat_modal"><i class="fas fa-eraser"></i> Удалить историю сообщений</li>
          {% endif %}
          <li class="dropdown-item" data-toggle="modal" data-target="#leave_chat_modal"><i class="fas fa-sign-out-alt"></i> Покинуть чат</li>
          {% if user == chat.root_user %}
          <li href="" class="dropdown-item" data-toggle="modal" data-target="#delete_chat_modal"><i class="far fa-trash-alt"></i> Удалить чат</li>
          {% endif %}
        </div>
      </div>
    </div>
    </div>
</nav>

<nav class="navbar navbar-light hidden fixed-top nav shadow-sm mobile-chat" id="tools-message-mobile" style="padding-bottom: 0px;padding-top: 0px; border-bottom: 1px solid #ccc;">
  <div class="container">
    <table class="w-100 mt-2 mb-2">
      <tr>
        <td>
          <a onclick="disable_tools_message()"><img src="{% static 'App/def_image/close.svg' %}" width="20px" alt=""></a>
        </td>
        <td align='right'>
          <img src="{% static 'App/def_image/garbage.svg' %}" width="25px" alt="" onclick="delete_message(201, 'root')">
          <img src="{% static 'App/def_image/sheet.svg' %}" class="clipboard-trigger" width="25px" alt="">
          <input id="copy_message_{{message.id}}" class="copy-message" value="{{message.content}}" style="position: absolute; opacity: 0; top: 9999; cursor: pointer; z-index: -100;">
          <img src="{% static 'App/def_image/imp.svg' %}" width="25px" alt="" onclick="add_message_to_favorite(205, 'root', this)">
          <img src="{% static 'App/def_image/edit-p.svg' %}" width="25px" alt="" onclick="pre_edit_message()">
        </td>
      </tr>
    </table>
  </div>
</nav>

<div class="modal fade" id="clear_chat_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-light">Внимание!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
          <img src="{% static 'App/def_image/eraser.svg' %}" class="mb-3 mt-2" width="20%" alt="">
          <p class="font-weight-light">Вы хотите удалить все сообщения?</p>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-danger" onclick="clear_chat('{{chat_profile}}')">Удалить</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="leave_chat_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-light">Внимание!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
          <img src="{% static 'App/def_image/exit.svg' %}" class="mb-3 mt-2" width="20%" alt="">
          <p class="font-weight-light">Вы хотите покинуть чат?</p>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-danger" onclick="leave_chat('{{chat_profile}}')">Покинуть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete_chat_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-light">Внимание!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
          <img src="{% static 'App/def_image/trash.svg' %}" class="mb-3 mt-2" width="20%" alt="">
          <p class="font-weight-light">Вы хотите удалить чат?</p>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-danger" onclick="delete_chat(event, '{{chat_profile}}')">Удалить</button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="main-nav">
  <div class="container-fluid">
    <span class="navbar-brand mb-0" onclick="document.location.href='/'"><img src="{% static 'logo.svg' %}" width='40px' style="margin-bottom: 5px;" alt=""><span style="font-size: 2rem; font-family: 'Coiny', cursive; top: 5px; position: relative;"> Jimbl</span></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#horizontal-menu" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id='horizontal-menu'>
      {% block horizontal_main_menu %}
      {% if user.is_authenticated %}
      <a class="nav-link" href="/feed" id="main-nav-link"><span><i class="fa fa-users"></i></span> <span class="main-nav-text">Подписки</span></a>
      {% endif %}
        <a class="nav-link"  href="/interesting/" id="main-nav-link"><span><i class="far fa-star"></i></span> <span class="main-nav-text">Интересное</span></a>
        <a class="nav-link" href="/featured/" id="main-nav-link"><span><i class="fa fa-fire"></i></span> <span class="main-nav-text">Популярное</span></a>
        <a class="nav-link" href="/creator/" id="main-nav-link"><span><i class="far fa-plus-square"></i></span> <span class="main-nav-text">Создать</span></a>
      {% endblock %}
      <li class="nav-item left-menu-dropdown">
        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Категории <i class="fa fa-chevron-down"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="/" class="dropdown-item"><i class="fa fa-adjust"></i> Все</a>
            <a href="/travels" class="dropdown-item"><i class="fa fa-globe-americas"></i> Путешествия</a>
            <a href="/auto" class="dropdown-item"><i class="fa fa-car"></i> Авто</a>
            <a href="/lifehacks" class="dropdown-item"><i class="far fa-lightbulb"></i> Лайфхаки</a>
            <a href="/buisness" class="dropdown-item"><i class="fa fa-dollar-sign"></i> Бизнес и Финансы</a>
            <a href="/news" class="dropdown-item"><i class="fa fa-bullhorn"></i> Новости и Политика</a>
            <a href="/food" class="dropdown-item"><i class="fa fa-apple-alt"></i> Еда и Кулинария</a>
            <a href="/scinse" class="dropdown-item"><i class="fa fa-atom"></i> Наука и Техника</a>
            <a href="/sport" class="dropdown-item"><i class="fa fa-futbol"></i> Спорт и Здоровье</a>
            <a href="/shopping" class="dropdown-item"><i class="fa fa-tag"></i> Шоппинг</a>
          </div>
        </div>
      </li>
    </div>
    <div class="navbar-text main">
      {% if user.is_authenticated %}
        <span style="font-size: 1.5rem;">
          <ul class="navbar-nav">
            <li class="nav-item">
              <table style="height: 59px !important;">
                <tr>
                  <td class="align-middle">
                    <form class="form-inline search mb-0">
                      <div class="dropdown">
                        <div class="input-group z-depth-1" style="border-radius: 50%;">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="search-input" style="background: #3949ab; border-right: none; border-top-left-radius: 50%; border-color: #3949ab; border-bottom-left-radius: 50%;"><i class="fa fa-search"></i></span>
                          </div>
                          <input class="form-control" autocomplete="off" data-toggle="dropdown" id="search-desktop-input" type="text" size="30" placeholder="Поиск">
                          <div class="input-group-append">
                            <span class="input-group-text" style="background: #3949ab; color: #3949ab; border-left: none; border-color: #3949ab; border-top-right-radius: 50%;border-bottom-right-radius: 50%;"><i class="fa fa-search"></i></span>
                          </div>
                          <div class="dropdown-menu mt-1" aria-labelledby="dropdownMenuLink" id="search-desktop-list" style="width: 100%; padding: 0; margin: 1px 0 0 0;">
                            {% include 'App/include/search.html' %}
                          </div>
                        </div>
                      </div>
                    </form>
                  </td>
                </tr>
              </table>
            </li>
            <li class="nav-item">
              <table style="height: 59px !important;">
                <tr>
                  <td class="align-middle">
                    <a href="/chat" class="nav-link" style="display: inline; padding-bottom: 4px; display: block; vertical-align: middle; font-size: 1.5rem;"><i class="far fa-comment-alt"></i></a>
                  </td>
                </tr>
              </table>
            </li>
            <ul class="navbar-nav ml-auto nav-flex-icons">
              <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if user.profile.image_profile.url != '' %}
                    <img src="{{user.profile.image_profile_settings.url}}" width="40px" height="40px" class="rounded-circle z-depth-2" alt="">
                  {% else %}
                    <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px" class="rounded-circle z-depth-2">
                  {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                  <a class="dropdown-item" href="/{{user.username}}">Мой профиль</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/{{user.username}}/edit">Редактировать</a>
                  <a class="dropdown-item" href="/statistic">Статистика</a>
                  <a class="dropdown-item" href="/help">Помощь</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Выход</a>
                </div>
              </li>
            </ul>
          </ul>
        </span>
      {% else %}
      <div class="navbar-collapse">
        <a class="nav-link text-muted" style="font-size: 1.25rem;" href="/welcome">О нас</a>
        <button class="btn btn-outline-primary mr-2" onClick="document.location.href='/accounts/login/';">Войти</button>
        <button class="btn btn-primary btn-create-blog" onClick="document.location.href='/registration/';">Создать блог</button>
      </div>
      {% endif %}
    </div>
  </div>
</nav>
