<nav class="navbar navbar-light fixed-bottom nav hidden mobile-chat" id='new_message_mobile' style="padding: 0; background: transparent; border: none;margin-bottom: 7rem;">
  <table class="fw">
    <tr>
      <td align='center'>
        <button type="button" class="btn btn-primary" onclick="$('#message-list').scrollTop(1e10); $('#new_message').addClass('hidden');">Новое сообщение!</button>
      </td>
    </tr>
  </table>
</nav>

<nav class="navbar navbar-light fixed-bottom nav mobile-chat z-depth-0" id='write-bar-mobile' style="padding: 0; background: #fff; border-top: 1px solid #E6E6E6; margin-bottom: 3rem;">
  <form class="fw">
    <div class="input-group shadow-sm fw">
      <input type="text" autocomplete="off" id="write-input" class="form-control pt-1" style="border: none; border-radius: 0; height: 45px;" placeholder="Сообщение...">
      <div class="input-group-append">
        <span class="input-group-text" style="background: #fff; border-radius: 0; border: none; font-size: 1.25rem;" onclick="write_message('{{chat_profile.username}}')"><i class="fa fa-share"></i></span>
      </div>
    </div>
  </form>
</nav>
