<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск | Jimbl</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Search/css/search.css' %}">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>

    <div class="desktop">

    </div>

    <div class="mobile">
      {% include 'Search/mobile/search-bar.html' %}
      {% include 'Search/mobile/bottom-menu.html' %}

    <div class="container-fluid p-0">
      <br>
      <br>
      <br>
      <div class="container-fluid" style="padding: 0;">
        {% for post in recomended_posts %}
        <div class="card fw border-0 mb-4">
          <div class="card" style="border: none;">
            <img class="img-fluid" src="{{post.image_search.url}}">
            <div id="img-overlay" class="card-img-overlay text-white img-overlay-{{post.id}}" style="background: rgba(0,0,0,.5);">
              <table class="fw fh">
                <tr>
                  <td class="align-middle overlay-main" id="overlay-main-{{post.id}}" align="center" style="color: #fff;">
                    <h1 class="card-title font-weight-light" style="overflow:hidden; white-space: nowrap;text-overflow: ellipsis;">{{post.title}}</h1>
                    {% if post.discription %}
                      <p class="lead">{{post.discription}}</p>
                    {% endif %}
                    <p class="card-text"><button class="btn btn-outline-light go-post" onclick="document.location.href='/{{post.user}}/post/{{post.id}}'">Читать</button></p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="card-body border-bottom">
            <div class="media">
              {% if post.user.profile.image_profile.url != '' %}
              <img class="align-self-center mr-3 rounded-circle" src="{{post.user.profile.image_profile_settings.url}}" width="40px" height="40px" alt="Generic placeholder image">
              {% else %}
              <img class="align-self-center mr-3" src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px" alt="Generic placeholder image">
              {% endif %}
              <div class="media-body">
                <table class="fw">
                  <tr>
                    <td>
                      <h6 class="font-weight-light mb-0">{{post.user.get_full_name}}</h6>
                      <small class="font-weight-light mb-0">@{{post.user.username}}</small>
                    </td>
                    <td align='right' style="width: fit-content;">
                      <small class="font-weight-light">{{post.date|timesince}} Назад</small><br>
                      <small class="font-weight-light">{{post.views.count}} Просмотров</small>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <br>
      <br>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'Search/js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'font-awesome/all.js' %}" charset="utf-8"></script>
  </body>
</html>
