{% load staticfiles %}
<div class="container-fluid" id="mobile" style="padding: 0;">
  <nav class="navbar navbar-light fixed-top nav border-0" style="padding-bottom: 0px;padding-top: 0px; background: #007dff;">
    <div class="container">
      <span class="navbar-brand mb-0 text-white" style="padding: 0px;" onclick="document.location.href='/'"><img src="{% static 'logo.svg' %}" style="top: -5px; position: relative;" width='40px' alt=""><span id='main-nav-mobile-brand-text' style="font-size: 2rem; font-family: 'Coiny', cursive;"> Jimbl</span></span>
      <div class="navbar-text">
        <button class="btn btn-outline-white btn-sm" onClick="document.location.href='/accounts/login';">Войти</button>
      </div>
    </div>
  </nav>

  <section style="padding: 1rem;" class="animated fadeIn h-fill">
    <table class="h-fill">
      <tr>
        <td class="align-middle pt-5">
          <div class="row">
            <table align="center">
              <tr>
                <td align="center">
                  <img src="{% static 'App/def_image/dev.svg' %}" width="80%" alt="">
                </td>
              </tr>
            </table>
          </div>
          <div class="row" id="welcome-text">
            <table align='center'>
              <tr>
                <td style="padding: 10px; text-align: center;">
                  <h1 class="font-weight-light">Создать блог стало проще!</h1>
                  <p class="lead">Jimbl - социальная сеть для блогеров. <br> Наша миссия - создать простой в использовании и многофункциональный блог-хостинг!</p>
                </td>
              </tr>
            </table>
          </div>
          <div class="row">
            <button type="button" onclick="document.location.href='/register/';" class="btn btn-amber mx-auto font-weight-light">Создать блог</button>
          </div>
        </td>
      </tr>
      <tr style="height: 20px;">
        <td class="align-bottom text-center">
          <div class="scroll-downs">
            <div class="mousey">
              <div class="scroller"></div>
            </div>
          </div>
          <p class="mt-1 mb-0" id="mouse-text">Прокрутите страницу, чтобы узнать больше</p>
        </td>
      </tr>
    </table>
  </section>
  <section style="background: #fafafa; padding: 1rem;" class="animated fadeIn h-fill">
    <table class="h-fill">
      <tr class="h-fill">
        <td class="align-middle">
          <div class="row" style="padding: 1rem;">
            <h1 class="font-weight-light">Станьте настоящим блогером!</h1>
            <p class="lead">Представаляем вам Jimbl - платформа для современного блоггинга. Создавайте впечатляющие посты и делитесь с друзьями!</p>
          </div>
          <div class="row">
            <table class="fw">
              <tr>
                <td align="center">
                  <img src="{% static 'welcome/images/blog.svg' %}" width="80%" alt="">
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </section>
  <section style="padding: 1rem;" class="h-fill animated fadeIn">
    <table class="h-fill">
      <tr class="h-fill">
        <td class="align-middle">
          <div class="row" style="padding: 1rem;" class="">
            <h1 class="font-weight-light">Jimbl - мир великолепных блогов!</h1>
            <p class="lead">Благодаря нашему невероятно мощному редактору, посты превращаются в магию! Десятки готовых шаблонов, красивые шрифты сделают ваш пост уникальным и неповторимым!</p>
          </div>
          <div class="row">
            <table class="fw">
              <tr>
                <td align="center">
                  <img src="{% static 'welcome/images/editor.svg' %}" width="80%" alt="">
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </section>
  <section style="background: #fafafa; padding: 1rem;" class="animated fadeIn h-fill">
    <table class="h-fill">
      <tr class="h-fill">
        <td class="align-middle">
          <div class="row" style="padding: 1rem;">
            <h1 class="font-weight-light">Jimbl Аналитика!</h1>
            <p class="lead">
              Представляем вам сервис jimbl статистики и аналитики, все ваши достижения в одном месте.
              Вы с легкостью сможете просматривать вашу популярность и уникальность, следуя рекомендациям вы станете профессиональным блогером!
            </p>
          </div>
          <div class="row">
            <table class="fw">
              <tr>
                <td align="center">
                  <img src="{% static 'App/def_image/stat.svg' %}" width="80%" alt="">
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </section>
  <section style="padding: 1rem;" class="animated fadeIn h-fill">
    <table class="h-fill">
      <tr class="h-fill">
        <td class="align-middle">
          <div class="row" style="padding: 1rem;">
            <h1 class="font-weight-light">Jimbl - социальная сеть нового формата!</h1>
            <p class="lead">Подпишитесь на блог, чтобы все его посты отображались в вашей ленте. Увидели классный пост? Сделайте его репост в свой блог. Комментируйте, ставьте "Нравится", общайтесь, ведь это так круто!</p>
          </div>
          <div class="row">
            <table class="fw">
              <tr>
                <td align="center">
                  <img src="{% static 'welcome/images/social.svg' %}" width="80%" alt="">
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </section>
  <section style="background: #fafafa;padding: 1rem;" class="animated fadeIn h-fill">
    <table class="h-fill">
      <tr class="h-fill">
        <td class="align-middle">
          <div class="row" style="padding: 1rem;">
            <h1 class="font-weight-light">Присоединяйтесь к нам!</h1>
            <p class="lead">Jimbl - это молодой стартап. Присоединяйтесь к нашей дружной компании и следите за развитием данного проекта вместе с нами.
                            Создавайте блоги, читайте, делитесь с друзьями, вместе мы Jimbl!</p>
            <button type="button" onclick="document.location.href='/register/';" class="btn btn-primary fw font-weight-light" style="font-size: 1.5rem;">Создать блог</button>
          </div>
          <div class="row">
            <table class="fw">
              <tr>
                <td align="center">
                  <img src="{% static 'welcome/images/project.svg' %}" width="80%" alt="">
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </section>
  <bottom>
    <hr>
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <ul>
                      <h4>Справка</h4>
                      <li>Справочный центр</li>
                      <li>Поддержка</li>
                      <li>Форум</li>
                  </ul>
              </div>
          </div>
          <div class="row">
            <div class="col-12">
                <ul>
                    <h4>Сообщество</h4>
                    <li>Наш Блог</li>
                    <li>Мероприятия</li>
                </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <ul>
                    <h4>Разработчикам</h4>
                    <li>API</li>
                    <li>Форум разработчиков</li>
                </ul>
            </div>
          </div>
        </div>
      <hr>
      <div class="container">
          <div class="row">
              <div class="col-12 text-center">
                  <div class="network">
                      <a href="https://vk.com/jimbl.official" class="text-dark"><i class="fab fa-vk"></i></a>
                      <a href="" class="text-dark"><i class="fab fa-twitter"></i></a>
                      <a href="https://www.instagram.com/jimbl.official/" class="text-dark"><i class="fab fa-instagram"></i></a>
                      <a href=" " class="text-dark"><i class="fab fa-facebook"></i></a>
                  </div>
              </div>
          </div>
      </div>
      <hr>
      <div class="container text-center">
        <div class="row">
          <div class="col-12"><a href="/terms"><p>Пользовательское соглашение</p></a></div>
        </div>
          <div class="row">
              <div class="col-12"><p>© 2018 Jimbl corporation. Все права защищены.</p></div>
          </div>
      </div>
  </bottom>
</div>
