{% load staticfiles %}
<table class="w-100">
  <tr>
    <td class="left-menu-vertical-body">
      <ul class="left-menu list-group w-100 list-group-flush">
        {% for chat in dialogs %}
          {% for chat_profile in chat.users.all %}
          <a href="/chat/{% if chat_profile == user %}{{chat.root_user.username}}{% else %}{{chat_profile.username}}{% endif %}" class="list-group-item list-group-item-action" style="background: #fafafa">
          <div class="media w-100" id="chat-item">
            {% if chat_profile == user %}
              {% if chat.root_user.profile.image_profile.url != '' %}
                <img class="align-self-center mr-3 rounded-circle" src="{{chat.root_user.profile.image_profile_settings.url}}" width="40px" height="40px" alt="Generic placeholder image">
              {% else %}
                <img class="align-self-center mr-3 rounded-circle" src="{% static 'App/def_image/user.svg' %}" height="40px" width="40px" alt="Generic placeholder image">
              {% endif %}
            {% else %}
              {% if chat_profile.profile.image_profile.url != '' %}
                <img class="align-self-center mr-3 rounded-circle" src="{{chat_profile.profile.image_profile_settings.url}}" width="40px" height="40px" alt="Generic placeholder image">
              {% else %}
                <img class="align-self-center mr-3 rounded-circle" src="{% static 'App/def_image/user.svg' %}" height="40px" width="40px" alt="Generic placeholder image">
              {% endif %}
            {% endif %}
            <div class="media-body w-100">
              {% if chat_profile == user %}
                <table class="w-100">
                  <tr>
                    <td>
                      <h5 class="m-0 mb-1 font-weight-light">{{chat.root_user.username}}</h5>
                      <p class="mb-0">chat.messages.last.content</p>
                    </td>
                    <!-- <td align='right'>
                      <span class="badge badge-primary">4</span>
                    </td> -->
                  </tr>
                </table>
              {% else %}
                <table class="w-100">
                  <tr>
                    <td>
                      <h5 class="m-0 mb-0 font-weight-light">{{chat_profile.username}}</h5>
                      <p class="mb-0">{{chat.messages.last.content}}</p>
                    </td>
                    <!-- <td align='right'>
                      <p class="badge lead mb-0 badge-primary">4</p>
                    </td> -->
                  </tr>
                </table>
              {% endif %}
            </div>
           </div>
           </a>
          {% endfor %}
          {% empty %}
          <p class="text-center fw">Диалоги не найдены</p>
        {% endfor %}
      </ul>
    </td>
  </tr>
</table>
