{% load staticfiles %}
<ul class="list-group list-group-flush m-0 p-0" style="min-height: inherit; overflow-y: auto;">
{% for chat in chats %}
  {% for chat_profile in chat.users.all %}
  <a href="/chat/{% if chat_profile == user %}{{chat.root_user.username}}{% else %}{{chat_profile.username}}{% endif %}" class="list-group-item list-group-item-action">
  <div class="media" id="chat-item">
    {% if chat_profile == user %}
      {% if chat.root_user.profile.image_profile.url != '' %}
        <img class="align-self-center mr-3 rounded-circle" src="{{chat.root_user.profile.image_profile_40x40.url}}" alt="Generic placeholder image">
      {% else %}
        <img class="align-self-center mr-3 rounded-circle" src="{% static 'App/def_image/user.svg' %}" height="40px" width="40px" alt="Generic placeholder image">
      {% endif %}
    {% else %}
      {% if chat_profile.profile.image_profile.url != '' %}
        <img class="align-self-center mr-3 rounded-circle" src="{{chat_profile.profile.image_profile_40x40.url}}" alt="Generic placeholder image">
      {% else %}
        <img class="align-self-center mr-3 rounded-circle" src="{% static 'App/def_image/user.svg' %}" height="40px" width="40px" alt="Generic placeholder image">
      {% endif %}
    {% endif %}
    <div class="media-body">
      {% if chat_profile == user %}
        <table>
          <tr>
            <td>
              <h5 class="ml-1 m-0 mb-1 font-weight-light">{{chat.root_user.username}}</h5>
            </td>
            <td>
              <small class="font-weight-light">
                {{chat.messages.last.date|timesince}} Назад
              </small>
            </td>
          </tr>
        </table>
      {% else %}
        <table class="fw">
          <tr>
            <td>
              <h5 class="ml-1 m-0 mb-1 font-weight-light">{{chat_profile.username}}</h5>
            </td>
            <td align="right">
              <small class="font-weight-light">
                {{chat.messages.last.date|timesince}} Назад
              </small>
            </td>
          </tr>
        </table>
      {% endif %}
      {% for message in chat.messages.all|slice:'' %}
          {% if forloop.last %}
          <div class="row ml-1" id="last-message-item">
            {% if message.user.profile.image_profile.url != '' %}
              <img src="{{message.user.profile.image_profile_25x25.url}}" class="rounded-circle img-avatar" width="25px" height="25px" alt="avatar">
            {% else %}
              <img class="align-self-center mr-3 rounded-circle" src="{% static 'App/def_image/user.svg' %}" height="25px" width="25px" alt="Generic placeholder image">
            {% endif %}
            <p style="white-space: nowrap; margin-bottom: 0; max-width: 420px;" class="ml-2 font-weight-light" id="content">{{message.content}}</p>
            <!-- <p style="padding: 0; margin: 0; right: 1rem; font-size: 12px" class="text-muted">{{ message.date|date:'H:i' }}</p> -->
          </div>
          {% endif %}
      {% endfor %}
    </div>
   </div>
   </a>
  {% endfor %}
  {% empty %}
  <table style="min-height: inherit;">
    <tr>
      <td align='center' class="align-middle" style="padding-bottom: 100px;">
        <h5 class="font-weight-light">Начните общаться прямо сейчас!</h5>
        <img src="{% static 'App/def_image/chat.svg' %}" width="40%" alt="">
      </td>
    </tr>
  </table>
{% endfor %}
</ul>
