{% load staticfiles %}
<div class="container" id="main-container-chat-desktop">
  <div class="row">
    <div class="col-xl-3 col-ld-3 col-md-0 col-sm-0" style="padding: 0;">
      {% block left_menu %}
      <div class="card z-depth-0 border-left" style="background: transparent; border: none; height: -webkit-fill-available; overflow: auto; position: fixed; width: 301px; margin-top: 50px; border-radius: 0;">
        <div class="card-header z-depth-0 border-0 bg-transparent p-2 mb-2" style="z-index: 999; height: 60px;">
          <div class="input-group mb-3 mt-1" id="vue-chat-search">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa fa-search fa-lg"></i>
              </span>
            </div>
            <input type="text" class="form-control" v-on:input="searchf" id="vue-chat-search-input" placeholder="Поиск диалогов" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="card-body p-0" id="chat-search">
          {% include 'Messenger/include/chat-search.html' %}
        </div>
      </div>
      {% endblock %}
    </div>
    <div class="col-xl-9 col-ld-6 col-md-12 col-sm-0">
      <div class="card p-0 m-0 z-depth-0 border" id="chat-main-body" style="border-top: none; width: inherit;">
        <div class="card-header fixed-chat p-2 z-depth-0" style="position: fixed; background: #F2F2F2; top: 59px; z-index: 1000; border-left: none;">
          <table class="fw" id="main-chat-top">
            <tr>
              <td align='left'>
                <a href="/chat"><img src="{% static 'App/def_image/down-arrow.svg' %}" width="25px" style="transform: rotate(90deg)" alt=""></a>
              </td>
              <td align='center'>
                <div class="media" style="width: fit-content;">
                  {% if chat_profile.profile.image_profile != '' %}
                  <img class="mr-3 align-self-center rounded-circle" src="{{chat_profile.profile.image_profile_settings.url}}" width="40px" height="40px" alt="Generic placeholder image">
                  {% else %}
                  <img class="mr-3 align-self-center rounded-circle" src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px" alt="Generic placeholder image">
                  {% endif %}
                  <div class="media-body text-left">
                    <p class="mt-0 font-weight-light">{{chat_profile.username}}</p>
                    <small class="font-weight-light mb-0">был в сети {{chat_profile.last_activites|timesince}} назад</small>
                  </div>
                </div>
              </td>
              <td align='right'>
                <div class="dropdown">
                  <img src="{% static 'App/def_image/down-arrow.svg' %}" width="25px" class="dropdown-post" style="position: relative;" onmouseenter="$('[id=dropdown-post-{{post.id}}]').removeClass('hidden')">
                  <div class="dropdown-post" style="padding-top: 42px; position: absolute; z-index: 100; right:0; top: 0;" onmouseleave="$('[id=dropdown-post-{{post.id}}]').addClass('hidden')">
                    <div class="card hidden" id="dropdown-post-{{post.id}}" >
                      {% if user == chat.root_user %}
                      <li class="dropdown-item" style="cursor: pointer;" data-toggle="modal" data-target="#clear_chat_modal"><i class="fas fa-eraser"></i> Удалить историю сообщений</li>
                      {% endif %}
                      <li class="dropdown-item" style="cursor: pointer;" data-toggle="modal" data-target="#leave_chat_modal"><i class="fas fa-sign-out-alt"></i> Покинуть чат</li>
                      {% if user == chat.root_user %}
                      <li href="" class="dropdown-item" style="cursor: pointer;" data-toggle="modal" data-target="#delete_chat_modal"><i class="far fa-trash-alt"></i> Удалить чат</li>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
          <table class="fw hidden" id="tools-chat-top">
            <tr>
              <td align='left'>
                <a href="/chat"><img src="{% static 'App/def_image/down-arrow.svg' %}" width="25px" style="transform: rotate(90deg)" alt=""></a>
              </td>
              <td align='center'>
                <div class="message-tools">
                  <i class="far fa-edit fa-2x" style="cursor: pointer;" title='Редактировать' onclick="pre_edit_message()"></i>
                  <input id="copy_message_{{message.id}}" class="copy-message" value="{{message.content}}" style="position: absolute; opacity: 0; top: 9999; cursor: pointer; z-index: -100;">
                  <i class="far fa-clone fa-2x clipboard-trigger" style="cursor: pointer;" title='Скопировать'></i>
                  <i class="far fa-trash-alt fa-2x tools" style="cursor: pointer;" title='Удалить сообщение'></i>
                  <i class="far fa-star fa-2x tools" style="cursor: pointer;" title='Добавить в избранное'></i>
                </div>
              </td>
              <td align='right'>
                <div class="dropdown">
                  <img src="{% static 'App/def_image/plus.svg' %}" width="25px" class="dropdown-post" style="transform: rotate(45deg); cursor: pointer;" onclick="unset_message()">
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="card-body">
            <div class="card border-0" style="padding-top: 89px; padding-bottom: 20px;" id="message-list-desktop{% if chat_profile.profile.accept_send_messages == 2 and user != chat_profile %}-muted{% endif %}{% if chat_profile.profile.accept_send_messages == 1 and not user in chat_profile.profile.readers.all and user != chat_profile %}-muted{% endif %}">
              {% if user != chat_profile %}
                {% if chat_profile.profile.accept_send_messages == 2 %}
                  <table class="fw" style="min-height: inherit !important;">
                    <tr>
                      <td align="center" class="align-middle">
                        <p>К сожалению, этот пользователь запретил отправлять ему сообщения</p>
                        <br>
                        <img src="{% static 'App/def_image/cry.svg' %}" width="40%" alt="">
                      </td>
                    </tr>
                  </table>
                {% endif %}
                {% if chat_profile.profile.accept_send_messages == 1 %}
                  {% if user in chat_profile.profile.readers.all %}
                    {% include 'Messenger/Chat/desktop-message.html' %}
                  {% else %}
                  <table class="fw" style="min-height: inherit !important;">
                    <tr>
                      <td align="center" class="align-middle">
                        <p>Подпишитесь на этого пользователя, чтобы отправить сообщение</p>
                        <br>
                        <button type="button" class="btn btn-primary">Подписаться</button>
                      </td>
                    </tr>
                  </table>
                  {% endif %}
                {% endif %}
                {% if chat_profile.profile.accept_send_messages == 0 %}
                  {% include 'Messenger/Chat/desktop-message.html' %}
                {% endif %}
              {% else %}
                {% include 'Messenger/Chat/desktop-message.html' %}
              {% endif %}
          </div>
      </div>
      <div class="card-bottom hidden fixed-chat" style="background: transparent; position: fixed; bottom: 52px; width: inherit; border: none;" id="new_message_desktop">
        <div class="input-group" style="background: transparent;">
          <table class="fw">
            <tr>
              <td align='center'>
                <button type="button" class="btn btn-primary" onclick="$(document).scrollTop(1e10); $('#new_message_desktop').addClass('hidden');">Новое сообщение!</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card-footer border-top fixed-chat" style="position: fixed; background: #F2F2F2; bottom: 0; border-left: none;">
        <form class="fw">
          <div class="input-group border-0 fw">
            <input type="hidden" name="chat_profile_name" value="{{chat_profile}}">
            <input type="text" autocomplete="off" id="write-input-desktop" {% if chat_profile.profile.accept_send_messages == 2 and user != chat_profile %}disabled{% endif %}{% if chat_profile.profile.accept_send_messages == 1 and not user in chat_profile.profile.readers.all and user != chat_profile %}disabled{% endif %} class="form-control"
             style="border: 1px solid #ccc; border-rigth: none; border-top-left-radius: 10px; border-bottom-left-radius: 10px; padding: 12px 0 12px 6px;" placeholder="Сообщение...">
            <div class="input-group-append" style="border-left: none;">
              <div class="dropdown">
                <span class="input-group-text text-muted" style="font-size: 1.5rem; border-radius: 0px 10px 10px 0; border-top: 1px solid #ccc; background: #fff; border-left: none;" onmouseenter="$('#emoji-post-{{post.id}}').removeClass('hidden')"><img src="{% static 'App/def_image/smile.svg' %}" width="24px" alt=""></span>
                <div class="dropdown-post" style="padding-bottom: 42px; position: absolute; z-index: 100; right:0; bottom: 0;" onmouseleave="$('#emoji-post-{{post.id}}').addClass('hidden')">
                  <div class="card hidden" id="emoji-post-{{post.id}}" style="width: 208px; height: 220px">
                    {% include 'App/emoji.html' %}
                  </div>
                </div>
              </div>
            </div>
            <div class="input-group-append">
              <span class="input-group-text" style="background: #F2F2F2; border-radius: 0; border: none; font-size: 1.25rem;" onclick="{% if chat_profile.profile.accept_send_messages == 2 and user != chat_profile %}{% endif %}{% if chat_profile.profile.accept_send_messages == 1 and not user in chat_profile.profile.readers.all and user != chat_profile %}{% endif %}{% if chat_profile.profile.accept_send_messages == 0 and user != chat_profile %}write_message_desktop('{{chat_profile.username}}'){%endif%}{% if user == chat_profile %}write_message_desktop('{{chat_profile.username}}'){%endif%}">
                <i class="fa fa-share"></i>
              </span>
            </div>
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>
