<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Восстановление пароля | Jimbl</title>

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'auth/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/animate.css' %}">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One" rel="stylesheet">
</head>
<body style="overflow: hidden;">

  <nav class="navbar navbar-dark border-0" style="background: #007BFF;">
    <div class="container">
      <span class="navbar-brand mb-0 mx-auto" style="padding: 0px;" onclick="document.location.href='/'"><img src="{% static 'logo.svg' %}" width='40px' alt=""><span id='main-nav-mobile-brand-text' style="font-size: 2rem; font-family: 'Coiny', cursive;top: 6px; position: relative;"> Jimbl</span></span>
    </div>
  </nav>

  <section>
    <div class="container fh">
      <div class="row fh">
        <table align="center" class="fh" style="min-width: 410px;">
          <tr>
            <td class="align-middle animated fadeIn" style="top: -100px; position: relative;">
              <center>
                <img src="{% static 'App/def_image/pass_success.svg' %}" width="200px" class="mb-4" alt="">
              </center>
              <center><h3 class="font-weight-light mb-4">Восстановление пароля завершено</h3></center>
              <center>
                <p class="font-weight-light">Ваш пароль был сохранен. Теперь вы можете войти.</p><br>
                <button type="button" onclick="document.location.href='/accounts/login'" class="btn btn-primary">Войти</button>
              </center>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>

  <bottom style="position: absolute; bottom: 0; width: 100%; z-index: 999;">
    <p class="form-text text-center mb-0">© 2019 Jimbl. Все права защищены. <br> <a href="/terms">Пользовательское соглашение</a></p>
  </bottom>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'font-awesome/all.js' %}"></script>
  <script type="text/javascript" src="{% static 'confirm_email/js/main.js' %}"></script>

</body>
</html>
