<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Восстановление пароля | Jimbl</title>

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
  <link rel="stylesheet" href="{% static 'auth/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/animate.css' %}">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One|Roboto" rel="stylesheet">
</head>
<body style="overflow: hidden;">

  <nav class="navbar navbar-dark border-0" style="background: #007BFF;">
    <div class="container">
      <span class="navbar-brand mb-0 mx-auto" style="padding: 0px;" onclick="document.location.href='/'"><img src="{% static 'logo.svg' %}" width='40px' alt=""><span id='main-nav-mobile-brand-text' style="font-size: 2rem; font-family: 'Coiny', cursive;top: 6px; position: relative;"> Jimbl</span></span>
    </div>
  </nav>

  <section>
    <div class="container fh">
      <div class="row fh">
        <table align="center" class="fh" style="min-width: 410px;">
          <tr>
            <td class="align-middle animated fadeIn" style="top: -100px; position: relative;">
              <center>
                <img src="{% static 'App/def_image/password.svg' %}" width="200px" class="mb-4" alt="">
              </center>
              <center><h3 class="font-weight-light">Восстановление пароля</h3></center>
              <center><p class="font-weight-light">Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p></center>
              <div class="card mt-3 border-0">
                <div class="card-body mx-auto fw" style="max-width: 407px;">
                  <form method="post">
                    {% csrf_token %}
                    <div class="md-form">
                      <input type="email" class="form-control text-center {% if form.errors %}is-invalid{% endif %}" name="email" id="id_email" required>
                      <label for="id_email">Email</label>
                      {% if form.errors.email %}
                        <div class="invalid-feedback">
                           {{form.errors.email|first}}
                         </div>
                      {% endif %}
                    </div>
                    <div class="form-group mx-auto" style="width: fit-content !important;">
                      <input type="submit" class="btn btn-primary" onclick="$('#anim_to_key').removeClass('hidden')" value="Далее">
                    </div>
                    <div class="form-group">
                      <span class="hidden" id="anim_to_key">
                        <div id="fountainG" class="mt-3">
                        	<div id="fountainG_1" class="fountainG"></div>
                        	<div id="fountainG_2" class="fountainG"></div>
                        	<div id="fountainG_3" class="fountainG"></div>
                        	<div id="fountainG_4" class="fountainG"></div>
                        	<div id="fountainG_5" class="fountainG"></div>
                        	<div id="fountainG_6" class="fountainG"></div>
                        	<div id="fountainG_7" class="fountainG"></div>
                        	<div id="fountainG_8" class="fountainG"></div>
                        </div>
                        <center>
                          <span>Отправляю... пожалуйста, подождите.</span>
                        </center>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>

  <bottom style="position: absolute; bottom: 0; width: 100%; z-index: 999;">
    <p class="form-text text-center mb-0">© 2019 Jimbl. Все права защищены. <br> <a href="/terms">Пользовательское соглашение</a></p>
  </bottom>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'font-awesome/all.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mdb.js' %}"></script>
  <script type="text/javascript" src="{% static 'confirm_email/js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'auth/js/main.js' %}"></script>
</body>
</html>
