<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jimbl | Регистрация</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Представаляем вам Jimbl - платформа для современного блоггинга. Создавайте впечатляющие посты и делитесь с друзьями!
    Создайте аккаунт прямо сейчас!">
    <meta name="keywords" content="блог, блогер, создать блог, блоги, создать блог онлайн, создать блог быстро">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
    <link rel="stylesheet" href="{% static 'auth/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'App/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/all.css' %}">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One|Roboto" rel="stylesheet">
    <script src="https://vk.com/js/api/openapi.js?160" type="text/javascript"></script>
  </head>
  <body>

    <script type="text/javascript">
      VK.init({apiId: 6789266});
    </script>

    <nav class="navbar navbar-dark border-0" style="background: #007BFF;">
      <div class="container">
        <span class="navbar-brand mb-0 mx-auto" style="padding: 0px;" onclick="document.location.href='/'"><img src="{% static 'logo.svg' %}" width='40px' alt=""><span id='main-nav-mobile-brand-text' style="font-size: 2rem; font-family: 'Coiny', cursive;top: 6px; position: relative;"> Jimbl</span><span id="logo-mobile-text" style="top: 2px; position: relative;"> | Регистрация</span></span>
      </div>
    </nav>

    <div class="top-header-mobile">

    </div>

    <section>
      <div class="container fh">
        <div class="row fh">
          <table align="center" class="fh" style="width: 410px;">
            <tr>
              <td class="align-middle animated fadeIn mx-auto">
                <div class="card">
                  <h5 class="card-header white-text text-center py-4" style="background: #007BFF;">
                    <strong id="card-header-text">Регистрация</strong>
                    <span id="card-header-text-common" class="mb-0 mx-auto" style="padding: 0px;" onclick="document.location.href='/'"><img src="{% static 'logo.svg' %}" width='40px' alt=""><span id='main-nav-mobile-brand-text' style="font-size: 2rem; font-family: 'Coiny', cursive;top: 6px; position: relative;"> Jimbl</span><span id="logo-mobile-text" style="top: 2px; position: relative;"> | Регистрация</span></span>
                  </h5>
                <div class="card border-0">
                  <div class="card-header text-center" style="background: #fff; border-bottom: none;">
                    <a class="btn btn-outline-primary waves-effect btn-sm" style="border-radius: 40px; font-size: 1rem;" href="https://oauth.vk.com/authorize?client_id=6789266&display=popup&redirect_uri=https://jimbl.ru/registration&response_type=code&v=5.92">
                      <i class="fab fa-vk"></i>
                      <p>Войти через Вконтакте</p>
                    </a>
                  </div>
                  <div class="card-body" style="padding-top: 0;">
                    <div class="card-text" style="position: relative;">
                      <hr style="margin-bottom: 1.6rem;">
                      <div class="text" style="position: absolute; text-align: center;width: 100%; bottom: -0.7rem;"><span class="text-muted" style="background: #fff; padding: 0 1rem 0  1rem;">ИЛИ</span></div>
                    </div>
                    <form id="registration_form" class="text-center">
                      {% csrf_token %}
                      <span id="username-field">
                        {% include 'welcome/requests/username-form.html' %}
                      </span>
                      <span id="password-field">
                        {% include 'welcome/requests/password-form.html' %}
                      </span>
                      <span id="password-validation">
                        {% include 'welcome/requests/password-validation.html' %}
                      </span>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox my-1 mr-sm-2 accept-check-box-1" data-toggle="popover" data-placement="top" data-content="Подтвердите пользовательское соглашение">
                           <input type="checkbox" class="custom-control-input" id="accept_check_1" required onchange="check_reg(this)">
                           <label class="custom-control-label" style="padding-top: 2px;" for="accept_check_1">Я согласен с <a href="/terms">пользовательским соглашением</a></label>
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="button" onclick="" class="btn btn-primary btn-reg disabled" value="Зарегистрироваться">
                      </div>
                      <div class="form-group">
                        <p class="form-text text-muted">Есть аккаунт? <a href="/accounts/login">Войти</a></p>
                      </div>
                    </form>
                  </div>
                  <hr>
                  <p class="form-text text-center">© 2019 Jimbl. Все права защищены. <br> <a href="/terms">Пользовательское соглашение</a></p>
                </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mdb.js' %}"></script>
    <script type="text/javascript" src="{% static 'auth/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'font-awesome/all.js' %}"></script>
  </body>
</html>
