{% extends 'App/index.html' %}
{% load staticfiles %}

{% block seo_discription %}
<meta name="description" content="Создайте свою учетную запись Jimbl и благодаря лайфхакам ваша жизнь станет проще.">
{% endblock %}

{% block seo_title %}
<title>Лайфхаки | Jimbl</title>
{% endblock %}

{% block post_card %}
<div class="post-container">
  <div class="load-wrapp p-0" style="background: #fff">
      <br>
      <div class="load-3">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
      </div>
  </div>
</div>
<div class="load-wrapp p-0 hidden" style="background: #fff">
    <br>
    <div class="load-3">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
{% endblock %}

{% block best_post %}
  {% for best_post in best_posts %}
    {% for post in best_post %}
      {% include 'App/include/best_post.html' %}
    {% endfor %}
  {% endfor %}
{% endblock %}

{% block load_content_form %}
<form class="hidden" id="load-content-form">
  {% csrf_token %}
  <input type="hidden" name="load_content" value="1" id="id_load_content">
  <input type="hidden" name="count_post" value="0" id="id_count_post">
  <input type="hidden" name="window_width" value="" id="id_window_width">
  <input type="hidden" name="page" value="/lifehacks/">
  <input type="hidden" name="cateregory_id" value="4">
</form>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-light fixed-top nav shadow-sm p-0 z-depth-1" id="main-nav-mobile" style="padding-bottom: 0px;padding-top: 0px; background: #007dff; z-index: 9999;">
  <div class="container p-0">
    <span class="navbar-brand text-white mb-2 pt-1 pl-4" style="font-size: 1.5rem; position: relative; font-family: 'Coiny', cursive;">Jimbl</span>
    <div class="nav-btn-wrapper">
      <button class="btn btn-link btn-sm pt-1" style='font-size: 0.9rem; text-decoration: none; color: white !important;' type="button" data-toggle="collapse" data-target="#dropdown-menu" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="far fa-lightbulb"></i> Лайфхаки <i class="fa fa-chevron-down"></i>
      </button>
    </div>

    {% if user.username %}
    <div class="dropdown">
      <button class="btn btn-outline-dark text-white dropdown-toggle pr-4 navbar-toggler z-depth-0" style="color: white !important;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class=" fa fa-bars fa-2x"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/{{user.username}}/edit">Мой профиль</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/{{user.username}}/edit">Редактировать</a><a class="dropdown-item" href="/statistic">Статистика</a>
        <a class="dropdown-item" href="/help">Помощь</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">Выход</a>
      </div>
    </div>
    {% endif %}
    </div>
</nav>
<div class="navbar-collapse collapse bg-white border-bottom" id='dropdown-menu' style="z-index: 9998; margin-top: -11px; position: fixed; width: -webkit-fill-available;;">
  <li class="nav-item left-menu-dropdown">
    <ul style="padding: 0;">
      <a href="/" class="dropdown-item"><span style="color: #007BFF"><i class="fa fa-adjust" style='width: 18px;' ></i></span> <b>Все</b></a>
      <a href="/travel/" class="dropdown-item"><i class="fa fa-globe-americas" style='width: 18px;' ></i> Путешествия</a>
      <a href="/auto/" class="dropdown-item"><i class="fa fa-car" style='width: 18px;' ></i> Авто</a>
      <a href="/natural/" class="dropdown-item"><i class="fa fa-leaf" style='width: 18px;' ></i> Природа</a>
      <a href="/lifehacks/" class="dropdown-item"><i class="far fa-lightbulb" style='width: 18px;' ></i> Лайфхаки</a>
      <a href="/buisness/" class="dropdown-item"><i class="fa fa-dollar-sign" style='width: 18px;' ></i> Бизнес и Финансы</a>
      <a href="/news/" class="dropdown-item"><i class="fa fa-bullhorn" style='width: 18px;' ></i> Новости и Политика</a>
      <a href="/food/" class="dropdown-item"><i class="fa fa-apple-alt" style='width: 18px;' ></i> Еда и Кулинария</a>
      <a href="/science/" class="dropdown-item"><i class="fa fa-atom" style='width: 18px;' ></i> Наука и Техника</a>
      <a href="/sport/" class="dropdown-item"><i class="fa fa-futbol" style='width: 18px;' ></i> Спорт и Здоровье</a>
      <a href="/shopping/" class="dropdown-item"><i class="fa fa-tag" style='width: 18px;' ></i> Шоппинг</a>
      <div class="dropdown-divider"></div>
      <a href="/newest/" class="dropdown-item"><i class="far fa-clock" style='width: 18px;' ></i> Новое</a>
      <a href="/random/" class="dropdown-item"><i class="fa fa-random" style='width: 18px;' ></i> Случайные</a>
      <div class="dropdown-divider"></div>
      <a href="/feed/" class="dropdown-item"><i class="fa fa-users" style='width: 18px;' ></i> Подписки</a>
      <a href="/interesting/" class="dropdown-item"><i class="far fa-star" style='width: 18px;' ></i> Интересное</a>
      <a href="/featured/" class="dropdown-item"><i class="fa fa-fire" style='width: 18px;' ></i> Популярное</a>
    </ul>
  </li>
</div>
{% endblock %}

{% block left_menu %}
  <div class="card left-menu-vertical z-depth-0" id="left_menu_sticky" style="background: transparent; border: none;">
    <div class="card-body">
      <table align="right">
        <tr>
          <td class="left-menu-vertical-body">
            <h5>Катерегории</h5>
              <ul class="left-menu">
                <a href="/"><li class="text-muted"><span><i class="fa fa-adjust" style='width: 18px;' ></i></span> Все</li></a>
                <a href="/travel/"><li class="text-muted"><i class="fa fa-globe-americas" style='width: 18px;' ></i> Путешествия</li></a>
                <a href="/auto/"><li class="text-muted"><span><i class="fa fa-car" style='width: 18px;' ></i></span> Авто</li></a>
                <a href="/natural/"><li class="text-muted"><i class="fa fa-leaf" style='width: 18px;' ></i> Природа</li></a>
                <a href="/lifehacks/" class="active"><li class="text-dark"><i class="far fa-lightbulb text-primary" style='width: 18px;' ></i> Лайфхаки</li></a>
                <a href="/buisness/"><li class="text-muted"><i class="fa fa-dollar-sign" style='width: 18px;' ></i> Бизнес и Финансы</li></a>
                <a href="/news/"><li class="text-muted"><i class="fa fa-bullhorn" style='width: 18px;' ></i> Новости и Политика</li></a>
                <a href="/food/"><li class="text-muted"><i class="fa fa-apple-alt" style='width: 18px;' ></i> Еда и Кулинария</li></a>
                <a href="/science/"><li class="text-muted"><i class="fa fa-atom" style='width: 18px;' ></i> Наука и Техника</li></a>
                <a href="/sport/"><li class="text-muted"><i class="fa fa-futbol" style='width: 18px;' ></i> Спорт и Здоровье</li></a>
                <a href="/shopping/"><li class="text-muted"><i class="fa fa-tag" style='width: 18px;' ></i> Мода и Шоппинг</li></a>
              </ul>
              <a href="/newest/" class="text-muted"><h5><i class="far fa-clock"></i> Новое</h5></a>
              <a href="/newest/" class="text-muted"><h5><i class="fas fa-random"></i> Случайные</h5></a>
          </td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}
