{% load staticfiles %}
<nav class="navbar navbar-light fixed-top nav border-bottom shadow-sm" id="main-nav-mobile" style="padding-bottom: 0px;padding-top: 0px;">
  <div class="container">
    <span class="navbar-brand mb-0 mx-auto" style="padding: 5px;"><img src="{% static 'logo.svg' %}" width='40px' alt=""><span id="main-nav-mobile-brand-text" style="font-size: 1.75rem; top: 6px; position: relative; font-family: 'Coiny', cursive;"> Jimbl</span><span style="font-size: 1.5rem; top: 0.25rem;position: relative;"> | Статистика</span></span>

    {% if user.username %}
    <div class="dropdown">
      <button class="btn btn-outline-dark dropdown-toggle z-depth-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bars fa-2x"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/{{user.username}}/edit">Мой профиль</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/{{user.username}}/edit">Редактировать</a><a class="dropdown-item" href="/statistic">Статистика</a>
        <a class="dropdown-item" href="/help">Помощь</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">Выход</a>
      </div>
    </div>
    {% endif %}
    </div>
</nav>
