body{
  overflow-x: hidden;
  font-size: 100%;
}

.tool{
  background: transparent;
  border: none;
}

textarea.input.header{
  font-size: 44px;
}

.bd-r-0{
  border-radius: 0 !important;
}

.bd-r-1{
  border-radius: 5px !important;
}

.bd-r-2{
  border-radius: 10px !important;
}

.tools{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.tools > table{
  width: max-content;
}

.hidden{
  display: none;
}

.table > tr > td > .input {
  font-size: 1.4rem;
}

img.media{
  border: 5px solid transparent;
}

img.select{
  border: 5px solid #007BFF;
  border-radius: 5px;
}

.collapse-tools{
  list-style: none;
}

.collapse-tools > .row > li{
  display: inline;
  margin-right: 1rem;
}

div.menu{

}

ul.tools{
  white-space: nowrap;
  width: 1000px;
}

ul.tools > li{
  display: inline;
}

textarea.input.paragraph{
  font-size: 1.4rem;
}

#mobile{
  display: none;
}

#desktop{
  display: block;
}

@media (max-width: 1200px) {
  #mobile{
    display: block;
  }
  #desktop{
    display: none;
  }
  .mobile-tools-bar{
    display: none;
  }
  .input.header{
    font-size: 1.75rem !important;
  }
  .input.paragraph{
    font-size: 1rem !important;
  }
  .adder-elements{
    font-size: 1.8rem !important;
    bottom: 0;
    position: relative;
  }
}

li.set.active{
  color: #007BFF;
}

.italic{
  font-style: italic;
}

.bold{
  font-weight: bold;
}

.underline{
  text-decoration: underline;
}

.text-align-tools{
  list-style: none;
  font-size: 1.75rem;
  margin: 0;
}

.text-align-tools > li{
  display: inline-block;
}

.fw{
  width: 100%;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

textarea.input{
  outline: none;
  border: none;
  width: 100%;
  height: auto;
  font-family: Segoe UI;
  resize: none;
  overflow: hidden;
  transition: 0.5s;
}

textarea.input:focus{
  box-shadow: none;
  outline: none;
}

.instruments-list > li{
  cursor: pointer;
}

.hidden-add-btn{
  color: #fff !important;
  pointer-events: none !important;
}

.btn-add, .btn-add:active, .btn-add:focus, .btn-add:hover{
  color: #000;
  text-decoration: none;
}

input.input{
  border: 1px solid transparent;
  outline: none;
  box-shadow: none;
}

input.input:focus{
  border: 1px solid #000;
  outline: none;
  box-shadow: none;
}

.fw{
  width: 100%;
}

.fh{
  height: 100%;
}

.instruments-list{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.instruments-list > li{
  margin: 1rem;
}
