<div class="row ml-0">
  <div class="col-2 border-right p-0 d-inline text-center text-muted mt-1" style="font-size: 1.25rem;">
    <div class="pb-1 list-group-item-action" style="cursor: pointer;"><i class="far fa-grin-alt"></i></div>
    <div class="pb-1 list-group-item-action" style="cursor: pointer;"><i class="fas fa-paw"></i></div>
    <div class="pb-1 list-group-item-action" style="cursor: pointer;"><i class="fas fa-utensils"></i></div>
    <div class="pb-1 list-group-item-action" style="cursor: pointer;"><i class="far fa-futbol"></i></div>
    <div class="pb-1 list-group-item-action" style="cursor: pointer;"><i class="fas fa-car"></i></div>
    <div class="pb-1 list-group-item-action" style="cursor: pointer;"><i class="fas fa-flag"></i></div>
  </div>
  <div class="col-9 ml-1 d-inline p-0">
    <!-- <div class="card-header p-0 mt-1 mr-1" style="height: 31px;">
      <div class="input-group input-group-sm mb-3">
       <input type="text" class="form-control" placeholder="Поиск Эмоджи" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
    </div> -->
    <div class="card-text mr-1">
      <small class="text-muted float-left">Последние:</small>
      <small class="text-muted float-right"><a href="">Очистить</a></small>
    </div>
    <div class="card-text recently">
      <table class="w-100">
        <tr>
          {% for emoji in user.profile.recently_emoji %}
          <td>
            {{emoji}}
          </td>
          {% endfor %}
        </tr>
      </table>
    </div>
    <div class="card-text main-content-emoji">
      <small class="text-muted">Эмоджи и люди:</small>
      <div class="w-100" style="overflow: auto; height: 140px;">
        {% for emoji in emoji_list %}
        <span style="cursor: pointer;" onclick="add_emoji($(this).text())">
          {{emoji}}
        </span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- <table class="fw fh">
  <tr>
    <td align='center' class="align-middle">
      В разработке 😀
    </td>
  </tr>
</table> -->

<!-- <small class="font-weight-light ml-1">Смайлы</small>
<span style="overflow-y: auto" class="ml-1">
  😀 😁 😂 🤣 😃 😄 😅 😆 😉 😊 😋 😎 😍 😘  😗 😙 😚  🙂 🤗 🤩 🤔 🤨 😐 😑 😶 🙄 😏 😣 😥 😮 🤐 😯 😪 😫 😴 😌 😛 😜 😝 🤤 😒 😓 😔 😕 🙃 🤑 😲 🙁 😖 😞 😟 😤 😢 😭 😦 😧 😨 😩 🤯 😬 😰 😱 😳 🤪 😵 😡 😠 🤬 😷 🤒 🤕 🤢 🤮 🤧 😇 🤠 🤡 🤥 🤫 🤭 🧐 🤓 😈 👿 👹 👺 💀 👻 👽 🤖 💩 😺 😸 😹 😻 😼 😽 🙀 😿 😾
</span> -->
