<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% block seo_title %}
  <title>Все | Jimbl</title>
  {% endblock %}

  {% block seo_discription %}
  <meta name="description" content="Jimbl - это платформа для современного блоггинга. Создавайте впечатляющие посты и делитесь с друзьями!">
  {% endblock %}
  <meta name="keywords" content="блог, блогер, создать блог, блоги, создать блог онлайн, создать блог быстро">

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'App/css/animate.css' %}">
  <link rel="stylesheet" href="{% static 'App/profile/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/preload-anim.css' %}">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <meta name="google-site-verification" content="YT4sLjrk6ui3M9s4f9BYMoRlbDnBpSKrTH1yx6XY0nA" />
  <meta name="yandex-verification" content="50307d8c4c7f1ea6" />

  <link href="https://fonts.googleapis.com/css?family=Coiny|Fredoka+One" rel="stylesheet">

  <!-- vk api -->
  <script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>

</head>
<body>
  {% if user.is_authenticated %}
    <script type="text/javascript">
      sessionStorage.setItem('logged_user', '{{user.username}}');
    </script>
  {% else %}
  <script type="text/javascript">
    sessionStorage.setItem('logged_user', '');
  </script>
  {% endif %}

  {% block main_nav %}
    {% include 'App/include/main_nav.html' %}
  {% endblock %}

  {% block navbar %}
    {% include 'App/mobile/navbar.html' %}
  {% endblock %}
  {% if user.is_authenticated %}
    {% include 'App/mobile/bottom-menu.html' %}
  {% else %}
    <div class="card animated slideInUp mobile" style="position: fixed; bottom: 0; z-index: 9999; width: -webkit-fill-available; border-radius: 0;">
      <div class="card-body text-center p-2">
        <p class="m-0">Создайте или войдите в аккаунт Jimbl</p>
        <button type="button" class="btn btn-sm btn-primary mb-0" onclick="document.location.href='/accounts/login'">Войти</button>
        <button type="button" class="btn btn-sm btn-amber mb-0" onclick="document.location.href='registration'">Создать аккаунт</button>
      </div>
    </div>
  {% endif %}

  <div class="scroller hidden">
    <div class="wrapper-scroller fw">
      <div class="scroller-up hidden">
        <img src="{% static 'App/def_image/down-arrow.svg' %}" class="mx-auto d-block" style="transform: rotate(180deg)" width="30px" alt="">
      </div>
      <div class="scroller-down hidden">
        <img src="{% static 'App/def_image/down-arrow.svg' %}" class="mx-auto d-block" width="30px" alt="">
      </div>
    </div>
  </div>

  <div class="container" id="main-container">
    <div class="row">
      <div class="col-xl-3 col-ld-3 col-md-0 col-sm-0 desktop">
        {% block left_menu %}
          {% include 'App/include/left_menu.html' %}
        {% endblock %}
      </div>
      <div class="col-xl-6 col-ld-6 col-md-12 col-sm-12 " id="main-col" style="padding: 0;">
        <!-- <p class="text-muted d-inline float-left mb-0 font-weight-bold pl-4 pt-1 ml-1 mobile">Лучшие блоги:</p>
        <p class="text-primary d-inline float-right mb-0 font-weight-bold pt-1 mr-1 pr-4 mobile" onclick="document.location.href='/statistic'"><i class="fas fa-chart-line"></i> Статистика</p><br>
        <div class="horizontal-scroll-wrapper mobile" style="height: 86px;">
          <div class="card-deck m-0" style="width: max-content;">
            {% for blog in best_blogs %}
              <div class="view m-2" style="width: 140px; height: 70px; border-radius: 10px">
                <img src="{{blog.image.url}}" class="img-fluid" alt="placeholder">
                <div class="mask flex-center waves-effect waves-light" style="background: rgba(0,0,0,0.5) ;">
                  <h6 class="white-text text-center">{{blog.name}}  <p class="white-text">@{{blog.user.username}}</p></h6>
                </div>
              </div>
            {% endfor %}
          </div>
        </div> -->
        {% block post_card %}
        <div class="post-container">
          <div class="load-start-wrapp text-center hidden p-0" style="background: #fafafa">
              <br>
              <div class="load-3">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
              </div>
          </div>
        </div>
        <div class="load-wrapp p-0 hidden" style="background: #fafafa">
            <br>
            <div class="load-3">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        {% endblock %}
        {% block load_content_form %}
        <form class="hidden" id="load-content-form">
          {% csrf_token %}
          <input type="hidden" name="load_content" value="1" id="id_load_content">
          <input type="hidden" name="count_post" value="0" id="id_count_post">
          <input type="hidden" name="window_width" value="" id="id_window_width">
          <input type="hidden" name="page" value="/">
        </form>
        {% endblock %}
      </div>
      <div class="col-xl-3 col-ld-3 col-md-2 col-sm-0" id="main-right-menu" style="padding: 0;">
        {% block right_menu %}
          {% include 'App/include/best_post_template.html' %}
          <br>
          <div class="feedback text-muted" style="text-align: -webkit-center;">
            <small><a class="mr-1 text-muted" href="/welcome">О нас</a></small>
            <small><a class="mr-1 text-muted" href="/help">Справка</a></small>
            <small><a class="mr-1 text-muted" href="" data-toggle="modal" data-target="#feedback_modal">Тех. поддержка</a></small>
            <small><a class="mr-1 text-muted" href="">Наш блог</a></small>
            <small><a class="text-muted" href="/terms">Пользовательское соглашение</a></small><br>
            <small>© 2019 Jimbl.</small>
          </div>
        {% endblock %}
      </div>
  </div>
</div>

<div class="modal fade" id="tools_post_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <ul class="list-group list-group-flush text-center">
          {% if user == post.user %}
            <a class="list-group-item tools_post_edit" href="/creator/edit-post/{{post.id}}" onclick="sessionStorage.setItem('edit_status', 1);">Редактировать</a>
          {% endif %}
          {% if user == post.user %}
            <a class="list-group-item tools_post_delete text-danger font-weight-normal" data-toggle="modal" data-target="#delete_post_modal" data-title="{{post.title}}" data-id="{{post.id}}" style="cursor: pointer;">Удалить</a>
          {% endif %}
          {% if user != post.user %}
            <a class="list-group-item text-danger font-weight-normal tools_post_report" data-toggle="modal" data-target="#report_post_modal" data-title="{{post.title}}" data-id="{{post.id}}">Пожаловаться</a>
          {% endif %}
          <input id="link_post_{{post.id}}" value="www.jimbl.ru/{{post.user}}/post/{{post.id}}" style="position: absolute; opacity: 0; top: 9999; cursor: pointer; z-index: -100;">
          <li class="list-group-item clipboard-trigger" style="cursor: pointer;" data-clipboard-target="" onclick="$('#clipboard_success_modal').modal('show')">Скопировать ссылку</li>
        </ul>
      </div>
    </div>
</div>

<div class="modal fade" id="delete_post_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-light"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
          <img src="{% static 'App/def_image/trash.svg' %}" class="mb-3 mt-2" width="20%" alt="">
          <p class="lead">Вы хотите удалить этот пост?</p>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-danger delete_post_btn">Удалить</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="report_post_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-light"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
          <img src="{% static 'App/def_image/report.svg' %}" class="mb-3 mt-2" width="20%" alt="">
        </center>
        <div class="form-group">
          <select class="form-control" name="report_reason" id="report_reason_id">
            <option value="Спам">Спам</option>
            <option value="Оскорбление">Оскорбление</option>
            <option value="Нарушение авторских прав">Нарушение авторских прав</option>
            <option value="Порнография">Порнография</option>
            <option value="Пропаганда наркотиков">Пропаганда наркотиков</option>
            <option value="Насилие / призыв к суициду">Насилие / призыв к суициду</option>
            <option value="Экстремизм">Экстремизм</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-danger report_post_btn">Пожаловаться</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="feedback_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-light">Связь с тех. поддержкой</h5>
        <div class="media">
          {% if user.profile.image_profile != '' %}
          <img src="{{user.profile.image_profile_settings.url}}" width="40px" height="40px" style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
          {% else %}
          <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px" style="margin-right: 10px;" class="rounded-circle align-self-center" alt="avatar">
          {% endif %}
          <div class="media-body">
            <h5 class="mt-2 font-weight-light">{{user.username}}</h5>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <center>
          <img src="{% static 'App/def_image/feedback.svg' %}" class="mb-3 mt-2" width="20%" alt="">
        </center>
        <center><h2 class="font-weight-light">Напишите нам!</h2></center>
        <form id="feedback_form">
          <input type="hidden" name="feedback" value="1">
          <div class="form-group">
            <label for="exampleInputEmail1">Ваш Email</label>
            <input type="email" class="form-control" name="feedback_email" value="{{user.profile.email}}" placeholder="Введите Email">
            <small id="emailHelp" class="form-text text-muted">Мы пришлём на ваш email ответ</small>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Напишите вопрос или проблему, с которой вы столкнулись!</label>
            <textarea class="form-control" name="feedback_area" id="feedback_area" rows="3" maxlength="1000"></textarea>
            <small><span id="count_numbers">0</span>/1000</small><br>
            <small class="text-danger">Внимание!</small><small> Если вы заметили баг или неисправность в ходе работы сервиса, то напишите на форум тестирования Jimbl!</small>
          </div>
        </form>
        <span class="hidden" id="anim_to_send_feedback">
          <div id="fountainG" class="mt-3">
            <div id="fountainG_1" class="fountainG"></div>
            <div id="fountainG_2" class="fountainG"></div>
            <div id="fountainG_3" class="fountainG"></div>
            <div id="fountainG_4" class="fountainG"></div>
            <div id="fountainG_5" class="fountainG"></div>
            <div id="fountainG_6" class="fountainG"></div>
            <div id="fountainG_7" class="fountainG"></div>
            <div id="fountainG_8" class="fountainG"></div>
          </div>
          <center>
            <span>Отправляю... Пожалуйста подождите</span>
          </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="feedback_submit()">Отправить</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade timeout" id="feedback_success_modal" role="dialog">
  <div class="modal-dialog">
    <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
      Ваш вопрос успешно отправлен! <br> Мы скоро вам ответим!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<div class="modal fade timeout" id="report_success_modal" role="dialog">
  <div class="modal-dialog">
    <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
      Жалоба успешно отправлена!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<div class="modal fade timeout" id="clipboard_success_modal" role="dialog">
  <div class="modal-dialog">
    <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
      Скопировано в буфер обмена!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<div class="modal fade timeout" id="share_success_modal" role="dialog">
  <div class="modal-dialog">
    <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
      Вы поделились постом на своей странице.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="no-logged-user-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop='false'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-dialog-centered">
      <div class="modal-header">
        <h3 class="modal-title font-weight-light">Авторизуйтесь в Jimbl</h3>
      </div>
      <div class="modal-body">
        <center>
          <img src="{% static 'logo.svg' %}" class="mb-3 mt-2" width="20%" alt="">
          <h2 class="font-weight-light modal-title">У вас еще нет аккаунта в Jimbl?</h2>
          <p class="lead">Давайте это поскорее исправим! Создайте или войдите в учетную запись!</p>
          <a href="/registration" class="btn btn-outline-primary">Регистрация</a>
        </center>
      </div>
      <div class="modal-footer">
        <p class="mb-0">Уже зарегистрированы? <a href="/account/login">Войти</a></p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="no-logged-user-like-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-dialog-centered">
      <div class="modal-header">
        <h3 class="modal-title font-weight-light">Авторизуйтесь в Jimbl</h3>
      </div>
      <div class="modal-body">
        <center>
          <img src="{% static 'App/def_image/share.svg' %}" class="mb-3 mt-2" width="20%" alt="">
          <h2 class="font-weight-light modal-title">Присоеденяйтесь к Jimbl!</h2>
          <p class="lead">Создайте или войдите в учетную запись Jimbl, чтобы лайкать, комментировать или делиться постами!</p>
          <a href="/registration" class="btn btn-outline-primary">Регистрация</a>
        </center>
      </div>
      <div class="modal-footer">
        <p class="mb-0">Уже зарегистрированы? <a href="/account/login">Войти</a></p>
      </div>
    </div>
  </div>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'App/js/jquery.sticky.js' %}"></script>
  <script type="text/javascript" src="{% static 'App/js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'App/js/search.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mdb.js' %}"></script>
  <script src="{% static 'font-awesome/all.js' %}" charset="utf-8"></script>
  <script src="{% static 'App/js/clipboard.min.js' %}"></script>
  <script type="text/javascript">
    var clipboard = new ClipboardJS('.clipboard-trigger');
  </script>
</body>
</html>
