<tr>
  <td align="center" colspan="2">
    <h1 class="font-weight-light">Изменить  Email</h1>
    <br>
  </td>
</tr>
<tr>
  <td>
    <p class="lead mb-0">Пароль</p>
  </td>
  <td>
    <input type="password" class="form-control {% if error_password %} is-invalid{% endif %}" id="password" style="width: 16rem;" placeholder="Ваш пароль от аккаунта">
    {% if error_password %}
    <div class="invalid-feedback">
      {{error_password}}
    </div>
    {% endif %}
  </td>
</tr>
<tr>
  <td>
    <p class="lead mb-0">Новый Email</p>
  </td>
  <td id="confirm-mail-input">
    <div class="input-group mb-3">
      <input type="email" class="form-control {% if error_mail %} is-invalid{% endif %}" placeholder="Email" name="email" id="user_email" required autocomplete="off">
      <div class="input-group-append">
        <button class="btn btn-md btn-outline-primary m-0 px-3 py-2 z-depth-0 waves-effect" type="button" onclick="send_code_cm()">Сменить</button>
      </div>
      {% if error_mail %}
      <div class="invalid-feedback">
        {{error_mail}}
      </div>
      {% endif %}
    </div>
    <!-- <div class="input-group mb-0">
    <input type="email" class="form-control {% if error_mail %} is-invalid{% endif %}" placeholder="Email" name="email" id="user_email" required autocomplete="off">
    <div class="input-group-append">
      <button type="button" class="btn  btn-outline-primary" onclick="send_code_cm()">Сменить</button>
    </div>
    {% if error_mail %}
    <div class="invalid-feedback">
      {{error_mail}}
    </div>
    {% endif %}
    </div> -->
  </td>
</tr>

<tr id="confirm-mail-code" class="hidden">
  <td>
    <p class="lead">Код</p>
  </td>
  <td id="confirm-code-input">
    {% include 'profiles/include/input-code.html' %}
  </td>
</tr>

<tr>
  <td colspan="2">
    <div class="load-wrapp p-0 hidden" style="background: #fff;">
        <br>
        <div class="load-3">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
  </td>
</tr>
