{% extends 'profiles/profile.html' %}

{% block left_menu %}
<div class="left-menu">
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action" onclick="document.location.href='/{{user.username}}/edit'" style="cursor: pointer;">Редактировать профиль</li>
    <li class="list-group-item list-group-item-action active" style="cursor: pointer;">Изменить пароль</li>
    <li class="list-group-item list-group-item-action" style="cursor: pointer;" onclick="document.location.href='/{{user.username}}/edit/social-networks'">Социальные сети</li>
    <li class="list-group-item list-group-item-action" style="cursor: pointer;" onclick="document.location.href='/{{user.username}}/edit/email'">
      Email и рассылка
      {% if user.profile.email == '' %}
      <span class="badge badge-danger float-right">!</span>
      {% endif %}
    </li>
    <li class="list-group-item list-group-item-action" style="cursor: pointer;" onclick="document.location.href='/{{user.username}}/edit/privacy'">Настройки приватности</li>
  </ul>
</div>
{% endblock %}

{% block success_modal %}
<div class="modal fade" id="success" role="dialog">
  <div class="modal-dialog">
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
      Вы успешно поменяли пароль!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
{% endblock %}

{% block main_form %}
<div class="main-container">
  <form id="form-edit" method="post">
    {% csrf_token %}
    <input type="hidden" name="window_width" value="">
    <div class="row">
      <table style="width: 80%;" align="center">
        <tr>
          <td align="center" colspan="2">
            <h1 class="font-weight-light">Изменить пароль</h1>
            <br>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            {% if success_change_password == '1' %}
              <p class="text-green">Пароль успешно изменен</p>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>
            <p class="lead">Текущий пароль</p>
          </td>
          <td>
            <span><input type="password" class="form-control text-center {% if form.old_password.errors %}is-invalid{% endif %}" name="old_password" id="id_old_password">
              {% if form.old_password.errors %}
              <div class="invalid-feedback">
                Ваш текущий пароль не совпадает!
              </div>
              {% endif %}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <p class="lead">Новый пароль</p>
          </td>
          <td>
            <span>
              <input type="password" class="form-control text-center {% if new_password1_error == '1' %}is-invalid{% endif %}" name="new_password1" id="id_new_password1">
              {% if form.new_password1.errors %}
              <div class="invalid-feedback">
                {{ form.new_password1.errors }}
              </div>
              {% endif %}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <p class="lead">Подтвердите пароль</p>
          </td>
          <td>
            <p><input type="password" class="form-control text-center" name="new_password2" id="id_new_password2"></p>
          </td>
        </tr>
        <tr>
          <td>

          </td>
          <td>
            <button type="submit" class="btn btn-primary">Изменить пароль</button>
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>
{% endblock %}
