{% extends 'profiles/profile.html' %}

{% block left_menu %}
<div class="left-menu">
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action" onclick="document.location.href='/{{user.username}}/edit'" style="cursor: pointer;">Редактировать профиль</li>
    <li class="list-group-item list-group-item-action" style="cursor: pointer;" onclick="document.location.href='/{{user.username}}/edit/change-password'">Изменить пароль</li>
    <li class="list-group-item list-group-item-action" onclick="document.location.href='/{{user.username}}/edit/social-networks'" style="cursor: pointer;">Социальные сети</li>
    <li class="list-group-item list-group-item-action active" style="cursor: pointer;" onclick="document.location.href='/{{user.username}}/edit/email'">Email и рассылка</li>
    <li class="list-group-item list-group-item-action" style="cursor: pointer;" onclick="document.location.href='/{{user.username}}/edit/privacy'">Настройки приватности</li>
  </ul>
</div>
{% endblock %}

{% block main_form %}
<form id="form-edit">
  {% csrf_token %}
  <!-- main settings -->
  <input type="hidden" name="username" id="id_username" value="{{user.username}}">
  <input type="hidden" name="first_name" id="id_first_name" value="{{user.first_name}}">
  <input type="hidden" name="last_name" id="id_last_name" value="{{user.last_name}}">
  <input type="hidden" name="site" id="id_site" value="{{user.profile.site}}">
  <input type="hidden" name="discription_profile" id="id_discription_profile" value="{{user.profile.discription_profile}}">
  <!-- privacy -->
  <input type="hidden" name="status_profile" id="id_status_profile" value="{% if user.profile.status_profile == 0 %}0{% else %}1{% endif %}">
  <input type="hidden" name="accept_send_messages" id="id_accept_send_messages" value="{% if user.profile.accept_send_messages == 0 %}0{% endif %}{% if user.profile.accept_send_messages == 1 %}1{% endif %}{% if user.profile.accept_send_messages == 2 %}2{% endif %}">
  <input type="hidden" name="accept_comment_posts" id="id_accept_comment_posts" value="{% if user.profile.accept_comment_posts == 0 %}0{% endif %}{% if user.profile.accept_comment_posts == 1 %}1{% endif %}{% if user.profile.accept_comment_posts == 2 %}2{% endif %}">
  <input type="hidden" name="hide_date_of_registration" id="id_hide_date_of_registration" value="{% if user.profile.hide_date_of_registration == True %}True{% else %}False{% endif %}">
  <input type="hidden" name="hide_list_read" id="id_hide_list_read" value="{% if user.profile.hide_list_read == True %}True{% else %}False{% endif %}">
  <input type="hidden" name="hide_list_readers" id="id_hide_list_readers" value="{% if user.profile.hide_list_readers == True %}True{% else %}False{% endif %}">
  <!-- social networks -->
  <input type="hidden" name="vk" id="id_vk" value="{{user.profile.vk}}">
  <input type="hidden" name="instagram" id="id_instagram" value="{{user.profile.instagram}}">
  <input type="hidden" name="facebook" id="id_facebook" value="{{user.profile.facebook}}">
  <input type="hidden" name="twitter" id="id_twitter" value="{{user.profile.twitter}}">
  <!-- window width -->
  <input type="hidden" name="window_width" value="">
  <div class="row">
    <table style="width: 80%;" align="center">
      {% if user.profile.email == '' %}
      <tr>
        <div class="alert alert-danger mx-auto" role="alert">
          Внимание! У вас не указан <b>Email</b>! Введите и затем подтвердите его, для защиты аккаунта.
        </div>
      </tr>
      {% endif %}
      <tr>
        <td align="center" colspan="2">
          <h1 class="font-weight-light">Email и рассылка</h1>
          <br>
        </td>
      </tr>
      {% if user.profile.email == '' %}
      <tr>
        <td colspan="2" id="confirm-mail-input">
          {% include 'profiles/include/input-mail.html' %}
        </td>
      </tr>
      <tr id="confirm-mail-code" class="hidden">
        <td>
          <p class="lead">Код</p>
        </td>
        <td id="confirm-code-input">
          {% include 'profiles/include/input-code.html' %}
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="load-wrapp p-0 hidden" style="background: #fff;">
              <br>
              <div class="load-3">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
              </div>
          </div>
        </td>
      </tr>
      {% endif %}
      {% if user.profile.email != '' %}
      <tr>
        <td colspan="2">
          <div  class="mb-4">
            <h5 class="d-inline"><span class="font-weight-light">Email:</span> {{user.profile.email}}</h5>
            <button type="button" class="btn d-inline btn-link p-0 ml-5" onclick="document.location.href='/{{user}}/edit/email/change'">Изменить</button>
          </div>
        </td>
      </tr>
      {% endif %}
      {% if user.profile.email != '' %}
      <tr>
        <td colspan="2">
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input" name="accept_send_notifications" id="id_accept_send_notifications" {% if user.profile.accept_send_notifications == True %}checked{% endif %}>
              <label class="custom-control-label" for="id_accept_send_notifications"><p class="lead" style="padding-top: 3px;">Разрешить рассылку уведомлений</p></label>
            </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="custom-control custom-checkbox mr-sm-2">
            <input type="checkbox" class="custom-control-input" name="accept_send_news_of_update" id="id_accept_send_news_of_update" {% if user.profile.accept_send_news_of_update == True %}checked{% endif %}>
            <label class="custom-control-label" for="id_accept_send_news_of_update"><p class="lead" style="padding-top: 3px;">Подписаться на новостную ленту</p></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>

        </td>
        <td>
          <button type="button" class="btn btn-primary" onclick="Ajaxrequest('form-edit')" id='upload-btn'>Сохранить</button>
        </td>
      </tr>
      {% endif %}
    </table>
  </div>
</form>
{% endblock %}
