<div class="input-group mb-3">
  <input type="email" class="form-control {% if error %} is-invalid{% endif %}" placeholder="Email" name="email" id="user_email" required autofocus>
  <div class="input-group-append">
    <button class="btn btn-md btn-outline-primary m-0 px-3 py-2 z-depth-0 waves-effect" type="button" onclick="send_code()">Подтвердить</button>
  </div>
  {% if error %}
  <div class="invalid-feedback">
    {{error}}
  </div>
  {% endif %}
</div>
