<div class="input-group mb-3" style="width: 10rem;">
  <input type="text" class="form-control text-center {% if error %} is-invalid{% endif %}" maxlength="6" id="ver_code">
  <div class="input-group-append">
    <button class="btn btn-md btn-outline-primary m-0 px-3 py-2 z-depth-0 waves-effect" type="button" onclick="send_verify_code()">Ок</button>
  </div>
  {% if error %}
  <div class="invalid-feedback">
    {{error}}
  </div>
  {% endif %}
</div>
