{% extends 'profiles/profile.html' %}

{% block left_menu %}
<div class="left-menu">
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action" onclick="document.location.href='/{{user.username}}/edit'" style="cursor: pointer;">Редактировать профиль</li>
    <li class="list-group-item list-group-item-action" style="cursor: pointer;" onclick="document.location.href='/{{user.username}}/edit/change-password'">Изменить пароль</li>
    <li class="list-group-item list-group-item-action" onclick="document.location.href='/{{user.username}}/edit/social-networks'" style="cursor: pointer;">Социальные сети</li>
    <li class="list-group-item list-group-item-action" style="cursor: pointer;" onclick="document.location.href='/{{user.username}}/edit/email'">
      Email и рассылка
      {% if user.profile.email == '' %}
      <span class="badge badge-danger float-right">!</span>
      {% endif %}
    </li>
    <li class="list-group-item list-group-item-action active" style="cursor: pointer;" onclick="document.location.href='/{{user.username}}/edit/privacy'">Настройки приватности</li>
  </ul>
</div>
{% endblock %}

{% block main_form %}
<form id="form-edit">
  {% csrf_token %}
  <!-- main settings -->
  <input type="hidden" name="username" id="id_username" value="{{user.username}}">
  <input type="hidden" name="first_name" id="id_first_name" value="{{user.first_name}}">
  <input type="hidden" name="last_name" id="id_last_name" value="{{user.last_name}}">
  <input type="hidden" name="site" id="id_site" value="{{user.profile.site}}">
  <input type="hidden" name="discription_profile" id="id_discription_profile" value="{{user.profile.discription_profile}}">
  <!-- social networks -->
  <input type="hidden" name="vk" id="id_vk" value="{{user.profile.vk}}">
  <input type="hidden" name="instagram" id="id_instagram" value="{{user.profile.instagram}}">
  <input type="hidden" name="facebook" id="id_facebook" value="{{user.profile.facebook}}">
  <input type="hidden" name="twitter" id="id_twitter" value="{{user.profile.twitter}}">
  <!-- email -->
  <input type="hidden" name="email" id="id_email" value="{{user.profile.email}}">
  <input type="hidden" name="accept_send_notifications" id="id_accept_send_notifications" value="{% if user.profile.accept_send_notifications == True %}True{% else %}False{% endif %}">
  <input type="hidden" name="accept_send_news_of_update" id="id_accept_send_news_of_update" value="{% if user.profile.accept_send_news_of_update == True %}True{% else %}False{% endif %}">
  <!-- window width -->
  <input type="hidden" name="window_width" value="">
  <div class="row">
    <table style="width: 80%;" align="center">
      <tr>
        <td align="center" colspan="2">
          <h1 class="font-weight-light">Приватность и безопасность</h1>
          <br>
        </td>
      </tr>
      <tr>
        <td>
          <p class="lead">Статус профиля</p>
        </td>
        <td>
          <div class="col-auto my-1">
            <select class="custom-select mr-sm-2" name="status_profile" id="id_status_profile">
              <option value="0" {% if user.profile.status_profile == 0 %}selected{% endif %}>Публичный</option>
              <option value="1" {% if user.profile.status_profile == 1 %}selected{% endif %}>Приватный</option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <p class="lead">Кто может отправлять мне сообщения</p>
        </td>
        <td>
          <div class="col-auto my-1">
            <select class="custom-select mr-sm-2" name="accept_send_messages" id="id_accept_send_messages">
              <option value="0" {% if user.profile.accept_send_messages == 0 %}selected{% endif %}>Все пользователи</option>
              <option value="1" {% if user.profile.accept_send_messages == 1 %}selected{% endif %}>Подписчики</option>
              <option value="2" {% if user.profile.accept_send_messages == 2 %}selected{% endif %}>Никто</option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <p class="lead">Кто может комментировать мои посты</p>
        </td>
        <td>
          <div class="col-auto my-1">
            <select class="custom-select mr-sm-2" name="accept_comment_posts" id="id_accept_comment_posts">
              <option value="0" {% if user.profile.accept_comment_posts == 0 %}selected{% endif %}>Все пользователи</option>
              <option value="1" {% if user.profile.accept_comment_posts == 1 %}selected{% endif %}>Подписчики</option>
              <option value="2" {% if user.profile.accept_comment_posts == 2 %}selected{% endif %}>Никто</option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input" name="hide_date_of_registration" id="id_hide_date_of_registration" {% if user.profile.hide_date_of_registration == True %}checked{% endif %}>
              <label class="custom-control-label" for="id_hide_date_of_registration"><p class="lead">Скрывать дату регистрации</p></label>
            </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="custom-control custom-checkbox mr-sm-2">
            <input type="checkbox" class="custom-control-input" name="hide_list_read" id="id_hide_list_read" {% if user.profile.hide_list_read == True %}checked{% endif %}>
            <label class="custom-control-label" for="id_hide_list_read"><p class="lead">Скрывать список моих подписок</p></label>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="custom-control custom-checkbox mr-sm-2">
            <input type="checkbox" class="custom-control-input" name="hide_list_readers" id="id_hide_list_readers" {% if user.profile.hide_list_readers == True %}checked{% endif %}>
            <label class="custom-control-label" for="id_hide_list_readers"><p class="lead">Скрывать список моих подписчиков</p></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>

        </td>
        <td>
          <button type="button" class="btn btn-primary" onclick="Ajaxrequest('form-edit')" id='upload-btn'>Сохранить</button>
        </td>
      </tr>
    </table>
  </div>
</form>
{% endblock %}
