{% extends 'profiles/profile.html' %}

{% block left_menu %}
<div class="left-menu">
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action" onclick="document.location.href='/{{user.username}}/edit'" style="cursor: pointer;">Редактировать профиль</li>
    <li class="list-group-item list-group-item-action" style="cursor: pointer;" onclick="document.location.href='/{{user.username}}/edit/change-password'">Изменить пароль</li>
    <li class="list-group-item list-group-item-action active" onclick="document.location.href='/{{user.username}}/edit/social-networks'" style="cursor: pointer;">Социальные сети</li>
    <li class="list-group-item list-group-item-action" style="cursor: pointer;" onclick="document.location.href='/{{user.username}}/edit/email'">
      Email и рассылка
      {% if user.profile.email == '' %}
      <span class="badge badge-danger float-right">!</span>
      {% endif %}
    </li>
    <li class="list-group-item list-group-item-action" style="cursor: pointer;" onclick="document.location.href='/{{user.username}}/edit/privacy'">Настройки приватности</li>
  </ul>
</div>
{% endblock %}

{% block main_form %}
<form id="form-edit">
  {% csrf_token %}
  <!-- privacy -->
  <input type="hidden" name="status_profile" id="id_status_profile" value="{% if user.profile.status_profile == 0 %}0{% else %}1{% endif %}">
  <input type="hidden" name="accept_send_messages" id="id_accept_send_messages" value="{% if user.profile.accept_send_messages == 0 %}0{% endif %}{% if user.profile.accept_send_messages == 1 %}1{% endif %}{% if user.profile.accept_send_messages == 2 %}2{% endif %}">
  <input type="hidden" name="accept_comment_posts" id="id_accept_comment_posts" value="{% if user.profile.accept_comment_posts == 0 %}0{% endif %}{% if user.profile.accept_comment_posts == 1 %}1{% endif %}{% if user.profile.accept_comment_posts == 2 %}2{% endif %}">
  <input type="hidden" name="hide_date_of_registration" id="id_hide_date_of_registration" value="{% if user.profile.hide_date_of_registration == True %}True{% else %}False{% endif %}">
  <input type="hidden" name="hide_list_read" id="id_hide_list_read" value="{% if user.profile.hide_list_read == True %}True{% else %}False{% endif %}">
  <input type="hidden" name="hide_list_readers" id="id_hide_list_readers" value="{% if user.profile.hide_list_readers == True %}True{% else %}False{% endif %}">
  <!-- email -->
  <input type="hidden" name="email" id="id_email" value="{{user.profile.email}}">
  <input type="hidden" name="accept_send_notifications" id="id_accept_send_notifications" value="{% if user.profile.accept_send_notifications == True %}True{% else %}False{% endif %}">
  <input type="hidden" name="accept_send_news_of_update" id="id_accept_send_news_of_update" value="{% if user.profile.accept_send_news_of_update == True %}True{% else %}False{% endif %}">
  <!-- main settings -->
  <input type="hidden" name="username" id="id_username" value="{{user.username}}">
  <input type="hidden" name="first_name" id="id_first_name" value="{{user.first_name}}">
  <input type="hidden" name="last_name" id="id_last_name" value="{{user.last_name}}">
  <input type="hidden" name="site" id="id_site" value="{{user.profile.site}}">
  <input type="hidden" name="discription_profile" id="id_discription_profile" value="{{user.profile.discription_profile}}">
  <!-- window width -->
  <input type="hidden" name="window_width" value="">
  <div class="row">
    <table style="width: 80%;" align="center">
      <tr>
        <td align="center" colspan="2">
          <h1 class="font-weight-light">Социальные сети</h1>
          <br>
        </td>
      </tr>
      <tr>
        <td>
          <p class="lead">Вконтакте</p>
        </td>
        <td>
          {% if user.profile.vk_id == '' %}
            <button type="button" class="btn btn-sm btn-outline-primary" onclick="document.location.href='https://oauth.vk.com/authorize?client_id=6789266&display=popup&redirect_uri=https://jimbl.ru/{{user.username}}/edit/social-networks&response_type=code&v=5.92'">
              <i class="fab fa-lg fa-vk"></i>
              Подключить
            </button>
          {% else %}
          <div class="media">
            <img src="{{user.profile.vk_image.url}}" width="40px" height="40px" class="align-self-center mr-3 rounded-circle" alt="...">
            <div class="media-body">
              <h5 class="font-weight-light mb-0">{{user.profile.vk_firstname}} {{user.profile.vk_lastname}}</h5>
              <small><a href="" onclick="vk_clear()">Открепить</a></small>
            </div>
          </div>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <p class="lead">Instagram</p>
        </td>
        <td>
          <p><input type="text" class="form-control text-center" value="{{user.profile.instagram}}" name="instagram" id="id_instagram"></p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="lead">Facebook</p>
        </td>
        <td>
          <p><input type="text" class="form-control text-center" value="{{user.profile.facebook}}" name="facebook" id="id_facebook"></p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="lead">Twitter</p>
        </td>
        <td>
          <p><input type="text" class="form-control text-center" value="{{user.profile.twitter}}" name="twitter" id="id_twitter"></p>
        </td>
      </tr>
      <tr>
        <td>

        </td>
        <td>
          <button type="button" class="btn btn-primary" onclick="Ajaxrequest('form-edit')" id='upload-btn'>Сохранить</button>
        </td>
      </tr>
    </table>
  </div>
</form>
{% endblock %}
