{% load staticfiles %}
<table class="fw fh" style="width: 100%; height: 100%;">
  <tr>
    <td class="align-middle">
      <p>Недавнее</p>
      <ul class="list-group">
      {% for search_last_user in last_search_users %}
        <li class="list-group-item" style="border: none;">
          {% if user.profile.image_profile.url != '' %}
            <img src="{{user.profile.image_profile_settings.url}}" width="40px" height="40px"  class="rounded-circle shadow-sm" alt="">
          {% else %}
            <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  class="rounded-circle shadow-sm" alt="">
          {% endif %}
          <a href="/{{search_last_user.username}}" class="text-muted" style="font-style: none;">{{search_last_user.get_full_name}} @({{search_last_user.username}})</a>
        </li>
      {% empty %}
        <p>Список пуст</p>
      {% endfor %}
      </ul>
    </td>
  </tr>
</table>
