<nav class="navbar navbar-light fixed-top nav" style="padding: 0; border: none;">
  <div class="input-group shadow-sm">
    <div class="input-group-prepend">
      <span class="input-group-text" style="background: #fff; border-radius: 0; border: none; font-size: 1.25rem;"><i class="fa fa-search"></i></span>
    </div>
    <input type="search" id="search-input" class="form-control" data-toggle="collapse" data-target="#collapseExample" style="border: none; border-radius: 0; padding: 12px 0 12px 0;" placeholder="Поиск" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="collapse search-main fw text-muted" id="collapseExample">
    <div class="card card-body fw">
      {% include 'Search/mobile/last_search_users.html' %}
    </div>
  </div>
</nav>
