{% load staticfiles %}
<div class="card card-body">
  {% if search_posts|length > 0 %}
    <ul class="list-group">
      {% for post in search_posts %}
        <li class="list-group-item">{{post.title}} | @{{post.user.username}}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if search_blogers|length > 0 %}
    <ul class="list-group">
      {% for search_user in search_blogers %}
        <li class="list-group-item" style="border: none;">
          {% if search_user.image_profile.url != '' %}
            <img src="{{search_user.image_profile_settings.url}}" width="40px" height="40px" class="rounded-circle" alt="">
          {% else %}
            <img src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  class="rounded-circle shadow-sm" alt="">
          {% endif %}
          <a href="/{{search_user.user.username}}" onclick="add_search_user('{{search_user.user.username}}')" class="text-muted">{{search_user.user.get_full_name}} @({{search_user.user.username}})</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if search == '' %}
    {% include 'Search/mobile/last_search_users.html' %}
  {% endif %}
  {% if search_posts|length == 0 and search_blogers|length == 0 and search != '' %}
    <table class="fw fh" style="width: 100%; height: 100%;">
      <tr>
        <td class="align-middle">
          <p class="lead" style="margin: 0;">Ничего не найдено</p>
        </td>
      </tr>
    </table>
  {% endif %}
  {% if search_posts|length > 0 or search_blogers|length > 0 and search != '' %}
    <table class="fw fh" style="width: 100%; height: 100%;">
      <tr>
        <td class="align-middle">
          <a href=""><p class="lead" style="margin: 0;">Больше результатов для <b>{{search}}</b></p></a>
        </td>
      </tr>
    </table>
  {% endif %}
</div>
