html, body{
  overflow: auto;
  background: #fafafa !important;
}

.fw{
  width: 100%;
}

#chat-nav{
  background: #fafafa !important;
  z-index: 9999;
}

#mobile-chat-body{
  margin-top: 50px !important;
}

#tools-message-mobile{
  height: 51px;
}

.message-content{
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   line-height: 1rem;        /* fallback */
   max-height: 2rem;       /* fallback */
}

.fh{
  height: 100%;
}
.tools.set{
  color: #FF8800 !important;
}

#main-container-chat-desktop{
  top: 11px !important;
  position: relative;
}

#tools-chat-top{
  height: 44px;
}

.message.set{
  background: #F7F7F7;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  display: none;
}

.scroll-wrapper::-webkit-scrollbar-track{
  border-radius: 10px
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

.user-profile-wrapper{
  position: absolute;
  width: 100%;
  text-align: center;
  margin-left: -15px;
}

.user-profile-wrapper> .media{
  width: fit-content;
  margin: auto;
}

.dropdown-toggle::after {
    display:none;
}

input#write-input-desktop:active, input#write-input-desktop:hover, input#write-input-desktop:focus, input#write-input-desktop{
  outline: none;
  box-shadow:none !important;
  border-bottom: none;
  border-right: none !important;
}

input#write-input:active, input#write-input:hover, input#write-input:focus, input#write-input{
  outline: none;
  box-shadow:none !important;
  border-bottom: none;
}

.list-group-item{
  border: none !important;
}

.list-group-item.active{
  background: #fff !important;
  color: #000 !important;
  border-left: 3px solid #007BFF !important;
}

#message-list{
  overflow-y: auto;
  width: 100%;
  height: 100px;
  padding-right: 10px !important;
}

.hidden{
  display: none !important;
}

#right_menu_sticky{
  width: 240px !important;
}

ul.left-menu > a{
  text-decoration: none;
}

ul.left-menu > a > li{
  padding: 4px;
  transition: 0.2s;
  border-radius: 4px;
}

ul.left-menu > a > li > span > i{
  width: 40px;
}

ul.left-menu > a > li:hover{
  background-color: #eee;
}

.main-nav-text{
  display: inline;
}

.left-menu{
  list-style: none;
}

.left-menu > a.active{
  border-bottom: none;
}

.left-menu > a.active > li{
  color: #000;
  font-weight: bold;
}

.left-menu > a.active > li > span{
  color: #007BFF;
}

ul.left-menu > a > li:hover{
  background-color: #E1E5EB;
}

#horizontal-menu > a.nav-link{
  font-size: 1.25rem;
}

#horizontal-menu > a.nav-link:hover > .main-nav-text{
  color: #000 !important;
}

#horizontal-menu > a.nav-link:hover > span#icon{
  color: #007BFF !important;
}

#horizontal-menu > a.nav-link.active{
  border-bottom: none;
  color: #000;
}

#horizontal-menu > a.nav-link.active > span{
  color: #007BFF;
}

@media (min-width: 991px) and (max-width: 1420px) {
    .main-nav-text{
      display: none;
    }
}

#mobile-search{
  display: none;
}

#desktop-search{
  display: block;
}

#main-nav-mobile{
  display: none;
}

#main-nav-desktop, #main-container-chat-desktop{
  display: block;
}

#mobile-chat-body{
  display: none;
}

#new_message_mobile, #write-bar-mobile, #bottom-menu{
  display: none;
}

.scroller{
  position: fixed;
  width: 100px;
  height: 100%;
  background: #fff;
  padding-top: 140px;
  transition: 0.3s;
}

.scroller-up{
  width: 100%;
  height: -webkit-fill-available;
  position: relative;
}

.scroller-down{
  width: 100%;
  height: -webkit-fill-available;
}

.scroller:hover{
  background: #fafafa;
  cursor: pointer;
}


@media (max-width: 1200px) {
  .container-fluid.mob{
    padding: 0;
  }

  .scroller{
    display: none;
  }

  #main-nav-desktop, #desktop-search, #main-container-chat-desktop{
    display: none;
  }

  #mobile-chat-body, #new_message_mobile, #main-nav-mobile, #mobile-search, #write-bar-mobile, #bottom-menu{
    display: block;
  }


  body{
    background: #fff !important;
  }
}

.main-nav-text{
  display: inline;
}

@media (min-width: 991px) and (max-width: 1420px) {
    .main-nav-text{
      display: none;
    }
}

.post-settings{
  background: transparent;
  border: none;
  outline: none;
}

.post-settings:active,
.post-settings:focus{
  outline: none;
}

#chat-item:hover{
  background: transparent;
}

div#role_message {
    width: fit-content;
}

#last-message-item{
  display: table;
}

#last-message-item > .img-avatar, p{
  vertical-align: middle;
  text-overflow: ellipsis;
  padding: 0;
  display: table-cell;
}

#last-message-item > #content{
  white-space: nowrap;
  overflow:hidden;
  margin: 0;
  padding: 0 0.5rem !important;
}

.message-user-p{
  width: 50px !important;
}
