html, body{
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.dark-theme{
  background: #111111 !important;
  color: #fafafa !important;
  transition: none !important;
}



.scroll-wrapper::-webkit-scrollbar, .horizontal-scroll-wrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  position: absolute;
}

.scroll-wrapper::-webkit-scrollbar-track, .horizontal-scroll-wrapper::-webkit-scrollbar-track{
  border-radius: 10px
}

.modal-dialog-centered::before{
  height: unset !important;
}

.navbar#main-nav{
  padding-right: 16px !important;
}

.navbar-collapse{
  top: 48px;
}

.post-container:nth-last-child(3){
  margin-bottom: 20px !important;
}

.scroll-wrapper::-webkit-scrollbar-thumb,  .horizontal-scroll-wrapper::-webkit-scrollbar-thumb{
  background: #aaa;
  border-radius: 10px;
}

.st-2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-size: 0.8rem;
  line-height: 1rem;
  max-height: 2rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#main-container{
  margin-top: 59px;
}

#main-card > table > tbody > tr > td > div.post-container > div.row.mb-5 > div > div > div:last-child{
  margin-right: 0 !important;
}

.card-title-wrapper{
  font-size: 2.5rem;
  font-weight: lighter;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 3.3rem;     /* fallback */
   max-height: 6rem;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
   margin-bottom: 1rem;
}

.share-item{
  transition: 0.3s;
}

.list-group-item.active{
  background: #fff !important;
  color: #000;
  border-left: 3px solid #007BFF !important;
}

#main-right-menu{
  display: block;
}

.lead.discription-post{
  font-size: 1rem;
}

.best-blog{
  transition: 0.3s;
  border: 3px solid transparent !important;
}

.rotate-90{
  transform: rotate(90deg);
}

.rotate-180{
  transform: rotate(180deg);
}

.best-blog:hover{
  border: 3px solid #007bff !important;
  border-radius: 10px;
}

.share-item:hover{
  color: #17a2b8;
  cursor: pointer;
}

.timeout-modal{
  position: fixed;
  top: 100px;
}

.timeout-modal-body{
  width: fit-content;
}

.form-control:focus {
	box-shadow: none;
	border-color: #CED4DA;
}

#fountainG{
	position:relative;
	width:234px;
	height:28px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color: #007BFF;
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	left:29px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	left:58px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	left:88px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	left:117px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	left:146px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	left:175px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	left:205px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:#007BFF;
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:#007BFF;
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:#007BFF;
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:#007BFF;
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:#007BFF;
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}


#main-nav{
  min-height: 59px;
  background-color: #007dff;
}

.reposted{
  color: red;
}

.cols{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.post-list:first-child{
  border-top: 1px solid #ccc;
}

.scroll-up:hover{
  background: #DCE2E8;
}

#best_post, #best_bloger{
  display: block;
}

ul.left-menu > a{
  text-decoration: none;
}

ul.left-menu > a > li{
  padding: 4px;
  transition: 0.2s;
  border-radius: 4px;
}

ul.left-menu > a > li > span > i{
  width: 40px;
}

ul.left-menu > a > li:hover{
  background-color: #E1E5EB;
}

.search > div.input-group-prepend{
  height: 100%;
}

.main-nav-text{
  display: inline;
}

@media (min-width: 991px) and (max-width: 1420px) {
    .main-nav-text{
      display: none;
    }
}

#main-nav-mobile{
  display: none;
}

#bottom-menu{
  display: none;
}

#best_post_mobile, #best_bloger_mobile{
  display: none;
}

.fb-share-button{
  top: 4px;
}

.horizontal-scroll-wrapper{
 overflow: auto;
}

.horizontal-scroll-wrapper > .card-deck{
  display: -webkit-inline-box;
}

.horizontal-scroll-wrapper > .card-deck > .card{
  display: inline-block !important;
}

.nav-btn-wrapper{
  top: 6px;
  position: absolute;
  text-align: center;
  width: -webkit-fill-available;
  margin-left: -15px;
}

.desktop{
  display: block !important;
}

.mobile{
  display: none !important;
}

@media (max-width: 1200px) {
  .scroller{
    display: none;
  }
  .card.post{
    border-radius: 0 !important;
  }
  .desktop{
    display: none !important;
  }
  .mobile{
    display: block !important;
  }
  .post-image{
    border-radius: 0 !important;
  }
  .dropdown-post{
    right: 10px !important;
  }
  .card.recoments{
    display: inline !important;
  }
  .empty-posts-card{
    border: none;
  }
  .horizontal-scroll-wrapper::-webkit-scrollbar{
    display: none;
  }
  .card-title-wrapper{
    font-size: 2rem;
    line-height: 2.6rem;     /* fallback */
    max-height: 5.2rem;
  }
  .fb-share-button{
    top: 0px !important;
  }
  #main-right-menu{
    display: none;
  }
  .sticky-wrapper, #main-nav{
    display: none;
  }
  #main-col{
    margin-top: 0 !important;
  }
  #main-nav-mobile{
    display: block;
  }
  #bottom-menu{
    display: block;
  }
  #best_post, #best_bloger{
    display: none;
  }
  .feedback{
    display: none;
  }
  #best_post_mobile, #best_bloger_mobile{
    display: block;
  }
}

#dropdownMenuButton{
  border: none !important;
  padding: 0;
}

#dropdownMenuButton:active,  #dropdownMenuButton:focus, #dropdownMenuButton:hover{
  background: transparent !important;
  border: none !important;
  box-shadow: none;
  color: #fff;
}

.card-title{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#mobile-post-card{
  width: -webkit-fill-available;
}

.post-container{
  margin-top: 16px;
}

p.lead{
  font-size: 1rem;
}

@media (max-width: 460px) {
  .post-container{
    margin-top: 0px;
  }
  .load-start-wrapp{
    text-align: -webkit-center;
  }
  h3.modal-title{
    font-size: 1.2rem !important;
  }
  h2.modal-title{
    font-size: 1.2rem !important;
  }
  #main-nav-mobile-brand-text{
    display: none;
  }
  .title{
    font-size: 1.5rem;
  }
  h1.card-title{
    font-size: 2rem;
  }
  p.blog-post-cnt{
    font-size: 0.6rem !important;
  }
  p.lead, button.go-post{
    font-size: 0.8rem !important;
  }
  p{
    font-size: 0.8rem;
  }
  .share_buttons{
    margin: auto !important;
  }
}

#mobile{
  display: none;
}

#high-width-adaption{
  display: block;
  padding: 0;
}

@media (max-width: 1200px) {
  #mobile{
    display: block;
  }
  #high-width-adaption{
    display: none;
  }
}

.navbar-text.main{
  height: 59px;
}

#post-card:first-child{
  border-top: 1px solid #E0E0E0;
}

#post-card:last-child{
  border-bottom: 1px solid #E0E0E0 !important;
}

#main-nav-link{
  color: #fff;
}

.input-group-text#search-input{
  color: #b3e5fc;
}

.dropdown-primary:hover > .dropdown-item{
  color: #000 !important;
}

input#search-desktop-input{
  border-left: none;
  background:  #3949ab;
  border-color:  #3d4fff;
  border-right: none !important;
  border-top: 1px solid  #3949ab;
  border-bottom: 1px solid  #3949ab;
  color: #b3e5fc;
}

input#search-desktop-input::placeholder{
  color: #b3e5fc;
}

#main-nav-link > span{
  transition: 0.3s;
}

#main-nav-link:hover > span{
  color: #b3e5fc;
}

#main-container{
  position: relative;
}

.search > div.input-group-prepend > span{
  background: #fff;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search > input[type=search]{
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  box-shadow: none;
  outline: none;
}

#horizontal-menu > a.nav-link{
  font-size: 1.25rem;
}

#horizontal-menu > a.nav-link.active{
  border-bottom: none;
  color: #000;
}

#horizontal-menu > a.nav-link.active > span{
  color: #007BFF;
}

.left-menu-vertical-body > a{
  text-decoration: none;
}

.left-menu > a.active{
  border-bottom: none;
}

.left-menu > a.active > li{
  color: #000;
  font-weight: bold;
}

.left-menu > a.active > li > span{
  color: #007BFF;
}

.left-menu{
  list-style: none;
}

.left-menu-vertical{
  display: block;
}

.left-menu-dropdown{
  display: none;
}

@media (max-width: 1199.98px) {
  .left-menu-vertical{
    display: none;
  }
  .left-menu-dropdown{
    display: block;
  }
}

.post-nav{
  font-size: 1.25rem;
}

.comment{
  margin: 1rem;
}

.post-statistic{
  font-size: 1.25rem;
}

.post-statistic > td > span.like.liked{
  color: red;
  fill: red;
}

.comment-statistic > td > span.like.liked{
  color: red;
  fill: red;
}

.btn-load-comments{
  margin-left: 2.5rem;
  border: none;
  padding: 0;
}

.post-statistic > td[align=right]{
  font-size: 1rem;
}

.card-post > .card{
  border-top: none;
  border-bottom: none;
  border-radius: 0rem;
}

.network{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

#done{
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 50;
}

#sticky-sticky-wrapper{
  z-index: 100;
}

#sticky{
  border-bottom: 1px solid #E6E6E6;
}

.static-profile{
  border-collapse: separate;
  border-spacing: 2rem 0;
  height: 100%;
  text-align: center;
  z-index: 9999;
}

.static-profile:last-child{
  font-size: 1.25rem;
}

.card-post:first-child{
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-post:last-child{
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.close-banner{
  background: transparent;
  border: none;
  color: #fff;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.back{
  width: 100%;
  height: 100%;
  position: absolute;
}

.post-overlay{
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  top: 0;
  height: 100%;
}

.logo-banner{
  color: #fff;
  font-size: 5rem;
  font-family: Roboto;
  border: 0.25rem solid #fff;
  border-radius: 5rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.close-banner:hover{
  cursor: pointer;
}

.btn-simple-blue{
  background: transparent;
  color: #007bff;
}

.logo {
  border: 1px solid #007bff;
  border-radius: 5px;
  font-family: sans-serif;
  color: #fff;
  font-size: 2em;
  background: #007bff;
  padding: 1px 12px 1px 12px;
}

.add-post{
  position: absolute;
  height: 2.3rem;
  width: 2.3rem;
  top: 0;
  margin: 5px;
}

.add-post-text{
  text-indent: 2rem;
}

#viewer{
  font-size: 1.25rem;
}

.post-settings{
  background: transparent;
  border: none;
  outline: none;
}

.post-settings:active,
.post-settings:focus{
  outline: none;
}

.none-resize{
  resize: none;
}

.dropdown-toggle::after {
    display:none;
}

.hidden{
  display: none;
}

.post-overlay{
  width: 100%;
  text-align: center;
  height: 100%;
}

.image_profile_wrap{
  width: 10rem;
  height: 10rem;
  overflow:hidden;
}


textarea#id_discription_profile{
  text-align: left;
}

.fw{
  width: 100%;
}


.scroll-up{
  background: transparent;
  transition: 0.4s;
  height: 100%;
  text-decoration: none;
}

.scroll-up:hover{
  background: #f1f1f1;
  color: #777;
}

@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

.navbar{
  background-color: #fff;
}

.brand{
  font-size: 2em;
}
