{% load staticfiles %}
{% for comment in comments_list %}
  <div class="comment comments-{{now_post.id}}" style="max-width: 630px;">
    <div class="row">
      <div class="media fw">
        {% if comment.user.profile.image_profile.url != '' %}
        <img class="align-self-center mr-3 rounded-circle" onclick="document.location.href='/{{comment.user}}'" src="{{comment.user.profile.image_profile_settings.url}}" width="40px" height="40px" alt="Generic placeholder image">
        {% else %}
        <img class="align-self-center mr-3 rounded-circle" onclick="document.location.href='/{{comment.user}}'" src="{% static 'App/def_image/user.svg' %}" width="40px" height="40px"  alt="Generic placeholder image">
        {% endif %}
        <div class="media-body fw">
          <p id="comment-text" style="margin: 0;"><span onclick="document.location.href='/{{comment.user}}'" class="font-weight-bold">{{comment.user}}: </span>{{comment.data}}</p>
          <table class="fw">
            <tr class="comment-statistic">
              <td align="left">
                <form id="comment_like_{{comment.id}}">
                  {% csrf_token %}
                  <input type="hidden" value="{{comment.id}}" name="comment_id">
                  <input type="hidden" value="1" name="liking_comment">
                </form>
                <span class="like {% if user in comment.likes.all %}liked{%endif%}" onclick="like_comment('comment_like_{{comment.id}}', this, {{comment.id}})">
                  <i class="{% if user in comment.likes.all %}fas{%else%}far{%endif%} fa-heart comment-like-{{comment.id}}"></i>
                </span>
                <span id="comment-like-cnt-{{comment.id}}">{{comment.likes.count}}</span>
              </td>
              <td align="right">
                <small class="text-muted">{{comment.date|timesince}} назад</small>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% if comments_list.count > 3 %}
<button type="button" class="btn btn-link btn-sm btn-hide-comments" onclick="hide_more_comments('{{now_post.id}}')">Скрыть комментарии</button><br>
{% endif %}
{% if hide_more_comments_status != 1 and full_comments_list != 1 and comments_list.count > 6 %}
<button type="button" class="btn btn-primary mt-2 mb-4 btn-sm fw load-more-comments" id="{{now_post.id}}" onclick="load_more_comments('{{now_post.id}}')">Загрузить ещё</button>
{% else %}
  {% if full_comments_list == 1 %}
    <p class="text-muted text-center font-weight-light">К сожелению, это все комментарии...</p>
  {% else %}
    <button type="button" class="btn btn-link load-more-comments" id="{{now_post.id}}" onclick="load_more_comments('{{now_post.id}}')">Загрузить ещё</button>
  {% endif %}
{% endif %}
