<bottom id='bottom'>
  <hr>
    <div class="container">
        <div class="row bottom">
          <div class="col-3">
              <ul>
                  <h4>Справка</h4>
                  <li>Справочный центр</li>
                  <li>Поддержка</li>
                  <li>Форум</li>
              </ul>
          </div>
            <div class="col-3">
                <ul>
                    <h4>Сообщество</h4>
                    <li>Наш Блог</li>
                    <li>Мероприятия</li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <h4>Разработчикам</h4>
                    <li>API</li>
                    <li>Форум разработчиков</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
          <div class="network mx-auto">
              <i class="fab fa-vk" style="cursor: pointer;" onclick="document.location.href='https://vk.com/jimbl.official'"></i>
              <i class="fab fa-twitter" style="cursor: pointer;"></i>
              <i class="fab fa-instagram" style="cursor: pointer;"></i>
              <i class="fab fa-facebook" style="cursor: pointer;"></i>
          </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center"><a href="/terms">Пользовательское соглашение</a></div>
            <div class="col-12"><p class="text-center">© 2018 Jimbl corporation. Все права защищены.</p></div>
        </div>
    </div>
</bottom>
