{% load staticfiles %}

<nav class="mb-1 navbar navbar-expand-lg navbar-dark fixed-top border-0 m-0 p-0 desktop" style="background: #007BFF !important;">
  <div class="container">
    <span class="navbar-brand mb-0" style="padding: 0px;" onclick="document.location.href='/'"><img src="{% static 'logo.svg' %}" width='40px' alt=""><span id='main-nav-mobile-brand-text' style="font-size: 2rem; font-family: 'Coiny', cursive;top: 4px; position: relative;"> Jimbl</span></span>
    <div class="navbar-text">
      <button type="button" class="btn btn-outline-white" onClick="document.location.href='/accounts/login/';">Войти</button>
      <button type="button" class="btn btn-amber btn-create-blog" style="display: none;" onClick="document.location.href='/register/';">Создать блог</button>
    </div>
  </div>
</nav>
