{% load staticfiles %}
<section class="section-3">
  <div class="container fh">
    <div class="row fh">
      <div class="col-6 fh">
        <table class="fh fw" align="center">
          <tr>
            <td class="align-middle fw" align="center">
              <img src="{% static 'welcome/images/editor.svg' %}" width="80%" alt="">
            </td>
          </tr>
        </table>
      </div>
      <div class="col-6 fh">
        <table class="fh">
          <tr>
            <td class="align-middle">
              <h1 class="display-4">Jimbl - мир великолепных блогов!</h1>
              <p class="lead">Благодаря нашему невероятно мощному редактору, посты превращаются в магию! Десятки готовых шаблонов, красивые шрифты сделают ваш пост уникальным и неповторимым!
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
