{% load staticfiles %}
<section class="section-1">
  <div class="container fh">
    <div class="row" style="height: calc(80% - 72px);">
      <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-0 fh" id="section-1-text-div">
        <table class="fh fw" align="center">
          <tr>
            <td class="align-middle animated fadeIn" align="center">
              <img src="{% static 'App/def_image/dev.svg' %}" width="100%" alt="">
              <h3>Создать блог стало проще!</h3>
              <p>Jimbl - социальная сеть для блогеров. Наша миссия - создать простой в использовании и многофункциональный блог-хостинг!</p>
            </td>
          </tr>
        </table>
      </div>
      <div class="col col-xl-6 col-ld-6 col-md-6 col-sm-12 fh">
        <table class="fh animated fadeIn" align='center' id="registration-form">
          <tr>
            <td class="align-middle" align="center">
              <div class="card">
                <h5 class="card-header white-text text-center py-4" style="background: #007BFF;">
                  <strong>Создать аккаунт</strong>
                </h5>
                <div class="card-header text-center" style="background: #fff; border-bottom: none;">
                  <a class="btn btn-outline-primary waves-effect btn-sm" style="border-radius: 40px; font-size: 1rem;" href="https://oauth.vk.com/authorize?client_id=6789266&display=popup&redirect_uri=https://jimbl.ru/registration&response_type=code&v=5.92">
                    <i class="fab fa-vk" class="d-inline"></i>
                    <p class="d-inline mb-0">Войти через Вконтакте</p>
                  </a>
                </div>
                <div class="card-body" style="padding-top: 0;">
                  <div class="card-text" style="position: relative;">
                    <hr style="margin-bottom: 1.6rem;">
                    <div class="text" style="position: absolute; text-align: center;width: 100%; bottom: -0.7rem;"><span class="text-muted" style="background: #fff; padding: 0 1rem 0  1rem;">ИЛИ</span></div>
                  </div>
                  <form id="registration_form_desktop">
                    {{ csrftoken }}
                    <span id="username-field">
                      {% include 'welcome/requests/username-form.html' %}
                    </span>
                    <span id="password-field">
                      {% include 'welcome/requests/password-form.html' %}
                    </span>
                    <span id="password-validation">
                      {% include 'welcome/requests/password-validation.html' %}
                    </span>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox my-1 mr-sm-2 accept-check-box-1" data-toggle="popover" data-placement="top" data-content="Подтвердите пользовательское соглашение">
                         <input type="checkbox" class="custom-control-input" id="accept_check_1" required onchange="check_reg(this)">
                         <label class="custom-control-label" style="padding-top: 2px;" for="accept_check_1">Я согласен с <a href="/terms">пользовательским соглашением</a></label>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="button" onclick="" class="btn btn-primary btn-reg disabled" value="Зарегистрироваться">
                    </div>
                    <div class="form-group">
                      <p class="form-text text-muted mb-0">Есть аккаунт? <a href="/accounts/login">Войти</a></p>
                    </div>
                  </form>
                </div>
              </div>
              <div class="row fw" style="margin: 0; padding: 1rem;">
                <p class="text-center fw"><span>Скачайте приложение</span><br>
                <img src="{% static 'welcome/images/appStore.png' %}" class="" style="height: 3rem; margin-top: 1rem;" alt="appStore">
                <img src="{% static 'welcome/images/googlePlay.png' %}" class="" style="height: 3rem; margin-top: 1rem;" alt="appStore"></p>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row" style="height: calc(20% - 24px);" class="mouse">
      <table class="fh" align="center" class="mouse-table">
        <tr>
          <td align="center" class="align-bottom">
            <div class="scroll-downs">
              <div class="mousey">
                <div class="scroller"></div>
              </div>
            </div>
            <p class="mt-1 mb-0" id="mouse-text">Прокрутите страницу, чтобы узнать больше</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
