{% load staticfiles %}
<section class="section-4" style="background: #fff;">
  <div class="container fh">
    <div class="row fh">
      <div class="col-6 fh">
        <table class="fh">
          <tr>
            <td class="align-middle">
              <h1 class="display-4">Jimbl - социальная сеть нового формата!</h1>
              <p class="lead">Подпишитесь на блог, чтобы все его посты отображались в вашей ленте. Увидели классный пост? Сделайте его репост в свой блог. Комментируйте, ставьте "Нравится", общайтесь, ведь это так круто!
              </p>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-6 fh">
        <table class="fh fw" align="center">
          <tr>
            <td class="align-middle fw" align="center">
              <img src="{% static 'welcome/images/social.svg' %}" width="80%" alt="">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
