{% load staticfiles %}
<section class="section-4" style="background: #fafafa;">
  <div class="container fh">
    <div class="row fh">
      <div class="col-6 fh">
        <table class="fh">
          <tr>
            <td class="align-middle">
              <h1 class="display-4">Jimbl Аналитика!</h1>
              <p class="lead">
                Представляем вам сервис jimbl статистики и аналитики, все ваши достижения в одном месте.
                Вы с легкостью сможете просматривать вашу популярность и уникальность, следуя рекомендациям вы станете профессиональным блогером!
              </p>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-6 fh">
        <table class="fh fw" align="center">
          <tr>
            <td class="align-middle fw" align="center">
              <img src="{% static 'App/def_image/stat.svg' %}" width="80%" alt="">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
