{% load staticfiles %}
<section class="section-5" style="background: #fafafa;">
  <div class="container fh">
    <div class="row fh">
      <div class="col-6 fh">
        <table class="fh fw" align="center">
          <tr>
            <td class="align-middle fw" align="center">
              <img src="{% static 'welcome/images/iphone.svg' %}" width="80%" alt="">
            </td>
          </tr>
        </table>
      </div>
      <div class="col-6 fh">
        <table class="fh">
          <tr>
            <td class="align-middle">
              <h1 class="display-4">Скачайте приложение</h1>
              <p class="lead">Ведите блог даже вдалеке от дома.
                              Скачайте приложение для Android или IOS
              </p>
              <div class="download-app">
                <span><i class="fab fa-google-play"></i> Play Market</span>
                <span><i class="fab fa-app-store"></i> App Store</span>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
