{% load staticfiles %}
<section class="section-2" style="background: #fafafa;">
  <div class="container fh">
    <div class="row fh">
      <div class="col-6 fh">
        <table class="fh">
          <tr>
            <td class="align-middle">
              <h1>Станьте настоящим блогером!</h1>
              <p class="lead">Представаляем вам Jimbl - платформа для современного блоггинга. Создавайте впечатляющие посты и делитесь с друзьями!
              </p>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-6 fh">
        <table class="fh fw" align="center">
          <tr>
            <td class="align-middle fw" align="center">
              <img src="{% static 'welcome/images/blog.svg' %}" width="80%" alt="">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
