{% load staticfiles %}
{% load staticfiles %}
<section class="section-4" style="background: #fafafa;">
  <div class="container fh">
    <div class="row fh">
      <div class="col-6 fh">
        <table class="fh fw" align="center">
          <tr>
            <td class="align-middle fw" align="center">
              <img src="{% static 'welcome/images/project.svg' %}" width="80%" alt="">
            </td>
          </tr>
        </table>
      </div>
      <div class="col-6 fh">
        <table class="fh">
          <tr>
            <td class="align-middle">
              <h1 class="display-4">Присоединяйтесь к нам!</h1>
              <p class="lead">Jimbl - это молодой стартап. Присоединяйтесь к нашей дружной компании и следите за развитием данного проекта вместе с нами.
                              Создавайте блоги, читайте, делитесь с друзьями, вместе мы Jimbl!
              </p>
              <button class="btn btn-primary">Создать блог</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>


<!-- <section class="section-6">
  <div class="container" style="height: 100%;">
    <div class="row" style="height: 100%;">
      <table align="center" style="height: 100%;">
        <tr>
          <td align="align-middle" align="center" style="height: 100%; text-align: center;">
            <h1 class="display-4">Присоединяйтесь к нам!</h1>
            <div class="row">
              <div class="col-3"></div>
              <div class="col-6"><p class="lead">Jimbl - это молодой стартап. Присоединяйтесь к нашей дружной компании и следите за развитием данного проекта вместе с нами.
                              Создавайте блоги, читайте, делитесь с друзьями, вместе мы Jimbl!
              </p></div>
            </div>

          </td>
        </tr>
        <tr>
          <td>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-4">
                <img src="{% static 'welcome/images/project.svg' %}" width="100%" alt="">
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section> -->
