<div id="best_post_mobile">
<br>
<div class="card" id="best_post_mobile" style="border-radius: 0; width: 100%;">
  <div class="card-body p-0">
    <div class="card-header" style="background: transparent; border: none;">
      <table class="fw">
        <tr>
          <td>
            <h4 class="font-weight-light text-center">Лучшие блоги</h4>
          </td>
        </tr>
      </table>
    </div>
    <div id="carousel_recomened_blogs" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for blog in best_blogs|slice:'0:1' %}
            <div class="carousel-item active">
              <div class="card text-white border-0">
                {% if blog.image.url != '' %}
                <img class="card-img-top" src="{{blog.image.url}}" height="200px" alt="Card image cap">
                {% endif %}
                <div class="card-img-overlay" style="background: rgba(0,0,0,0.5)">
                  <table class="fh fw">
                    <tr>
                      <td class="align-top" colspan="2">
                        {{blog.posts.count}} Постов
                      </td>
                    </tr>
                    <tr>
                      <td class="align-top text-white" colspan="2">
                        {{blog.name}}
                      </td>
                    </tr>
                    <tr>
                      <td class="text-white">
                        От {{blog.user.username}}
                      </td>
                      <td align='right' class="text-right text-white">
                        <b>{{blog.related_views.count}}</b> <i class="far fa-eye"></i>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
        {% endfor %}
        {% for best_post in best_posts|slice:'1:10' %}
          {% for post in best_post %}
            <div class="carousel-item">
              <div class="card">
                <img class="card-img-top" src="{{post.image.url}}" height="200px" alt="Card image cap">
                <div class="card-img-overlay text-white" style="background: rgba(0,0,0,0.5)">
                  <table class="fh">
                    <tr>
                      <td class="align-top text-white" colspan="2">
                        Подборка |
                        <b>
                          {% if post.cateregory_id == 1 %}
                            {{best_of_travel_cnt}}
                            {% elif post.cateregory_id == 2 %}
                            {{best_of_auto_cnt}}
                            {% elif post.cateregory_id == 3 %}
                            {{best_of_natural_cnt}}
                            {% elif post.cateregory_id == 4 %}
                            {{best_of_lifehacks_cnt}}
                            {% elif post.cateregory_id == 5 %}
                            {{best_of_buisness_cnt}}
                            {% elif post.cateregory_id == 6 %}
                            {{best_of_news_cnt}}
                            {% elif post.cateregory_id == 7 %}
                            {{best_of_food_cnt}}
                            {% elif post.cateregory_id == 8 %}
                            {{best_of_scince_cnt}}
                            {% elif post.sport_id == 9 %}
                            {{best_of_buisness_cnt}}
                            {% elif post.cateregory_id == 10 %}
                            {{best_of_fashion_cnt}}
                          {% endif %}
                        </b> Постов
                      </td>
                    </tr>
                    <tr>
                      <td class="align-top text-white" colspan="2">
                        ТОП-1: {{post.title}}
                      </td>
                    </tr>
                    <tr>
                      <td class="text-white">
                        От {{post.user.username}}
                      </td>
                      <td align='right' class="text-right text-white">
                        <b>{{post.views.count}}</b> <i class="far fa-eye"></i>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<br>
</div>
