{% load staticfiles %}
<nav class="navbar navbar-light fixed-top nav shadow-sm p-0 z-depth-1" id="main-nav-mobile" style="padding-bottom: 0px;padding-top: 0px; background: #007dff; z-index: 9999;">
  <div class="container p-0">
    <span class="navbar-brand text-white mb-2 pt-1 pl-4" style="font-size: 1.5rem; position: relative; font-family: 'Coiny', cursive;">Jimbl</span>
    <div class="nav-btn-wrapper">
      <button class="btn btn-link btn-sm pt-1" style='font-size: 0.9rem; text-decoration: none; color: white !important;' type="button" data-toggle="collapse" data-target="#dropdown-menu" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-adjust"></i> Все <i class="fa fa-chevron-down"></i>
      </button>
    </div>

    {% if user.username %}
    <div class="dropdown">
      <button class="btn btn-outline-dark text-white dropdown-toggle pr-4 navbar-toggler z-depth-0" style="color: white !important;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class=" fa fa-bars fa-2x"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/{{user.username}}/edit">Мой профиль</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/{{user.username}}/edit">Редактировать</a><a class="dropdown-item" href="/statistic">Статистика</a>
        <a class="dropdown-item" href="/help">Помощь</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">Выход</a>
      </div>
    </div>
    {% endif %}
    </div>
</nav>
<div class="navbar-collapse collapse bg-white border-bottom" id='dropdown-menu' style="z-index: 9998; position: fixed; width: -webkit-fill-available;;">
  <li class="nav-item left-menu-dropdown">
    <ul style="padding: 0;">
      <a href="/" class="dropdown-item"><span style="color: #007BFF"><i class="fa fa-adjust" style='width: 18px;' ></i></span> <b>Все</b></a>
      <a href="/travel/" class="dropdown-item"><i class="fa fa-globe-americas" style='width: 18px;' ></i> Путешествия</a>
      <a href="/auto/" class="dropdown-item"><i class="fa fa-car" style='width: 18px;' ></i> Авто</a>
      <a href="/natural/" class="dropdown-item"><i class="fa fa-leaf" style='width: 18px;' ></i> Природа</a>
      <a href="/lifehacks/" class="dropdown-item"><i class="far fa-lightbulb" style='width: 18px;' ></i> Лайфхаки</a>
      <a href="/buisness/" class="dropdown-item"><i class="fa fa-dollar-sign" style='width: 18px;' ></i> Бизнес и Финансы</a>
      <a href="/news/" class="dropdown-item"><i class="fa fa-bullhorn" style='width: 18px;' ></i> Новости и Политика</a>
      <a href="/food/" class="dropdown-item"><i class="fa fa-apple-alt" style='width: 18px;' ></i> Еда и Кулинария</a>
      <a href="/science/" class="dropdown-item"><i class="fa fa-atom" style='width: 18px;' ></i> Наука и Техника</a>
      <a href="/sport/" class="dropdown-item"><i class="fa fa-futbol" style='width: 18px;' ></i> Спорт и Здоровье</a>
      <a href="/shopping/" class="dropdown-item"><i class="fa fa-tag" style='width: 18px;' ></i> Шоппинг</a>
      <div class="dropdown-divider"></div>
      <a href="/newest/" class="dropdown-item"><i class="far fa-clock" style='width: 18px;' ></i> Новое</a>
      <a href="/random/" class="dropdown-item"><i class="fa fa-random" style='width: 18px;' ></i> Случайные</a>
      <div class="dropdown-divider"></div>
      <a href="/feed/" class="dropdown-item"><i class="fa fa-users" style='width: 18px;' ></i> Подписки</a>
      <a href="/interesting/" class="dropdown-item"><i class="far fa-star" style='width: 18px;' ></i> Интересное</a>
      <a href="/featured/" class="dropdown-item"><i class="fa fa-fire" style='width: 18px;' ></i> Популярное</a>
    </ul>
  </li>
</div>
