{% load staticfiles %}
<div class="card shadow-sm fw fh" style="border: none; border-radius: 0; border-bottom: 1px solid #ccc;">
  <div class="card-body fh" style="padding: 0 5px 7px 5px;">
    <table class="fh fw">
      <tr>
        <td align='left' style="font-size: 1rem; padding-top: 7px;">
          <img onclick="document.location.href=document.referrer" src="{% static 'App/def_image/down-arrow.svg' %}" width="25px" height="25px" style="transform: rotate(90deg); cursor: pointer;" alt="">
        </td>
        <td align='center' style="font-size: 1rem; padding-top: 7px;">
          <img src="{% static 'App/def_image/sheet.svg' %}" width="25px" onclick="copy_element()" alt="">
          <img src="{% static 'App/def_image/paste.svg' %}" width="25px" onclick="paste_element()" alt="">
          <img src="{% static 'App/def_image/cut.svg' %}" class="rotate-90" width="25px" onclick="cut_element()" alt="">
          <img src="{% static 'App/def_image/garbage.svg' %}" width="25px" onclick="removeItem()" alt="">
        </td>
        <td align='center' style="font-size: 1rem; padding-top: 7px;">
          <img src="{% static 'App/def_image/new-file.svg' %}" width="25px" onclick="clear_post()" alt="">
        </td>
        <td align="right" style="font-size: 1.75rem;">
          <img src="{% static 'App/def_image/checked.svg' %}" width="25px" data-toggle="modal" data-target="#create_post" alt="">
        </td>
      </tr>
    </table>
  </div>
</div>
