<div class="mobile-tools-bar" id="mobile_tools">
  <div class="row mobile-add-tool-row">
    <div class="card text-left" style="padding: 2px 10px;">
      <a onclick="add_header('Пустой заголовок...')" style="cursor: pointer" class="text-muted list-group-item-action p-1"><i class="fa fa-heading"></i> Заголовок</a>
      <a onclick="add_paragraph('Пустой текст...')" style="cursor: pointer" class="text-muted list-group-item-action p-1"><i class="fa fa-font"></i> Текст</a>
      <a  onclick="$('#add_image_modal').modal('show')" style="cursor: pointer;" class="text-muted list-group-item-action p-1"><i class="far fa-image"></i> Картинка</a>
      <a  onclick="$('#add_video_modal').modal('show')" style="cursor: pointer;" class="text-muted list-group-item-action p-1"><i class="fa fa-film"></i> Видео</a>
      <a onclick="add_hr()" style="cursor: pointer" class="text-muted list-group-item-action p-1"><i class="far fa-window-minimize"></i> Разделитель</a>
    </div>
  </div>
</div>

<div class="mobile-element-action-bar mt-3" id="mobile_action_bar">
  <div class="row mt-3">
    <div class="card fw border-0 pl-2 pr-2">
      <table style="width: fit-content;">
        <tr>
          <td>
            <select class="form-control form-control-sm mr-4" style="width: min-content;" onchange="set_font_family(this.value)">
              <option value="Segoe UI" id="Segoe UI">Segoe UI</option>
              <option value="arial" id="arial">Arial</option>
              <option value="Roboto" id="Roboto">Roboto</option>
              <option value="Impact" id="Impact">Impact</option>
              <option value="Cursive">Cursive</option>
              <option value="sans-serif">Sans Serif</option>
              <option value="Times">Times New Roman</option>
              <option value="Monospace">Monospace</option>
            </select>
          </td>
          <td align="right">
            <select class="form-control fw form-control-sm" onchange="set_height(this.value)" id="mobile-tool-height">
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              <option value="32">32</option>
              <option value="33">33</option>
              <option value="34">34</option>
              <option value="35">35</option>
              <option value="36">36</option>
              <option value="37">37</option>
              <option value="38">38</option>
              <option value="39">39</option>
              <option value="40">40</option>
              <option value="41">41</option>
              <option value="42">42</option>
              <option value="43">43</option>
              <option value="44">44</option>
              <option value="45">45</option>
              <option value="46">46</option>
              <option value="47">47</option>
              <option value="48">48</option>
              <option value="49">49</option>
              <option value="50">50</option>
              <option value="51">51</option>
              <option value="52">52</option>
              <option value="53">53</option>
              <option value="54">54</option>
              <option value="55">55</option>
              <option value="56">56</option>
              <option value="57">57</option>
              <option value="58">58</option>
              <option value="59">59</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group mr-4" style="font-size: 1.25rem">
              <span onclick="set_bold(); $(this).toggleClass('active')" style="padding: 0px 5px;">
                <i class="fas fa-bold"></i>
              </span>
              <span onclick="set_italic(); $(this).toggleClass('active')" style="padding: 0px 5px;">
                <i class="fas fa-italic"></i>
              </span>
              <span onclick="set_underline(); $(this).toggleClass('active')" style="padding: 0px 5px;">
                <i class="fas fa-underline"></i>
              </span>
            </div>
          </td>
          <td>
            <div class="form-group" style="font-size: 1.25rem">
              <select class="form-control form-control-sm font-align-select" id="set_align" onchange="align(this.value)">
                <option value="left">Слева</option>
                <option value="center" selected>Центр</option>
                <option value="right">Справа</option>
              </select>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
